<div id="polling_for_updates" title="Waiting for patients to load...">
	<p>Please wait while the test data is being loaded.</p>
</div>
    
<section class="pqriValidation">
  <% if @current_execution.validation_errors %>
    <h2 class="fail">PQRI Validation Errors</h2>
    <h3>Cypress uses Northwestern Medical's XSD interpretation of
      <a href="http://edw.northwestern.edu/xmlvalidator/xml/Registry_Payment.xsd" target="_blank">PQRI XML 2009</a>.
      This is NOT a CMS published XSD.
    </h3>
    
    <% if @current_execution.validation_errors && @current_execution.baseline_validation_errors %>
      <h2>PQRI Errors</h2>
    <% end %>
    <% @current_execution.validation_errors.each do |error| %>      
      <div class ="pqriXmlError"><%= error %></div>
    <% end
    
    if @current_execution.baseline_validation_errors %>
      <h2>Baseline PQRI Errors</h2>
      <% @current_execution.baseline_validation_errors.each do |error| %>      
        <div class ="pqriXmlError"><%= error %></div>
      <% end %>
    <% end %>
  <% end %>
</section>

<section id="quality_measures">
  <table>
    <% if @current_execution.failing_measures.size > 0 %>
    <thead>
      <tr>
        <th colspan="2"><span class='fail'>Failing</span> Measures</th>
        <th>Denominator</th>
        <th>Numerator</th>
        <th>Exclusions</th>
      </tr>
    </thead>
    <tbody class="fail">
      <% @current_execution.failing_measures.each do |measure|
        expected_result = @current_execution.expected_result(measure)
        reported_result = @current_execution.reported_result(measure.key) %>
      <tr id='<%= "#{measure.id}" %>'>

        <%# =====================
        If the % failure is known then display <div class="fail"
        if the % failure is unknown then display <div class="na"
        ====================== %>
        <td>
          <% if reported_result['denominator'].class == String || expected_result['denominator'].class == String %>
            <div title="Insufficient Info" class="na">Insufficient Info</div>
          <% else %>
            <div title="0%" class="fail">0%</div>
          <% end %>
        </td>

        <td><a href="<%= product_test_measure_path(@test, measure) %>" title="">
          <%= "#{measure.key} " %>
          <%= measure.name %>
          <%= " - #{measure.subtitle}" if measure.sub_id %></a>
        </td>
        
        <%# =====================
        The display format is <reported> / <expected>
        if <reported> != <expected> then display <span class="f">
        if <reported> has no value, then display <span class="na">
        if <reported> == <expected> then display <span> without a class
        ====================== %>
        <td>
          <span class="<%= result_class(expected_result, reported_result, 'denominator') %>">
            <%= reported_result['denominator']%>
          </span>
          /
          <span class="q den">
            <%= expected_result['denominator'] %>
          </span>
        </td>
        <td>
          <span class="<%= result_class(expected_result, reported_result, 'numerator') %>"><%= reported_result['numerator'] %></span>
          /
          <span class='q num'><%= expected_result['numerator'] %></span>
        </td>
        <td>
          <span class="<%= result_class(expected_result, reported_result, 'exclusions') %>"><%= reported_result['exclusions'] %></span>
          /
          <span class="q exc"><%= expected_result['exclusions'] %></span>
        </td>
      </tr>
      <% end %>
    </tbody>
    <% end %>
    
    <% if @current_execution.passing_measures.size > 0 %>
    <thead>
      <tr>
        <th colspan="2"><span class='pass'>Passing</span> Measures</th>
        <th>Denominator</th>
        <th>Numerator</th>
        <th>Exclusions</th>
      </tr>
    </thead>

    <tbody class="pass">
      <% @current_execution.passing_measures.each do |measure| %>
        <% expected_result = @current_execution.expected_result(measure) %>
        <% reported_result = @current_execution.reported_result(measure.key) %>
      <tr id='<%= "#{measure.id}" %>'>

        <td>
          <div title="Pass" class="pass">Pass</div>
        </td>

        <td><a href="<%= vendor_measure_path(@vendor, measure) %>" title="<%= "" %>">
          <%= "#{measure.key} " %>
          <%= measure.name %>
          <%= " - #{measure.subtitle}" if measure.sub_id %></a>
        </td>
        
        <td>
          <span class=""><%= reported_result['denominator'] %></span>
          /
          <span class="q den"><%= expected_result['denominator'] %></span>
        </td>
        <td>
          <span class=""><%= reported_result['numerator'] %></span>
          /
          <span class='q num'><%= expected_result['numerator'] %></span>
        </td>
        <td>
          <span class=""><%= reported_result['exclusions'] %></span>
          /
          <span class="q exc"><%= expected_result['exclusions'] %></span>
        </td>
      </tr>
      <% end %>
    </tbody>
    <% end %>
  </table>
</section>

<%= render :partial => 'upload_pqri_form' %>