<%= javascript 'product_tests' %>
<%= simple_form_for([@test], :html => { :method => submit_method(@test), :multipart => true }) do |f| %>
  <%= f.hidden_field :product_id, :value => @product.id %>

  <h1>Test Information</h1>
  <section id="vendorInfo">
    <dl class="dl-horizontal">
      <dt><span class="required">*</span>Test Name:</dt>
      <dd><%= f.text_field :name, :size=>"20", :class=>"required" %></dd>
      <dt>Description:</dt>
      <dd><%= f.text_field :description, :size=>"20", :class=>"req" %></dd>
    </dl>
  </section>

  <div id="validationErrorMessages"></div>
  <input id="product_test_submit" class="cmd" type="submit" text="<%= submit_text(@product_test) %>" />
<% end %>