
 <% if test.state == :ready %>



 <script>

$(document).ready(function(){

    $(document).ajaxSend(function(event, request, settings) {
        $('#loading').modal();
    });

    $(document).ajaxComplete(function(event, request, settings) {
        $('#loading').modal('hide');
    });

   $(document).ajaxError(function(event, request, settings) {
        alert("An error occured while retrieving the test execution results");
    });

  });
 </script>


      <section class="instructions">
        <div class="row">
          <div class="span10">
            <p>You must perform the following steps to execute your test:</p>
          </div>
          <div class="span3">
            <p>
            1. Download Test Data
            </p><p>
            <%=
            if test.records.empty?
              link_to 'No Data Available', 'javascript:;', {
                  :id => 'share_menu',
                  :class => "cmd",
                  :disabled => "disabled"
                }
            else
              link_to 'Test Data', '', {
                  :id => 'share_menu',
                  :class => "cmd",
                  :onmouseover => "$.cypress.showMenu($('#share_menu'), $('#share_options'));"
                }
            end
             %></p>
                 <ul id="share_options" style="display: none" role="listbox"
                        class="ui-menu ui-widget ui-widget-content ui-corner-all dialog-menu" aria-activedescendant="ui-active-menuitem">
                      <li class="ui-menu-item" role="menuitem">
                        <%= link_to "View All", patients_path(:product_test_id => test.id, :execution => current_execution), { :class => "ui-corner-all", :tabindex => "-1" } %>
                      </li>
                      <li class="ui-menu-item" role="menuitem">
                        <%= link_to "QRDA Cat I", download_product_test_path(test, :format => 'qrda'), { :class => "ui-corner-all", :tabindex => "-1" } %>
                      </li>
                      <li class="ui-menu-item" role="menuitem">
                        <%= link_to "HTML", download_product_test_path(test, :format => 'html'), { :class => "ui-corner-all", :tabindex => "-1" } %>
                      </li>

                    </ul>
            </div>
            <div class="span3">
              <p>
                2. Load Test Data into your quality measure calculator
              </p>
      </div>
      <div class="span3">
        <p>
          3. Upload Results
        </p>
        <p>
                 <%= link_to "Upload Results", '', {
                      :id => 'results_menu',
                      :class => "cmd"
                    } %>
              </p>
                <ul id="results_options" style="display: none" role="listbox"
                  class="ui-menu ui-widget ui-widget-content ui-corner-all dialog-menu" aria-activedescendant="ui-active-menuitem">
                <li class="ui-menu-item" role="menuitem"></li>
        </ul>
        </div>
        <% unless test.class == QRDAProductTest %>
         <div class="span">
        <p>
         Generate Category I tests
        </p>
        <p>
                 <%= link_to "Generate", generate_cat1_test_product_test_path(test), {
                      :id => 'results_menu',
                      :class => "cmd"
                    } %>
              </p>
        </ul>
        </div>
        <% end %>
    </div>
    </section>
    <% else %>
    <section class="instructions">
      <div class="alert alert-info">
        <p>You must wait for the test preparations to be completed. This usually takes no more than a couple of minutes.</p>
        <p> <%= test.status_message %> </p>
      </div>


         <script>
            $(document).ready(
                function(){
                    setTimeout(function(){
                     $.get('<%= status_product_test_path({:id=>test.id}) %>', function (response) {
                     $('#instructions').replace(response);
                        });},1500);
                });
        </script>
    </section>
   <!-- if some error has occurred
    <section class="instructions">
      <div class="alert alert-error">
        <p>There has been a problem preparing the tests. Please speak the the administrator for Cypress. You will not be able to execute tests until this problem has been resolved.</p>
      </div>
    </section>
    -->
    <% end %>
