<%= simple_form_for([@test], :html => { :method => submit_method, :multipart => true }) do |f| %>
  <%= f.hidden_field :product_id, :value => @product.id %>
  <div id="progress_bar" style="float:right;">
    <table class="steps"><tr>
        <td>completed:</td>
        <td><span class="current" id="step1">1</span></td>
        <td><span class="incomplete" id="step2">2</span></td>
        <td><span class="incomplete" id="step3">3</span></td>
        <td><span class="incomplete" id="step4">4</span></td>
      </tr>
    </table>
  </div>

  <%= render :partial => "product_tests/wizard_screens/home", :locals => {:f => f} %>
  <%= render :partial => "product_tests/wizard_screens/measures", :locals => {:f => f} %>
  <%= render :partial => "product_tests/wizard_screens/workflow", :locals => {:f => f} %>
  <%= render :partial => "product_tests/wizard_screens/patients", :locals => {:f => f} %>

  <div id="validationErrorMessages"></div>
  <div id="navigation">
    <a class="cmd" id="back"><input class="noborder" value="Back" type="reset" /></a>
    <a class="cmd" id="next"><input class="noborder" value="Next" type="submit" /> </a>
  </div>
<% end %>