<div id="container">
  <%= render :partial=>"shared/header" %>

  <div>
    <section class="tb">
      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <%= link_to @vendor.name, vendors_path(@vendor) %> &raquo;
        <%= link_to @product.name, vendor_product_path(@vendor, @product) %> &raquo;
        <span>Create new test</span>
      </nav>
    </section>

    <section id="vendor">
      <%= render :partial => 'product_test_details' %>
    </section>
  </div>
</div><!-- end #container -->