<% content_for :head do -%>
<% if @test.state != "ready" &&  @test.state != "errored" %> 
  <meta http-equiv="refresh" content="10">
<%end %> 
  <script>
	$(document).ready(function() {
	      $('#upload_results').dialog({
	        title: 'Upload Results',
	        autoOpen: false,
	        closeOnEscape: true,
	        draggable: true,
	        position: 'center',
	        width: 'auto',
	        height: 'auto',
	        modal: true,
	        show: 'fade',
	        hide: 'fade',
	        resizable: false,
	        buttons: {
	          Upload: function() {
	            $('#new_test_execution').submit();
	            $(this).dialog('close');
	          },
	          Cancel: function() {
	            $(this).dialog('close');
	          }
	        }
	      });

	      $('#results_menu').click(function(event) {
	        $('#upload_results').dialog('open');
	        event.preventDefault();
	      });
	});
	</script>

<% end %>

<div id="container" class="container">
  <%= render :partial=>"shared/header" %>

  <div class ="buffered">
    <section class="tb">
      <div class="stacked">

        <%= link_to "Edit Test", edit_product_test_path(@test), { :class => "cmd" } %>


      </div>

      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <%= link_to @test.product.vendor.name, vendor_path(@test.product.vendor) %> &raquo;
        <%= link_to @test.product.name, product_path( @test.product) %>
      </nav>
    </section>

    <section class="candidate bordered buffered">  
      <dl class="vendor dl-horizontal">
        <dt>Test Name:</dt> <dd><%= @test.name %></dd>
        <dt>Test Type:</dt> <dd><%= test_type(@test) %></dd>
        <dt>Product:</dt> <dd><%= @test.product.name %></dd>
        <dt>Version:</dt> <dd><%= @test.product.version %></dd>
      </dl>

      <dl class="dl-horizontal">
        <dt>Reporting Period:</dt> <dd><%= display_time(3.months.ago(Time.at(@test.effective_date).utc))%> - <%= display_time(@test.effective_date) %></dd>
        <dt>Description:</dt> <dd><%= @test.description %></dd>
        <!--<dt>Modules:</dt>-->
      </dl>

      <dl class="dl-horizontal">
        <dt>Proctor:</dt> <dd><%= @test.user.first_name %> <%= @test.user.last_name %></dd>
        <dt>Email:</dt> <dd><%= @test.user.email %></dd>
        <dt>Telephone:</dt> <dd><%= @test.user.telephone %></dd>
      </dl>
    </section> 

    <% if @test.state == "ready" %>
      <section class="instructions">
        <div class="row">
          <div class="span12">
            <p>You must perform the following steps to execute your test:</p>
          </div>
          <div class="span3">
            <p>
            1. Download Test Data
            </p><p>
            <%= link_to 'Test Data', '', {
		          :id => 'share_menu',
		          :class => "cmd",
		          :onmouseover => "$.cypress.showMenu($('#share_menu'), $('#share_options'));"
		        } %></p>
			  	 <ul id="share_options" style="display: none" role="listbox"
			            class="ui-menu ui-widget ui-widget-content ui-corner-all dialog-menu" aria-activedescendant="ui-active-menuitem">
			          <li class="ui-menu-item" role="menuitem">
			            <%= link_to "View All", patients_path(:product_test_id => @test.id, :execution => @current_execution), { :class => "ui-corner-all", :tabindex => "-1" } %>
			          </li>
			          <li class="ui-menu-item" role="menuitem">
			            <%= link_to "Download C32s", download_product_test_path(@test, :format => 'c32'), { :class => "ui-corner-all", :tabindex => "-1" } %>
			          </li>
			          <li class="ui-menu-item" role="menuitem">
			            <%= link_to "Download CCRs", download_product_test_path(@test, :format => 'ccr'), { :class => "ui-corner-all", :tabindex => "-1" } %>
			          </li>
			          <li class="ui-menu-item" role="menuitem">
			            <%= link_to "Download HTML", download_product_test_path(@test, :format => 'html'), { :class => "ui-corner-all", :tabindex => "-1" } %>
			          </li>

			        </ul>
			</div>
			<div class="span3">
			  <p>
			    2. Load Test Data into your quality measure calculator
			  </p>
      </div>
      <div class="span3">
        <p>
          3. Upload Results
        </p>
        <p>
				 <%= link_to "Upload Results", '', {
			          :id => 'results_menu',
			          :class => "cmd"
			        } %>
			  </p>
				<ul id="results_options" style="display: none" role="listbox"
			      class="ui-menu ui-widget ui-widget-content ui-corner-all dialog-menu" aria-activedescendant="ui-active-menuitem">
			    <li class="ui-menu-item" role="menuitem"></li>
        </ul>
    	</div>
    </div>
    </section>
    <% else %>
    <section class="instructions">
      <div class="alert alert-info">
        <p>You must wait for the test preparations to be completed. This usually takes no more than a couple of minutes.</p>
      </div>
    </section>
   <!-- if some error has occurred 
    <section class="instructions">
      <div class="alert alert-error">
        <p>There has been a problem preparing the tests. Please speak the the administrator for Cypress. You will not be able to execute tests until this problem has been resolved.</p>
      </div>
    </section>
    -->
    <% end %>

    <!-- End of if test is ready to execute -->

    <section class="records">
      <label>Notes:</label>
      <% note = Note.new %>
      <%= simple_form_for note, :url => add_note_product_test_path(:execution_id => @current_execution) do |f| %>
        <%= f.input_field :text, :as => :text, :rows => 1, :class => 'input input-xxlarge' %>
        <%= f.button :submit, :value => 'add note', :class => "btn cmd" %>
      <% end %>

      <% if @test.notes %>
        <table class="table">
        
        <% @test.notes.each do |note| %>
          <tr>
          <td><span class="date" title='<%= note.time %>'><%= note.time.strftime('%m/%d/%Y') %></span></td>
          <td style="width:90%"><%= note.text %></td>
          <td><%= button_to 'Delete', {:action => 'delete_note', :id => @test.id, "note[id]" => note.id, :execution_id => @current_execution}, :method => :delete, :confirm => 'Are you sure?', :class => "btn btn-mini" %></td>
          </tr>
        <% end %>
      <% end %>
    </section>

    <section class="executions">
      <table class="table" id="test_executions">
        <thead>
          <tr>
            <th class="align-left" colspan="3">
              <strong>Test Executions</strong>
            </th>
            <th style="width:50%">Description</th>
            <th></th>
            <th>Results</th>
            <th></th>
          </tr>
        </thead>
         <% @test.test_executions.each do |te| %>

         <tr id="te_<%=te.id%>">
           <td class="align-left" colspan="3">
             <strong><%= link_to te.execution_date, test_execution_path(te), :remote=>true, :title=>"View the results of this test execution", 'data-test-id'.to_sym=>te._id %></strong>
           </td>
           <td> </td>
           <td><%= link_to "Download Results", download_test_execution_path(te), :title=>"Download the results of this test execution", :class=>'cmd' %></td>
           <td><%= link_to "View Results", test_execution_path(te), :remote=>true, :title=>"View the results of this test execution", :class=>'cmd' %></td>
           <td class="align-right"><%= link_to 'Delete', test_execution_path(te), { :class => 'cmd del', :method => :delete, :confirm => 'Are you sure?' } %></td>
         </tr>

         <% end %>
         <% if @test.test_executions.empty? %>
          <tr>
            <td colspan="6">
              There are no test executions
            </td>
          </tr>
         <% end %>
      </table>
    </section>

    <section class="execution" <% if @test.test_executions.empty? %>style="display:none"<% end %>>
      <table class="table">
        <thead>
          <tr>
            <th class="align-left">
              <strong>Test Results</strong>
            </th>
          </tr>
        </thead>
      </table>

      <div id="execution_results">
        <% if @test_execution %>
          <script >
            $('#te_<%=@test_execution.id%>').addClass('selected');
          </script>
          <%= render :partial=>test_execution_template(@test_execution) , :locals=>{:test_execution=>@test_execution}%>
        <% else 
          te = @test.test_executions.build(:expected_results=> @test.expected_results, :reported_results=>{})
          template = test_execution_expected_results_template(te) 
          if false  %>
            <%= render :partial=>template , :locals=>{:test_execution=>te}%>
         <% else %>
        Click on one of the test executions above to load the details here.
        <% end 
        end 
        %>
      </div>
    </section>



	<div id="upload_results">
	  <%= form_for(TestExecution.new, :html => {:method => :post, :multipart => true}) do |f| %>
	    <table>
	      <tbody>

	        <tr id="advanced_options" class="hidden">
	          <td>1. </td>
	          <td><%= f.label '', "Results File", :for => :results %></td>
	          <td>&nbsp;<td>
	          <td><%= f.file_field :results %></td>
	          <%= hidden_field_tag(:product_test_id, @test.id) %>
	        </tr>

	        <tr><td>&nbsp;<td></tr>
	        <tr id="advanced_options" class="hidden">
	          <td></td>
	          <td></td>
	          <td><td>

	        </tr>
	      </tbody>
	    </table>
	  <% end %>
	</div>

    <%= render :partial=>"shared/legend" %>
  </div>
</div>