<h1><%= "#{@product_test.cms_id} #{@product_test.name}" %></h1>

<% c1 = @product_test.product.c1_test %>
<% c2 = @product_test.product.c2_test %>
<% c3 = @product_test.product.c3_test %>

<% tab_label_1 = 'C1 and C3' if c1 && c3 %>
<% tab_label_1 = 'C1' if c1 && !c3 %>

<% tab_label_2 = 'C2 and C3' if c2 && c3 %>
<% tab_label_2 = 'C2' if c2 && !c3 %>

<div class = 'row '>
  <div class = 'col-sm-6'>
    <h1>Product Information</h1>
    <dl class="dl-horizontal product-information">
      <dt>Vendor</dt>
      <dd><%= @product_test.product.vendor.name %></dd>
      <dt>Product</dt>
      <dd><%= @product_test.product.name %></dd>
      <% unless @product_test.product.version.blank? %>
      <dt>Version:</dt>
      <dd><%= @product_test.product.version %></dd>
      <% end %>
    </dl>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title test-step">
          1 <i class="fa fa-fw fa-bolt" aria-hidden="true"></i> Download Test Deck
        </h1>
      </div>
      <div class="panel-body">
        <%= form_for @product_test, url: { action: 'patients' }, :html => { :method => 'GET' } do |f| %>
          <%= button_tag(type: 'submit', class: 'btn btn-info btn-block') do %>
            <i class = 'fa fa-fw fa-download'></i> Download CAT 1 (.zip)
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class = 'col-sm-6'>
    <h1 class = 'pull-left'>Current Test Status</h1>
    <button class = 'btn btn-primary pull-right'>
      <i class = 'fa fa-fw fa-download'></i> Download Full Report
    </button>
    <table class = 'table table-condensed'>
      <thead>
        <tr>
          <td></td>
          <th scope="col" colspan = '2' class="text-center">CAT 1 Testing</th>
          <th scope="col" colspan = '2' class="text-center">CAT 3 Testing</th>
        </tr>
        <tr>
          <td></td>
          <th scope="col" class="text-center">C1</th>
          <th scope="col" class="text-center">C3</th>
          <th scope="col" class="text-center">C2</th>
          <th scope="col" class="text-center">C3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Warnings:</th>
          <td class="text-center">0</td>
          <td class="text-center">0</td>
          <td class="text-center">0</td>
          <td class="text-center">0</td>
        </tr>
        <tr>
          <th scope="row">Errors:</th>
          <td class="text-center">0</td>
          <td class="text-center">0</td>
          <td class="text-center">0</td>
          <td class="text-center">0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="measure-test-tabs">

  <% if c1 && c2 %>
    <ul>
      <li><a href="#cat1"><%= "CAT 1 (#{tab_label_1})" %></a></li>
      <li><a href="#cat3"><%= "CAT 3 (#{tab_label_2})" %></a></li>
    </ul>
  <% end %>

  <% if c1 %>
    <div id = 'cat1'>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title">
            2 <i class="fa fa-fw fa-bolt" aria-hidden="true"></i> <%= "Upload for #{tab_label_1}" %>
          </h1>
        </div>
        <div class="panel-body">
          <p class = 'description'>
            <%= "Upload your CAT 1 zip file to get test results for #{tab_label_1} certifications. This will automatically run a test execution." %>
          </p>
          <%= render partial: 'test_execution_upload', locals: { disable: false, task: @product_test.tasks.c1_task } %>
        </div>
      </div>
      <hr>
      <h1 class="test-result">CAT 1 Test Results for <%= "#{@product_test.name}" %></h1>
      <%= render partial: "test_execution_results", locals: { task: @product_test.tasks.c1_task } %>
    <% if c1 && c2 %>
      </div>
    <% end %>
  <% end %>

  <% if c2 %>
    <div id = 'cat3'>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title">
            2 <i class="fa fa-fw fa-bolt" aria-hidden="true"></i> <%= "Upload for #{tab_label_2}" %>
          </h1>
        </div>
        <div class="panel-body">
          <p class = 'description'>
            <%= "Upload your CAT 3 XML file to get test results for #{tab_label_2} certifications. This will automatically run a test execution." %>
          </p>
          <%= render partial: 'test_execution_upload', locals: { disable: false, task: @product_test.tasks.c2_task } %>
        </div>
      </div>
      <hr>
      <h1 class = 'test-result'><%= "CAT 3 Test Results for #{@product_test.name}" %></h1>
      <%= render partial: "test_execution_results", locals: { task: @product_test.tasks.c2_task } %>
    <% if c1 && c2 %>
      </div>
    <% end %>
  <% end %>

</div>
