<% content_for :head do -%>

  <script>
	$(document).ready(function() {
	      $('#upload_results').dialog({
	        title: 'Upload Results',
	        autoOpen: false,
	        closeOnEscape: true,
	        draggable: true,
	        position: 'center',
	        width: 'auto',
	        height: 'auto',
	        modal: true,
	        show: 'fade',
	        hide: 'fade',
	        resizable: false,
	        buttons: {
	          Upload: function() {
	            $('#new_test_execution').submit();
	            $(this).dialog('close');
	          },
	          Cancel: function() {
	            $(this).dialog('close');
	          }
	        }
	      });

	      $('#results_menu').click(function(event) {
	        $('#upload_results').dialog('open');
	        event.preventDefault();
	      });
	});
	</script>

<% end %>

<div id="container">
  <%= render :partial=>"shared/header" %>

  <div class ="buffered">
    <section class="tb">
      <div class="stacked">

        <%= link_to "Edit Test", edit_product_test_path(@test), { :class => "cmd" } %>


      </div>

      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <%= link_to @test.product.vendor.name, vendor_path(@test.product.vendor) %> &raquo;
        <%= link_to @test.product.name, product_path( @test.product) %>
      </nav>
    </section>

    <section class="candidate bordered buffered">  
      <dl class="vendor dl-horizontal">
        <dt>Test Name:</dt> <dd><%= @test.name %></dd>
        <dt>Test Type:</dt> <dd><%= "Unknown" %></dd>
        <dt>Product:</dt> <dd><%= @test.product.name %></dd>
        <dt>Version:</dt> <dd><%= @test.product.version %></dd>
      </dl>

      <dl class="dl-horizontal">
        <dt>Reporting Period:</dt> <dd><%= display_time(3.months.ago(Time.at(@test.effective_date).utc))%> - <%= display_time(@test.effective_date) %></dd>
        <dt>Description:</dt> <dd><%= @test.description %></dd>
        <!--<dt>Modules:</dt>-->
      </dl>

      <dl class="dl-horizontal">
        <dt>Proctor:</dt> <dd><%= @test.user.first_name %> <%= @test.user.last_name %></dd>
        <dt>Email:</dt> <dd><%= @test.user.email %></dd>
        <dt>Telephone:</dt> <dd><%= @test.user.telephone %></dd>
      </dl>
    </section> 

    <% if true %>
      <section class="free_text dentered">
        <div class="stacked">
          <p>
            You must perform the following steps to execute your test:
          </p>

          <ol >
            <li>Download Test Data
	             <%= link_to 'Test Data', '', {
		          :id => 'share_menu',
		          :class => "cmd",
		          :onmouseover => "$.cypress.showMenu($('#share_menu'), $('#share_options'));"
		        } %>
			  	 <ul id="share_options" style="display: none" role="listbox"
			            class="ui-menu ui-widget ui-widget-content ui-corner-all dialog-menu" aria-activedescendant="ui-active-menuitem">
			          <li class="ui-menu-item" role="menuitem">
			            <%= link_to "View All", patients_path(:product_test_id => @test.id, :execution => @current_execution), { :class => "ui-corner-all", :tabindex => "-1" } %>
			          </li>
			          <li class="ui-menu-item" role="menuitem">
			            <%= link_to "Download C32s", download_product_test_path(@test, :format => 'c32'), { :class => "ui-corner-all", :tabindex => "-1" } %>
			          </li>
			          <li class="ui-menu-item" role="menuitem">
			            <%= link_to "Download CCRs", download_product_test_path(@test, :format => 'ccr'), { :class => "ui-corner-all", :tabindex => "-1" } %>
			          </li>
			          <li class="ui-menu-item" role="menuitem">
			            <%= link_to "Download CSV", download_product_test_path(@test, :format => 'csv'), { :class => "ui-corner-all", :tabindex => "-1" } %>
			          </li>
			          <li class="ui-menu-item" role="menuitem">
			            <%= link_to "Download HTML", download_product_test_path(@test, :format => 'html'), { :class => "ui-corner-all", :tabindex => "-1" } %>
			          </li>
			          <% if @test.user.email %>
			            <li class="ui-menu-item" role="menuitem">
			              <%= link_to "Email C32s", email_product_test_path(@test, :format => 'c32'), { :method => 'post', :class => "ui-corner-all", :tabindex => "-1" } %>
			            </li>
			            <li class="ui-menu-item" role="menuitem">
			              <%= link_to "Email CCRs", email_product_test_path(@test, :format => 'ccr'), { :method => 'post', :class => "ui-corner-all", :tabindex => "-1" } %>
			            </li>
			            <li class="ui-menu-item" role="menuitem">
			              <%= link_to "Email CSV", email_product_test_path(@test, :format => 'csv'), { :method => 'post', :class => "ui-corner-all", :tabindex => "-1" } %>
			            </li>
			            <li class="ui-menu-item" role="menuitem">
			              <%= link_to "Email HTML", email_product_test_path(@test, :format => 'html'), { :method => 'post', :class => "ui-corner-all", :tabindex => "-1" } %>
			            </li>
			          <% end %>
			        </ul>
			</li>
            <li>Load Test Data into your quality measure calculator</li>

            <li>Upload Results
				 <%= link_to "Results", '', {
			          :id => 'results_menu',
			          :class => "cmd"
			        } %>
					<ul id="results_options" style="display: none" role="listbox"
			            class="ui-menu ui-widget ui-widget-content ui-corner-all dialog-menu" aria-activedescendant="ui-active-menuitem">
			          <li class="ui-menu-item" role="menuitem">
			           
			          </li>

			        </ul>
	
	</li>
          </ol>

        </div>
      </section>
    <% end %>

    <section class="records">
      <label>Notes:</label>
      <% note = Note.new %>
      <%= simple_form_for note, :url => add_note_product_test_path(:execution_id => @current_execution) do |f| %>
        <%= f.input_field :text, :as => :text, :rows => 1, :columns => 80 %>
        <%= f.button :submit, :value => 'add', :class => "cmd" %>
      <% end %>

      <% if @test.notes %>
        <% @test.notes.each do |note| %>
          <%= note.time.strftime('%m/%d/%Y') %>:
          <%= note.text %>
          <%= button_to 'Delete', {:action => 'delete_note', :id => @test.id, "note[id]" => note.id, :execution_id => @current_execution}, :method => :delete, :confirm => 'Are you sure?' %>
          <br />
        <% end %>
      <% end %>
    </section>

    <section>
      <div>

      </div>
    </section>

    <section class="executions">
      <table class="table">
        <thead>
          <tr>
            <th class="align-left" colspan="3">
              <span class=""><strong>Test Executions</strong></span>
            </th>
            <th colspan="1">Description</th>
            <th>Notes</th>
            <th colspan="2">Results</th>
          </tr>
        </thead>
         <% @test.test_executions.each do |te| %>

         <tr>
           <td class="align-left" colspan="3">
             <span class=""><strong><%= te.execution_date %></strong></span>
           </td>
           <td colspan="1"> </td>
           <td>execution notes</td>
           <td colspan="2">execution results</td>
         </tr>

         <% end %>
      </table>
    </section>

    <section class="execution">
      <table class="table">
        <thead>
          <tr>
            <th class="align-left" colspan="100%">
              <span class=""><strong>Test Results</strong></span>
            </th>
          </tr>
        </thead>
      </table>


      <div id="execution_results">

      </div>
    </section>



	<div id="upload_results">
	  <%= form_for(TestExecution.new, :html => {:method => :post, :multipart => true}) do |f| %>
	    <table>
	      <tbody>

	        <tr id="advanced_options" class="hidden">
	          <td>1. </td>
	          <td><%= f.label '', "Results File", :for => :results %></td>
	          <td>&nbsp;<td>
	          <td><%= f.file_field :results %></td>
	          <%= hidden_field_tag(:product_test_id, @test.id) %>
	        </tr>

	        <tr><td>&nbsp;<td></tr>
	        <tr id="advanced_options" class="hidden">
	          <td></td>
	          <td></td>
	          <td><td>

	        </tr>
	      </tbody>
	    </table>
	  <% end %>
	</div>

    <%= render :partial=>"shared/legend" %>
  </div>
</div>