<% content_for :head do -%>

  <script>

	$(document).ready(function() {
	      $('#upload_results').dialog({
	        title: 'Upload Results',
	        autoOpen: false,
	        closeOnEscape: true,
	        draggable: true,
	        width: 'auto',
	        height: 'auto',
	        modal: true,
	        show: 'fade',
	        hide: 'fade',
	        resizable: false,
	        buttons: {
	          Upload: function() {
              var ext = $("#test_execution_results").val().split('.').pop().toLowerCase();
              if( $.inArray(ext, ['xml','zip']) != -1){
	               $('#new_test_execution').submit();
	               $(this).dialog('close');
              } else {
                alert("Please select either a QRDA Cat III xml file for EP/tests or an Archive of QRDA Cat I files for QRDA Tests");
              }
	          },
	          Cancel: function() {
	            $(this).dialog('close');
	          }
	        }
	      });

	      $('#results_menu').click(function(event) {
	        $('#upload_results').dialog('open');
	        event.preventDefault();
	      });
	});



	</script>

<% end %>

<div id="container" class="container">
  <%= render :partial=>"shared/header" %>
  <div class ="buffered">
    <section class="tb">
      <div class="stacked">
        <%= link_to "Edit Test", edit_product_test_path(@test), { :class => "cmd" } %>
        <a class="cmd" href="#viewTestMeasures" data-toggle="modal" data-backdrop="static" data-keyboard="true">View Test Measures</a>
      </div>

      <!-- sample dialog listing measures selected for the test -->
      <div id="viewTestMeasures" class="modal hide fade" style="width:800px;margin-left:-400px">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3><%= @test.name %></h3>
        </div>
        <div class="modal-body">
          <h3 style="margin-bottom:10px">Included quality measures</h3>

          <% cats = @test.measures.top_level.group_by{|m| m.category}
            cats.keys.sort.each do |cat|
               measures = cats[cat] %>

                <h4><%= cat %></h4>
                <ul>
              <% measures.each do |measure| %>
              <li><%= "#{measure.display_name}  " %></li>
              <% subm = @test.measures.where(:hqmf_id=>measure.hqmf_id)
                  if subm.count >1
               %>
                <ul>
                   <% subm.each do |sub| %>
                    <li><%= sub.subtitle %></li>
                    <% end %>
                </ul>

               <% end %>
             <% end %>
            </ul>
         <% end %>

        </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn secondary">Close</a>
      </div>
    </div>

      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <%= link_to @test.product.vendor.name, vendor_path(@test.product.vendor) %> &raquo;
        <%= link_to @test.product.name, product_path( @test.product) %>
      </nav>
    </section>
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%=flash.keys.first%>">
        <strong><%=type.upcase%>:</strong> <%= msg %>
        <a href="#" class="close" data-dismiss="alert">&times;</a>
      </div>
    <% end %>
    <section class="candidate bordered buffered">
      <dl class="vendor dl-horizontal">
        <dt>Test Name:</dt> <dd><%= @test.name %></dd>
        <dt>Test Type:</dt> <dd><%= test_type(@test) %></dd>
        <dt>Product:</dt> <dd><%= @test.product.name %></dd>
        <dt>Version:</dt> <dd><%= @test.product.version %></dd>
        <dt>Bundle Version:</dt> <dd><%= @test.bundle.title %> - <%= @test.bundle.version %></dd>
      </dl>

      <dl class="dl-horizontal">
        <dt>Measurement Period:</dt> <dd><%= display_time(Time.at(@test.start_date).utc)%> - <%= display_time(@test.effective_date) %></dd>
        <dt>Description:</dt> <dd><%= @test.description %></dd>
        <!--<dt>Modules:</dt>-->
      </dl>

      <dl class="dl-horizontal">
        <dt>Proctor:</dt> <dd><%= @test.user.first_name %> <%= @test.user.last_name %></dd>
        <dt>Email:</dt> <dd><%= @test.user.email %></dd>
        <dt>Telephone:</dt> <dd><%= @test.user.telephone %></dd>
      </dl>
    </section>

    <div  id="instructions" >
    <%= render :partial=>'product_tests/status', :locals=>{:test=>@test, :current_execution=>@current_execution} %>
    </div>


    <!-- End of if test is ready to execute -->
    <br style="clear:both"/>
    <section class="records">
      <label>Notes:</label>
      <% note = Note.new %>
      <%= simple_form_for note, :url => add_note_product_test_path(:execution_id => @current_execution) do |f| %>
        <%= f.input_field :text, :as => :text, :rows => 1, :class => 'input input-xxlarge' %>
        <%= f.button :submit, :value => 'add note', :class => "btn cmd" %>
      <% end %>

      <% if @test.notes %>
        <table class="table">

        <% @test.notes.each do |note| %>
          <tr>
          <td><span class="date" title='<%= note.time %>'><%= note.time.strftime('%m/%d/%Y') %></span></td>
          <td style="width:90%"><%= note.text %></td>
          <td><%= button_to 'Delete', {:action => 'delete_note', :id => @test.id, "note[id]" => note.id, :execution_id => @current_execution}, :method => :delete, :confirm => 'Are you sure?', :class => "btn btn-mini" %></td>
          </tr>
        <% end %>
      <% end %>
    </section>

    <section class="executions">
      <table class="table" id="test_executions">
        <thead>
          <tr>
            <th class="align-left" colspan="3">
              <strong>Test Executions</strong>
            </th>
            <th style="width:50%"></th>
            
            <th>Results</th>
            <th></th>
          </tr>
        </thead>
         <% @test.test_executions.ordered_by_date.each do |te| %>

         <tr id="te_<%=te.id%>">
          <% if te.passing? %>
              <td class="pass-icon"></td>
           <% else %>
              <td class="fail-icon"></td>
           <% end %> 
           <td class="align-left" colspan="3">
             <strong><%= link_to te.execution_date, test_execution_path(te), :remote=>true, :title=>"View the results of this test execution", 'data-test-id'.to_sym=>te._id , :class=>"cmd poppable" %></strong>
           </td>
           <td><%= link_to "Download Results", download_test_execution_path(te), :title => "Download the results of this test execution", :class => "cmd" %></td>
           
           <td class="align-right"><%= link_to 'Delete', test_execution_path(te), data: {:method => :delete, :confirm => 'Are you sure?' }, :class => 'cmd del' %></td>
         </tr>

         <% end %>
         <% if @test.test_executions.empty? %>
          <tr>
            <td colspan="6">
              There are no test executions
            </td>
          </tr>
         <% end %>
      </table>
    </section>

    <% if @test.state == :ready
      test_execution = @test_execution || @test.test_executions.build(:expected_results=> @test.expected_results, :reported_results=>{})
    %>
    <section class="execution" >
      <table class="table">
        <thead>
          <tr>
            <th class="align-left">
              <strong>Test Results</strong>
            </th>
          </tr>
        </thead>
      </table>

      <div id="execution_results">

          <script >
            $('#te_<%=test_execution.id%>').addClass('selected');
          </script>
          <%= render :partial=>test_execution_template(test_execution) , :locals=>{:test_execution=>test_execution}%>
      </div>


    </section>
    <% end %>


	<div id="upload_results">
	  <%= form_for(TestExecution.new, :html => {:method => :post, :multipart => true}) do |f| %>
	    <table>
	      <tbody>

	        <tr id="advanced_options" class="hidden">
	          <td>1. </td>
	          <td><%= f.label '', "Results File", :for => :results %></td>
	          <td>&nbsp;<td>
	          <td><%= f.file_field :results, accept: file_upload_type(@test) %></td>
	          <%= hidden_field_tag(:product_test_id, @test.id) %>
	        </tr>

	        <tr><td>&nbsp;<td></tr>
	        <tr id="advanced_options" class="hidden">
	          <td></td>
	          <td></td>
	          <td><td>

	        </tr>
	      </tbody>
	    </table>
	  <% end %>
	</div>

    <%= render :partial=>"shared/legend" %>
  </div>
</div>



<div id="loading" class="modal hide fade" tabindex="-1"  aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-body">
    <p>Loading</p>
  </div>

</div>

<script>
function showErrorPopup(anchor) {
    if ($(anchor)) {
      $('span.error_popup').popover('hide')
      $('span'+anchor).popover('show');
      jumpToElement(anchor);
    }
  }

  var navigation =  $("#xml_frame .subnav").show().navigator({targets:"a.qrda_error_link",action:showErrorPopup});
  $("#xml_frame").fixedHeader();

  $("section.execution").on('click','a.qrda_error_link',function() {
    showErrorPopup($(this).attr('href'));
    navigation.data('navigator').setIndex($(this).attr('href'));
    return false;
  });

  $("section.execution").on('click','.error i.icon',function() {
    //('span.error_popup',$(this)).popover('toggle')
    var anyVisible = false;
    var possibilities = $('span.error_popup', $('div#x'+$(this).data('error')));
    for(var i =0;i<possibilities.length;i++){
      if($(possibilities[i]).data('popover') && $(possibilities[i]).data('popover').tip().hasClass('in')){
        anyVisible = true;
        break;
      }
    }
    if(anyVisible || possibilities.length == 0){
      $('span.error_popup').popover('hide');
    }else{
      var href = '#'+$(possibilities[0]).attr('id');
      showErrorPopup(href);
      navigation.data('navigator').setIndex(href);
    }

  });
  </script>
