<% content_for :head do -%>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#upload_pqri_dialog').dialog({
        title: 'Upload Results',
        autoOpen: false,
        closeOnEscape: true,
        draggable: true,
        position: 'center',
        width: 'auto',
        height: 'auto',
        modal: true,
        show: 'fade',
        hide: 'fade',
        resizable: false,
        buttons: {
          Upload: function() {
            $('#edit_product_test_<%= @test.id %>').submit();
            $(this).dialog('close');
          },
          Cancel: function() {
            $(this).dialog('close');
          }
        }
      });
      
      $('#upload_results_button').click(function(event) {
        $('#upload_pqri_dialog').dialog('open');
        event.preventDefault();
      });
      
      $('#polling_for_updates').dialog({
        title: 'Waiting for patients to load...',
        autoOpen: false,
        closeOnEscape: false,
        draggable: false,
        position: 'center',
        width: 'auto',
        height: 'auto',
        modal: true,
        show: 'fade',
        hide: 'fade',
        resizable: false,
        open: function(event, ui) { $(".ui-dialog-titlebar-close").hide()}
      });

      $(".expander").toggle(
        function() {
          $(this).addClass('open');
          
          var codeElement = $(this).data('code');
          var codes = $("." + codeElement);
          codes.show();
        },
        function() {
          $(this).removeClass('open');
           var codeElement = $(this).data('code');
          var codes = $("." + codeElement);
          codes.hide();
        });

  <% poll_for_updates = false
  if @patients.size < 1 || @percent_completed < 100
    poll_for_updates = true
  end

  !@current_execution.nil? && @current_execution.expected_results.each do |result|
    if result['numerator']=='?'
      poll_for_updates = true
    end
  end

  if poll_for_updates %>
        $('#loading_progress').progressbar({ value: <%= @percent_completed %>, color: 'red' });
        $("#loading_progress .ui-progressbar-value").addClass("ui-corner-right ui-corner-left");
      
        $("#upload_results_button").hide();
        $('#polling_for_updates').dialog('open');
        $.cypress.addPoll("<%= product_test_path(@test) %>", null, function() {
          $("#upload_results_button").show();
          $('#polling_for_updates').dialog(
          { title: 'Download patient records...',
            autoOpen: true,
            closeOnEscape: true,
            draggable: false,
            position: 'center',
            width: 'auto',
            height: 'auto',
            modal: true,
            show: 'fade',
            hide: 'fade',
            resizable: false,
            open: function(event, ui) { $(".ui-dialog-titlebar-close").show()}
          }).html("<%= escape_javascript(render :partial => 'download_dialog') %>");

        });
  <% end %>
    });
  </script>
<% end %>

<div id="container">
  <%= render :partial=>"shared/header" %>

  <div>
    <section class="tb">
      <div class="stacked">
        <%= link_to "Patient List", patients_path(:product_test_id => @test.id, :execution => @current_execution), { :class => "cmd" } %>
        <%= link_to "Upload Results", "", {:id => 'upload_results_button', :class=>"cmd"} %>
        <%= link_to 'Share Patients', '', {
          :id => 'share_menu',
          :class => "cmd",
          :onmouseover => "$.cypress.showMenu($('#share_menu'), $('#share_options'));"
        } %>
        <%= link_to "Edit Test", edit_product_test_path(@test), { :class => "cmd" } %>
        <ul id="share_options" style="display: none" role="listbox"
            class="ui-menu ui-widget ui-widget-content ui-corner-all dialog-menu" aria-activedescendant="ui-active-menuitem">
          <% if @current_execution.reported_results %>
            <li class="ui-menu-item" role="menuitem">
              <%= link_to "Download PDF", product_test_path(@test, :format => 'pdf', :execution_id=>params[:execution_id]), { :class => "ui-corner-all", :tabindex => "-1" } %>
            </li>
          <% end %>
          <li class="ui-menu-item" role="menuitem">
            <%= link_to "Download C32s", download_product_test_path(@test, :format => 'c32'), { :class => "ui-corner-all", :tabindex => "-1" } %>
          </li>
          <li class="ui-menu-item" role="menuitem">
            <%= link_to "Download CCRs", download_product_test_path(@test, :format => 'ccr'), { :class => "ui-corner-all", :tabindex => "-1" } %>
          </li>
          <li class="ui-menu-item" role="menuitem">
            <%= link_to "Download CSV", download_product_test_path(@test, :format => 'csv'), { :class => "ui-corner-all", :tabindex => "-1" } %>
          </li>
          <li class="ui-menu-item" role="menuitem">
            <%= link_to "Download HTML", download_product_test_path(@test, :format => 'html'), { :class => "ui-corner-all", :tabindex => "-1" } %>
          </li>
          <% if @test.user.email %>
            <li class="ui-menu-item" role="menuitem">
              <%= link_to "Email C32s", email_product_test_path(@test, :format => 'c32'), { :class => "ui-corner-all", :tabindex => "-1" } %>
            </li>
            <li class="ui-menu-item" role="menuitem">
              <%= link_to "Email CCRs", email_product_test_path(@test, :format => 'ccr'), { :class => "ui-corner-all", :tabindex => "-1" } %>
            </li>
            <li class="ui-menu-item" role="menuitem">
              <%= link_to "Email CSV", email_product_test_path(@test, :format => 'csv'), { :class => "ui-corner-all", :tabindex => "-1" } %>
            </li>
            <li class="ui-menu-item" role="menuitem">
              <%= link_to "Email HTML", email_product_test_path(@test, :format => 'html'), { :class => "ui-corner-all", :tabindex => "-1" } %>
            </li>
          <% end %>
        </ul>
      </div>

      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <%= link_to @vendor.name, vendor_path(@vendor) %> &raquo;
        <%= link_to @product.name, product_path(@product) %>
      </nav>
    </section>

    <section class="candidate">  
      <dl class="vendor">
        <dt>Test:</dt> <dd><%= @test.name %></dd>
        <dt>Reporting Period:</dt> <dd><%= 3.months.ago(Time.at(@test.effective_date)).strftime("%m/%d/%Y") %> - <%= Time.at(@test.effective_date).strftime("%m/%d/%Y") %></dd>
        <dt>Product Version:</dt> <dd><%= @current_execution.product_version %></dd>
      </dl>
      <br>
      <dl>
        <dt>Proctor:</dt> <dd><%= @test.user.first_name %> <%= @test.user.last_name %></dd>
        <dt>Email:</dt> <dd><%= @test.user.email %></dd>
        <dt>Telephone:</dt> <dd><%= @test.user.telephone %></dd>
      </dl>
      <dl>
        <dt>Description:</dt> <dd><%= @test.description %></dd>
        <% if !@never_executed_before %>
          <dt>Run on:</dt> <dd><%= @current_execution.pretty_date %></dd>
        <% end %>
        <% if @current_execution.required_modules %>
          <% (n,v) = @current_execution.required_modules.first%>
          <% @current_execution.required_modules.delete(n)%>
          <dt>Modules:</dt><dd><%= n %>: <%= v %></dd>
          <% @current_execution.required_modules.each do |name,version| %>
            <dt></dt><dd><%= name %>: <%= version %></dd>
          <% end %>
          <% else %>
          <dt>Modules:</dt>
        <% end %>
      </dl>
    </section>

    <% if @never_executed_before %>
      <section class="free_text">
        <div class="directions">
          <p>
            Below are the expected results for your patient population.  You must perform the following steps to complete your test:
          </p>
          <ol>
            <li>Download these records in C32, CCR, CSV, or HTML format from the "Share Patients" menu above.</li>
            <li>Input them into the quality measure calculator you wish to test.</li>
            <li>Export the results as a PQRI XML document.</li>
            <li>Return your results to Cypress for scoring using the "Upload Results" link above.</li>
          </ol>
        </div>
      </section>
    <% end %>
    
    <section class="records">
      <label>Notes</label>:

      <% note = Note.new %>
      <%= simple_form_for note, :url => add_note_product_test_path(:execution_id => @current_execution) do |f| %>
        <%= f.input_field :text, :as => :text, :rows => 1, :columns => 80 %>
        <%= f.button :submit, :value => 'add', :class => "cmd" %>
      <% end %>

      <% if @test.notes %>
        <% @test.notes.each do |note| %>
          <%= note.time.strftime('%m/%d/%Y') %>:
          <%= note.text %>
          <%= button_to 'Delete', {:action => 'delete_note', :id => @test.id, "note[id]" => note.id, :execution_id => @current_execution}, :method => :delete, :confirm => 'Are you sure?' %>
          <br />
        <% end %>
      <% end %>
    </section>

    <section class="pqriValidation">
      <% if !@current_execution.validation_errors.try(:empty?) || !@current_execution.baseline_validation_errors.try(:empty?) %>
        <h2 class="fail">PQRI Validation Errors</h2>
        <h3>Cypress uses Northwestern Medical's XSD interpretation of
          <a href="/Registry_Payment.xsd" target="_blank">PQRI XML 2009</a>.
          This is NOT a CMS published XSD.
        </h3>
 
        <table>
          
          <%= render partial: "pqri_errors", locals: {pqri_errors:@current_execution.validation_errors,title:"View PQRI Errors", data_code:"pqri_results" }%>
          <%= render partial: "pqri_errors", locals: {pqri_errors:@current_execution.baseline_validation_errors,title:"View Baseline PQRI Errors", data_code:"baselinepqri_results" }%>
         
      </table>
       <% end %>
    </section>

    <section id="quality_measures">
      <table>
        <% @measures.each do |result_status, result_measures|
          next if result_measures.empty?
          if result_status == 'incomplete'
            result_status = 'na'
            title = 'Incomplete'
          else
            title = "#{result_status}ing"
          end %>

          <thead class="<%= result_status %>">
            <tr>
              <th colspan="2"><span class="<%= result_status %>"><%= title %></span> Measures</th>
              <th>Denominator</th>
              <th>Numerator</th>
              <th>Exclusions</th>
            </tr>
          </thead>
          <tbody class="<%= result_status %>">
            <%
              result_measures.each do |measure|
              expected_result = @current_execution.expected_result(measure)
              reported_result = @current_execution.reported_result(measure.key)
              result_status = 'na' if reported_result['numerator'].class == String %>

              <tr id='<%= "#{measure.id}" %>'>
                <td><div title="<%= result_status %>" class="<%= result_status %>"><%= result_status %></div></td>
                <td title="<%= "#{@product.measure_map[measure.key]} " %>">
                    <%= "#{measure.key} " %>
                    <%= measure.name %>
                    <%= " - #{measure.subtitle}" if measure.sub_id %></a>
                </td>
                <% ['denominator', 'numerator', 'exclusions'].each do |bucket|
                  reported_class = result_class(reported_result[bucket], expected_result[bucket])
                  expected_class = bucket.slice(0,3) %>
                  <td><span class="<%= reported_class %>"><%= reported_result[bucket]%></span> / <span class="q <%= expected_class %>"><%= expected_result[bucket] %></span></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </section>

    <div id="polling_for_updates" title="Waiting for patients to load...">
      <p>Please wait while the test data is being loaded.</p>
      <div id="loading_progress"></div>
    </div>
    <%= render :partial => 'upload_pqri_form' %>

    <%= render :partial=>"shared/legend" %>
  </div>
</div>