<%= render partial: 'remove_modal' %>

<div  style="padding-bottom: 20px;">
  <h3>Account Details </h3>
  <dl>
    <dt style="float:left; padding-right: 5px;">Registered </dt><dd><%= local_time_ago(resource.confirmed_at) %></dd>
    <dt style="float:left; padding-right: 5px;">Vendors </dt><dd><%= Vendor.accessible_by(resource).count %></dd>
      <% numProducts = 0 %>
      <% Vendor.accessible_by(resource).each do |v| %>
        <% numProducts += v.products.count %>
      <%end%>
    <dt style="float:left; padding-right: 5px;">Products </dt><dd><%= numProducts %></dd>
  </dl>
</div>

<h3>Recent Activity </h3>
<table style="padding-bottom: 30px;" class = 'table table-hover user_tests_table'>
  <thead>
    <th scope = 'col' class = 'col-sm-2 pointer-on-hover'>Product</th>
    <th scope = 'col' class = 'col-sm-4 pointer-on-hover'>Test Name</th>
    <th scope = 'col' class = 'col-sm-2 no-wrap pointer-on-hover'>Task</th>
    <th scope = 'col' class = 'col-sm-2 no-wrap pointer-on-hover'>Results</th>
    <th scope = 'col' class = 'col-sm-2'>Last Updated</th>
  </thead>
  <tbody>
    <% @test_executions.each do |test_execution| %>
      <% task = test_execution.task %>
      <tr>

        <% test = task.product_test %>

        <td data-order="<%= test.product.name %>"><%= link_to test.product.name, vendor_product_path(test.product.vendor_id, test.product) %><%=" (#{test.product.vendor.name})"%></td>
        <td><%= link_to "#{test.cms_id} #{test.name}", new_task_test_execution_path(task) %></td>

        <% case task._type %>
        <% when "C1ChecklistTask" %>
          <td>C1 (Sample)</td>
        <% when "C1Task" %>
          <td>C1 (QRDA-I)</td>
        <% when "C2Task" %>
          <td>C2 (QRDA-III)</td>
        <% when "C3ChecklistTask" %>
          <td>C3 (Sample)</td>
        <% when "C3Cat1Task" %>
          <td>C3 (QRDA-I)</td>
        <% when "C3Cat3Task" %>
          <td>C3 (QRDA-III)</td>
        <% when "Cat1FilterTask" %>
          <td>C4 (QRDA-I)</td>
        <% when "Cat3FilterTask" %>
          <td>C4 (QRDA-III)</td>
        <% else%>
          <td>Undefined</td>
        <% end %>

        <td data-order="<%= set_sorting(test, task.status) %>">
          <%= render partial: 'execution_status_message', locals: { execution: test_execution, test_state: test.state } %>
        </td>
        <td class="no-wrap" data-order="<%= test_execution.updated_at %>">
          <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i><%= local_time_ago(test_execution.updated_at) %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class='panel-title'>Edit <%= resource_name.to_s.humanize %></h1>
  </div>
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="panel-body">
      <%= f.email_field :email, autocapitalize: 'off', autocorrect: 'off', autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.password_field :current_password, label: 'Password',  autocomplete: "off", autocapitalize: 'off', autocorrect: 'off', help: 'we need your current password to confirm your changes' %>
      <%= f.password_field :password, label: 'New Password', autocomplete: "off", autocapitalize: 'off', autocorrect: 'off', help: "leave blank if you don't want to change it" %>
      <%= f.password_field :password_confirmation, label: 'Confirm New Password', autocomplete: "off", autocapitalize: 'off', autocorrect: 'off' %>
    </div>
    <div class="panel-footer">
      <%= f.primary "Edit " + resource_name.to_s.humanize %>
      <%= link_to "Back", "javascript:history.back()", class: 'btn btn-default' %>
    </div>
  <% end %>
</div>

<%= render partial: 'remove_panel', locals: { name: resource.email, type: 'account', message: 'Once you delete your account you cannot get it back. Be sure you want to do this.', delete_path: registration_path(resource_name) } %>
