<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class='panel-title'>Sign Up</h3>
  </div>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="panel-body">
    <%= devise_error_messages! %>
    <%= f.email_field :email, autocorrect: 'off', autocapitalize: 'off', autofocus: true, 'data-parsley-type':"email", 'data-parsley-trigger': 'change' %>
    <%= f.password_field :password, autocomplete: "off", autocapitalize: 'off', autocorrect: 'off', help: '8 characters minimum' %>
    <%= f.password_field :password_confirmation, label: 'Confirm Password', autocomplete: "off", autocorrect: 'off', autocapitalize: 'off' %>
  </div>

  <div class="panel-footer">
    <%= f.primary "Sign up" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
