<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class='panel-title'>Sign Up</h1>
  </div>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {"data-parsley-validate": ''}) do |f| %>
  <div class="panel-body">
    <%= f.email_field :email, autocorrect: 'off', autocapitalize: 'off', autofocus: true,
      'data-parsley-required': '',
      'data-parsley-type': "email",
      'data-parsley-trigger': 'change' %>

    <%= f.password_field :password, autocomplete: "off", autocapitalize: 'off', autocorrect: 'off',
      help: '8 characters minimum and include at least 3 of the following: lowercase letters, uppercase letters, digits, and special characters.',
      'data-parsley-required': '',
      'data-parsley-minlength': "8",
      'data-parsley-minlength-message': "Password must be at least 8 characters long.",
      'data-parsley-passwordcomplexity': '',
      'data-parsley-trigger': 'change' %>

    <%= f.password_field :password_confirmation, autocomplete: "off", autocapitalize: 'off', autocorrect: 'off',
      label: 'Confirm Password',
      'data-parsley-required': '',
      'data-parsley-equalto': '#user_password',
      'data-parsley-equalto-message': 'Passwords do not match',
      'data-parsley-trigger': 'change' %>

      <div class="terms">
        <div>Terms and conditions for use of Cypress.</div>

        <p>Performance measures and related data specifications (the "Measures") are copyrighted by the noted quality measure providers as indicated in the applicable Measure. Coding vocabularies are owned by their copyright owners. By using the Measures, a user ("User") agrees to these Terms of Use. Measures are not clinical guidelines and do not establish a standard of medical care and quality measure providers are not responsible for any use of or reliance on the Measures.</p>
        <p>THE MEASURES AND SPECIFICATIONS ARE PROVIDED "AS IS" WITHOUT ANY WARRANTY OF ANY KIND, AND ANY AND ALL IMPLIED WARRANTIES ARE HEREBY DISCLAIMED, INCLUDING ANY WARRANTY OF NON-INFRINGEMENT, ACCURACY, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. NO QUALITY MEASURE PROVIDER, NOR ANY OF THEIR TRUSTEES, DIRECTORS, MEMBERS, AFFILIATES, OFFICERS, EMPLOYEES, SUCCESSORS AND/OR ASSIGNS WILL BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, SPECIAL, EXEMPLARY, INCIDENTAL, PUNITIVE, AND/OR CONSEQUENTIAL DAMAGE OF ANY KIND, IN CONTRACT, TORT OR OTHERWISE, IN CONNECTION WITH THE USE OF THE CYPRESS TOOL OR THE MEASURES, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGE.</p>
        <p>The Measures are licensed to a User for the limited purpose of using, reproducing and distributing the Measures with the Cypress Tool as delivered to User, without any modification, for commercial and noncommercial uses, but such uses are only permitted if the copies of the Measures contain this complete Copyright, Disclaimer and Terms of Use. Users of the Measures may not alter, enhance, or otherwise modify the Measures.</p>
        <p>NOT A CONTRIBUTION - The Measures, including specifications and coding, as used in the Cypress Tool, are not a contribution under the Apache license. Coding in the Measures is provided for convenience only and necessary licenses for use should be obtained from the copyright owners. Current Procedural Terminology (CPT®) © 2004-2010 American Medical Association. LOINC® © 2004 Regenstrief Institute, Inc. SNOMED Clinical Terms® (SNOMED CT®) © 2004-2010 International Health Terminology Standards Development Organization.</p>
      </div>

      <div class="accept_terms">
        <%= f.check_box :terms_and_conditions,
        label: "I agree to the above Terms and Conditions",
        'data-parsley-required': '',
        'data-parsley-error-message': 'You must accept the Terms & Conditions',
        'data-parsley-trigger': 'change' %>
      </div>

  </div>

  <div class="panel-footer">
    <%= f.primary "Sign up" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
