<%= render "demo_warning" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class='panel-title'>Sign Up</h1>
  </div>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {"data-parsley-validate" => ''}) do |f| %>
  <div class="panel-body">
    <%= f.email_field :email, autocorrect: 'off', autocapitalize: 'off', autofocus: true,
      'data-parsley-required'=> '',
      'data-parsley-type'=> "email",
      'data-parsley-trigger'=> 'change' %>

    <%= f.password_field :password, autocomplete: "off", autocapitalize: 'off', autocorrect: 'off',
      help: '8 characters minimum and include at least 3 of the following: lowercase letters, uppercase letters, digits, and special characters.',
      'data-parsley-required'=> '',
      'data-parsley-minlength'=> "8",
      'data-parsley-minlength-message'=> "Password must be at least 8 characters long.",
      'data-parsley-passwordcomplexity'=> '',
      'data-parsley-trigger'=> 'change' %>

    <%= f.password_field :password_confirmation, autocomplete: "off", autocapitalize: 'off', autocorrect: 'off',
      label: 'Confirm Password',
      'data-parsley-required'=> '',
      'data-parsley-equalto'=> '#user_password',
      'data-parsley-equalto-message'=> 'Passwords do not match',
      'data-parsley-trigger'=> 'change' %>

    <%= link_to "Terms and Conditions", terms_and_conditions_path %>

      <div class="accept_terms">
        <%= f.check_box :terms_and_conditions,
        label: "I agree to the above Terms and Conditions",
        'data-parsley-required'=> '',
        'data-parsley-error-message'=> 'You must accept the Terms & Conditions',
        'data-parsley-trigger'=> 'change' %>
      </div>

  </div>

  <div class="panel-footer">
    <%= f.primary "Sign up" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
