<h1>Installed Bundles</h1>
<%= button_to "+ Import Bundle", new_admin_bundle_path, :method => :get, :class => "btn btn-primary pull-right" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope = "col" class = "col-sm-6">Title</th>
      <th scope = "col" class = "text-center">Version</th>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% bundles.each do |bundle| %>
      <% unless bundle.respond_to?('done_importing') && !bundle.done_importing %>
        <tr class= "<%= 'danger' if bundle.deprecated? %>">
          <td> <%= bundle.title %> <%= '(Default)' if bundle.active %> </td>
          <td class = "text-center"><%= bundle.version %></td>
          <td class="text-center">

            <% unless bundle.deprecated? %>
              <%= button_to "Set Default", set_default_admin_bundle_path(bundle), :method => :post, :class => "btn btn-xs btn-default" unless bundle.active %>
              <%= render 'action_button',
                              :button_text => 'Deprecate',
                              :button_classes => 'btn btn-xs btn-danger',
                              :button_action => 'post',
                              :object => bundle,
                              :object_name => bundle.title,
                              :object_action => 'deprecate',
                              :action_path => deprecate_admin_bundle_path(bundle),
                              :modal_title => 'Deprecate Bundle',
                              :modal_message => 'Deprecating a bundle will leave all products and test results, however new tests will not be able to created with this bundle.'
                         %>
            <% end %>
            <%= render 'action_button',
                            :button_text => 'Remove',
                            :button_classes => 'btn btn-xs btn-danger',
                            :button_action => 'delete',
                            :object => bundle,
                            :object_name => bundle.title,
                            :action_path => admin_bundle_path(bundle),
                            :object_action => 'delete',
                            :modal_title => 'Remove Bundle',
                            :modal_message => 'Removing a bundle will also delete all associated products and test results.'
                       %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% if BundleUploadJob.trackers.count.positive?  %>
  <p>
  <h1>Current Bundle Import Jobs</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class = "col-sm-4">File</th>
        <th class = "col-sm-4">Status</th>
        <td class = "text-center"></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% BundleUploadJob.trackers.reverse_each do |tracker| %>
      <tr>
        <td><%= tracker.options["original_filename"]%></td>
        <td class="tracker-status">
          <%= tracker.status %>
          <% if tracker.status == :working %>
            <%= icon('fas fa-fw', 'sync-alt', :"aria-hidden" => true) %>
          <% end %>
        </td>
        <td><%= tracker.log_message.last%></td>
        <td>
          <%= link_to "", admin_tracker_path(tracker), :method => :delete, :class => "close fa fa-fw fa-times" if tracker.status == :failed %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% if BundleUploadJob.trackers.or({ :status => :queued }, { :status => :working }).count.positive? %>
    <script>
      $.ajax({url: "<%= request.env['PATH_INFO'] %>", type: "GET", dataType: 'script', data: { partial: 'bundle_list' }});
    </script>
  <% end %>
<% end %>
