	<td><%= update_job.created_at %></td>
    <td><%= update_job.status %></td>
    <td><%= update_job.processed_oids.length %> of <%= update_job.total_length %> </td>
    <td><%= update_job.failure_message ? update_job.failure_message : update_job.log_messages.last ? update_job.log_messages.last["message"] : ""   %></td>
    <td>
    <% if !["Running", "Waiting"].index(update_job.status)  %>
    	<%= link_to "Delete", {:action=>:delete_job, :id => update_job}, :confirm=>"Really?" %>
    <% end %>
    </td>

  <% if ["Running", "Waiting"].index(update_job.status) %>
    	<script>
    		$(document).ready(
    			function(){
    				setTimeout(function(){
    					
    					$.get('<%= admin_job_path({:id=>update_job}) %>', function (response) {
    				$('#job_<%=update_job.id%>').replace(response);
    					});},5000);
    			});
    	</script>
  <% end %> 