
<table class="table">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Approved</th>
      <th scope="col">Assignments</th>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% User.order_by(email:  1).each do |user|
    role = user.roles.where({resource_id: nil}).first
    assignments = user.roles.where({resource_id: {"$ne"=> nil}})
    %>
    <tr>
      <td><%= user.email %></td>
      <td><%= role.name if role %></td>
      <td>
        <% unless user.id == current_user.id %>
          <a href="<%= toggle_approved_admin_user_path(user) %>" data-turbolinks-action="replace"><%= user.approved %></a></td>
        <% else %>
          <%= user.approved %>
        <%end%>
      <td>
        <table class"table">
          <% assignments.each do |ass|
            if ass.resource
          %>
          <tr><td class="col-sm-3"><%= ass.name %></td><td class="col-sm-9"><%= ass.resource.name %></td></tr>
        <%  end
          end
       %>
        </table>
      </td>
      <td>
        <% unless user.id == current_user.id%>
        <a class="btn btn-default" href="<%= edit_admin_user_path(user) %>"><%= icon('fas fa-fw', 'wrench', :"aria-hidden" => true) %></i>Edit User </a></td>
        <%end%>
    </tr>
    <% end %>
  </tbody>

</table>
