<div id="container">
  <%= render :partial=>"shared/header" %>

    <div class ="buffered">
    <section class="tb">
      <div class="stacked">
      </div>
       <nav class="breadcrumb">
        <%= render :partial=>"shared/breadcrumbs" %>
      </nav>
    </section>
    <%= flash[:errors]  %>
<div>
  <h4> Installed Bundles </h4>
  <ul>
  <% Bundle.all.each do |bundle| %>
    <li><%= bundle.title %>  -  <%= bundle.version %> </li>
  <% end %>
  </ul>
  <div >
  <%= form_tag :action => 'update_value_sets'  do %>

  <table>
  	<tr>
  		<td> <%= submit_tag "Update Valuesets" %> </td>
  		<td> NLM Username: <%= text_field_tag :username %> </td> 
  		<td> NLM Password: <%= password_field_tag :password %> </td> 

  	</tr>
  </table>

  <% end %>
  

  <%= form_tag({:action => 'import_bundle'}, :multipart => true ) do %>
  <table>
  	<tr>
  		<td> <%= submit_tag "Import Bundle" %> </td>
  		<td> <span> Clear Existing</span><%= check_box_tag "Clear Existing", :clear_existing %> </td> 
  		<td> <%= file_field_tag  :bundle %> </td>
  	</tr>
  </table>
 <% end %>

   </div>

   <div>
   	<span>Jobs </span>

   	<% @jobs.each do |job| %>
   		<table width="100%">
   			<thead><th>Id</th><th>Status</th><th>Type</th><th>Created</th><th>Locked At</th><th>Worker</th><th>Last Error</th></thead>
   			<tr>
   				<td><%= job.id %></td>
   				<td><%= job.status %></td>

   				<td><%= job.percentage_complete %></td>
   				<td> <%= job.log_messages.last ? job.log_messages.last["message"] : "" %></td>
   				<td><%= job.failure_message %></td>
            <td><%= link_to "Delete", {:action=>:delete_job, :id => job} %></td>
   				</tr>
   		</table>
   	<% end %>

   </div>
</div>