<%
  # local variables:
  #
  #   banner_message, smtp_settings, mode, mode_settings, debug_features
%>

<div data-no-turbolink class="settings-tabs">
  <ul data-no-turbolink>
    <% ['application_settings', 'user_management', 'bundles', 'application_status'].each do |target_id| %>
      <li><a href = '#<%= target_id %>'><%= target_id.humanize.titleize %></a></li>
    <% end %>
  </ul>

  <div id="application_settings">
    <%= render partial: "show_settings", locals: { banner_message: banner_message, smtp_settings: smtp_settings,
                                                  mode: mode, mode_settings: mode_settings, debug_features: debug_features } %>
  </div>

  <div id="user_management" >
    <%= render partial: "user_list" %>
  </div>

  <div id="bundles" >
    <%= render partial: "bundle_list"%>
  </div>

  <div id="application_status" >
    <h2>This feature is coming soon</h2>
  </div>

</div>
