<%
  # local variables:
  #
  #   banner_message, address, port, domain, user_name, password, mode, mode_settings
%>

<div data-no-turbolink class="settings-tabs">
  <ul data-no-turbolink>
    <% ['application_settings', 'application_status', 'user_management', 'bundle'].each do |target_id| %>
      <li><a href = '#<%= target_id %>'><%= target_id.humanize.titleize %></a></li>
    <% end %>
  </ul>
  <div id = "application_settings">
    <div class="inline-block pull-right">
      <%= button_to edit_admin_settings_path, :method => :get, :class => "btn btn-default" do %>
        <i class="fa fa-fw fa-wrench" aria-hidden="true"></i> Edit Application Settings
      <% end %>
    </div>

    <legend>Banner Message</legend>
    <p class="configured-banner">
      <%= banner_message.html_safe %>
    </p>

    <div class="row">
      <div class="col-sm-6">
        <legend>Mailer</legend>
        <dl class="dl-horizontal configured-mailer">
          <dt>SMTP Server</dt><dd><%= address.present? ? address : 'not configured' %></dd>
          <dt>Port</dt><dd><%= port.present? ? port : 'not configured' %></dd>
          <dt>Domain</dt><dd><%= domain.present? ? domain : 'not configured' %></dd>
          <dt>Username</dt><dd><%= user_name.present? ? user_name : 'not configured' %></dd>
        </dl>
      </div>

      <div class="col-sm-6">
        <legend>Application Mode</legend>
        <div>Cypress is currently running in <strong><%= mode %> mode</strong></div>
        <div>Users <strong><%= mode_settings.auto_approve ? "will" : "will not" %></strong> be automatically approved.</div>
        <div>Access <strong><%= mode_settings.ignore_roles ? "will not" : "will" %></strong> be restricted by role.</div>
        <div>A default role <strong><%= mode_settings.default_role == "None"  ? "will not" : "will" %></strong> be set for new users<%= mode_settings.default_role == "None" ? "." : ": #{mode_settings.default_role}" %></div>
      </div>
    </div>
  </div>

  <div id="application_status" ></div>
  <div id="user_management" >
    <%= render partial: "user_list" %>
  </div>
  <div id="bundle" ></div>
</div>
