<%
  # local variables:
  #
  #   banner_message, smtp_settings, default_url_options, mode, mode_settings, debug_features
%>
<% if server_needs_restart %>
  <%= render 'alert', :alert_type => 'warning', :messages => 'Please restart your Cypress service or reboot your Cypress instance when convenient in order to apply settings.' %>
<% end %>

<div class="settings-tabs">
  <ul>
    <% ['application_settings', 'user_management', 'bundles', 'application_status'].each do |target_id| %>
      <li><a href = '#<%= target_id %>'><%= target_id.humanize.titleize %></a></li>
    <% end %>
  </ul>

  <div id="application_settings">
    <%= render 'show_settings', locals_admin_show %>
  </div>

  <div id="user_management" >
    <%= render "user_list" %>
  </div>

  <div id="bundles">
    <div id="display_bundle_list" >
      <%= render "bundle_list", :bundles => @bundles %>
    </div>
    <%= render 'action_modal' %>
  </div>

  <div id="application_status" >
    <%= render 'application_status', :system_usage_stats => @system_usage_stats %>
  </div>

</div>
