<div id="container" class="container">
  <%= render :partial=>"shared/header" %>

    <div class="buffered">
    <section class="tb">
      <div class="stacked">
      </div>
      <nav class="breadcrumb">
       <%= render :partial=>"shared/breadcrumbs" %>
      </nav>
    </section>
    <%= flash[:errors]  %>
	<div>

	<div class="buffered">
		<%= form_tag :action => 'valuesets'  do %>

		  <table>
		  	<tr>
		  		<td> <%= submit_tag "search" %> </td>
		  		<td>  <%= text_field_tag :search %> </td> 
		  	</tr>
		  </table>

    <% end %>
    <%= @valuesets.count %> Results
			<ul>
			<% @valuesets.each_with_index do |vs, index| %>
				<li><div><h4><a onclick="$('#<%= index %>_cslist').toggle()"><%= vs.oid %>  -- <%= vs.display_name %>  --   Version: <%= vs.version %></a></h4></div>
					<div id="<%= index %>_cslist" style="display:none">
						<ul>
						<% vs.concepts.group_by(&:code_system_name).each_pair do |name, concepts| %>
							<li> <h5><%= name%></h5> <%= concepts.collect{|cs| cs.code} %> </li>

						<% end %>
					</ul>
					</div>
				</li>
			<% end %>
		</ul>
		<% 
		index = 1
		@page_count.times do  %>

		<%= link_to index, {:action=>:valuesets, :page=>index, :search=>params[:search]} %>
		<% 
			index += 1
		end %>


	</div>
</div>






