<h1>CMS Implementation Guide Checklist (<%= product_test.cms_program %>)</h1>
<div class = 'test-steps'>
  <div class="card card-info">
    <div class="card-header">
      <h1 class="card-title lead test-step"> 1 <%= icon('fas fa-fw', 'bolt', :"aria-hidden" => true) %> CMS Implementation Guide Checklist Instructions</h1>
    </div>
    <%= render 'checklist_tests/checklist_instructions', :instructions => APP_CONSTANTS['tests']['CMSProgramTest']['instructions'] %>
  </div>
</div>
<%= render 'upload_panel', :product_test => product_test, :panel_index => "2" %>
<%= render 'program_fields', :product => product_test.product, :product_test => product_test, :task => product_test.tasks.first %>
<% if product_test.tasks.first.most_recent_execution && product_test.tasks.first.most_recent_execution.incomplete? %>
  <div id="<%= "program_fields_poller" %>"
          data-controller="turbo-stream-poller"
          data-turbo-stream-poller-url-value="<%= request.path %>"
          data-turbo-stream-poller-params-value="<%= { partial: "program_fields", task: product_test.tasks.first.id.to_s }.to_json %>"
          data-turbo-stream-poller-interval-value="2000"></div>
<% end %>
