<div class = 'test-steps'>
  <div class="panel panel-info">
    <div class="panel-heading disable">
      <h1 class="panel-title test-step disable">
        <%= panel_index %> <%= icon('fas fa-fw', 'bolt', :"aria-hidden" => true) %> <%= 'Upload Files' %>
      </h1>
    </div>
    <div class="panel-body">
      <%= render 'test_executions/execution_upload', :disable => false, :product_test => product_test, :task => product_test.tasks.first %>
      <div id = 'display_checklist_execution_results'>
        <%= render 'checklist_execution_results', :task => product_test.tasks.first %>
      </div>
      <div id = 'display_checklist_status' >
        <%= render 'checklist_status_display', :product => product_test.product, :product_test => product_test %>
      </div>
    </div>
  </div>
</div>