<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class='panel-title'>Change your password</h3>
  </div>

<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, "data-parsley-validate": '' }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <div class="panel-body">
    <%= f.password_field :password, autofocus: true, autocomplete: "off", autocapitalize: 'off', autocorrect: 'off',
      'data-parsley-required': '',
      'data-parsley-trigger': 'change' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", autocapitalize: 'off', autocorrect: 'off',
      help: '8 characters minimum and include at least 3 of the following: lowercase letters, uppercase letters, digits, and special characters.',
      'data-parsley-required': '',
      'data-parsley-minlength': "8",
      'data-parsley-minlength-message': "Password must be at least 8 characters long.",
      'data-parsley-trigger': 'change' %>
  </div>

  <div class="panel-footer">
    <%= f.primary "Change my password" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
