<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:name=>"forgot_password_form"}) do |f| %>
  <h1>That's okay. Everyone forgets.</h1>
  <p>Just tell us the email address you used to create your Cypress account, and we'll send you a link to reset your password!</p>

  <div class="fields">
    <%= f.label "Your Email address" %>
    <%= f.email_field :email %>
  </div>
  <div class="accountError">
    <%= devise_error_messages! %>
  </div>
  <div class="actions">
    <a class="btn" href="/"><span>Cancel</span></a>
    <a class="btn btn-success" href="#" onclick="submitResetPasswordinform();" ><span>Continue</span></a>
  </div>

  <div class="links">
    <%= render :partial => "devise/shared/links" %>
  </div>
<% end %>

