    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:name=>"forgot_password_form"}) do |f| %>
      <h1>That's okay. Everyone forgets.</h1>
      <p>Just tell us the email address you used to create your cypress account, and we'll send you a link to reset your password!</p>
      <br>
      <div>
         <%= f.label "Your Email address" %>
        <%= f.email_field :email %>
      </div>

      <div class="accountError">
        <%= devise_error_messages! %>
      </div>
      
  
      <div class="actions">
          <a class="whitebutton" href="/"><span>Cancel</span></a>
        <%= 
          content_tag(:a,  {:href=>"#", :class=>"bluebutton", :onclick=>"submitResetPasswordinform()"} ) do
            content_tag(:span,"Continue")
          end %>
      </div>
      <div class="links info">
          cypress v0.9<br>
      </div>
      
<% end %>

