<%

# local variables:
#
#   execution              (test_execution)
#   file_name              (string)
#   error_result           (some crazy hash)
#   is_passing             (bool)
#   on_execution_show_page (bool)            used to determine if a link to individual file results page should be displayed

%>

<% num_errors = error_result.keys.map { |s| error_result[s].execution_errors.count }.reduce(&:+) %>

<% if num_errors.zero? %>
  <p class = 'lead'><%= "#{file_name} - No problems found" %></p>
  <% return %>
<% end %>

<p class="lead">
  <%= "#{file_name} - #{num_errors} " + (is_passing ? "warnings" : "errors and warnings") %>
</p>

<% if (@task.is_a? CmsProgramTask) && @task.product_test.reporting_program_type == 'eh' %>
  <% if display_calculations %>
    <%= render partial: 'test_executions/results/calculation_results_for_file', locals: { execution: execution, file_name: file_name, continuous_measures: continuous_measures, proportion_measures: proportion_measures, ratio_measures: ratio_measures, result_measures: result_measures, patient: patient, export: export } %>
  <% end %>
<% end %>

<% if on_execution_show_page && !export %>
  <%= button_to 'View Uploaded XML with Errors', file_result_test_execution_path(execution, route_file_name(file_name)), :method => :get, :class => 'btn btn-primary' %>
  <br/>
<% end %>

<% identifier = "#{execution.id}_#{file_name.gsub(/[\W]/,'_')}" %>
<div class="xml-error-tabs">
  <ul>
    <% error_result.each do |error_type, error_hash| %>
      <li>
        <% if export %>
          <%= error_type %> <span>(<%= error_hash.execution_errors.count %>)</span>
        <% else %>
          <%= link_to "##{error_type.tr(' ', '_')}_#{identifier}" do %>
            <%= error_type %> <span>(<%= error_hash.execution_errors.count %>)</span>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% error_result.each do |error_type, error_hash| %>
    <div id=<%= "#{error_type.tr(' ', '_')}_#{identifier}" %>>
      <% if error_hash.execution_errors.count.positive? %>
        <% message_title = error_type %>
        <% report_sup_data_errors = population_data_errors(error_hash.execution_errors, 'supplemental_data') %>
        <% pop_errors = population_data_errors(error_hash.execution_errors - report_sup_data_errors, 'population') %>
        <% pop_sum_errors = population_data_errors(error_hash.execution_errors - pop_errors, 'population_sum') %>
        <% non_pop_errors = error_hash.execution_errors - report_sup_data_errors - pop_errors - pop_sum_errors %>
        <%= render partial: 'test_executions/results/error_table', locals: { errors: non_pop_errors, message_title: message_title, export: export} %>
        <%= render partial: 'test_executions/results/supplemental_data_error_table', locals: { errors: report_sup_data_errors + pop_errors + pop_sum_errors, pop_errors_hash: population_error_hash(pop_errors + pop_sum_errors, report_sup_data_errors) } %>

        <% unless on_execution_show_page %>
          <div class="xml-view">
            <%= render partial: "test_executions/results/xmlnav" %>
            <h3>Uploaded File</h3>
            <div class="xml-frame">
              <%= render partial: 'test_executions/results/node', :locals => error_hash %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
