<%

# requires local variables:
#   errors   (Array) of errors

# Note: all errors should be from the same test execution

%>

<% return if errors.count == 0 %>
<% pop_errors_hash.each do |pop_error_key, pop_error_value| %>
  <% population_errors, stratification_errors, supp_data_errors = population_errors_by_population_id(errors, pop_error_key) %>
  <table class = 'table table-hover table-condensed'>
    <thead>
      <tr>
        <th colspan = '5' scope = 'col' class = 'col-sm-2'>
          <% if pop_error_value %>
            <% unless population_errors.blank? %>
              <%= population_errors.first.message %>. The following errors were also identified for this population.
            <% end %>
          <% else %>
            The following errors were identified for <%= supp_data_errors.first.error_details['population_key'] %> <%= supp_data_errors.first.error_details['population_id'] %>.
          <% end %>
        </th>
      </tr>
      <tr>
        <th scope = 'col' class = 'col-sm-2'>Population ID</th>
        <th scope = 'col' class = 'col-sm-2'>Supplemental Data Type</th>
        <th scope = 'col' class = 'col-sm-2'>Code</th>
        <th scope = 'col' class = 'col-sm-2'>Expected Value</th>
        <th scope = 'col' class = 'col-sm-4'>Reported Value</th>
      </tr>
    </thead>
    <tbody>
      <% supp_data_errors.each do |err| %>
        <tr>
          <td><%= err.error_details.population_key %></td>
          <td><%= err.error_details.data_type %></td>
          <td><%= err.error_details.code %></td>
          <td><%= err.error_details.expected_value %></td>
          <td><%= err.error_details.reported_value %></td>
        </tr>
      <% end %>
      <% if stratification_errors %>
        <% stratification_errors.each do |err| %>
          <tr>
            <td>STRAT (<%= err.error_details['stratification'] %>)</td>
            <td/>
            <td/>
            <td><%= err.error_details['expected_value'] %></td>
            <td><%= err.error_details['reported_value'] %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
