<div class="xml-nav text-center">
  <div class="btn-group" role="toolbar" aria-label="File error navigation">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-link nav-link nav-first">
        <%= icon('fas fa-fw', 'fast-backward', :"aria-hidden" => true) %> First
      </button>

      <button type="button" class="btn btn-link nav-link nav-prev">
        <%= icon('fas fa-fw', 'step-backward', :"aria-hidden" => true) %> Prev
      </button>

      <button type="button" class="btn btn-link nav-link nav-next">
        Next <%= icon('fas fa-fw', 'step-forward', :"aria-hidden" => true) %>
      </button>

      <button type="button" class="btn btn-link nav-link nav-last">
        Last <%= icon('fas fa-fw', 'fast-forward', :"aria-hidden" => true) %>
      </button>
    </div>
    <div class="btn-group" role="group">
      <a href="#results_panel" class="btn btn-link">
        <%= icon('fas', 'arrow-up', :"aria-hidden" => true) %> Back to top
      </a>
    </div>
  </div>
</div>
