<h1><%= @measure ? @measure.display_name : 'All' %> Patients</h1>

<% if (@measure && records_by_measure(@records, @measure).length > 0) || !@measure %>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th scope="col">Patient Name</th>
      <% if @product_test && (current_user.has_role?('atl') || current_user.has_role?('admin'))%>
        <th scope="col">Template Name</th>
      <%end%>
      <th scope="col">DOB</th>
      <th scope="col">Gender</th>
      <% if @measure %>
        <% @measure.population_ids.keys().each do |population| %>
          <th scope="col" class="text-center"><%= population %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <!-- Only show records that are part of the measures IPP-->
    <% if @measure && !@product_test %>
      <% records_by_measure(@records, @measure).each do |r| %>
        <tr>
          <td><%= link_to full_name(r), record_path(:id => r.id) %></td>
          <td><%= display_time(r.birthdate) %></td>
          <td><%= full_gender_name(r.gender) %></td>
          <% @measure.population_ids.keys().each do |population| %>
            <td class="text-center">
              <%= render partial: 'calculation_result_icon', locals: { result: get_result_value(r.calculation_results, @measure, population) } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <!-- will show all records -->
      <% @records.each do |r| %>
        <tr>
          <% if @product_test %>
            <td><%= link_to full_name(r), record_path(:id => r.id, :task_id => @task.id) %></td>
          <% else %>
            <td><%= link_to full_name(r), bundle_record_path(@bundle, r) %></td>
          <% end %>
          <% if @product_test && (current_user.has_role?('atl') || current_user.has_role?('admin')) %>
            <% original_patient = r.bundle.records.find_by(medical_record_number: r.original_medical_record_number) %>
            <td> <%="#{original_patient.first} #{original_patient.last}"%> </td>
            <%end%>
          <td><%= display_time(r.birthdate) %></td>
          <td><%= full_gender_name(r.gender) %></td>
          <!-- will show calculation results for product test records -->
          <% if @measure %>
            <% @measure.population_ids.keys().each do |population| %>
              <td class="text-center">
                <%= render partial: 'calculation_result_icon', locals: { result: get_result_value(r.calculation_results, @measure, population) } %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% else %>
<p>No patient results for this measure.</p>
<% end %>
