<h2><%= @measure ? @measure.display_name : 'All' %> Patients</h2>

<% if (@measure && records_by_measure(@records, @measure).length > 0) || !@measure %>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>DOB</th>
      <th>Gender</th>
      <% if @measure %>
        <% @measure.population_ids.keys().each do |population| %>
          <th class="text-center"><%= population %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if @measure %>
      <% records_by_measure(@records, @measure).each do |r| %>
        <tr>
          <td><%= link_to full_name(r), record_path(:id => r.id) %></td>
          <td><%= display_time(r.birthdate) %></td>
          <td><%= full_gender_name(r.gender) %></td>
          <% @measure.population_ids.keys().each do |population| %>
            <td class="text-center">
              <%= render partial: 'calculation_result_icon', locals: { result: get_result_value(r.calculation_results, @measure, population) } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <% @records.each do |r| %>
        <tr>
          <% if @task %>
            <td><%= link_to full_name(r), record_path(:id => r.id, :task_id => @task.id) %></td>
          <% elsif @product_test %>
            <td><%= link_to full_name(r), record_path(:id => r.id, :product_test_id => @product_test.id) %></td>
          <% else %>
            <td><%= link_to full_name(r), record_path(:id => r.id) %></td>
          <% end %>
          <td><%= display_time(r.birthdate) %></td>
          <td><%= full_gender_name(r.gender) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% else %>
<p>No patient results for this measure.</p>
<% end %>
