<% if @task && @product_test %>
  <h1>Patient List</h1>
  <%= button_to html_patients_product_test_path(@product_test), :method => :get, :class => "btn btn-default pull-right" do %>
    <i class="fa fa-fw fa-download" aria-hidden="true"></i> Download HTML Patients
  <% end %>
<% else %>
  <h1>Master Patient List</h1>
  <%= button_to download_mpl_bundle_records_path(@bundle), :method => :get, :class => "btn btn-default" do %>
    <i class="fa fa-fw fa-download" aria-hidden="true"></i> Download Master Patient List
  <% end %>
<div class="row">
  <div class="col-md-7 col-sm-8">
    <h1>Filter Patients</h1>
    <div class="form-group col-md-8 col-sm-10">
      <label for="search_measures">Type to search by measure</label>
      <input id="search_measures" type="search" class="form-control" placeholder="Type the name or CMS ID of a measure"/>
    </div>
  </div>

  <% if !@task && !@product_test %>
  <div class="col-md-5 col-sm-4">
    <h1>Annual Update Bundle</h1>
      <% if Bundle.count == 1 %>
        <!-- label --> <%= @bundle.title %>
      <% else %>
        <!-- loop through bundles & use radio buttons -->
        <%= bootstrap_form_tag do |f| %>
        <%= f.form_group :bundle_id do %>
          <% Bundle.all.each do |bundle| %>
            <%= f.radio_button :bundle_id, bundle.id, label: bundle.title, label_class: "btn btn-checkbox",
                               checked: bundle == @bundle %>

          <% end # bundle loop %>
        <% end # form_group %>
        <% end %>
      <% end # bundles.count %>
  <%end%>
  </div>
  <% end %>
  <div id="records_list" class="col-sm-12">
    <%= render partial: 'records_list', locals: { records: @records } %>
  </div>
</div>

<script type="text/javascript">
  // initialize jQueryUI Autocomplete for searching measures
  $('#search_measures').autocomplete({
    delay: 500,
    source: <%= @measure_dropdown %>, // autocomplete suggestions
    select: function(event, data) {  // fired on item select
      // gets records by measure via AJAX and rerender the records list.
      // data.item.value provides the URL for the selected measure
      $.get(data.item.value);
      // autocomplete's default action is to populate the input with the selected value
      // prevent the user from seeing an ugly URL in their search box here
      event.preventDefault();
    },
    focus: function(event, data) { event.preventDefault(); } // fired on item focus
  });

  // add and remove some classes from the generated autocomplete widget
  $('#search_measures').data('ui-autocomplete')._renderItem = function(ul, item) {
    return $('<li class="list-group-item">').append(item.label).appendTo(ul);
  }
  $('#search_measures').data('ui-autocomplete')._renderMenu = function(ul, items) {
    var that = this;
    $.each(items, function(index, item) {
      that._renderItemData(ul, item);
    });
    $(ul).removeClass('ui-widget ui-widget-content').addClass('list-group');
  }

  // rerender the records list to show records from all measures if no value searched
  $('#search_measures').on('blur', function() {
    if (!$(this).val()) {
      $("#records_list").html("<%= escape_javascript(render partial: 'records_list', locals: { records: @records } ) %>");
    }
  })
</script>
