<h1>Patient Information for <%= full_name(@record) %></h1>
<div class="row">
<!-- Show measure calculation unless the list is for a product test, Cypress is in ATL Mode and the current user is not an ATL or admin -->
<% unless @product_test && hide_patient_calculation? %>
  <div class="col-md-6">
    <h2>Measure Information</h2>
    <% if @measures.where(continuous_variable: true).length.positive? %>
      <table class="table table-condensed">
        <thead>
          <tr>
            <td></td>
            <% RecordsHelper::CV_POPULATION_KEYS.each do |population| %>
              <th scope="col" class="text-center"><%= population_label(@bundle, population) %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @measures.where(continuous_variable: true).sort_by{ |m| [m.cms_int, m.sub_id] }.each do |m| %>
            <tr>
              <th class="abbreviated" scope="row">
                <%= m.display_name %>
              </th>

              <% RecordsHelper::CV_POPULATION_KEYS.each do |population| %>
                <td class="text-center">
                  <span class="sr-only">Measure <%= m.display_name %> population <%= population %> result: </span>
                  <%= render 'calculation_result_icon', :result => get_result_value(@results, m, population), :episode_of_care => m.episode_of_care %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% if @measures.where(continuous_variable: false).length.positive? %>
      <table class="table table-condensed">
        <thead>
          <tr>
            <td></td>
            <% RecordsHelper::PROPORTION_POPULATION_KEYS.each do |population| %>
              <th scope="col" class="text-center"><%= population_label(@bundle, population) %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @measures.where(continuous_variable: false).sort_by{ |m| [m.cms_int, m.sub_id] }.each do |m| %>
            <tr>
              <th class="abbreviated" scope="row">
                <%= m.display_name %>
              </th>
              <% RecordsHelper::PROPORTION_POPULATION_KEYS.each do |population| %>
                <td class="text-center">
                  <span class="sr-only">Measure <%= m.display_name %> population <%= population %> result: </span>
                  <%= render 'calculation_result_icon', :result => get_result_value(@results, m, population), :episode_of_care => m.episode_of_care %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
<% end %>

  <div class="col-md-6">
    <h2>Patient Details</h2>
    <dl class="dl-horizontal">
      <dt>DOB</dt><dd><%= display_time(@record.birthDatetime) %></dd>
      <dt>Gender</dt><dd><%= full_gender_name(@record.gender) %></dd>
      <% assessment_1 = @record.get_data_elements('assessment').first %></dd>
      <% condition_1 = @record.get_data_elements('condition').first %></dd>
      <% encounter_1 = @record.get_data_elements('encounter').first %></dd>
      <dt>Race</dt><dd><%= @record.get_data_elements('patient_characteristic','race').first['dataElementCodes'].first['descriptor'] %></dd>
      <dt>Ethnicity</dt><dd><%= @record.get_data_elements('patient_characteristic','ethnicity').first['dataElementCodes'].first['descriptor'] %></dd> 
      <dt>Assessment</dt><dd><%= assessment_1['description'] %></dd><br><%= assessment_1['result'] %></dd>
      <dt>Condition</dt><dd><%= condition_1['description'] %></dd>
      <dt>Encounter</dt><dd><%= encounter_1['lengthOfStay'] %></dd><br><%= encounter_1['description'] %></dd>


      </dl>

    <% RecordsHelper::SECTIONS.each do |s| %>
      <div class="panel panel-default patient-details">
        <div class="panel-heading"><h3 class='panel-title'><%= s.titleize %></h3></div>
        <% if @record[s] %>
          <div class="panel-body">
            <% @record[s].each do |get_data_elements| %>
              <div class="entry">
            <h4><%= get_data_elements['description'] %></h4>
              <dl class="dl-horizontal">
                <% get_data_elements['result'].each do |value, unit| %>
                  <dt><%= value %></dt><dd><%= unit.join(", ") %></dd>
                <% end %>
              </dl>
              <dl class="dl-horizontal">
                <% if dc.respond_to?(:negationInd) && dc.negationInd %>
                  <dt>Not Performed</dt><dd><%=HealthDataStandards::SVS::ValueSet.where({"concepts.code": dc.negationReason.code, "concepts.code_system_name": dc.negationReason.code_system}).first.concepts.select {|c| c.code == dc.negationReason.code}.first.display_name[/.*(?= )/] %></dd>
                  <dt>Time</dt><dd><%=display_time_to_minutes(get_data_elements['start_time'])%></dd>
                <%else%>
                  <dt><%= "Start Time" if get_data_elements['start_time']%></dt> <dd><%= display_time_to_minutes(get_data_elements['start_time']) if get_data_elements['start_time'] %></dd>
                  <dt><%="End Time" if get_data_elements['end_time']%></dt> <dd><%= display_time_to_minutes(get_data_elements['end_time']) if get_data_elements['end_time'] %></dd>
                <%end%>
                <br>   

                <% RecordsHelper::FIELDS.each do |f|%> 
                  <% if dc[f] %>
                    <dt><%= ("Results" if f == 'values') || f.underscore.humanize.titleize%></dt>
                    <dd><%= simple_format(display_field(dc[f]))%></dd>
                  <%end%>
                <%end%>
              </dl>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>