<h1>Patient Information for <%= full_name(@record) %></h1>
<div class="row">
<!-- Show measure calculation unless the list is for a product test, Cypress is in ATL Mode and the current user is not an ATL or admin -->
<% unless @product_test && hide_patient_calculation? %>
  <div class="col-md-6">
    <h2>Measure Information</h2>
    <% if @measures.where(continuous_variable: true).length > 0 %>
      <table class="table table-condensed">
        <thead>
          <tr>
            <td></td>
            <% RecordsHelper::CV_POPULATION_KEYS.each do |population| %>
              <th scope="col" class="text-center"><%= population %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @measures.where(continuous_variable: true).sort_by{ |m| [m.cms_int, m.sub_id] }.each do |m| %>
            <tr>
              <th class="abbreviated" scope="row">
                <%= m.display_name %>
              </th>

              <% RecordsHelper::CV_POPULATION_KEYS.each do |population| %>
                <td class="text-center">
                  <span class="sr-only">Measure <%= m.display_name %> population <%= population %> result: </span>
                  <%= render partial: 'calculation_result_icon', locals: { result: get_result_value(@results, m, population) } %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% if @measures.where(continuous_variable: false).length > 0 %>
      <table class="table table-condensed">
        <thead>
          <tr>
            <td></td>
            <% RecordsHelper::PROPORTION_POPULATION_KEYS.each do |population| %>
              <th scope="col" class="text-center"><%= population %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @measures.where(continuous_variable: false).sort_by{ |m| [m.cms_int, m.sub_id] }.each do |m| %>
            <tr>
              <th class="abbreviated" scope="row">
                <%= m.display_name %>
              </th>
              <% RecordsHelper::PROPORTION_POPULATION_KEYS.each do |population| %>
                <td class="text-center">
                  <span class="sr-only">Measure <%= m.display_name %> population <%= population %> result: </span>
                  <%= render partial: 'calculation_result_icon', locals: { result: get_result_value(@results, m, population) } %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
<% end %>

  <div class="col-md-6">
    <h2>Patient Details</h2>
    <dl class="dl-horizontal">
      <dt>DOB</dt><dd><%= display_time(@record['birthdate']) %></dd>
      <dt>Gender</dt><dd><%= full_gender_name(@record['gender']) %></dd>
      <dt>Race</dt><dd><%= @record['race']['name'] %></dd>
      <dt>Ethnicity</dt><dd><%= @record['ethnicity']['name'] %></dd>
    </dl>
    <% RecordsHelper::SECTIONS.each do |s| %>
      <div class="panel panel-default patient-details">
        <div class="panel-heading"><h3 class='panel-title'><%= s.titleize %></h3></div>
        <% if @record[s] %>
          <div class="panel-body">
            <% @record[s].each do |dc| %>
            <div class="entry">
              <h4><%= dc['description'] %></h4>
              <dl class="dl-horizontal">
                <% dc['codes'].each do |code_system, code| %>
                  <dt><%= code_system %></dt><dd><%= code.join(", ") %></dd>
                <% end %>
              </dl>
              <dl class="dl-horizontal">
                <% if dc.respond_to?(:negationInd) && dc.negationInd %>
                  <dt>Not Performed</dt><dd><%=HealthDataStandards::SVS::ValueSet.where({"concepts.code": dc.negationReason.code, "concepts.code_system_name": dc.negationReason.code_system}).first.concepts.select {|c| c.code == dc.negationReason.code}.first.display_name[/.*(?= )/] %></dd>
                  <dt>Time</dt><dd><%=display_time_to_minutes(dc['start_time'])%></dd>
                <%else%>
                  <dt><%= "Start Time" if dc['start_time']%></dt> <dd><%= display_time_to_minutes(dc['start_time']) if dc['start_time'] %></dd>
                  <dt><%="End Time" if dc['end_time']%></dt> <dd><%= display_time_to_minutes(dc['end_time']) if dc['end_time'] %></dd>
                <%end%>
                <br>
                <% RecordsHelper::FIELDS.each do |f|%>
                  <% if dc[f] %>
                    <dt><%= ("Results" if f == 'values') || f.underscore.humanize.titleize%></dt>
                    <dd><%= simple_format(display_field(dc[f]))%></dd>
                  <%end%>
                <%end%>
              </dl>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
