<!--h1>Patient Information for <%= full_name(@record) %></h1-->
<div class="row">
<!-- Show measure calculation unless the list is for a product test, Cypress is in ATL Mode and the current user is not an ATL or admin -->
<% unless @product_test && hide_patient_calculation? %>
  <div class="col-md-6">
    <h2>Measure Information</h2>
    <% {
          @continuous_measures => RecordsHelper::CV_POPULATION_KEYS,
          @non_continuous_measures => RecordsHelper::PROPORTION_POPULATION_KEYS
        }.each do |measures, pop_keys| %>
      <% if measures.length.positive? %>
        <table class="table table-condensed">
          <thead>
            <tr>
              <td></td>
              <% pop_keys.each do |population| %>
                <th scope="col" class="text-center"><%= population_label(@bundle, population) %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% result_values = get_result_values([@record], measures, pop_keys, 'measure_id') %>
            <% measures.each do |m| %>
              <tr>
                <th class="abbreviated" scope="row">
                  <%= m.display_name %>
                </th>
                <% result_values[m.id].each do |population, value| %>
                  <td class="text-center">
                    <span class="sr-only">Measure <%= m.display_name %> population <%= population %> result: </span>
                    <!-- This is the relevant piece of the calculation_result_icon partial ported over to here. Rendering each circle in its own partial is far too slow and causes the application to take up to 8 seconds longer to load on some pages. -->
                    <% if value && value.positive? %>
                      <span class="sr-only">Pass</span>
                      <span class="fa-stack result-marker">
                        <%= icon('fas fa-stack-2x', 'circle', :"aria-hidden" => true) %>
                        <% unless value == 1 && !m.episode_of_care %>
                          <strong class="fa-stack-1x result-text"><span class="sr-only">value of </span><%= value %></strong>
                        <% end %>
                      </span>
                    <% else %>
                      <span class="sr-only">Fail</span>
                      <%= icon('far fa-2x empty-marker', 'circle', :"aria-hidden" => true) %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
<% end %>

  <div class="col-md-6">
    <!--h2>Patient Details</h2-->
    <%= QdmPatient.new(@record, false).render.html_safe %>
  </div>
</div>
