<div class="row">
<!-- Show measure calculation unless the list is for a product test, Cypress is in ATL Mode and the current user is not an ATL or admin -->
<% unless @product_test && hide_patient_calculation? %>
  <div class="col-md-6" style="overflow-y: scroll; height:100vh;">
    <h2>Measure Information</h2>
    <% {
          @continuous_measures => RecordsHelper::CV_POPULATION_KEYS,
          @proportion_measures => RecordsHelper::PROPORTION_POPULATION_KEYS,
          @ratio_measures => RecordsHelper::RATIO_POPULATION_KEYS
        }.each do |measures, pop_keys| %>
      <% if measures.length.positive? %>
        <table class="table table-condensed">
          <thead>
            <tr>
              <td></td>
              <% pop_keys.each do |population| %>
                <% next if population == 'OBSERV' %>
                <th scope="col" class="text-center"><%= population_label(@bundle, population) %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% measures.each do |m| %>
              <% m.population_sets_and_stratifications_for_measure.each do |population_set_hash| %>
                <% result_values = get_result_values([@record], [m], m.key_for_population_set(population_set_hash), pop_keys, 'measure_id') %>
                <% observation_values = get_observation_values([@record], [m], m.key_for_population_set(population_set_hash), 'measure_id') %>
                <% observation_pops = get_observation_values_by_population([@record], [m], m.key_for_population_set(population_set_hash), 'measure_id') %>
                <% unless result_values.empty? %>
                  <tr>
                    <th class="abbreviated" scope="row">
                      <%= measure_display_name(m, population_set_hash) %>
                    </th>
                    <% result_values[m.id].each do |population, value| %>
                      <!-- Observations are dealt with separately since there can be more than one per measure. -->
                      <% next if population == 'OBSERV' %>
                      <td class="text-center">
                        <span class="sr-only">Measure <%= m.description %> population <%= population %> result: </span>
                        <!-- This is the relevant piece of the calculation_result_icon partial ported over to here. Rendering each circle in its own partial is far too slow and causes the application to take up to 8 seconds longer to load on some pages. -->
                        <% if value && value.positive? %>
                          <span class="sr-only">Pass</span>
                          <span class="fa-stack result-marker">
                            <%= icon('fas fa-stack-2x', 'circle', :"aria-hidden" => true) %>
                            <% unless value == 1 && m.calculation_method != 'EPISODE_OF_CARE' %>
                              <strong class="fa-stack-1x result-text"><span class="sr-only">value of </span><%= value %></strong>
                            <% end %>
                          </span>
                        <% else %>
                          <span class="sr-only">Fail</span>
                          <%= icon('far fa-2x empty-marker', 'circle', :"aria-hidden" => true) %>
                        <% end %>
                      </td>
                    <% end %>
                  </tr>
                    <% if observation_pops[m.id] && observation_pops[m.id][@record.id] && observation_pops[m.id][@record.id].keys.size > 1 %>
                      <% episodes = observation_pops[m.id][@record.id].values.collect { |val| val[:values].size }.max %>
                      <% episodes.times do |episode_index| %>
                        <tr>
                          <td><%= "Episode #{episode_index + 1} Observations: "%></td>
                          <% pop_keys.each do |pop_key| %>
                            <% if observation_pops[m.id][@record.id][pop_key].nil? || observation_pops[m.id][@record.id][pop_key][:values].empty? %>
                              <td/>
                            <% else %>
                              <% population_observation = observation_pops[m.id][@record.id][pop_key][:values].detect { |v| v.episode_index == episode_index } %>
                              <td class="text-center"><%=  population_observation ? population_observation[:value] : '' %></td>
                            <% end %>
                          <% end %>
                        </tr>
                      <% end %>
                    <% end %>
                  <% unless @record.calculation_results.first.clause_results.empty? %>
                    <tr><td colspan="<%= pop_keys.size + 1 %>">
                    <% @record.calculation_results.where(measure_id: m.id).each_with_index do |ir, index| %>
                      <% if m.key_for_population_set(population_set_hash) == ir.population_set_key %>
                        <button class="collapsible">View Logic Highlighting</button>
                        <div class="collapse-content">
                          <%= render 'patient_measure_highlighting', :measure => m, :index => index, :individual_result => ir %>
                        </div>
                      <% end %>
                    <% end %>
                  </td></tr>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
    <% if @result_measures %>
      <table class="table table-condensed">
        <tbody>
          <% @result_measures.each do |m| %>
            <% ir = @record.calculation_results.where(measure_id: m.id).first %>
            <tr>
              <td></td>
              <% m.population_keys.each do |population| %>
              <th scope="col" class="text-center"><%= population_label(@bundle, population) %></th>
              <% end %>
            </tr>
            <% m.population_sets_and_stratifications_for_measure.each do |population_set_hash| %>
              <tr>
                <th class="abbreviated" scope="row">
                  <%= measure_display_name(m, population_set_hash) %>
                </th>
                <% m.population_keys.each do |population| %>
                  <td class="text-center">
                    <span class="sr-only">Measure <%= m.description %> population <%= population %> result: </span>
                    <!-- This is the relevant piece of the calculation_result_icon partial ported over to here. Rendering each circle in its own partial is far too slow and causes the application to take up to 8 seconds longer to load on some pages. -->
                    <% value = ir[population] %>
                    <% if value && value.positive? %>
                      <span class="sr-only">Pass</span>
                      <span class="fa-stack result-marker">
                        <%= icon('fas fa-stack-2x', 'circle', :"aria-hidden" => true) %>
                        <% unless value == 1 && m.calculation_method != 'EPISODE_OF_CARE' %>
                          <strong class="fa-stack-1x result-text"><span class="sr-only">value of </span><%= value %></strong>
                        <% end %>
                      </span>
                    <% else %>
                      <span class="sr-only">Fail</span>
                      <%= icon('far fa-2x empty-marker', 'circle', :"aria-hidden" => true) %>
                    <% end %>
                  </td>
                  <% end %>
              </tr>
              <tr><td><button class="collapsible">View Core Clinical Data Element</button>
              <div class="collapse-content">
                <% statement_name = APP_CONSTANTS['result_measures'].select { |rm| rm['hqmf_id'] == m.hqmf_id }.first['statement_name'] %>
                <% statement_results = ir.statement_results.select { |sr| sr['statement_name'] == statement_name }.first['raw'] %>
                <% ir.episode_results&.keys&.each_with_index do |encounterId, index| %>
                  <ul>Encounter - <%= index + 1 %>
                  <% statement_results.each do |key, statement_result| %>
                    <% encounter_result = statement_result.select { |sr| sr['EncounterId'] == encounterId }.first %>
                    <% next unless encounter_result['FirstResult'] %>
                    <ul><%= "#{key} (#{encounter_result['FirstResult']['value']} #{encounter_result['FirstResult']['unit']})" %></ul>
                  <% end %>
                  </ul>
                <% end %>
              </div>
              </td></tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
<% end %>

  <div class="col-md-6" style="overflow-y: scroll; height:100vh;">

    <div class="btn-group" align="right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Select Measure(s) <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
      <li>
      <% if @vendor %>
        <%= link_to "All Measures", vendor_record_path(:vendor_id => @vendor.id, :id => @record.id, :bundle_id => @bundle.id), method: :get %>
      <% elsif @product_test %>
       <%= link_to "All Measures", record_path(:task_id => @product_test.tasks.first.id, :id => @record.id), method: :get %>
       <% else %>
        <%= link_to "All Measures", bundle_record_path(:bundle_id => @bundle.id, :id => @record.id), method: :get %>
      <% end %></li>
      <% @measures.each do |measure| %>
        <li>
          <% if @vendor %>
            <%= link_to "#{measure.cms_id}", vendor_record_path(:vendor_id => @vendor.id, :id => @record.id, :bundle_id => @bundle.id, :hqmf_id => measure.hqmf_id), method: :get %>
          <% elsif @product_test %>
           <%= link_to "#{measure.cms_id}", record_path(:task_id => @product_test.tasks.first.id, :id => @record.id, :hqmf_id => measure.hqmf_id), method: :get %>
           <% else %>
            <%= link_to "#{measure.cms_id}", bundle_record_path(:bundle_id => @bundle.id, :id => @record.id, :hqmf_id => measure.hqmf_id), method: :get %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>

    <!-- If a measure is provided, scoop and filter the clinical data. 
         Otherwise, show all of the clinical data. -->
    <% if @hqmf_id %>
    <% sf_patient = @record.clone %>
    <% sf_patient.id =  @record.id %>
    <% sf_measures = @measures %>
      <%# use selected measure and population_set_hash %>
      <% sf_measures = Measure.where(:hqmf_id => @hqmf_id) %>
      <% sf_title = sf_measures.first.cms_id %>
      <h4>Patient Data for <%= sf_title %></h4>
      <%= QdmPatient.new(Cypress::ScoopAndFilter.new(sf_measures).scoop_and_filter(sf_patient), false).render.html_safe %>
    <% else %>
      <%= QdmPatient.new(@record, false).render.html_safe %>
    <% end %>
  </div>
</div>
