<section>
  <% cms_measures = [] %>

  <h2>Multi Measure Tests</h2>
  <% # Measure Test Summary %>
  <table class = 'table table-condensed'>
    <thead>
      <tr>
        <th scope="col">Measure Name</th>
        <th scope="col">Submeasures</th>
        <%= "<th scope='col' class = 'text-center'>EP Measure Test</th>".html_safe %>
        <%= "<th scope='col' class = 'text-center'>EH Measure Test</th>".html_safe %>

      </tr>
    </thead>
    <tbody>
      <% @product.product_tests.multi_measure_tests.each do |test| %>
        <% measures = test.measures %>
        <% test.measures.each{ |m| cms_measures << m} %>
        <% measures.each do |measure| %>
          <tr>
            <td><%= "#{measure.cms_id} #{measure.title}" %></td>
            <td>
              <% if measure.population_sets_and_stratifications_for_measure.length > 1 %>
                <ul class="list-unstyled">
                  <% measure.population_sets_and_stratifications_for_measure.each do |population_set| %>
                    <li><%= population_set[:stratification_id] ? population_set[:stratification_id] : population_set[:population_set_id] %></li>
                  <% end %>
                </ul>
              <% end %>
            </td>
            <% if test.tasks.multi_measure_cat3_task %>
              <td class='text-center'><%= render partial: 'products/report/status_icon', locals: { passing: test.tasks.multi_measure_cat3_task ? test.tasks.multi_measure_cat3_task.passing? : false} %></td>
            <% else %>
              <td class='text-center'/>
            <% end %>
            <% if test.tasks.multi_measure_cat1_task %>
              <td class='text-center'><%= render partial: 'products/report/status_icon', locals: { passing: test.tasks.multi_measure_cat1_task ? test.tasks.multi_measure_cat1_task.passing? : false  }  %></td>
            <% else %>
              <td class='text-center'/>
            <% end %> 
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <h2>CMS Program Tests</h2>
  <% # Measure Test Summary %>
  <table class = 'table table-condensed'>
    <thead>
      <tr>
        <th scope="col">Test Name</th>
        <th scope="col" class='text-center'>Status</th>
      </tr>
    </thead>
    <tbody>
      <% %w[HQR_PI HQR_IQR HQR_PI_IQR HQR_IQR_VOL MIPS_GROUP MIPS_INDIV MIPS_VIRTUALGROUP MIPS_APMENTITY CPCPLUS PCF].each do |test| %>
          <tr>
              <% ptest = @product.product_tests.cms_program_tests.where(cms_program: test ) %>
              <% next if ptest.empty? %>
              <% task = ptest.first.tasks.first %>
              <td class='text-left'><%= task.product_test.name %></td>
              <td class='text-center'><%= render partial: 'products/report/status_icon', locals: { passing: task.passing? } %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</section>