<div>
  <ul id="error_report_toc" class="nav nav-tabs">
    <li class="active"><a href="#test_summary" data-toggle="tab">Summary</a></li>
    <li class=""><a href="#test_measure_errors" data-toggle="tab">Errors</a></li>
    <li class=""><a href="#test_measure_qrda_errors" data-toggle="tab">QRDA Errors</a></li>
    <li class=""><a href="#test_measure_qrda_warnings" data-toggle="tab">QRDA Warnings</a></li>
    <% if !test_execution.new_record %>
    <%= link_to "Download", download_test_execution_path(test_execution.id), title: "Download the results of this test execution", class: "cmd pull-right" %>
    <% end %> 
  </ul>
  <div id="test_result_tabs" class="tab-content">
    <div class="tab-pane active" id="test_summary">
      <section>
        <dl class="dl-horizontal">
          <dt><strong>Test Date:</strong></dt> <dd class="strong"><%= test_execution.created_at %></dd>
          <dt><strong>Inspection ID: </strong></dt> <dd><%= test_execution.product_test.product.vendor.name %></dd>
        </dl>
        <dl class="dl-horizontal wide">
          <dt><strong>Errors:</strong></dt> <dd class="fail strong"><%= test_execution.count_errors %></dd>
          <dt><strong>Warnings:</strong></dt> <dd class="warn strong"><%= test_execution.count_warnings %></dd>
        </dl>
      </section>
      <h5 style="margin-top:2em">Test Execution Notes</h5>
      <p>Test execution notes and addenda should appear here.</p>
    </div>


  <% doc, error_map, error_attributes =  match_errors(test_execution) %>

    <div class="tab-pane" id="test_measure_errors">
      <!-- %# render :partial => 'calculated_product_test/errors', :locals => { :errors => test_execution.execution_errors} %> -->
      <h4>Errors</h4>
      <ol class="validation_list">
        <% test_execution.execution_errors.by_validation_type(:result_validation).by_type(:error).each do |err| %>
         <li><a  href="#<%=err.measure_id%>" ><span><%=  err.message %></span></li>
        <% end %>
      </ol>
    </div>
    <div class="tab-pane" id="test_measure_qrda_errors">
      <h4>QRDA Errors</h4>
       <%= render :partial=>'test_executions/error_list', :locals=>{grouped_errors: test_execution.execution_errors.by_validation_type(:xml_validation).by_type(:error).group_by(&:validator), error_map:error_map } %>
    </div>
    <div class="tab-pane" id="test_measure_qrda_warnings">
      <!-- %# render :partial => 'test_executions/calculated_product_test/warnings', :locals => { :warnings => test_execution.execution_warnings } %> -->
      <h4>QRDA Warnings</h4>
      <%= render :partial=>'test_executions/error_list', :locals=>{grouped_errors: test_execution.execution_errors.by_validation_type(:xml_validation).by_type(:warning).group_by(&:validator), error_map:error_map } %>
    </div>
 
  </div><!-- end #test_result_tabs -->
      <% grouped_passing = group_measures_by_type(test_execution.passing_measures)
       grouped_failing = group_measures_by_type(test_execution.failing_measures)
    %>
      <section id="quality_measures">
        <h5><span class="pass">PASSING</span> MEASURES</h5>
        <% if test_execution.passing_measures.count == 0 %>
          <p>There are no passing measures for this test</p>
        <% else %>
          
          <%= render partial: "/test_executions/continuous_results.html" , locals: {test_execution: test_execution, measures:grouped_passing[:continuous]} %>
        <% end %>
        <h5><span class='fail'>FAILING</span> MEASURES</h5>
        <% if test_execution.failing_measures.count == 0 %>
          <p>There are no failing measures for this test</p>
        <% else %>
        
          <%= render partial: "/test_executions/continuous_results.html" , locals: {test_execution: test_execution, measures:grouped_failing[:continuous]} %>
        <% end %>
      </section>


    <div id="xml_frame">
      <div style="height:45px;">
        <div class="subnav navbar" style="display:none">
          <div class="navbar-inner">
              <div class="container">
                <a class="brand" href="#error_report_toc"><i class="icon-arrow-up"></i> Back to top</a>
                  <ul class="nav">
                      <li class="divider-vertical"></li>
                      <li><a class="nav-first" title="Jump to first error"><i class="icon-fast-backward"></i> First</a></li>
                      <li class="divider-vertical"></li>
                      <li><a class="nav-prev" title="Jump to previous error"><i class="icon-step-backward"></i> Prev</a></li>
                      <li class="divider-vertical"></li>
                      <li><a class="nav-next" title="Jump to next error">Next <i class="icon-step-forward"></i></a></li>
                      <li class="divider-vertical"></li>
                      <li><a class="nav-last" title="Jump to last error">Last <i class="icon-fast-forward"></i></a></li>
                      <li class="divider-vertical"></li>
                  </ul>
              </div>
          </div>
      </div>
    </div>
    <h3>Vendor Generated XML</h3>
    <%= render :partial=>"test_executions/node.html" , :locals=>{:doc=>doc, :error_map=>error_map, :error_attributes=>error_attributes,:test_execution=>test_execution}%>
  </div>
</div>
<% if test_execution %>
<script>
function showErrorPopup(anchor) {
    if ($(anchor)) {
      $('div'+anchor).popover('show');
      jumpToElement(anchor);
    }
  }    

  $("#xml_frame .subnav").show().navigator({targets:"a.qrda_error_link",action:showErrorPopup});
  $("#xml_frame").fixedHeader();

  $("section.execution").on('click','a.qrda_error_link',function() {
    showErrorPopup($(this).attr('href'));
    return false;
  });
    
  $("section.execution").on('click','.error i.icon',function() {
    $('div#'+$(this).data('error')).popover('toggle');
  });
  </script>
  <% end %>