<ol class="validation_list">
  <% old_eid = 0 %>
  <% grouped_errors.each do |validator,errs| %>
  <li>
    <div><span><%= validator %></span> </div>
     <ol>
    <% 
      errs.each do |e| 
      eid = error_map[e.location] 
    %>   
      <li  <% if old_eid != eid %> class="err_group" <% old_eid = eid end %>>
        <div><% if eid %>
          <a class="<%= (eid) ? 'qrda_error_link' : '' %>" href="#<%= (eid) ? 'error_'+eid : '' %>" ><%= e.message %></a> </div>
          <% else %>
            <%= e.message %>
          <% end %>
      </li>
    <% end %>
    </ol>
  </li>
  <% end %>
</ol>