<%
#
# renders the errors for the most recent test execution for the given task.
#
# must specify local variable "execution"
#
%>


<% if execution.incomplete? %>
  <h4><i class="fa fa-fw fa-circle-o-notch fa-spin text-info"></i> In Progress</h4>
  <!-- <p>You do not need to reload your browser. Results will automatically display when the tests are done running. This should take about ___ seconds.</p> -->
  <p>Wait 10 seconds, then reload your browser.</p>
<% elsif execution.passing? %>
  <h4><i class="fa fa-fw fa-check-circle text-success"></i> Passed</h4>
<% else %>
  <% qrda_errors = execution.qrda_errors %>
  <% report_errors = execution.reporting_errors %>
  <% submit_errors = execution.submission_errors %>
  
  <h4><i class="fa fa-fw fa-times-circle text-danger"></i><%= " Failed with #{execution.execution_errors.count} errors" %></h4>
  <ul class = 'nav nav-tabs'>
    <li class = 'active'>
      <a data-toggle = 'tab' href = <%= "#QRDA_tab_execution_#{execution.id}" %>>
        <%= "QRDA Errors (#{qrda_errors.count})" %>
      </a>
    </li>
    <li>
      <a data-toggle = 'tab' class = 'tab' href = <%= "#reporting_tab_execution_#{execution.id}" %>>
        <%= "Reporting Errors (#{report_errors.count})" %>
      </a>
    </li>
    <li>
      <a data-toggle = 'tab' class = 'tab' href = <%= "#submission_tab_execution_#{execution.id}" %>>
        <%= "Submission Errors (#{submit_errors.count})" %>
      </a>
    </li>
  </ul>

  <div class = 'tab-content'>
    <div class = 'tab-pane active' id = <%= "QRDA_tab_execution_#{execution.id}" %>>
      <% qrda_errors.each do |err| %>
        <li>
          <%= "#{err.message}" %>
          <%= "(#{err.file_name})" %>
        </li>
      <% end %>
    </div>
    <div class = 'tab-pane' id = <%= "reporting_tab_execution_#{execution.id}" %>>
      <% report_errors.each do |err| %>
        <li><%= "#{err.message} (#{err.file_name})" %></li>
      <% end %>
    </div>
    <div class = 'tab-pane' id = <%= "submission_tab_execution_#{execution.id}" %>>
      <% submit_errors.each do |err| %>
        <li><%= "#{err.message} (#{err.file_name})" %></li>
      <% end %>
    </div>
  </div>
<% end %>
