<%

# local variables:
#
#   task
#   is_current_task   true if this row has the same task as the current page

%>

<% viewing_measure_test = task.product_test._type == 'MeasureTest' %>

<% execution = task.most_recent_execution %>
<% qrda, reporting, submission, total = get_error_counts(execution) %>

<% highlighter = is_current_task && get_other_task(task) ? 'highlight-row' : '' %>

<tr class = '<%= highlighter %>'>
  <td>
    <% visibility = total == 0 && execution && execution.passing? ? '' : 'invisible' %>
    <i class = 'fa fa-fw fa-check text-success <%= visibility %>'></i>
    <strong>
      <% if viewing_measure_test %>
        <%= get_measure_certification_types(task) %>
      <% else %>
        <%= 'Cat 1' if task._type == 'Cat1FilterTask' %>
        <%= 'Cat 3' if task._type == 'Cat3FilterTask' %>
      <% end %>
    </strong>
  </td>
  <td>
    <% if execution && execution.passing? %>
      <strong class = 'text-success'>Passing</strong>
    <% elsif execution && execution.failing? %>
      <strong class = 'text-danger'>Failing</strong>
    <% else %>
      Not Started
    <% end %>
  </td>
  <td>
    <% if !execution || execution.incomplete? %>
      --
    <% elsif qrda == 0 %>
      <strong class = 'text-success'>0</strong>
    <% else %>
      <strong class = 'text-danger'><%= qrda %></strong>
    <% end %>
  </td>
  <td>
    <% if !execution || execution.incomplete? %>
      --
    <% elsif reporting == 0 %>
      <strong class = 'text-success'>0</strong>
    <% else %>
      <strong class = 'text-danger'><%= reporting %></strong>
    <% end %>
  </td>
  <% if task.product_test.product.c3_test && viewing_measure_test %>
    <td>
      <% if !execution || execution.incomplete? %>
        --
      <% elsif submission == 0 %>
        <strong class = 'text-success'>0</strong>
      <% else %>
        <strong class = 'text-danger'><%= submission %></strong>
      <% end %>
    </td>
  <% end %>
  <td>
    <% if execution %>
      <%= execution.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%b %d, %Y at %I:%M %p') %>
    <% else %>
      --
    <% end %>
  </td>
  <td>
    <% if task && !is_current_task %>
      <% switch_text = 'start' %>
      <% switch_text = 'view' if task.failing? || task.passing? %>
      <%= link_to switch_text, "/tasks/#{task.id}/test_executions/new" %>
    <% end %>
  </td>
</tr>