<%
#
# renders the download test deck button if product_test is ready
#
# must specify local variable "product_test"
#
%>

<div id = 'display_execution_download'>
  <% if product_test.state == :ready %>
    <p>Download and import this data into your EHR clinical quality measure calculator.</p>
    <%= form_tag(patients_product_test_path(product_test), method: 'get') do |f| %>
      <%= hidden_field_tag :id, :value => product_test.id %>
      <%= button_tag(type: 'submit', class: 'btn btn-info') do %>
        <%= icon('fas fa-fw', 'download', :"aria-hidden" => true) %> Download QRDA Category I (.zip)
      <% end %>
    <% end %>
  <% elsif product_test.state == :errored %>
    <p><%= icon('fas', 'exlamation-triangle', :"aria-hidden" => true) %>Cypress encountered an internal error while building this measure. Please contact the Cypress team at https://github.com/projectcypress/cypress/issues, and include the text below:</p>
    <code>
      <%= product_test.status_message %>
    </code>
  <% else %>
    <p><%= icon('fas fa-fw fa-spin', 'sync-alt', :"aria-hidden" => true) %> Cypress is building test patients for this measure. You will be able to download a zip file of QRDA Category I documents. </p>
    <script>
      $.ajax({url: "<%= request.env['PATH_INFO'] %>", type: "GET", dataType: 'script', data: { partial: 'execution_download' }});
    </script>
  <% end %>
</div>
