<%
#
# renders the errors for the most recent test execution for the given task.
#
# must specify local variable "execution"
#
%>

<% if execution.incomplete? %>
  <h4><i class="fa fa-fw fa-refresh fa-spin text-info"></i>In Progress</h4>
  <p>You do not need to reload your browser. Results will automatically display when the tests are done running.</p>
  <% # ajax contacts test_execution's show controller action with format: 'js'. controller then directs to show.js.erb which will wait, then re-render %>
  <script>
    $.ajax({url: "<%= request.env['PATH_INFO'] %>", type: "GET", dataType: 'script', data: { partial: 'execution_results' }});
  </script>


<% elsif execution.passing? %>
  <h4><i class="fa fa-fw fa-check-circle text-success"></i> Passed</h4>


<% else %>
  <% qrda_errors = execution.qrda_errors %>
  <% report_errors = execution.reporting_errors %>
  <% should_display_c3 = execution.task.product_test.product.c3_test %>
  <% submit_errors = should_display_c3 ? TestExecution.find(execution.sibling_execution_id).execution_errors : [] %>

  <h4><i class="fa fa-fw fa-times-circle text-danger"></i><%= " Failed with #{execution.execution_errors.count} errors" %></h4>
  <ul class = 'nav nav-tabs'>
    <li class = 'active'>
      <a data-toggle = 'tab' href = <%= "#QRDA_tab_execution_#{execution.id}" %>>
        <%= "QRDA Errors (#{qrda_errors.count})" %>
      </a>
    </li>
    <li>
      <a data-toggle = 'tab' class = 'tab' href = <%= "#reporting_tab_execution_#{execution.id}" %>>
        <%= "Reporting Errors (#{report_errors.count})" %>
      </a>
    </li>
    <% if should_display_c3 %>
      <li>
        <a data-toggle = 'tab' class = 'tab' href = <%= "#submission_tab_execution_#{execution.id}" %>>
          <%= "Submission Errors (#{submit_errors.count})" %>
        </a>
      </li>
    <% end %>
  </ul>

  <div class = 'tab-content'>
    <div class = 'tab-pane active' id = <%= "QRDA_tab_execution_#{execution.id}" %>>
      <%= render partial: 'test_executions/results/error_table', locals: { errors: qrda_errors } %>
    </div>
    <div class = 'tab-pane' id = <%= "reporting_tab_execution_#{execution.id}" %>>
      <%= render partial: 'test_executions/results/error_table', locals: { errors: report_errors } %>
    </div>
    <% if should_display_c3 %>
      <div class = 'tab-pane' id = <%= "submission_tab_execution_#{execution.id}" %>>
        <%= render partial: 'test_executions/results/error_table', locals: { errors: submit_errors } %>
      </div>
    <% end %>
  </div>

  <% # XML Viewer %>
  <div>
    <% error_maps = get_error_mapping(execution) %>
    <div id = 'xml_frame'>
      <%= render partial: "test_executions/results/subnav"%>
      <h3>Uploaded XML</h3>
      <% error_maps.each do |error_map| %>
        <div>
          <div class = 'expando file_name'>
            <h4><%= File.basename(error_map[:file]).force_encoding('UTF-8') %></h4>
            <div class = 'open'></div>
          </div>
          <%= render partial: 'test_executions/results/node', :locals => { doc: error_map[:doc], error_map: error_map[:error_map], error_attributes: error_map[:error_attributes], execution_errors: error_map[:file_errors] } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
