<% 

error_id = (doc['error_id']) %>
<div <%=  error_id ? %{id=xerror_#{error_id}} : '' %> class="indent ">
  <% if error_id %>
  <%
      test_execution.execution_errors.where({:location=>error_map.invert[error_id]}).order_by([:msg_type,1]).each do |err|
        %>
        <span class='error_popup' id="error_<%=err.id%>" rel="popover" data-placement="top" data-original-title="<%= err.msg_type.to_sym == :error ? 'Error' : 'Warning'  %>" data-content="<%= err.message%>"></span>
        <%
      end
   %>
  
 <% end %>
<%

case node_type(doc.node_type)
  when :element
%>
<div <%=  error_id ? "class='error'".html_safe : '' %> >
<% if error_id %><i class="icon icon-white icon-comment pull-right" data-error="<%= %{error_#{error_id}} %>"></i><% end %><span class="markup">&lt;</span><span class="start-tag "><%= doc.name %></span>

<%
 doc.attributes.each do |att| 
  attribute = att[1]
  if attribute.name != 'error_id' 
 %>
<span class="attribute-name <%= error_attributes.index(attribute) ? 'attribute_error' : '' %>"> <%= attribute.name %></span><span class="markup">=</span><span class="attribute-value">"<%=attribute.value %>"</span><%  end 
 end
 when :document
 %>
<div><span class="markup">&lt;?</span><span class="start-tag">xml</span>
 <span class="attribute-name"> version</span><span class="markup">=</span><span class="attribute-value">""</span>
 <span class="attribute-name"> encoding</span><span class="markup">=</span><span class="attribute-value">""</span>
 <span class="markup">?&gt;</span>
 </div>
<%
 end
 if doc.children.length > 0 
 
    if node_type(doc.node_type) == :element
     %><span class="markup">&gt;</span></div><% 
     end
 doc.children.each do |child| %>
<%

       case node_type(child.node_type)
         when :attribute
           #should not happen but just in case
         when :text
          %><div class="text"><%= child.content %></div><%
         when :element
          %> <%= render :partial=>"test_executions/node.html" , :locals=>{:doc=>child, :error_map=>error_map, :error_attributes=>error_attributes, :test_execution=>test_execution}%><%
         when :cdata
           %><%=  render :partial=>"cdata", :locals=>{:cdata=>child}%><%
         when :comment
          %><div class="comment indent"><%= child.to_s %></div><%
         when :instruction
           %><div class="indent pi">&lt;?<%= child.name %> <%= child.content %>?&gt;</div><%
       end
     end
     if node_type(doc.node_type) == :element
        %><span class="markup">&lt;/</span><span class="end-tag"><%= doc.name %></span><span class="markup">&gt;</span><% 
     end
     
else 
 if node_type(doc.node_type) == :element
    %><span class="markup">/&gt;</span></div><%
     end
 end %>
</div>