<% cache_if(!test_execution.new_record, test_execution) do %>
<div>
  <ul id="error_report_toc" class="nav nav-tabs">
    <li class="active"><a href="#test_summary" data-toggle="tab">Summary</a></li>
    <li class=""><a href="#test_measure_errors" data-toggle="tab">Errors</a></li>
    <li class=""><a href="#test_measure_qrda_errors" data-toggle="tab">QRDA Errors</a></li>

    <% if !test_execution.new_record %>
      <%= link_to "Download", download_test_execution_path(test_execution.id), title: "Download the results of this test execution", class: "cmd pull-right" %>
    <% end %> 
  </ul>
  <div id="test_result_tabs" class="tab-content">
    <div class="tab-pane active" id="test_summary">
      <section>
        <dl class="dl-horizontal">
          <dt><strong>Test Date:</strong></dt> <dd class="strong"><%= test_execution.created_at %></dd>
          <dt><strong>Inspection ID: </strong></dt> <dd><%= test_execution.product_test.product.vendor.name %></dd>
          <dt><strong>Errors:</strong></dt> <dd class="fail strong"><%= test_execution.count_errors %></dd>
        </dl>
      </section>
      <h5 style="margin-top:2em">Test Execution Notes</h5>
      <p>Test execution notes and addenda should appear here.</p>
    </div>


  <% 
  qrda = test_execution.artifact.nil? ? nil : test_execution.artifact.file.read 
  execution_errors = test_execution.execution_errors
  doc, error_map, error_attributes =  match_errors(qrda,execution_errors) %>

    <div class="tab-pane" id="test_measure_errors">
      <!-- %# render :partial => 'calculated_product_test/errors', :locals => { :errors => test_execution.execution_errors} %> -->
      <h4>Errors</h4>
      <% 
      grouped_errors = execution_errors.by_validation_type(:result_validation).by_type(:error).group_by{|m| {measure_id: m.measure_id, stratification: m.stratification}}
      %>
       <ol class="validation_list">
        <% grouped_errors.each do |measure,errs| 
          %>

        <li>
        <% mes = Measure.where(:hqmf_id=>measure[:measure_id], "population_ids.stratification" => measure[:stratification]).first %>
        <!--  -->
        <% if mes %>
          <span> <a href="#<%=mes.key%>" ><%= mes.display_name %>: HQFM_ID: <%= mes.hqmf_id %> <%= (measure[:stratification])? "Stratification ID #{measure[:stratification]}": "" %> </a></span>
         <% else %>
          <span> </span>
         <% end %>
           <ul>
          <% 
            messages = errs.collect{|e| e.message}
            messages.uniq.each do |e| 
          %>   
            <li  class="err_group" >
              <%= e %>
            </li>
          <% end %>
          </ul>
          <br>
        </li>

        <% end %>
      </ol>

    </div>

    <div class="tab-pane" id="test_measure_qrda_errors">
      <h4>QRDA Errors</h4>
      <%= render :partial=>'test_executions/error_list', :locals=>{grouped_errors: execution_errors.by_validation_type(:xml_validation).by_type(:error).group_by(&:validator), error_map:error_map } %>
    </div>
 
  </div><!-- end #test_result_tabs -->
    <% grouped_passing = group_measures_by_type(test_execution.passing_measures)
       grouped_failing = group_measures_by_type(test_execution.failing_measures)
    %>
      <section id="quality_measures">
        <h5><span class="pass">PASSING</span> MEASURES</h5>
        <% if test_execution.passing_measures.count == 0 %>
          <p>There are no passing measures for this test</p>
        <% else %>
          <%= render partial: "/test_executions/results" , locals: {test_execution: test_execution, measures:grouped_passing[:proportional]} %>
          <%= render partial: "/test_executions/continuous_results" , locals: {test_execution: test_execution, measures:grouped_passing[:continuous]} %>
        <% end %>
        <h5><span class='fail'>FAILING</span> MEASURES</h5>
        <% if test_execution.failing_measures.count == 0 %>
          <p>There are no failing measures for this test</p>
        <% else %>
          <%= render partial: "/test_executions/results" , locals: {test_execution: test_execution, measures: grouped_failing[:proportional]} %>
          <%= render partial: "/test_executions/continuous_results" , locals: {test_execution: test_execution, measures:grouped_failing[:continuous]} %>
        <% end %>
      </section>


  
  <div id="xml_frame">
    <%= render :partial=>"test_executions/subnav"%>  
    <h3>Vendor Generated XML</h3>
    <%= render :partial=>"test_executions/node" , :locals=>{:doc=>doc, :error_map=>error_map, :error_attributes=>error_attributes, :execution_errors=>execution_errors}%>
  </div>
</div>

<% end %>