<%

# local variables:
#
#   task
#   current_task   (boolean)

%>

<% c3 = task.product_test.product.c3_test %>
<% execution = task.most_recent_execution %>

<% panel_class = current_task ? 'panel-primary' : 'panel-inactive' %>
<% task_status = task.product_test.is_a?(MeasureTest) ? task.status_with_sibling : task.status %>

<div class = 'col-sm-4'>
  <div class = 'panel <%= panel_class %> task-panel'>
    <div class = 'panel-heading'>
      <h1 class = 'panel-title text-center'><%= task_type_to_title(task._type, c3) %></h1>
    </div>
    <div class = 'panel-body'>
      <dl class = 'dl-horizontal'>
      <% get_error_counts(execution, task).each do |error_name, num_errors| %>
        <dt><%= error_name %></dt>
        <dd class = 'text-nowrap'><%= num_errors || "--" %></dd>
      <% end %>
      <dt>Execution Date</dt>
      <dd class = 'text-nowrap'><%= execution ? date_of_execution(execution) : '--' %></dd>
      </dl>

      <% if execution %>
        <div class = 'col-sm-6 text-center margin-top-1'>
          <% unless current_task %>
            <span class = 'nested-link text-primary'><%= task_status == 'passing' || task_status == 'failing' || task_status == 'errored' ? 'view' : 'start' unless current_task %></span>
          <% end %>
        </div>
        <div class = 'col-sm-6 text-left margin-top-1'>
          <% if task_status == 'passing' %>

            <%= icon('fas text-success', 'check', :"aria-hidden" => true) %><strong class = 'text-success'> Passing</strong>
          <% elsif task_status == 'failing' %>
            <%= icon('fas text-danger', 'times', :"aria-hidden" => true) %><strong class = 'text-danger'> Failing</strong>
          <% elsif task_status == 'errored' %>
            <%= icon('fas text-warning', 'exclamation', :"aria-hidden" => true) %><strong class = 'text-warning'> Internal Error</strong>
          <% else # incomplete (in progress b/c execution exists) %>
            <strong class = 'text-info'>In Progress...</strong>
          <% end %>
        </div>
      <% else %>
        <div class = 'col-sm-12 margin-top-1 text-center nested-link'>
          <span class = 'nested-link text-primary <%= 'invisible' if current_task %>'>start</span>
        </div>
      <% end %>
    </div>
  </div>
</div>
