<%

# local variable 'task'

%>

<div class = 'col-sm-4'>
  <h1>Test Information</h1>
  <strong>Measure: </strong><span><%= @task.product_test.name %></span><br/>
  <strong>HQMF ID: </strong><span><%= @task.product_test.measure_ids.join(',') %></span><br/>
  <strong>CMS ID: </strong><span><%= @task.product_test.cms_id %></span><br/>

  <br/>
  <% unless @task._type == 'C1ManualTask' %>
  <%= link_to 'View Patients', { controller: 'records', task_id: @task.id}, method: :get %>
  <% if APP_CONFIG['enable_debug_features'] %>
  <br/>
  <%= link_to 'Get Known Good Result', good_results_task_path(@task), data: { no_turbolink: true } %>
  <% end %>
  <% end %>
</div>
