<%

# local variable 'task'

%>

<div class = 'col-sm-4'>
  <h1>Test Information</h1>
  <strong>Measure: </strong><span><%= @task.product_test.name %></span><br/>
  <strong>HQMF ID: </strong><span><%= @task.product_test.measure_ids.join(',') %></span><br/>
  <strong>CMS ID: </strong><span><%= @task.product_test.cms_id %></span><br/>

  <% # display provider information if the product test is a measure test %>
  <% if task.product_test.class == MeasureTest %>
    <% provider = task.product_test.provider %>
    <% unless provider.nil? %>
      <br/>
      <% { 'Name' => "#{provider.family_name}, #{provider.given_name}", 'NPI' => provider.npi, 'TIN' => provider.tin }.each do |label, value| %>
        <strong><%= "Provider #{label}: " %></strong><span><%= value %></span><br/>
      <% end %>
    <% end %>
  <% end %>

  <br/>
  <% unless @task._type == 'C1ManualTask' %>
  <%= link_to 'View Patients', { controller: 'records', task_id: @task.id}, method: :get %>
  <% if APP_CONFIG['enable_debug_features'] %>
  <br/>
  <%= link_to 'Get Known Good Result', good_results_task_path(@task), data: { no_turbolink: true } %>
  <% end %>
  <% end %>
</div>
