<% # currently only used by product show page for ajax call to create test execution %>

<% # set product for /products/measure_tests_table partial %>
<% @product = @test_execution.task.product_test.product %>

<% # set PATH_INFO so AJAX call can be made in /products/measure_tests_table partial. this AJAX call is for reloading each product_test_link %>
<% request.env['PATH_INFO'] = vendor_product_path(@product.vendor_id, @product) %>

<% is_measure_test_execution = @curr_task.product_test.is_a? MeasureTest %>
<% if is_measure_test_execution %>
  <div data-controller="measure-tests-table-row" data-url="<%= request.path %>" data-task="<%= task.id.to_s %>" data-has-eh-tests="<%= has_eh_tests %>" data-has-ep-tests="<%= has_ep_tests %>"></div>
<% else # is filtering test execution %>
  <%# $.ajax({url: "<%= request.env['PATH_INFO'] %>", type: "GET", dataType: 'script', data: { partial: 'filtering_test_link', task_id: "<%= params[:task_id] %>", has_eh_tests: "<%= @has_eh_tests%>", has_ep_tests: "<%= @has_ep_tests%>" }}); %>
  <div data-controller="filtering-test-link" data-url="<%= request.path %>" data-task="<%= task.id.to_s %>"></div>
<% end %>
