<% displaying_cat1 = displaying_cat1?(@task) %>
<% viewing_measure_test = @task.product_test._type == 'MeasureTest' %>

<% if viewing_measure_test %>
  <% cat1_task = @task.product_test.tasks.c1_task %>
  <% cat3_task = @task.product_test.tasks.c2_task %>
<% else %>
  <% cat1_task = @task.product_test.tasks.cat1_filter_task %>
  <% cat3_task = @task.product_test.tasks.cat3_filter_task %>
<% end %>

<%= render partial: 'application/certification_bar', locals: { product: @product_test.product, active_certs: current_certifications(@task._type, @product_test.product.c3_test) } %>

<div class = 'row'>
  <%= render partial: 'test_info', locals: { task: @task } %>
  <%= render partial: 'task_status_wrapper', locals: { task: cat1_task, current_task: displaying_cat1 } if cat1_task %>
  <%= render partial: 'task_status_wrapper', locals: { task: cat3_task, current_task: !displaying_cat1 } if cat3_task %>
</div>

<div class = 'row margin-top-1'>
  <div class = 'col-sm-4'>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title test-step">
          1 <i class="fa fa-fw fa-bolt" aria-hidden="true"></i>  Download Test Deck
        </h1>
      </div>
      <div class="panel-body">
        <div id = 'display_execution_download'>
          <%= render partial: 'execution_download', locals: { product_test: @product_test } %>
        </div>
      </div>
    </div>
  </div>

  <div class = 'col-sm-8'>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title test-step">
          2 <i class="fa fa-fw fa-bolt" aria-hidden="true"></i>  Upload files
        </h1>
      </div>
      <div class="panel-body">
        <p class = 'description' id='execution_upload_label'>
          <%= "Upload results from the EHR system in the form of a #{get_upload_type(displaying_cat1)} to get test results. This will automatically run a test execution." %>
        </p>
        <%= render partial: 'execution_upload', locals: { task: @task, label: 'execution_upload_label' } %>
      </div>
    </div>
  </div>
</div>

<% if @task.most_recent_execution %>
  <div class = 'panel panel-default' id = 'results_panel'>
    <div class = 'panel-heading'>
      <h1 class='panel-title'>
        Results
        <div class = 'pull-right'>
          <select id="select_execution" aria-label="View test execution">
            <% @task.test_executions.sort_by { |obj| obj.created_at }.reverse.each_with_index do |execution, i| %>
              <option value = <%= task_test_execution_path(@task, execution) %> <%= 'selected="selected"' if execution.id == @test_execution.id %>><%= get_select_history_message(execution, i == 0) %></option>
            <% end %>
          </select>
          <button id="view_execution" class="btn btn-xs btn-info">Refresh View</button>
        </div>
      </h1>
    </div>
    <div class = 'panel-body' id = 'display_execution_results' >
      <%= render partial: 'execution_results', locals: { execution: @test_execution } %>
    </div>
  </div>
<% end %>
