
<% certification_types = get_certification_types(@task) %>
<% other_certification_types = get_other_certification_types(@task) %>
<% upload_type = get_upload_type(@task) %>
<% other_task = get_other_task(@task) %>

<h3 class = 'page-title'><%= "#{certification_types} certification for #{@product_test.cms_id} #{@product_test.name}" %></h3>

<div class = 'row'>
  <div class = 'col-sm-8'>
    <div class = 'panel panel-default'>
      <div class = 'panel-heading'>
        Product Information
      </div>
      <div class = 'panel-body'>
        <%= "Vendor: #{@product_test.product.vendor.name}" %><br/>
        <p><%= "Product: #{@product_test.product.name}" %></p>
      </div>
    </div>
  </div>

  <% # if the other (c1 or c2) task exists, then display a button to switch to that task %>
  <% if other_task %>
    <div class = 'col-sm-4'>
      <%= button_to "Switch to #{other_certification_types} certification", "/tasks/#{other_task.id}/test_executions/new", method: 'get', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>

<div class = 'row'>
  <div class = 'col-sm-4'>
    <div class="well well-sm test-step">
      <h2>[1] Download Test Deck</h2>
      <div id = 'display_execution_download'>
        <%= render partial: 'execution_download', locals: { product_test: @product_test } %>
      </div>
    </div>
  </div>

  <div class = 'col-sm-8'>
    <div class="well well-sm test-step">
      <h2><%= "[2] Upload for _______" %></h2>
      <p class = 'description'>
        <%= "Upload your #{upload_type} file to get test results for #{certification_types} certifications. This will automatically run a test execution." %>
      </p>
      <%= render partial: 'execution_upload', locals: { task: @task } %>
    </div>
  </div>
</div>

<% if @task.most_recent_execution %>
  <div class = 'panel panel-default' id = 'results_panel'>
    <div class = 'panel-heading'>
      <h2>
        Results
        <label class = 'pull-right'>
          <select onchange = "location = this.options[this.selectedIndex].value;">
            <% @task.test_executions.sort_by { |obj| obj.created_at }.reverse.each_with_index do |execution, i| %>
              <option value = <%= "/tasks/#{@task.id}/test_executions/#{execution.id}" %> <%= 'selected="selected"' if execution.id == @test_execution.id %>><%= get_select_history_message(execution, i == 0) %></option>
            <% end %>
          </select>
        </label>
      </h2>
    </div>
    <div class = 'panel-body' id = 'display_execution_results' >
      <%= render partial: 'execution_results', locals: { execution: @test_execution } %>
    </div>
  </div>
<% end %>
