<%= content_for(:body_attributes) do %>data-no-turbolink<% end %>

<% displaying_cat1 = displaying_cat1?(@task) %>
<% viewing_measure_test = @task.product_test._type == 'MeasureTest' %>
<% if viewing_measure_test %>
  <% cat1_task = @task.product_test.tasks.c1_task %>
  <% cat3_task = @task.product_test.tasks.c2_task %>
<% else %>
  <% cat1_task = @task.product_test.tasks.cat1_filter_task %>
  <% cat3_task = @task.product_test.tasks.cat3_filter_task %>
<% end %>
<%= render partial: 'application/certification_bar', locals: { product: @product_test.product, active_certs: current_certifications(@task._type, @product_test.product.c3_test) } %>
<div class="panel clearfix">
  <%= button_to new_task_test_execution_path(iterate_task(@task, 'prev').id), :method => :get, :class => "btn btn-default pull-left" do %>
    <i class="fa fa-fw fa-step-backward" aria-hidden="true"></i> Previous Test: <%= iterate_task(@task, 'prev').product_test.cms_id %>
  <% end %>
  <%= button_to new_task_test_execution_path(iterate_task(@task, 'next').id), :method => :get, :class => "btn btn-default pull-right" do %>
    Next Test: <%= iterate_task(@task, 'next').product_test.cms_id %> <i class="fa fa-fw fa-step-forward" aria-hidden="true"></i>
  <% end %>
</div>
<div class = 'row'>
  <%= render partial: 'test_info', locals: { task: @task } %>
  <%= render partial: 'task_status_wrapper', locals: { task: cat1_task, current_task: displaying_cat1 } if cat1_task %>
  <%= render partial: 'task_status_wrapper', locals: { task: cat3_task, current_task: !displaying_cat1 } if cat3_task %>
</div>

<div class = 'test-steps'>
  <% if viewing_measure_test %>
    <% steps = [
      { title: 'Download Test Deck', partial: 'execution_download', disable: false, disable_msg: '' },
      { title: 'Upload Files', partial: 'execution_upload', disable: @task.product_test.state == :errored, disable_msg: 'Cannot upload files to an errored test.' }
      ] %>
  <% elsif @task.product_test._type == 'FilteringTest' %>
    <% steps = [
      { title: 'Download Test Deck', partial: 'execution_download', disable: false, disable_msg: '' },
      { title: 'Filter Patients', partial: 'filter_instructions', disable: false, disable_msg: '' },
      { title: 'Upload Files', partial: 'execution_upload', disable: @task.product_test.state == :errored, disable_msg: 'Cannot upload files to an errored test.' }
      ] %>
  <% elsif @task.product_test._type == 'ChecklistTest' %>
    <% steps = [
      { title: 'Upload Files', partial: 'execution_upload', disable: @task.product_test.state == :errored, disable_msg: 'Cannot upload files to an errored test.' }
      ] %>
  <% end %>

  <% steps.each_with_index do |step, index| %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title test-step">
          <%= index + 1 %> <i class="fa fa-fw fa-bolt" aria-hidden="true"></i> <%= step.title %>
        </h1>
      </div>
      <div class="panel-body">
        <%= render partial: step.partial, locals: { disable: step.disable, disable_msg: step.disable_msg, product_test: @product_test, task: @task } %>
      </div>
    </div>
  <% end %>
</div>

<% if @task._type == "C2Task" && !hide_patient_calculation? %>
  <%= render partial: 'c2_expected_results', locals: { task: @task } %>
<% end %> 

<% if @task.most_recent_execution %>
  <div class = 'panel panel-<%= execution_status_class(@test_execution) %>' id = 'results_panel'>
    <div class = 'panel-heading'>
      <h1 class='panel-title'>
        Results
        <div class = 'pull-right'>
          <select id="select_execution" aria-label="View test execution">
            <% @task.test_executions.sort_by { |obj| obj.created_at }.reverse.each_with_index do |execution, i| %>
              <option value = <%= task_test_execution_path(@task, execution) %> <%= 'selected="selected"' if execution.id == @test_execution.id %>><%= get_select_history_message(execution, i == 0) %></option>
            <% end %>
          </select>
          <button id="view_execution" class="btn btn-xs btn-<%= execution_status_class(@test_execution) %>">Refresh View</button>
        </div>
      </h1>
    </div>
    <div class = 'panel-body' id = 'display_execution_results' >
      <%= render partial: 'execution_results', locals: { execution: @test_execution } %>
    </div>
  </div>
<% end %>
