<%= content_for(:body_attributes) do %>data-no-turbolink<% end %>

<% displaying_cat1 = displaying_cat1?(@task) %>
<% viewing_measure_test = @task.product_test.is_a? MeasureTest %>
<% if viewing_measure_test %>
  <% cat1_task = @task.product_test.tasks.c1_task %>
  <% cat3_task = @task.product_test.tasks.c2_task %>
<% else %>
  <% cat1_task = @task.product_test.tasks.cat1_filter_task %>
  <% cat3_task = @task.product_test.tasks.cat3_filter_task %>
<% end %>
<%= render partial: 'application/certification_bar', locals: { product: @product_test.product, active_certs: current_certifications(@task._type, @product_test.c3_test, @product_test.eh_measures?, @product_test.ep_measures?) } %>
<% unless @task.is_a?(C1ChecklistTask) || @task.is_a?(C3ChecklistTask) %>
  <div class="clearfix">
    <%= button_to new_task_test_execution_path(iterate_task(@task, 'prev').id), :method => :get, :class => "btn btn-default float-start" do %>
      <%= icon('fas fa-fw', 'step-backward', :"aria-hidden" => true) %> Previous Test: <%= iterate_task(@task, 'prev').product_test.button_short_name %>
    <% end %>
    <%= button_to new_task_test_execution_path(iterate_task(@task, 'next').id), :method => :get, :class => "btn btn-default float-end" do %>
      Next Test: <%= iterate_task(@task, 'next').product_test.button_short_name %> <%= icon('fas fa-fw', 'step-forward', :"aria-hidden" => true) %>
    <% end %>
  </div>
<% end %>
<div class = 'row'>
  <%= render 'test_info', :task => @task %>
  <%= render 'task_status_wrapper', :task => cat1_task, :current_task => displaying_cat1 if cat1_task %>
  <%= render 'task_status_wrapper', :task => cat3_task, :current_task => !displaying_cat1 if cat3_task %>
</div>

<div class = 'test-steps'>
  <% if viewing_measure_test %>
    <% steps = [
      { title: 'Download Test Deck', partial: 'execution_download', disable: false, disable_msg: '' },
      { title: 'Upload Files', partial: 'execution_upload', disable: @task.product_test_state == :errored, disable_msg: 'Cannot upload files to an errored test.' }
      ] %>
   <% elsif @task.product_test.is_a? MultiMeasureTest %>
    <% steps = [
      { title: 'Download Test Deck', partial: 'execution_download', disable: false, disable_msg: '' },
      { title: 'Upload Files', partial: 'execution_upload', disable: @task.product_test_state == :errored, disable_msg: 'Cannot upload files to an errored test.' }
      ] %>
  <% elsif @task.product_test.is_a? CMSProgramTest %>
    <% steps = [
      { title: 'Upload Files', partial: 'execution_upload', disable: @task.product_test_state == :errored, disable_msg: 'Cannot upload files to an errored test.' }
      ] %>
  <% elsif @task.product_test.is_a? FilteringTest %>
    <% steps = [
      { title: 'Download Test Deck', partial: 'execution_download', disable: false, disable_msg: '' },
      { title: 'Filter Patients', partial: 'filter_instructions', disable: false, disable_msg: '' },
      { title: 'Upload Files', partial: 'execution_upload', disable: @task.product_test_state == :errored, disable_msg: 'Cannot upload files to an errored test.' }
      ] %>
  <% elsif @task.product_test.is_a? ChecklistTest %>
    <% steps = [
      { title: 'Upload Files', partial: 'execution_upload', disable: @task.product_test_state == :errored, disable_msg: 'Cannot upload files to an errored test.' }
      ] %>
  <% end %>

  <% steps.each_with_index do |step, index| %>
    <div class="card card-info">
      <div class="card-header">
        <h1 class="card-title lead test-step">
          <%= index + 1 %> <%= icon('fas fa-fw', 'bolt', :"aria-hidden" => true) %> <%= step.title %>
        </h1>
      </div>
      <div class="card-body">
        <%= render step.partial, :disable => step.disable, :disable_msg => step.disable_msg, :product_test => @product_test, :task => @task %>
      </div>
    </div>
  <% end %>
</div>

<%= render 'expected_results', :task => @task if should_display_expected_results(@task) %>

<% if @task.most_recent_execution %>
  <div class = 'card card-<%= execution_status_class(@test_execution) %>' id = 'results_panel'>
    <div class = 'card-header'>
      <h1 class='card-title lead'>
        Results
        <div class = 'float-end'>
          <select id="select_execution" aria-label="View test execution">
            <% total_test_executions = @task.test_executions.size %>
            <% @task.test_executions.sort_by { |obj| obj.created_at }.reverse.each_with_index do |execution, i| %>
              <option value = <%= task_test_execution_path(@task, execution) %> <%= 'selected="selected"' if execution.id == @test_execution.id %>><%= get_select_history_message(execution, i, total_test_executions) %></option>
            <% end %>
          </select>
          <button id="view_execution" class="btn btn-xs btn-<%= execution_status_class(@test_execution) %>">Refresh View</button>
        </div>
      </h1>
    </div>
    <div class = 'card-body' id = 'display_execution_results' >
      <%= render 'execution_results', :execution => @test_execution %>
    </div>
  </div>
<% end %>
