<% codes = []
  data_code = ""
  entry.codes.each do |code_set, code|
    data_code = "#{code[0]}_#{entry.time}"
    data_code = data_code.gsub(/\./, '')
    codes << "#{code_set}: #{code[0]}"
  end
  
  if codes.length > 1
    first_td_class = "code_expander"
  end
%>
   
<tr>
  <td class="<%= first_td_class %>" data-code="<%= data_code %>"></td>
  <td class="patient_entry <%= first_td_class %>" data-code="<%= data_code %>">
    <%= codes.pop %>
    <div id="<%= data_code %>" class="sub_rows" style="display: none">
      <% codes.each do |code| %>
        <span><%= code %></span>
      <% end %>
    </div>
  </td>
  <td class="patient_entry"><%= entry.description %></td>
  <td class="patient_entry"><%# There will be more complex logic to highlight values -%>
    <% val = entry.values.present? ? entry.values.first : nil %>
     <% if val %>
      <%= val['scalar'] %>

      <%= val['units'] %>
    <% end -%>
  </td>
  
   <td>
    <% 
      (entry.attributes.keys.reject {|key| ['codes', 'time', 'description', 'mood_code', 'values', '_id', '_type', 'start_time', 'end_time', 'status_code', 'negationInd', 'oid'].include? key}).each do |field|
      field_value = convert_field_to_hash(field, entry.attributes[field])

    %>
        <% if field_value && !field_value.empty? %> 
        <dl>
          <% if field_value.is_a? Hash %>
            <dt><b><%= field.titleize %>:</b></dt>
            <% field_value.keys.each do |fieldkey| %>
              <dd><%= fieldkey %>: <i><%= field_value[fieldkey] %></i></dd>
            <% end %>
          <% else %>
            <dt><b><%= field.titleize %></b>: <%= field_value%></dt>
          <% end %>
        <dl>
      <% end %>
    <%
      end
    %>
  </td>
  <td class="patient_entry"><time datetime="<%= display_time(entry.as_point_in_time) %>"><%= display_times(entry) %></time></td>

</tr>