<% codes = []
  data_code = ""
  entry.codes.each do |code_set, code|
    data_code = "#{code[0]}_#{entry.time}"
    data_code = data_code.gsub(/\./, '')
    codes << "#{code_set}: #{code[0]}"
  end
  
  if codes.length > 1
    first_td_class = "code_expander"
  end
%>
   
<tr>
  <td class="<%= first_td_class %>" data-code="<%= data_code %>"></td>
  <td class="patient_entry">
    <%= codes.pop %>
    <div id="<%= data_code %>" class="sub_rows">
      <% codes.each do |code| %>
        <span><%= code %></span>
      <% end %>
    </div>
  </td>
  <td class="patient_entry"><%= entry.description %></td>
  <td class="patient_entry"><%# There will be more complex logic to highlight values -%>
    <% val = entry.values.present? ? entry.values.first : nil %>
     <% if val %>
      <%= val['scalar'] %>

      <%= val['units'] %>
    <% end -%>
  </td>
  <td class="patient_entry"><time datetime="<%= display_time(entry.as_point_in_time) %>"><%= display_times(entry) %></time></td>
</tr>