<tr>
  <td><%= code_display(entry.codes)%></td>
  <td><%= entry.description %></td>
  <td>
  <% if entry.value.present? -%>
    <strong><%= entry.value['scalar']%></strong>
  <% end -%>
  </td>
  <td>
  <% if entry.value.present? && entry.value['units'].present?-%>
    <%= entry.value['units'] %>
  <% end -%>
  </td>
  <td><time datetime="<%= display_time(entry.time) %>"><%= display_time(entry.time) %></time></td>
</tr>