<% content_for :head do %>

  <script type="text/javascript">
    var bundle_id
    $(function() {
      $('#loading_dialog').dialog({
        autoOpen: false,
        closeOnEscape: false,
        draggable: false,
        modal: true,
        resizable: false,
        open: function(event, ui) { $(".ui-dialog-titlebar-close").hide()}
      });
    });

    function openLoadingDialog(){
      $('#loading_dialog').dialog('open');
    }
    setTimeout("openLoadingDialog()",400);

    $(document).ready(function() {
      $("#bundle_id").change(function(){
        var b_id = $("option:selected", $(this)).val();
        window.location = "<%= patients_path%>?bundle_id="+b_id;
      });

  	  <% if params[:measure_id] != nil %>
  	    $.getJSON("<%=measure_definition_url(:measure_id => params[:measure_id])%>", $.cypress.renderMeasureJSON);
      <% end %>
      <% if @test  %>
        <% if @result && @result['numerator']=='?' %>
          $.cypress.addPoll("<%= patients_path(:measure_id => @selected.id, :product_test_id => @test.id ) %>",
                            "<%= table_patients_path(:measure_id => @selected.id, :product_test_id => @test.id,:execution=> params[:execution], :showAll => @showAll) %>")
        <% elsif @showAll%>
          $.cypress.updatePatientTable("<%= table_all_patients_path(:product_test_id => @test.id,:execution=> params[:execution]) %>")
        <% else %>
          $.cypress.updatePatientTable("<%= table_measure_patients_path(:measure_id => @selected.id, :product_test_id => @test.id,:execution=> params[:execution]) %>")
        <% end %>
      <% else %>
        <% if @result && @result['numerator']=='?' %>
          $.cypress.addPoll("<%= patients_path(:measure_id => @selected.id ) %>", "<%= table_patients_path(:measure_id => @selected.id, :showAll => @showAll) %>")
        <% elsif @showAll == true%>
          $.cypress.updatePatientTable("<%= table_all_patients_path(:bundle_id=> params[:bundle_id] || Bundle.active.first.id) %>")
        <% else %>
          $.cypress.updatePatientTable("<%= table_measure_patients_path(:measure_id => @selected.id) %>")
        <% end %>
      <% end %>

      var hidden  = true;
      $('#measureEditContainer').slideUp();

  	  $('.measure_definition').click(function(){
    	  if(hidden){
          $('#measureEditContainer').slideDown(500);
          $('#show_hide').text("Hide Definition");
    		}
    	  else{
    	    $('#measureEditContainer').slideUp(500);
    		  $('#show_hide').text("Expand Definition");
    		}
  		  hidden = !hidden;
  	  });

    });
  </script>

  <script type="text/html" id="ph_tmpl_paramItem">
    <div>
      <!-- ${percentage=Math.round(Math.random()*100,2)} -->
      {{if category}}<label>${category}</label>{{/if}}
      ${title}
    </div>
  </script>
  <script type="text/html" id="ph_tmpl_paramGroupContainer">
    <div class="paramGroupContainer">
    </div>
  </script>
  <script type="text/html" id="ph_tmpl_paramGroup">
    <div class="paramGroup"><div class="paramItem">
    </div>
  </script>
  <script type="text/html" id="ph_tmpl_data_criteria_logic">
    <div class='paramText logicLeaf' {{if id}}id='${id}'{{/if}}>
      {{if operator}}<label>${operator}</label>{{/if}}
      {{if category}}<label>${category}</label>{{/if}}{{if standard_category}}<label>${standard_category}</label>{{/if}}
      ${title} ${temporalText}
    </div>
  </script>
<% end %>

<div id="loading_dialog" title="Loading...">
  <p>Please wait while the patients are retrieved.</p>
</div>

<div id="container">
  <%= render :partial=>"shared/header" %>

  <div class="buffered">
    <section class="tb">
      <% if @test
        zip_qrda_path = download_product_test_path(@test, :format => 'qrda')
        zip_html_path = download_product_test_path(@test, :format => 'html')
      else
        zip_qrda_path = download_patients_path(:format => 'qrda', :bundle_id=>@bundle.id)
        zip_html_path = download_patients_path(:format => 'html', :bundle_id=>@bundle.id)
      end %>

      <%= link_to 'Download', '', {
        :id => 'download_menu',
        :class => "cmd",
        :onmouseover => "$.cypress.showMenu($('#download_menu'), $('#download_options'));"
      } %>
      <ul id="download_options" role="listbox"
        class="ui-menu ui-widget ui-widget-content ui-corner-all dialog-menu" aria-activedescendant="ui-active-menuitem">
        <li class="ui-menu-item" role="menuitem">
          <%= link_to "Patients as QRDA Cat I", zip_qrda_path, { :class => "ui-corner-all", :tabindex => "-1" } %>
        </li>
        <li class="ui-menu-item" role="menuitem">
          <%= link_to "Patients as HTML", zip_html_path, { :class => "ui-corner-all", :tabindex => "-1" } %>
        </li>
      </ul>

      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %>
        <% if @test %>
          <%= link_to @vendor.name, vendor_path(@vendor) %> &raquo;
          <%= link_to @product.name, product_path(@product) %> &raquo;
          <%= link_to @test.name, product_test_path(@test, :execution_id => params[:execution])  %> &raquo;
          <%= link_to "Patient List", patients_path(:product_test_id => @test.id, :execution_id => params[:execution]) %>
        <% else %>
          <%= link_to "Master Patient List", patients_path %>
        <% end %>
      </nav>
    </section>

    <section class="nqf bordered buffered">
      <h2>
        <% if @test %>
          <%= @test.name %> Patient List
        <% else %>
          Master Patient List
        <% end %>
      </h2>
      <% unless @test %>
        <%= select_tag(:bundle_id, options_for_select(Bundle.active.order_by({version: 1}).collect{|b| ["#{b.title} - #{b.version}",b.id]},@bundle.id), :style=>"width: 300px;") %>
      <% end %>
    </section>

    <% cache("index-" + @bundle.version, skip_digest: true ) do %>
    <div class="tabs">
      NQF #
      <% @measures_categories.sort.each do |category, measures| %>
        <ul>
          <li><b><%= category %></b></li>
          <% measures.each do |measure_def| %>
            <li>
              <a href="<%= patients_path(:product_test_id => @test, :measure_id=>measure_def.id,:execution=> params[:execution], :bundle_id=>@bundle.id) %>"
                title="<%= "#{measure_def.name}" %><%= " - #{measure_def.subtitle}" if measure_def.sub_id %><%= ": #{measure_def.description}" %>"
                class="<%= 'selected' if !@showAll and @selected.id==measure_def.id %>"><%= "#{measure_def['cms_id']}" %>  NQF:<%= "#{measure_def.nqf_id}" %> <br><%= truncate("#{measure_def.subtitle}") %>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <section id="patient_list">
      <% if @selected and !@showAll %>
	      <section class="measure bordered buffered">
          <dl class="dl-horizontal quality-measures">
            <dt class="measure_title">Quality Measure:</dt>
            <dd class="measure_title"><%= @selected.name %><%= " - #{@selected.subtitle}" if @selected.sub_id %></dd>
            <dt class="measure_definition">Definition:</dt>
            <dd class="measure_definition" id="show_hide">Expand Definition</dd>
            <div id="measureEditContainer">
              <div id="eligibilityMeasures">
                <h3>Denominator</h3>
                <div class="measureBox">
                  <div id="eligibilityMeasureItems">
                  </div>
                </div>
              </div>
              <div id="outcomeMeasures">
                <h3>Numerator</h3>
                <div class="measureBox">
                  <div id="outcomeExclusionMarker" class="exclusionTab" style="display:none">
                    0 Exclusions
                  </div>
                  <div id="outcomeMeasureItems">
                  </div>
                  <div id="exclusionMeasureItems">
                  </div>
                </div>
              </div>
            </div>
          </dl>
          <dl class=" dl-horizontal measure">
            <dt>Expected Reports:</dt>
            <dd>
              <table class="measure align-left">
                <% if @selected %>

                <thead>
                 <tr>
                <% if @selected.continuous? %>
                  <th></th>
                   <th>Patients</th>
                   <th>Measure Poplulation</th>
                   <th>Observation Value</th>
                <% else %>
                  <th></th>
                   <th>Patients</th>
                   <th>Denominator</th>
                   <th>Den. Exclusions</th>
                   <th>Numerator</th>
                   <th>Exceptions</th>
                   <th>out</ht>
                <% end %>
                  </tr>
                 </thead>


                <% if @result %>
                <tr id='<%= "#{@selected.id}" %>'>
                  <td>&nbsp;</td>
                  <td> <span class="den"><%= @result['IPP'] %></span></td>
                  <% if @selected.continuous? %>
                  <td> <span class="num"><%= @result['MSRPOPL'] %></span></td>
                  <% else %>
                  <td> <span class="den"><%= @result['DENOM'] %></span></td>
                  <td> <span class="exc"><%= @result['DENEX'] %></span></td>
                  <td> <span class="num"><%= @result['NUMER'] %></span></td>
                  <td> <span class="exc"><%= @result['DENEXCEP'] %></span></td>
                  <td> <span class="exc"><%= @result['antinumerator'] %></span></td>
                  </tr>

                  <% end %>
                 <% end %>
                <% else %>
                  <tr id='all_measures'>
                 </tr>

                  <% end %>
                </table>
            </dd>
          </dl>
        </section>
      <% end %>
      <section id="product_test_patients">
      </section>
    </section>
    <% end %>
  </div>
</div><!-- end #container -->
