<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      <% if @result['numerator']=='?' %>
        $.cypress.addPoll("<%= patients_path(:measure_id=>@selected.id) %>", "<%= table_patients_path(:measure_id=>@selected.id) %>")
      <% else %>
        $.cypress.updatePatientTable("<%= table_patients_path(:measure_id=>@selected.id) %>")
      <% end %>
    });
  </script>
<% end %>
<div id="container">
  <%= render :partial=>"shared/header" %>

  <div>
    <section class="tb">
      <%= link_to "Download C32s", zipc32_patients_path, {:class=>"cmd"} %>
      <%= link_to "Download CCRs", zipccr_patients_path, {:class=>"cmd"} %>
      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <span>Master Patient List</span>
      </nav>
    </section>
    <section class="nqf">
      <h2>Master Patient List</h2>
    </section>
      <div class="tabs" style="display:block">
        NQF #
        <ul>
        <% @measures.each do |measure_def| %>
          <li><a href="<%= patients_path(:measure_id=>measure_def.id) %>" class="<%= 'selected' if @selected.id==measure_def.id %>"><%= "#{measure_def['id']}#{measure_def.sub_id}" %></a></li>
        <% end %>
        </ul>
      </div>
    <section id="patient_list">
      <section class="measure">
        <dl>
          <dt class="measure_title">Quality Measure:</dt>
          <dd class="measure_title"><%= @selected.name %><%= " - #{@selected.subtitle}" if @selected.sub_id %></dd>
          <dd class="measure_desc"><%= @selected.description %></dd>
        </dl>
        <dl>
          <dt>Expected Reports:</dt>
          <dd><table>
            <tr id='<%= "#{@selected.id}" %>'>
            <th>DEN:</th><td> <span class="den"><%= @result['denominator'] %></span></td>
            <th>NUM:</th><td> <span class="num"><%= @result['numerator'] %></span></td>
            <th>EXC:</th><td> <span class="exc"><%= @result['exclusions'] %></span></td>
            <th>OUT:</th><td> <span class="out"><%= @result['antinumerator'] %></span></td>
            </tr>
            </table>
          </dd>
        </dl>
      </section>
    
    <section id="vendor_patients">
    </section>

  </section>
</div>
</div><!-- end #container -->     