	<div id="container">
	<header>
		<h1>cypress</h1>
		<nav>
			<a href="account.html">account</a>
			<a href="about.html">about</a>
			<a href="feedback.html">feedback</a>
			<a href="help.html">help</a>
			<a href="logout.html">logout</a>
		</nav>
	</header>
	<div>
		<nav class="breadcrumb">
			<a href="home.html">Home</a>  &raquo;
			<a href="ctb.html">Certification Test Bed</a> &raquo;
			<span>Patient information</span>
		</nav>
		<section class="patient">
			<div>
			<img src="/images/patient_photo.png" width="100" height="130" style="position:absolute;top:0;left:0">
			<span style="margin-left:120px;position:relative;top:0"><strong><%= @patient.last %></strong>, <%= @patient.first %></span>
			<dl>
				<dt>Gender</dt><dd><%= @patient.gender %></dd>
				<dt>DOB</dt><dd><%= Time.at(@patient.birthdate).strftime('%m/%d/%Y') %></dd>
			</dl>
			</div>
			<a href="next_vendor.html" class="advance">next patient</a>
		</section>

		<section id="patient_nqf">
			<table>
				<thead>
					<tr>
						<th>NQF #</th>
						<th>N/A</th>
						<th>IP</th>
						<th>DEN</th>
						<th>NUM</th>
						<th>EX</th>
					</tr>
				</thead>
				<tbody>
				  <% @results.each do |result| %>
					<tr>
						<td><%= "#{result.value.measure_id}#{result.value.sub_id}" %></td>
						<td><%= raw result_to_markup(!result.value.population?) %></td>
						<td><%= raw result_to_markup(result.value.population?) %></td>
						<td><%= raw result_to_markup(result.value.denominator?) %></td>
						<td><%= raw result_to_markup(result.value.numerator?) %></td>
						<td><%= raw result_to_markup(result.value.exclusions?) %></td>
					</tr>
				  <% end %>
				</tbody>
			</table>
		</section>
		<section id="patient_characteristics">
			<table>
				<tbody>
					<tr>
						<th colspan="6">Patient Characteristics</th>
					</tr>
					<tr>
						<td>tobacco user
						<td><strong>NO</strong>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<th colspan="6">Care Goal</th>
					</tr>
					<tr>
						<td>V65.3
						<td>follow up BMI management plan
						<td>
						<td>
						<td>
						<td><time datetime="2010-12-23">12/23/2010</time>
					</tr>
				</tbody>
				<tbody>
					<tr>
						<th colspan="6">Physical Exam Findings
					</tr>
					<tr>
						<td>22517007
						<td>BMI
						<td>
						<td><strong>28</strong>
						<td>
						<td><time datetime="2010-12-23">12/23/2010
					</tr>
					<tr>
						<td>364075005
						<td>heart rate
						<td>
						<td><strong>72</strong>
						<td>bpm
						<td><time datetime="2010-12-23">12/23/2010
					</tr>		
					<tr>
						<td>
						<td>
						<td>
						<td><span class="na">86</span>
						<td><span class="na">bpm</span>
						<td><time datetime="2010-08-03" class="na">08/03/2010
					</tr>		
					<tr>
						<td>12929001
						<td>systolic bp
						<td>
						<td><strong>134</strong>
						<td>mmHg
						<td><time datetime="2010-12-23">12/23/2010
					</tr>		
					<tr>
						<td>
						<td>
						<td>
						<td><span class="na">119</span>
						<td><span class="na">mmHg</span>
						<td><time datetime="2010-08-03" class="na">08/03/2010
					</tr>		
					<tr>
						<td>163031004
						<td>diastolic bp
						<td>
						<td><strong>86</strong>
						<td>mmHg
						<td><time datetime="2010-12-23">12/23/2010
					</tr>		
					<tr>
						<td>
						<td>
						<td>
						<td><span class="na">75</span>
						<td><span class="na">mmHg</span>
						<td><time datetime="2010-08-03" class="na">08/03/2010
					</tr>
				</tbody>
				<tbody>
				<tr>
					<th colspan="6">Laboratory test
				</tr>
				<tr>
					<td>12773-8
					<td>LDL cholesterol
					<td>
					<td><strong>140</strong>
					<td>mg/dL
					<td><time datetime="2010-12-23">12/23/2010
				</tr>
				</tbody>
				<tbody>
				<tr>
					<td>
					<td>
					<td>
					<td><span class="na">155</span>
					<td><span class="na">mmHg</span>
					<td><time datetime="2010-08-03" class="na">08/03/2010
				</tr>
				<tr>
					<th colspan="6">Diagnostic study</th>
				</tr>
				<tr>
					<td>78300
					<td>bone scan
					<td>
					<td>
					<td>
					<td><time datetime="2001-06-02">06/02/2001</time>
				</tr>
				</tbody>
				<tbody>
				<tr>
					<th colspan="6">Communication</th>
				</tr>
				<tr>
					<td>103699006
					<td>dietary consultation
					<td>
					<td>
					<td>
					<td><time datetime="2010-12-23">12/23/2010
				</tr>
				</tbody>
				<tbody>
				<tr>
					<th colspan="6">Encounters</th>
				</tr>
				<tr>
					<td>Q_c68
					<td>outpatient
					<td>
					<td>
					<td>
					<td><time datetime="2010-12-23">12/23/2010
				</tr>
				<tr>
					<td>
					<td>
					<td>
					<td>
					<td>
					<td><time datetime="2010-08-03" class="na">08/03/2010
				</tr>
				<tr>
					<td>0036
					<td>acute inpatient
					<td>
					<td>
					<td>
					<td><time datetime="2009-02-18" class="na">02/18/2009
				</tr>
				</tbody>
				<tbody>
				<tr>
					<th colspan="6">Diagnosis</th>
				</tr>
				<tr>
					<td>410.0
					<td>hypertension
					<td>
					<td>
					<td>
					<td><time datetime="2008-05-06">05/06/2008
				</tr>
				<tr>
					<td>A_c118
					<td><span class="na">myocardial infarction</span> <span class="status">Resolved</span>
					<td>
					<td>
					<td>
					<td><time datetime="209-02-18">02/18/2009
				</tr>
				</tbody>
				<tbody>
				<tr>
					<th colspan="6">Procedure</th>
				</tr>
				<tr>
					<td>33140
					<td>cardiac surgery
					<td>
					<td>
					<td>
					<td><time datetime="2009-02-19">02/19/2009
				</tr>
				</tbody>
				<tbody>
				<tr>
					<th colspan="6">Medications</th>
				</tr>
				<tr>
					<td>104302
					<td>beta blocker therapy
					<td>metoprolol 25mg po qd
					<td>
					<td>
					<td><time datetime="2009-02-25">02/25/2009
				</tr>
				<tr>
					<td>104301
					<td>lipid lowering therapy
					<td>lipitor 10mg po qa
					<td>
					<td>
					<td><time datetime="2010-08-30">08/20/2010
				</tr>
				<tr>
					<td>N_c1087
					<td>pneumococcal vaccine
					<td>
					<td>
					<td>
					<td><time datetime="2010-12-23">12/23/2010
				</tr>
				<tr>
					<td>
					<td>
					<td>
					<td>
					<td>
					<td><time datetime="2009-12-20" class="na">12/20/2009
				</tr>
				<tr>
					<td>857924
					<td>influenza vaccine
					<td>
					<td>
					<td>
					<td><time datetime="2010-12-23">12/23/2010
				</tr>
				</tbody>
			</table>
		</section>
	</div>
</div><!-- end #container -->			
</body>