<%= javascript 'patients' %>

<div id="container">
  <%= render :partial=>"shared/header" %>

  <div>
    <section class="tb">
      <div class="stacked">
        <%= link_to 'Download', '', {
          :id => 'download_menu',
          :class => "cmd",
          :onmouseover => "$.cypress.showMenu($('#download_menu'), $('#download_options'));"
        } %>
        <ul id="download_options" style="display: none" role="listbox"
            class="ui-menu ui-widget ui-widget-content ui-corner-all dialog-menu" aria-activedescendant="ui-active-menuitem">
          <li class="ui-menu-item" role="menuitem">
            <%= link_to "Patient as C32", download_patient_path(@patient, :format => 'c32'), { :class => "ui-corner-all", :tabindex => "-1" } %>
          </li>
          <li class="ui-menu-item" role="menuitem">
            <%= link_to "Patient as CCR", download_patient_path(@patient, :format => 'ccr'), { :class => "ui-corner-all", :tabindex => "-1" } %>
          </li>
          <li class="ui-menu-item" role="menuitem">
            <%= link_to "Patient as CSV", download_patient_path(@patient, :format => 'csv'), { :class => "ui-corner-all", :tabindex => "-1" } %>
          </li>
          <li class="ui-menu-item" role="menuitem">
            <%= link_to "Patient as HTML", download_patient_path(@patient, :format => 'html'), { :class => "ui-corner-all", :tabindex => "-1" } %>
          </li>
        </ul>
      </div>

      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <% if @test %>
          <%= link_to @vendor.name, vendor_path(@vendor) %> &raquo;
          <%= link_to @product.name, product_path(@product) %> &raquo;
          <%= link_to @test.name, product_test_path(@test, :execution_id => params[:execution]) %>
        <% else %>
          <%= link_to 'Master Patient List', patients_path %>
        <% end %>
      </nav>
    </section>

    <section id="patient_nqf">

      <table>
        <colgroup  class="nqf">
          <col />
          <col />
          <col />
          <col />
        </colgroup>
        <thead style="position:relative;">
          <tr class="rot">
            <th><div>NQF #</div></th>
            <th><div>DEN</div></th>
            <th><div>NUM</div></th>
            <th><div>EX</div></th>
            <th><div>OUT</div></th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |result| %>
            <% if result.value.population %>
              <tr>
                <td title="<%= "#{@product.measure_map[result.value.measure_id + (result.value.sub_id.nil? ? "" : result.value.sub_id)] if @product}" %>">
                  <%= "#{result.value.measure_id}#{result.value.sub_id}" %>
                </td>
                <td <%= raw result_to_class(result.value.denominator?) %>></td>
                <td <%= raw result_to_class(result.value.numerator?) %>></td>
                <td <%= raw result_to_class(result.value.exclusions?) %>></td>
                <td <%= raw result_to_class(result.value.antinumerator?) %>></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </section>
    <div id="effectiveDate">effective date: 03/31/11</div>
    <section class="patient">
      <div>
        <img src="<%= patient_picture(@patient) %>" width="120" height="130" style="position:absolute;top:0;left:0">
        <span class="patientname"><strong><%= @patient.last %></strong>, <%= @patient.first %></span>
        <dl>
          <dt>Gender</dt><dd><%= @patient.gender %></dd>
          <dt>DOB</dt><dd><%= display_time(@patient.birthdate) %></dd>
          <dt>Race</dt><dd><%= race(@patient) %></dd>
          <dt>Ethnicity</dt><dd><%= ethnicity(@patient) %></dd>
        </dl>
      </div>
    </section>

    <% patient_characteristics = {
      'allergies' => 'Allergies',
      'care_goals' => 'Care Goals',
      'vital_signs' => 'Vital Signs',
      'results' => 'Laboratory Tests',
      'encounters' => 'Encounters',
      'conditions' => 'Conditions',
      'procedures' => 'Procedures',
      'medications' => 'Medications',
      'social_history' => 'Social History',
      'immunizations' => 'Immunizations',
      'medical_equipment' => 'Medical Equipment'
    } %>

    <section id="patient_characteristics">
      <table>
        <% patient_characteristics.each do |characteristic, characteristic_title| %>
          <tbody>
            <tr>
              <th colspan="5"><%= characteristic_title %></th>
            </tr>
            <%= render :partial => 'entries', :locals => { :collection => characteristic } %>
          </tbody>
        <% end %>
      </table>
    </section>
    <footer id="ccattribution">
    </footer>
  </div>
</div><!-- end #container -->
