  <div id="container">
  <header>
    <h1>cypress</h1>
    <nav>
      <a href="account.html">account</a>
      <a href="about.html">about</a>
      <a href="feedback.html">feedback</a>
      <a href="help.html">help</a>
      <%= link_to('Logout', destroy_user_session_path) %>
    </nav>
  </header>
  <div>
    <nav class="breadcrumb">
      <a href="home.html">Home</a>  &raquo;
      <a href="ctb.html">Certification Test Bed</a> &raquo;
      <span>Patient information</span>
    </nav>
    <section class="patient">
      <div>
      <img src="/images/patient_photo.png" width="100" height="130" style="position:absolute;top:0;left:0">
      <span style="margin-left:120px;position:relative;top:0"><strong><%= @patient.last %></strong>, <%= @patient.first %></span>
      <dl>
        <dt>Gender</dt><dd><%= @patient.gender %></dd>
        <dt>DOB</dt><dd><%= display_time(@patient.birthdate) %></dd>
      </dl>
      </div>
      <a href="next_vendor.html" class="advance">next patient</a>
    </section>

    <section id="patient_nqf">
      <table>
        <thead>
          <tr>
            <th>NQF #</th>
            <th>N/A</th>
            <th>IP</th>
            <th>DEN</th>
            <th>NUM</th>
            <th>EX</th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |result| %>
          <tr>
            <td><%= "#{result.value.measure_id}#{result.value.sub_id}" %></td>
            <td><%= raw result_to_markup(!result.value.population?) %></td>
            <td><%= raw result_to_markup(result.value.population?) %></td>
            <td><%= raw result_to_markup(result.value.denominator?) %></td>
            <td><%= raw result_to_markup(result.value.numerator?) %></td>
            <td><%= raw result_to_markup(result.value.exclusions?) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </section>
    <section id="patient_characteristics">
      <table>
        <tbody>
          <tr>
            <th colspan="6">Allergies</th>
          </tr>
          <%= render :partial => 'entry', :collection => @patient.allergies %>
        </tbody>
        <tbody>
          <tr>
            <th colspan="6">Care Goal</th>
          </tr>
          <%= render :partial => 'entry', :collection => @patient.care_goals %>
        </tbody>
        <tbody>
          <tr>
            <th colspan="6">Vital Signs</th>
          </tr>
          <%= render :partial => 'entry', :collection => @patient.vital_signs %>
        </tbody>
        <tbody>
        <tr>
          <th colspan="6">Laboratory test
        </tr>
        <%= render :partial => 'entry', :collection => @patient.results %>
        </tbody>
        <tbody>
        <tr>
          <th colspan="6">Encounters</th>
        </tr>
        <%= render :partial => 'entry', :collection => @patient.encounters %>
        </tbody>
        <tbody>
        <tr>
          <th colspan="6">Conditions</th>
        </tr>
        <%= render :partial => 'entry', :collection => @patient.conditions %>
        </tbody>
        <tbody>
        <tr>
          <th colspan="6">Procedure</th>
        </tr>
        <%= render :partial => 'entry', :collection => @patient.procedures %>
        </tbody>
        <tbody>
        <tr>
          <th colspan="6">Medications</th>
        </tr>
        <%= render :partial => 'entry', :collection => @patient.medications %>
        </tbody>
      </table>
    </section>
  </div>
</div><!-- end #container -->     
</body>