<%= javascript 'patients' %>

<div id="container">
  <%= render :partial=>"shared/header" %>

  <div class="buffered">
    <section class="tb">
      <div class="stacked">
        <%= link_to 'Download', '', {
          :id => 'download_menu',
          :class => "cmd",
          :onmouseover => "$.cypress.showMenu($('#download_menu'), $('#download_options'));"
        } %>
        <ul id="download_options" style="display: none" role="listbox"
            class="ui-menu ui-widget ui-widget-content ui-corner-all dialog-menu" aria-activedescendant="ui-active-menuitem">
          <li class="ui-menu-item" role="menuitem">
            <%= link_to "Patient as QRDA Cat I", download_patient_path(@patient, :format => 'qrda'), { :class => "ui-corner-all", :tabindex => "-1" } %>
          </li>

          <li class="ui-menu-item" role="menuitem">
            <%= link_to "Patient as HTML", download_patient_path(@patient, :format => 'html'), { :class => "ui-corner-all", :tabindex => "-1" } %>
          </li>
        </ul>
      </div>

      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <% if @test %>
          <%= link_to @vendor.name, vendor_path(@vendor) %> &raquo;
          <%= link_to @product.name, product_path(@product) %> &raquo;
          <%= link_to @test.name, product_test_path(@test, :execution_id => params[:execution]) %>
        <% else %>
          <%= link_to 'Master Patient List', patients_path(bundle_id: @patient.bundle.id) %>
        <% end %>
      </nav>
    </section>

    <section id="patient_nqf">

      <table id="patient_measures" class="table">
        <colgroup  class="nqf">
          <col />
          <col />
          <col />
          <col />
        </colgroup>
        <thead style="position:relative;">
          <tr class="rot">
            <th><div>CMS/NQF #</div></th>
            <th><div>POP</div></th>
            <th><div>DEN&nbsp;/&nbsp;MSRPOPL</div></th>
            <th><div>NUM</div></th>
            <th><div>EXCL</div></th>
            <th><div>EXCP</div></th>
            <th><div>OUT</div></th>
          </tr>
        </thead>
        <tbody>

          <% @results.each do |result| %>
            <% if result.value['IPP'] %>
              <tr>
				<td title="<%= "#{(result.value['sub_id'].nil? ? "" : result.value['sub_id']) if @product}" %>">
          <% measure = Measure.where(:hqmf_id => result.value.measure_id).first %> 
                 <%= link_to "#{measure['cms_id']} #{measure.nqf_id} #{result.value['sub_id']}" %>
                </td>
                <%= population_marker(result.value[QME::QualityReport::POPULATION])%>
                <%= population_marker((result.value[QME::QualityReport::DENOMINATOR] || result.value[QME::QualityReport::MSRPOPL]))%>
                <%= population_marker(result.value[QME::QualityReport::NUMERATOR])%>
                <%= population_marker(result.value[QME::QualityReport::EXCLUSIONS] )%>
                <%= population_marker(result.value[QME::QualityReport::EXCEPTIONS] )%>
                <%= population_marker(result.value[QME::QualityReport::ANTINUMERATOR])%>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </section>
    <div id="effectiveDate">effective date: <%= display_time(@effective_date) %></div>
    <section class="patient bordered buffered">
	
      <div class="offset2">
        <span class="patientname" ><strong><%= @patient.last %></strong>, <%= @patient.first %> <% if @patient.original_record %> <strong>Original Record</strong> <%= @patient.original_record.last %></strong>, <%= @patient.original_record.first %> <% end %></span>  <br>
        <dl class="dl-horizontal patient">
          <dt>Gender</dt><dd><%= @patient.gender %></dd>
          <dt>DOB</dt><dd><%= display_time(@patient.birthdate) %></dd>
          <dt>Race</dt><dd><%= race(@patient) %></dd>
          <dt>Ethnicity</dt><dd><%= ethnicity(@patient) %></dd>
        </dl>
     </div>
    </section>

    <% patient_characteristics = {
      'allergies' => 'Allergies',
      'care_goals' => 'Care Goals',
      'vital_signs' => 'Vital Signs',
      'results' => 'Laboratory Tests',
      'encounters' => 'Encounters',
      'conditions' => 'Conditions',
      'procedures' => 'Procedures',
      'medications' => 'Medications',
      'social_history' => 'Social History',
      'immunizations' => 'Immunizations',
      'medical_equipment' => 'Medical Equipment'
    } %>

    <section id="patient_characteristics">
      <table class="table">
        <% patient_characteristics.each do |characteristic, characteristic_title| %>
          <tbody>
            <tr>
              <th colspan="6"><%= characteristic_title %></th>
            </tr>
            <%= render :partial => 'entries', :locals => { :collection => characteristic } %>
          </tbody>
        <% end %>
      </table>
    </section>
    <footer id="ccattribution">
    </footer>
  </div>
</div><!-- end #container -->
