  
<table id="patient_subset" class="table">
  <colgroup  class="nqf">
  <col />
  <col />
  <col />
  <col />
  </colgroup>
  <thead style="position:relative;">
    <tr class="rot">
   <% if @showAll %>
     <th><div></div></th>
      <th><div></div></th>
      <th><div></div></th>
      <th><div></div></th>
   <% else%>
<% if !@selected.population_ids[QME::QualityReport::MSRPOPL] %>
      <th><div>POP</div></th>
      <th><div>DEN</div></th>
      <th><div>NUM</div></th>
      <th><div>EXCL</div></th>
      <th><div>EXCP</div></th>
      <th><div>OUT</div></th>
    <% else %>
      <th><div>POP</div></th>
      <th><div>MSRPOP</div></th>
    <% end %>   
   <% end %>
      <th></th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>DOB</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
  <% if !@patients.nil? %>
    <% if @showAll %>
      <% @patients.each do |patient| %>
        <tr>
          <td style="background: none"></td>
          <td style="background: none"></td>
          <td style="background: none"></td>
          <td style="background: none"></td>
          <td></td>
          <td><a href="<%= patient_url(patient.id,:execution=> params[:execution]) %>"><%= patient.last %></td>
          <td><a href="<%= patient_url(patient.id,:execution=> params[:execution]) %>"><%= patient.first %></td>
          <td><%= display_time(patient.birthdate) %></td>
          <td><%= patient.gender %></td>
        </tr>
      <% end %>
    <% else %>
 <% @patients.each do |patient| 
    
      %>
      <% if patient.value['IPP'] %>
        <tr>
         <% if !@selected.population_ids[QME::QualityReport::MSRPOPL] %>
          <%= population_marker(patient.value[QME::QualityReport::POPULATION])%>
          <%= population_marker(patient.value[QME::QualityReport::DENOMINATOR])%>
          <%= population_marker(patient.value[QME::QualityReport::NUMERATOR])%>
          <%= population_marker(patient.value[QME::QualityReport::EXCLUSIONS] )%>
          <%= population_marker(patient.value[QME::QualityReport::EXCEPTIONS] )%>
          <%= population_marker(patient.value[QME::QualityReport::ANTINUMERATOR])%>
      <% else %>
          <%= population_marker(patient.value[QME::QualityReport::POPULATION] )%>
          <%= population_marker(patient.value[QME::QualityReport::MSRPOPL])%>
      <% end %>
          <td></td>
          <td><%= link_to patient.record.last, patient_url(patient.record.id) %></td>
          <td><%= link_to patient.record.first, patient_url(patient.record.id) %></td>
          <td><time datetime="<%= display_time(patient.record.birthdate) %>">
            <%= display_time(patient.record.birthdate) %>
          </time></td>
          <td><%= patient.record.gender %></td>
        </tr>
      <% end %>
    <% end %>
    <% end %>
  <% else %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>No Patients Found</td>
  </tr>
  <% end %>
  </tbody>
</table>
