<div id="login_dialog">
  <div id="cap-top"></div>
  <div id="cap-body">
    <div id="branding">
      <%= image_tag("/assets/cypress_big_logo.png", :id => 'imgLogo', :title => 'Cypress sure is sorry...', :alt => 'cypress logo') %>
    </div>
    <div class="panel">
      <h1 class="error">Oops! Sorry about this...</h1>
      <p>
        We ran into an error and weren't able to handle your request. If the problem persists, please send an e-mail to 
        cypress-dev-list@lists.mitre.org that describes what steps led to the issue along with the error details provided below so we can help resolve it.
      </p>
      <p class="align-right">
        Thank you very much,<br />
        The Cypress Team
      </p>
    </div>
    <div class="panel" >
       <span><a href="#" onclick="$('#error').toggle()">Expand Error Details </a></span>
    </div> 
    <div id="error" style="display:none">
      <h1>
        <%=h @exception.class.to_s %>
        <% if request.parameters['controller'] %>
          in <%=h request.parameters['controller'].camelize %>Controller<% if request.parameters['action'] %>#<%=h request.parameters['action'] %><% end %>
        <% end %>
      </h1>
      <pre><%=h @exception.message %></pre>

      <% traces = [
          ["Full Trace", @exception.backtrace]
        ]
        names = traces.collect {|name, trace| name}
      %>

      <p><code>Rails.root: <%= defined?(Rails) && Rails.respond_to?(:root) ? Rails.root : "unset" %></code></p>

      <div id="traces">
        <% names.each do |name| %>
          <%
            show = "document.getElementById('#{name.gsub(/\s/, '-')}').style.display='block';"
            hide = (names - [name]).collect {|hide_name| "document.getElementById('#{hide_name.gsub(/\s/, '-')}').style.display='none';"}
          %>
          <a href="#" onclick="<%= hide.join %><%= show %>; return false;"><%= name %></a> <%= '|' unless names.last == name %>
        <% end %>

        <% traces.each do |name, trace| %>
          <div id="<%= name.gsub(/\s/, '-') %>" >
            <pre><code><%=h trace.join "\n" %></code></pre>
          </div>
        <% end %>
      </div>


       <% unless @exception.blamed_files.blank? %>
        <% if (hide = @exception.blamed_files.length > 8) %>
          <a href="#" onclick="document.getElementById('blame_trace').style.display='block'; return false;">Show blamed files</a>
        <% end %>
        <pre id="blame_trace" <%='style="display:none"' if hide %>><code><%=h @exception.describe_blame %></code></pre>
      <% end %>

      <%
        clean_params = request.filtered_parameters.clone
        clean_params.delete("action")
        clean_params.delete("controller")

        request_dump = clean_params.empty? ? 'None' : clean_params.inspect.gsub(',', ",\n")

        def debug_hash(hash)
          hash.sort_by { |k, v| k.to_s }.map { |k, v| "#{k}: #{v.inspect rescue $!.message}" }.join("\n")
        end unless self.class.method_defined?(:debug_hash)
      %>

      <h2 style="margin-top: 30px">Request</h2>
      <p><b>Parameters</b>: <pre><%=h request_dump %></pre></p>

      <p><a href="#" onclick="document.getElementById('session_dump').style.display='block'; return false;">Show session dump</a></p>
      <div id="session_dump" style="display:none"><pre><%= debug_hash request.session %></pre></div>

      <p><a href="#" onclick="document.getElementById('env_dump').style.display='block'; return false;">Show env dump</a></p>
      <div id="env_dump" style="display:none"><pre><%= debug_hash request.env.slice(*request.class::ENV_METHODS) %></pre></div>


      <h2 style="margin-top: 30px">Response</h2>
      <p><b>Headers</b>: <pre><%=h defined?(response) ? response.headers.inspect.gsub(',', ",\n") : 'None' %></pre></p>

    </div>
    
  </div>
  <div id="cap-bottom"></div>
</div>