<%

# local variables:
#
#   cert_hash      (Hash) should contain 'href' and certification hashes containing 'display_name', number of 'passing', 'failing', 'not_started', and 'total'
#   display_name   (String) title of certification specifics popup
#   cert_status    (String) should be 'passing', 'failing', or 'not_started'

%>

<div class = 'certification-specifics tab-pane' id = '<%= cert_hash.href %>'>
  <div class = 'pull-right'><a href = '<%= "##{cert_hash.href}" %>' class = 'close-certification-specifics'><i class = 'fa fa-fw fa-lg fa-times'></i></a></div>
  <h1><%= "#{display_name} | " %><strong class = '<%= status_to_css_class(cert_status) %>'><%= cert_status %></strong></h1>
  <table class = 'table table-condensed'>
    <thead>
      <tr>
        <th class = 'col-sm-3'>Test Type</th>
        <th class = 'col-sm-3'>Failing</th>
        <th class = 'col-sm-3'>Not Started</th>
        <th class = 'col-sm-3'>Passing</th>
      </tr>
    </thead>
    <tbody>
      <% # only iterate through tests for a certification (not iterate through extraneous information like 'href') %>
      <% cert_hash.select { |test_key, test_val| test_val.is_a?(Hash) && test_val.has_key?('display_name') }.each do |test_key, test_val| %>
        <tr>
          <td><%= test_val.display_name %></td>
          <td><span class = 'text-danger'><%= "#{test_val.failing} failing" unless test_val.failing == 0 %></span></td>
          <td><span class = 'text-info'><%= "#{test_val.not_started} not started" unless !test_val.has_key?('not_started') || test_val.not_started == 0 %></span></td>
          <td><span class = 'text-success'><%= "#{test_val.passing} passing" unless test_val.passing == 0 %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>