<%

# local variables:
#
#   cert_type   (String) should be 'C1', 'C2', 'C3', or 'C4'
#   cert_hash   (Hash)   should contain number of 'passing', 'failing', 'not_started', and 'total'

%>

<table class='table table-condensed'>
  <thead>
    <tr>
      <% cert_hash.each_value do |test_value| %>
        <th scope="col" class="text-center col-xs-6">
          <%= test_value['display_name'] %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% %w(passing failing not_started).each do |status| %>
      <% classes = status_to_css_classes(status.capitalize) %>
      <tr>
        <% cert_hash.each_value do |test_value| %>
          <td class="<%= classes['cell'] unless test_value[status] == 0 %> text-center">
            <i aria-hidden="true" class="fa fa-fw <%= classes['icon'] %>"></i>
            <%= test_value[status] %>
            <span class="sr-only">
              <%= test_value['display_name'] %>
              <%= 'test'.pluralize(test_value[status]) %>
              <%= status.humanize(capitalize: false) %>
              for <%= cert_type %> certification
            </span>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
