<% content_for :head do -%>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".expander").toggle(
        function() {
          $(this).addClass('open');
          var codeElement = $(this).data('code');
          var options = $("#" + codeElement);
          options.slideDown(1000);
        },
        function() {
          $(this).removeClass('open');
          var codeElement = $(this).data('code');
          var options = $("#" + codeElement);
          options.slideUp(500);
        });
      }
    );
</script>
<% end %>

<div id="upload_pqri_dialog">
  <%= form_for([:process_pqri, @vendor], :html => {:method => :post, :multipart => true}) do |f| %>
    <table>
      <tbody>
        <tr>
          <td class="first"></td>
          <td><%= f.label '', "PQRI File", :for => :vendor_pqri %></td>
          <td><%= f.file_field :pqri %></td>
        </tr>
        <tr id="advanced_options" class="hidden">
          <td></td>
          <td><%= f.label '', "Baseline PQRI File", :for => :vendor_pqri %></td>
          <td><%= f.file_field :baseline %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>