<tr id="vendor-status-<%=vendor.id%>">
  <td>
    <%= button_to vendor_favorite_path(vendor), remote: true, :class => "btn btn-link btn-pop" do %>
      <% if (vendor.favorite_user_ids.include? current_user.id)  %>
        <%= icon('fas fa-fw', 'star', :"aria-hidden" => true) %>
        <span class="sr-only">vendor favorited</span>
      <% else %>
        <%= icon('far fa-fw', 'star', :"aria-hidden" => true) %>
        <span class="sr-only">vendor not favorited</span>
      <% end %>
    <% end %>
  </td>
  <th scope="row"><div class = "abbreviated"><%= link_to vendor.name, vendor_path(vendor) %></div></th>
</tr>