<div class="panel panel-default">
<div class="panel-heading"><h1><%= submit_text %><%= @vendor.name ? ": "+ @vendor.name : "" %></h1></div>

<%= bootstrap_nested_form_for @vendor, html: {id: "add_vendor_form"} do |f| %>
  <div class="panel-body">
    <%= f.text_field :name, label: 'Vendor Name' %>
    <%= f.text_field :vendor_id, label: 'Vendor ID' %>
    <%= f.url_field :url, label: 'URL' %>
    <%= f.text_field :address %>
    <%= f.text_field :state %>
    <%= f.text_field :zip %>

    <%= f.fields_for :pocs do |poc_field| %>
      <div class="row">
        <%= poc_field.text_field :name, wrapper: { class: 'col-sm-3' }, label_class: 'poc-label', label: 'POC Name' %>
        <%= poc_field.email_field :email, wrapper: { class: 'col-sm-3' }, label_class: 'poc-label', label: 'Email' %>
        <%= poc_field.phone_field :phone, wrapper: { class: 'col-sm-3' }, label_class: 'poc-label', label: 'Telephone' %>
        <%= poc_field.text_field :contact_type, wrapper: { class: 'col-sm-2' }, label_class: 'poc-label', label: 'Type of Contact' %>
        <%= f.link_to_remove "Remove", :class => "btn btn-xs btn-danger", :type => "button" %>
      </div>
    <% end %>

    <%= f.link_to_add "Add Point of Contact", :pocs, :class => "btn btn-default", :type => "button" %></p>
  </div>

  <div class="panel-footer">
    <div class="pull-right">
      <%= submit_tag "Cancel", :class => "btn btn-danger", :type => "button", :onclick => "history.back()" %>
      <%= f.submit submit_text, :class => "btn btn-success", :id => "submit_button" %>
    </div>
    <div class="clearfix"></div>
  </div>
<% end %>

</div>
