<%= javascript 'vendors' %>
<%= form_for(@vendor, :html => { :method => submit_method(@vendor) }) do |f| %>
  <h1>Vendor Information</h1>
  <section class="buffered" id="vendorInfo">
    <dl class="dl-horizontal">
      <dt><span class="field_comment error">*</span>Vendor Name:</dt>
      <dd><%= f.text_field :name, :size=>"20", :class=>"required input-medium" %></dd>
      <dt>Vendor ID:</dt>
      <dd><%= f.text_field :vendor_id, :size=>"20", :class=>"req input-medium" %></dd>
      <dt>Url:</dt>
      <dd><%= f.text_field :url, :size=>"20", :class=>"req input-medium" %></dd>
      <dt>Address:</dt>
      <dd><%= f.text_field :address, :size=>"20", :class=>"req input-medium" %></dd>
      <dt>State:</dt>
      <dd><%= f.text_field :state, :size=>"20", :class=>"req input-medium" %></dd>
      <dt>ZIP:</dt>
      <dd><%= f.text_field :zip, :size=>"20", :class=>"req input-medium" %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>EHR POC:</dt>
      <dd><%= f.text_field :poc, :size=>"20", :class=>"req input-medium" %></dd>
      <dt>Email:</dt>
      <dd><%= f.text_field :email, :size=>"20", :class=>"req input-medium" %></dd>
      <dt>Phone:</dt>
      <dd><%= f.text_field :tel, :size=>"20", :class=>"req input-medium" %></dd>
      <dt>Fax:</dt>
      <dd><%= f.text_field :fax, :size=>"20", :class=>"req input-medium" %></dd>
    </dl>
  </section>

  <h2>alternate POCs</h2>
  <section class="buffered" id="altPOC">
    <dl class="dl-horizontal">
      <dt>Main EHR POC:</dt>
      <dd><%= f.text_field :accounts_poc, :size=>"20", :class=>"req input-medium" %></dd>
      <dt>Email:</dt>
      <dd><%= f.text_field :accounts_email, :size=>"20", :class=>"req input-medium" %></dd>
      <dt>Phone:</dt>
      <dd><%= f.text_field :accounts_tel, :size=>"20", :class=>"req input-medium" %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Technical POC:</dt>
      <dd><%= f.text_field :tech_poc, :size=>"20", :class=>"req input-medium" %></dd>
      <dt>Email:</dt>
      <dd><%= f.text_field :tech_email, :size=>"20", :class=>"req input-medium" %></dd>
      <dt>Phone:</dt>
      <dd><%= f.text_field :tech_tel, :size=>"20", :class=>"req input-medium" %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Press POC:</dt>
      <dd><%= f.text_field :press_poc, :size=>"20", :class=>"req input-medium" %></dd>
      <dt>Email:</dt>
      <dd><%= f.text_field :press_email, :size=>"20", :class=>"req input-medium" %></dd>
      <dt>Phone:</dt>
      <dd><%= f.text_field :press_tel, :size=>"20", :class=>"req input-medium" %></dd>
    </dl>
  </section>

  <div id="validationErrorMessages"></div>
  <a id="vendor_submit" class="cmd" onclick="$(this).parent().submit();"><%= submit_text(@vendor) %></a>
<% end %>