<div class="card card-default">
<div class="card-header"><h1 class='card-title lead'><%= submit_text %><%= vendor.name ? ": "+ vendor.name : "" %></h1></div>

<%= bootstrap_nested_form_for vendor, html: {id: "add_vendor_form", "data-parsley-validate": ''} do |f| %>
  <div class="card-body">
    <%= f.text_field :name, label: 'Vendor Name', autocomplete: 'off', required: '', 'data-parsley-required': '', 'data-parsley-trigger': 'change'%>
    <%= f.text_field :vendor_id, label: 'Vendor ID' %>
    <%= f.url_field :url, label: 'URL', 'data-parsley-type':"url", 'data-parsley-trigger': 'blur', autocorrect: 'off', autocapitalize: 'off' %>
    <%= f.text_field :address %>
    <%= f.text_field :state %>
    <%= f.text_field :zip, 'data-parsley-type': "digits", 'data-parsley-length': "[5, 5]", 'data-parsley-length-message': "This value should be a 5 digit US zip code.", 'data-parsley-trigger': 'blur' %>

    <div id="pocs">
      <%= f.fields_for :points_of_contact do |poc_field| %>
        <%= render 'poc_fields', f: poc_field %>
      <% end %>
    </div>

    <button type="button" id="add-poc">Add Point of Contact</button>
  </div>

  <div class="card-footer">
    <%= f.submit submit_text, :class => "btn btn-primary", :id => "submit_button" %>
    <%= submit_tag "Cancel", :class => "btn btn-outline-secondary", :type => "button", :onclick => "history.back()" %>
  </div>
<% end %>

</div>
<template id="new-poc-template">
  <div class="nested-fields">
    <input type="text" name="points_of_contact_attributes[name]" />
    <input type="text" name="points_of_contact_attributes[email]" />
    <input type="hidden" name="points_of_contact_attributes[_destroy]" value="false" />
    <button type="button" class="remove-poc">Remove</button>
  </div>
</template>