<% vendor_statuses = vendor_statuses(vendor) %>
<tr id="vendor-status-<%=vendor.id%>">
  <td>
    <%= button_to vendor_favorite_path(vendor), remote: true, :class => "btn btn-link btn-pop" do %>
      <% if (vendor.favorite_user_ids.include? current_user.id)  %>
        <i class="fas fa-fw fa-star" aria-hidden="true"></i>
        <span class="sr-only">vendor favorited</span>
      <% else %>
        <i class="far fa-fw fa-star" aria-hidden="true"></i>
        <span class="sr-only">vendor not favorited</span>
      <% end %>
    <% end %>
  </td>
  <th scope="row"><div class = "abbreviated"><%= link_to vendor.name, vendor_path(vendor) %></div></th>
  <td>
    <% if vendor_statuses['total'].zero? %>
      <%= button_to new_vendor_product_path(vendor), :method => :get, :class => "btn btn-primary btn-sm" do %>
        <i class="fa fa-fw fa-plus" aria-hidden="true"></i> Add Product
      <% end %>
    <% else %>
      <%= vendor_statuses['total'] %>
    <% end %>
  </td>

  <% %w(passing failing errored incomplete).each do |status| %>
    <% if vendor_statuses[status].positive? %>
      <% classes = status_to_css_classes(status) %>
      <td class="<%= classes['cell'] %> text-center">
        <%= vendor_statuses[status] %>
      </td>
    <% else %>
      <td></td>
    <% end %>
  <% end %>
  <td class="text-right">
    <%= button_to edit_vendor_path(vendor), :method => :get, :class => "btn btn-sm btn-default" do %>
      <i class="fa fa-fw fa-wrench" aria-hidden="true"></i> Edit Vendor
    <% end %>
  </td>
</tr>