<div id="container">
  <%= render :partial=>"shared/header" %>

  <div>
    <section class="tb">
      <%= link_to "Add EHR Vendor", new_vendor_path, {:class=>"cmd"} %>
      <%= link_to "Master Patient List", patients_path, {:class=>"cmd"} %>
      <nav class="breadcrumb">
        <span>Certification Dashboard</span>
      </nav>
    </section>

    <section id="ehr_results">
      <table>
        <% if @incomplete_vendors.length>0 %>
        <thead>
          <tr>
            <th colspan="2"><span class='fail'>Failing</span> EHR</th>
            <th>Measures</th>
            <th>POC</th>
            <th><span style="visibility:hidden">Phone</span></th>
            <th>Proctor</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="fail">
        <% @incomplete_vendors.each do |vendor| %>
          <tr>
            <td><div title="14%" class="fail">14%</div></td>
            <td><a href="<%= vendor_path vendor._id %>"><%= vendor.name %></a></td>
            <td><span class="f"><%= vendor.count_passing %></span> <span class="q">/ <%= vendor.measure_defs.size %></span></td>
            <td><%= vendor.poc %></td>
            <td><span class="phone"><%= vendor.tel %></span></td>
            <td><%= vendor.proctor %></td>
            <td><%= link_to 'delete', { :action => 'destroy', :id => vendor }, :class => 'cmd', :method => :delete, :confirm => 'Are you sure?' %></td>
          </tr>
        <% end %>
        </tbody>
        <% end %>

        <% if @complete_vendors.length>0 %>
        <thead>
          <tr>
            <th colspan="2"><span class="pass">Passing </span>EHR</th>
            <th>Measures</th>
            <th>POC</th>
            <th><span style="visibility:hidden">Phone</span></th>
            <th>Proctor</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @complete_vendors.each do |vendor| %>
          <tr>
            <td><div title="100%" class="pass">100%</div></td>
            <td><a href="<%= vendor_path vendor._id %>"><%= vendor.name %></a></td>
            <td><%= vendor.count_passing %> <span class="q">/ <%= vendor.measure_defs.size %></span></td>
            <td><%= vendor.poc %></td>
            <td><span class="phone"><%= vendor.tel %></span></td>
            <td><%= vendor.proctor %></td>
            <td><%= link_to 'delete', { :action => 'destroy', :id => vendor }, :class => 'cmd', :method => :delete, :confirm => 'Are you sure?' %></td>
          </tr>
        <% end %>
        </tbody>
        <% end %>
      </table>
    </section>
    <section class="legend">
      <dl>
        <dt>Error Report Indicators:</dt>
        <dd class="pass">passing
        <dd class="na">insufficient info
        <dd class="fail">failing
      </dl>
    </section>
</div>
</div><!-- end #container -->
