<div class="vendors index_vendor_page col-sm-12">

  <%= render :partial => 'alerts' %>
  <%= button_to "+ Add Vendor", new_vendor_path, :method => :get, :class => "btn btn-primary pull-right" %>

  <section>
    <table class="table table-sm">
      <thead>
        <tr>
          <th class = "col-sm-1">Status</th>
          <th class = "col-sm-3">Vendor</th>
          <th class = "col-sm-2 number_col">Passing Products</th>
          <th class = "col-sm-2 number_col">Failing Products</th>
          <th class = "col-sm-2 number_col">Incomplete Products</th>
          <th class = "col-sm-2 number_col">Total Products</th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @vendors.each do |vendor| %>
          <tr>
            <td>
              <% if vendor.passing_products == vendor.total_products %>
                <%= image_tag('checkmark.svg', :class => "mark_img") %>
              <% else %>
                <%= image_tag('errormark.svg', :class => "mark_img") %>
              <% end %>
            </td>
            <td><%= link_to vendor.name, vendors_path(vendor)        %></td>
            <td class = "number_col"><%= vendor.passing_products     %></td>
            <td class = "number_col"><%= vendor.failing_products     %></td>
            <td class = "number_col"><%= vendor.incomplete_products  %></td>
            <td class = "number_col"><%= vendor.total_products       %></td>
            <td><%= button_to "Edit Vendor", edit_vendor_path(vendor), :method => :get, :class => "btn btn-xs btn-default pull-right" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>

</div>
