<% if !@vendors || @vendors.empty? %>
  <p class="lead">
    Start EHR Certification with
    <%= button_to new_vendor_path, :method => :get, :class => "btn btn-primary btn-lg" do %>
      <i class="fa fa-fw fa-plus" aria-hidden="true"></i> Add Vendor
    <% end %>
  </p>
<% else %>
  <%= button_to new_vendor_path, :method => :get, :class => "btn btn-primary pull-right" do %>
    <i class="fa fa-fw fa-plus" aria-hidden="true"></i> Add Vendor
  <% end %>

  <h1>All Vendors</h1>
  <table class="table styled-status-table">
    <thead>
      <tr>
        <th scope="col">Vendor</th>

        <% %w(passing failing errored incomplete total\ products).each do |status| %>
          <th scope="col" class = "vendor-status text-center"><%= status.titleize %></th>
        <% end %>

        <th scope="col"><span class="sr-only">Actions</span></th>
      </tr>
    </thead>
    <tbody>
      <% @vendors.each do |vendor| %>
        <tr>
          <th scope="row"><div class = "abbreviated"><%= link_to vendor.name, vendor_path(vendor) %></div></th>

          <% vendor_hash = vendor_statuses(vendor) %>
          <% %w(passing failing errored incomplete total).each do |status| %>
            <%= render partial: 'status_cells', locals: { status_hash: vendor_hash, status: status } %>
          <% end %>

          <td class="text-right">
            <%= button_to edit_vendor_path(vendor), :method => :get, :class => "btn btn-sm btn-default" do %>
              <i class="fa fa-fw fa-wrench" aria-hidden="true"></i> Edit Vendor
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
