<%cache @vendors do %>
<%= javascript 'vendors' %>

<div id="container" class="container">
  <%= render :partial=>"shared/header" %>

  <div class="buffered">
    <section id="pageButtons">
      <%= link_to "Add EHR Vendor", new_vendor_path, {:class=>"cmd"} %>
      <%= link_to "Master Patient List", patients_path, {:class=>"cmd"} %>
      <nav class="breadcrumb">
        <span>Certification Dashboard</span>
      </nav>
    </section>

    <section class="information bordered">
      <p>
        Welcome to Cypress! This is the Certification Dashboard that displays the names of the EHR vendors and the status of their products being tested.
        You can begin by adding an EHR vendor or simply explore the complete Cypress Test Deck by clicking on "Master Patient List" above.
      </p>
    </section>

    <section id="vendor_list">
      <table class="table">
        <thead>
          <tr>
            <th><!-- expander toggle column --></th>
            <th>EHR Vendor Name</th>
            <th>Products Tested</th>
            <th>Passing</th>
            <th>Not Passing</th>
            <th>Date of Last Test</th>
            <th></th>
          </tr>
        </thead>
        <% @vendors.each do |vendor| %>
            <% cache vendor do %>
              <tbody>
                <tr>
                  <td class="<%= vendor.products.empty? ?  '' : 'expander toggle tog'%>" data-code="<%= vendor.id %>"></td>
                  <td class="vendorname"><%= link_to vendor.name, vendor_path(vendor.id) %></td>
                  <td><%= display_tested_products(vendor) %></td>
                  <td><span class="<% if vendor.count_passing > 0 %> pass <% end %> product"><%= display_passing_products(vendor) %></span></td>
                  <td><span class="<% if vendor.count_tested - vendor.count_passing > 0 %> fail <% end %> product"><%= display_failing_products(vendor) %></span></td>
                  <td><!-- last executed intentionally blank --></td>
                  <td class="pull-right"><%= link_to 'delete', { :action => 'destroy', :id => vendor }, :class => 'cmd del', data: {:method => :delete, :confirm => 'Are you sure?'} %></td>
                </tr>
                <% vendor.products.each do |product| %>
                  <% cache product do %>
                    <tr class="sub_rows <%= vendor.id %>">
                      <td><!-- expando intentionally blank --></td>
                      <td><span class="-icon"><%= link_to product.name, product_path(product) %></span></td>
                      <td><span class="version"><%= product.version %> </span></td>
                      <td><span class="<% if product.count_passing > 0 %> pass <% end %> test-score"><%= display_passing_tests(product) %></span></td>
                      <td><span class="<% if product.count_failing > 0 %> fail <% end %> test-score"><%= display_failing_tests(product) %></span></td>
                      <td><%= display_last_execution(product) %></td>
                      <td><!-- delete intentionally blank --></td>
                    </tr>
                  <% end #cache %>
                <% end %>
              </tbody>
            <% end %>
          <% end #cache vendor %>
      </table>
    </section>

    <%= render :partial=>"shared/legend" %>
  </div>
</div>
<% end #cache @vendors %>
