<% if @vendor.preferred_code_systems.empty? %>
  Please add a bundle to make code system preferences available.
<% else %>

<div class="panel panel-default">
  <div class="panel-heading"><h1 class="panel-title">Choose Code System Preferences</h1></div>

    <% @vendor.preferred_code_systems.keys.sort.each do |data_criteria| %>
      <br>
      <h2 style="text-align:center;font-weight: 700"><%= data_criteria.split('_').map{|word| word.capitalize}.join(' ') %></h2>
      <ol class="demo vendor-preferences" id=<%= "\"#{data_criteria}_list\"".html_safe%>>
        <% @vendor.preferred_code_systems[data_criteria].each do |code_system| %>
          <li class="ui-state-default vendor-preference-li">
            <button type="button" class="fa fa-bars handle" id=<%= "\"#{data_criteria}:#{code_system}_button\"".html_safe %> tabindex="0" aria-label="<%= HQMF::Util::CodeSystemHelper.code_system_for(code_system)%>"></button>
            <div class="code-system" id=<%= "\"#{data_criteria}:#{code_system}\"".html_safe%>>
              <%= HQMF::Util::CodeSystemHelper.code_system_for(code_system) %>
              <%# TODO: maybe get rid of patient characteristic?%>
              <%# https://github.com/schne324/dragon-drop make sure instructions for use are available accessibly, left align options %>
            </div>
          </li>
        <% end %>
      </ol>
    <% end %>
  <% end %>

  <%= bootstrap_form_tag url: vendor_update_preferences_path(@vendor), html: {class: "vendor_preferences_form"} do |f| %>
    <div class="panel-footer">
      <%= f.submit "Save", :class => "btn btn-success", :id => "preferences_submit_button" %>
      <%= submit_tag "Cancel", :class => "btn btn-default", :type => "button", :onclick => "history.back()" %>
    </div>
  <% end %>
</div>

<script>
  function createPreferences(){
    var preferences = {};
    //find all elements with class code_system (in document order)
    $('.code-system').each(function(element){
      debugger;
      var split_id = $(this).attr('id').split(':');
      //initialize array for key
      if(!(split_id[0] in preferences)){
        preferences[split_id[0]] = [];
      }
      preferences[split_id[0]].push(split_id[1]);
    });
    debugger;
    //return preferences as json-style string
    return JSON.stringify(preferences);
  }

  var ready;
  ready = function() {

    $(document).on('click', '#preferences_submit_button', function() {
      var preferences = createPreferences();//TODO: change from test
      var input = $("<input>")
                 .attr("type", "hidden")
                 .attr("name", "vendor_preferences").val(preferences);
      $(this).closest('form').append(input);
    });

  };

  $(document).ready(ready);
  $(document).on('page:load page:restore page:partial-load', ready);

  const DragonDrop = window.DragonDrop;
  <% @vendor.preferred_code_systems.keys.each do |data_criteria| %>
    const <%= "#{data_criteria}_dragon" %> = new DragonDrop(
      document.getElementById(<%= "\'#{data_criteria}_list\'".html_safe %>),
      {handle: '.handle'});
  <% end %>

</script>
