<% if @vendor.preferred_code_systems.empty? %>
  Please add a bundle to make code system preferences available.
<% else %>

<div class="card card-default">
  <div class="card-header"><h1 class="card-title lead">Choose Code System Preferences</h1></div>

    <% @vendor.preferred_code_systems.keys.sort.each do |data_criteria| %>
      <br>
      <h2 style="text-align:center;font-weight: 700"><%= data_criteria.split('_').map{|word| word.capitalize}.join(' ') %></h2>
      <ol class="demo vendor-preferences" id=<%= "\"#{data_criteria}_list\"".html_safe%>>
        <% @vendor.preferred_code_systems[data_criteria].each do |code_system| %>
          <li class="ui-state-default vendor-preference-li">
            <button type="button" class="fa fa-bars handle" id=<%= "\"#{data_criteria}:#{code_system}_button\"".html_safe %> tabindex="0" aria-label="<%= HQMF::Util::CodeSystemHelper.code_system_for(code_system)%>"></button>
            <div class="code-system" id=<%= "\"#{data_criteria}:#{code_system}\"".html_safe%>>
              <%= HQMF::Util::CodeSystemHelper.code_system_for(code_system) %>
              <%# TODO: maybe get rid of patient characteristic?%>
              <%# https://github.com/schne324/dragon-drop make sure instructions for use are available accessibly, left align options %>
            </div>
          </li>
        <% end %>
      </ol>
    <% end %>
  <% end %>

  <%= bootstrap_form_tag url: vendor_update_preferences_path(@vendor), html: {class: "vendor_preferences_form"} do |f| %>
    <div class="card-body">
      <%= f.text_field :preferred_ccn, help: 'Health IT may be tailored for certain facility types (e.g., Critical Access Hospitals 
).  In these scenarios it is appropriate to use a preferred CMS Certification Number appropriate for the facility.', label: 'Preferred CMS Certification Number', autocomplete: 'off', value: @vendor.preferred_ccn %>
      <%= f.text_field :preferred_tin, help: 'Health IT may be tailored for certain provider.  It is appropriate to use a preferred TIN for the provider.', label: 'Preferred TIN', autocomplete: 'off', value: @vendor.preferred_tin %>
    </div>
    <div class="card-footer">
      <%= f.submit "Save", :class => "btn btn-primary", :id => "preferences_submit_button" %>
      <%= submit_tag "Cancel", :class => "btn btn-outline-secondary", :type => "button", :onclick => "history.back()" %>
    </div>
  <% end %>
</div>

<script>
(() => {
  function createPreferences(){
    var preferences = {};
    $('.code-system').each(function(){
      var split_id = $(this).attr('id').split(':');
      if(!(split_id[0] in preferences)){
        preferences[split_id[0]] = [];
      }
      preferences[split_id[0]].push(split_id[1]);
    });
    return JSON.stringify(preferences);
  }

  function initPreferences() {
    // prevent duplicate handler on Turbo visits
    $(document)
      .off('click.preferences', '#preferences_submit_button')
      .on('click.preferences', '#preferences_submit_button', function() {
        var preferences = createPreferences();
        var input = $("<input>")
          .attr("type", "hidden")
          .attr("name", "vendor_preferences")
          .val(preferences);
        $(this).closest('form').append(input);
      });

    // DragonDrop init (scoped, no global const redeclare)
    const DragonDrop = window.DragonDrop;
    if (!DragonDrop) return;

    <% @vendor.preferred_code_systems.keys.each do |data_criteria| %>
      (function() {
        const el = document.getElementById("<%= "#{data_criteria}_list" %>");
        if (!el) return;

        // guard so it doesn't initialize twice on the same element
        if (el.dataset.dragonDropInitialized === "1") return;
        el.dataset.dragonDropInitialized = "1";

        new DragonDrop(el, { handle: ".handle" });
      })();
    <% end %>
  }

  document.addEventListener("turbo:load", initPreferences);
  document.addEventListener("turbo:frame-load", initPreferences);
})();
</script>

