	<div id="container">
	<header>
		<h1>cypress</h1>
		<nav>
			<a href="account.html">account</a>
			<a href="about.html">about</a>
			<a href="feedback.html">feedback</a>
			<a href="help.html">help</a>
			<a href="logout.html">logout</a>
		</nav>
	</header>
	<div>
		<nav class="breadcrumb">
			<a href="<%= vendors_path %>">Home</a> &raquo;
			<a href="<%= vendors_path %>">Certification Test Bed</a> &raquo;
			<span><%= @vendor.name %></span>
		</nav>
		<section class="candidate">
			
			<dl class="wide">
				<dt class="vendor">Candidate EHR:</dt> <dd class="vendor"><%= @vendor.name %></dd>
				<dt>url:</dt> <dd><a href=""></a></dd>
				<dt>Tests:</dt> <dd></dd>
				<dt>Disputes:</dt> <dd></dd>
			</dl>
			
			<dl>
				<dt>EHR POC:</dt>	<dd><%= @vendor.poc %></dd>
				<dt>E-mail:</dt>	<dd></dd>
				<dt>Address:</dt>	<dd>
										<address>
											<span></span>
											<span></span>
											<span></span>
										</address></dd>
									
				<dt>Phone:</dt>		<dd><%= @vendor.tel %></dd>
			</dl>

			<dl>
				<dt>Proctor:</dt>	<dd><%= @vendor.proctor %></dd>
				<dt>E-mail:</dt>	<dd></dd>
				<dt>Phone:</dt>		<dd></dd>
			</dl>
			
			<a href="<%= url_for :controller=>'vendors', :action=>'edit'%>" class="advance">Edit</a>
		</section>
		<section class="records">
			<dl class="wide">
				<dt>Total # of Records:</dt> <dd>1,000
				<dt>Error Threshold:</dt> <dd>20%
			</dl>
			<dl>
				<dt>Test Mode:</dt> <dd>Production
				<dt>Record Type:</dt> <dd> C32/CCD
			</dl>
		</section>
		<section class="legend">
			<dl>
				<dt>Error Reporting Indicators:</dt>
				<dd class="pass">passing</dd>
				<dd class="na">insufficient info</dd>
				<dd class="q1">0-25% error</dd>
				<dd class="q2">25-50% error</dd>
				<dd class="q3">50-75% error</dd>
				<dd class="q4">75-100% error</dd>
			</dl>
		</section>
		<section id="quality_measures">
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Quality Measure</th>
						<th colspan="2">Numerator</th>
						<th colspan="2">Denominator</th>
						<th colspan="2">Exclusions</th>
						<th style="width:25%">Notes</th>
					</tr>
					<tr>
						<th colspan="2"></th>
						<th>expect</th>
						<th>report</th>
						<th>expect</th>
						<th>report</th>
						<th>expect</th>
						<th>report</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				  <% @measures.each_with_index do |measure, i| %>
					<tr class="fail">
						<td><div title="0%" class="na">0%</div></td>
						<td><a href="<%= vendor_test_measure_path(@vendor, @test, measure) %>">
						  <%= "NQF#{measure['id']}#{measure.sub_id} " %>
						  <%= measure.name %>
						  <%= " - #{measure.subtitle}" if measure.sub_id %></a>
						</td>
						<td><%= @results[i]['numerator'] %></td>
						<td class="r na">--</td>
						<td><%= @results[i]['denominator'] %></td>
						<td class="r na">--</td>
						<td><%= @results[i]['exclusions'] %></td>
						<td class="r na">--</td>
						<td>Notes go here...</td>
					</tr>
					<% end %>
<!--					<tr class="fail">
						<td><div title="14%" class="q1">14%</div></td>
						<td><a href="/vendors/vendor1/tests/test1/measures/measure1">Cervical Cancer Screening</a></td>
						<td>61</td>
						<td class="r q1">55</td>
						<td>187</td>
						<td class="r na">0</td>
						<td>9</td>
						<td class="r na">0</td>
						<td>Notes go here...</td>
					</tr>
					<tr class="fail">
						<td><div title="Insufficient info" class="na">n/a</div></td>
						<td><a href="/vendors/vendor1/tests/test1/measures/measure1">Asthama Assessment</a></td>
						<td>234</td>
						<td class="r na">0</td>
						<td>314</td>
						<td class="r">314</td>
						<td>34</td>
						<td class="r">34</td>
						<td></td>
					</tr>
					<tr class="pass">
						<td><div title="Pass" class="pass">Pass</div></td>
						<td><a href="/vendors/vendor1/tests/test1/measures/measure1">Breast Cancer Screening</a></td>
						<td>303</td>
						<td class="r">303</td>
						<td>388</td>
						<td class="r">388</td>
						<td>11</td>
						<td class="r">11</td>
						<td>Vivamus vestibulum lacus sed urna convallis pulvinar.</td>
					</tr>
-->
				</tbody>
			</table>
		</section>
		
	</div>
	</div><!-- end #container -->	

