<div id="container">
  <%= render :partial=>"shared/header" %>

  <div>
    <section class="tb">
      <div class="stacked">
        <%= link_to "Add Product", new_product_path(:vendor => @vendor), { :class => "cmd" } %>
        <%= link_to "Edit Vendor", edit_vendor_path, { :class => "cmd" } %>
      </div>

      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %>
      </nav>
    </section>
    
    <section class="candidate">
      <dl class="vendor">
        <dt>Candidate EHR:</dt> <dd><%= @vendor.name %></dd>
        <dt>Vendor ID:</dt> <dd><%= @vendor.vendor_id %></dd>
        <dt>url:</dt> <dd><a href="<%= @vendor['url'] %>"><%= @vendor['url'] %></a></dd>
      </dl>
      <dl>
        <dt>EHR POC:</dt> <dd><%= @vendor.poc %></dd>
        <dt>E-mail:</dt> <dd><%= @vendor.email %></dd>
        <dt>Phone:</dt> <dd><%= @vendor.tel %></dd>
      </dl>
      <dl>
        <dt>Proctor:</dt> <dd><%= @vendor.proctor %></dd>
        <dt>E-mail:</dt> <dd><%= @vendor.proctor_email %></dd>
        <dt>Phone:</dt> <dd><%= @vendor.proctor_tel %></dd>
      </dl>
    </section>

    <section id="ehr_results">
      <table>
        <% @products.each do |result_status, result_products|
          next if result_products.empty? %>
          <thead>
            <tr>
              <th colspan="3"><span class="<%= result_status %>"><%= result_status %>ing</span> Products</th>
              <th>Description</th>
              <th>Tests</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <% result_products.each do |product| %>
            <% success_rate = product.success_rate
            dot_color = result_status
            dot_color = 'na' if product.product_tests.empty? %>
            <tbody>
              <tr>
                <td><div title="<%= success_rate %>%" class="<%= dot_color %>"><%= success_rate %></div></td>
                <td></td>
                <td class="<%= result_status %>"><a href="<%= product_path(product) %>"><%= product.name %></a></td>
                <td><%= product.description %></td>
                <td><span class="<%= dot_color %>"><%= product.count_passing %></span> <span class="q">/ <%= product.product_tests.size %></span></td>
                <td></td>
                <td><%= link_to 'delete', product_path(product), { :class => 'cmd', :method => :delete, :confirm => 'Are you sure?' } %></td>                
              </tr>
            </tbody>
          <% end %>
        <% end %>
      </table>
    </section>

    <section class="legend">
      <dl>
        <dt>Error Report Indicators:</dt>
        <dd class="pass">passing
        <dd class="na">insufficient info
        <dd class="fail">failing
      </dl>
    </section>
</div>
</div><!-- end #container -->
