<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      <% poll_for_updates = false %>
      <% @vendor.expected_results.each do |result| %>
      <%   if result['numerator']=='?' %>
      <%     poll_for_updates = true %>
      <%   end %>
      <% end %>
      <% if poll_for_updates %>
        $.cypress.addPoll("<%= vendor_path(@vendor) %>")
      <% end %>
    });
  </script>
<% end %>
<div id="container">
   <%= render :partial=>"shared/header" %>

  <div>
    <section class="tb">
      <a href="#" class="cmd">Export Report</a>
      <a href="<%= upload_pqri_vendor_path %>" class="cmd">Upload Results</a>
      <nav class="breadcrumb">
        <a href="<%= vendors_path %>">Home</a> &raquo;
        <a href="<%= vendors_path %>">Certification Test Bed</a> &raquo;
        <span><%= @vendor.name %></span>
      </nav>
    </section>
    <section class="candidate">
      
      <dl>
        <dt class="vendor">Candidate EHR:</dt> <dd class="vendor"><%= @vendor.name %></dd>
        <dt>url:</dt> <dd><a href="#">www.vendor_url_here.com</a></dd>
      </dl>
      
      <dl>
        <dt>EHR POC:</dt> <dd><%= @vendor.poc %></dd>
        <dt>E-mail:</dt>  <dd>vendor_email@vendor.com</dd>
        <dt>Phone:</dt>   <dd><%= @vendor.tel %></dd>
      </dl>
      <a href="prev_vendor.html" title="See the previous vendor" class="nav previous">previous vendor</a> <a href="next_vendor.html" title="See the next vendor" class="nav advance">next vendor</a>
    </section>

    <section class="records">
      <dl class="wide" >
        <dt>Total # of Records:</dt> <dd>1,000
        <dt>Error Threshold:</dt> <dd>20%
      </dl>
      <dl>
        <dt>Test Mode:</dt> <dd>Production
        <dt>Record Type:</dt> <dd> C32/CCD
      </dl>
      <dl>
        <dt>Labs:</dt><dd>LOINC
        <dt>Conditions:</dt><dd>SNOMED
      </dl>
      <dl class="notes">
        <dt>Notes:</dt>
        <dd><textarea rows="1" cols="80"></textarea><br />
        <time datetime="2011-03-24">03/24/3011</time> This is a note from an earlier entry.
      </dl>
    </section>
    <section id="quality_measures">
      <table>
        <% if @vendor.failing_measures.size > 0 %>
        <thead>
          <tr>
            <th colspan="2"><span class='fail'>Failing</span> Measures</th>
            <th>Denominator</th>
            <th>Numerator</th>
            <th>Exclusions</th>
          </tr>
        </thead>
        <tbody class="fail">
          <% @vendor.failing_measures.each do |measure| %>
            <% expected_result = @vendor.expected_result(measure) %>
            <% reported_result = @vendor.reported_result(measure.key) %>
          <tr id='<%= "#{measure.id}" %>'>

            <%# =====================
            If the % failure is known then display <div class="fail"
            if the % failure is unknown then display <div class="na"
            ====================== %>
            <td>
              <% if reported_result['denominator'].class==String || expected_result['denominator'].class==String %>
                <div title="Insufficient Info" class="na">Insufficient Info</div>
              <% else %>
                <div title="0%" class="fail">0%</div>
              <% end %>
            </td>

            <td><a href="<%= vendor_measure_path(@vendor, measure) %>">
              <%= "NQF#{measure['id']}#{measure.sub_id} " %>
              <%= measure.name %>
              <%= " - #{measure.subtitle}" if measure.sub_id %></a>
            </td>
            
            <%# =====================
            The display format is <reported> / <expected>
            if <reported> != <expected> then display <span class="f">
            if <reported> has no value, then display <span class="na">
            if <reported> == <expected> then display <span> without a class
            ====================== %>
            <td>
              <span class="<%= result_class(expected_result, reported_result, 'denominator') %>"><%= reported_result['denominator'] %></span>
              <span class="q den">/ <%= expected_result['denominator'] %></span>
            </td>
            <td>
              <span class="<%= result_class(expected_result, reported_result, 'numerator') %>"><%= reported_result['numerator'] %></span>
              <span class='q num'>/ <%= expected_result['numerator'] %></span>
            </td>
            <td>
              <span class="<%= result_class(expected_result, reported_result, 'exclusions') %>"><%= reported_result['exclusions'] %></span>
              <span class="q exc">/ <%= expected_result['exclusions'] %></span>
            </td>
          </tr>
          <% end %>
        </tbody>
        <% end %>
        
        <% if @vendor.passing_measures.size > 0 %>
        <thead>
          <tr>
            <th colspan="2"><span class='pass'>Passing</span> Measures</th>
            <th>Denominator</th>
            <th>Numerator</th>
            <th>Exclusions</th>
          </tr>
        </thead>

        <tbody class="pass">
          <% @vendor.passing_measures.each do |measure| %>
            <% expected_result = @vendor.expected_result(measure) %>
            <% reported_result = @vendor.reported_result(measure.key) %>
          <tr id='<%= "#{measure.id}" %>'>

            <td>
              <div title="Pass" class="pass">Pass</div>
            </td>

            <td><a href="<%= vendor_measure_path(@vendor, measure) %>">
              <%= "NQF#{measure['id']}#{measure.sub_id} " %>
              <%= measure.name %>
              <%= " - #{measure.subtitle}" if measure.sub_id %></a>
            </td>
            
            <td>
              <span class=""><%= reported_result['denominator'] %></span>
              <span class="q den">/ <%= expected_result['denominator'] %></span>
            </td>
            <td>
              <span class=""><%= reported_result['numerator'] %></span>
              <span class='q num'>/ <%= expected_result['numerator'] %></span>
            </td>
            <td>
              <span class=""><%= reported_result['exclusions'] %></span>
              <span class="q exc">/ <%= expected_result['exclusions'] %></span>
            </td>
          </tr>
          <% end %>
        </tbody>
        <% end %>

      </table>
    </section>
      <section class="legend">
      <dl>
        <dt>Error Report Indicators:</dt>
        <dd class="pass">passing
        <dd class="na">insufficient info
        <dd class="fail">failing
      </dl>
    </section>
  </div>
  </div><!-- end #container --> 

