<%= render partial: 'header_vendor', locals: { vendor: @vendor } %>

<% if @vendor.products.empty? %>
  <p class="lead">
    Start EHR Certification with
    <%= button_to new_vendor_product_path(@vendor), :method => :get, :class => "btn btn-primary btn-lg" do %>
      <i class="fa fa-fw fa-plus" aria-hidden="true"></i> Add Product
    <% end %>
  </p>
<% else %>
  <h1>Products</h1>
  <table class="table products-table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <% ['C1', 'C2', 'C3', 'C4'].each do |cert_type| %>
          <th scope="col" class='products-certification text-center'>
            <%= cert_type %> Certification
            <br><%= APP_CONFIG.certifications[cert_type]['subtitle'] %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <%= render partial: 'products_table_row', locals: { product: product } %>
      <% end %>
    </tbody>
  </table>
<% end %>
