<% cache(test_execution: @test_execution) do %>
<div>
  <ul id="error_report_toc" class="nav nav-tabs">
    <li class="active"><a href="#test_summary" data-toggle="tab">Summary</a></li>
    <li class=""><a href="#xml_validation_errors" data-toggle="tab">XML Errors</a></li>
    <li class=""><a href="#xml_validation_warnings" data-toggle="tab">XML Warnings</a></li>

    <% if !test_execution.new_record %>
    <%= link_to "Download", download_test_execution_path(test_execution.id), title: "Download the results of this test execution", class: "cmd pull-right" %>
    <% end %> 
  </ul>
  <div id="test_result_tabs" class="tab-content">
    <div class="tab-pane active" id="test_summary">
      <section>
        <dl class="dl-horizontal">
          <dt><strong>Test Date:</strong></dt> <dd class="strong"><%= test_execution.created_at %></dd>
          <dt><strong>Inspection ID: </strong></dt> <dd><%= test_execution.product_test.product.vendor.name %></dd>
        </dl>
        <dl class="dl-horizontal wide">
          <dt><strong>XML Validation Errors:</strong></dt> <dd class="fail strong"><%= test_execution.count_errors %></dd>
          <dt><strong>XML Validation Warnings:</strong></dt> <dd class="warn strong"><%= test_execution.count_warnings %></dd>
        </dl>
      </section>
      <div>
      </div>      
    </div>
    <%

  error_mapping = test_execution.files("*.xml").collect do |f|
  file_errors = test_execution.execution_errors.where({:file_name=> File.basename(f)})
  doc, error_map, error_attributes = match_errors(test_execution.file(f), file_errors)

  {doc: doc, error_map: error_map, error_attributes: error_attributes, file: f, file_errors: file_errors}
 end
 %>
    <div class="tab-pane" id="xml_validation_errors">
      <% #render :partial => 'test_executions/qrda_product_test/errors', :locals => { :errors => test_execution.execution_errors, :inspection => :xml_validation } %> 
      <h4>Errors</h4>
      <% error_mapping.each do |emap| %>
       <%= render :partial=>'test_executions/error_list', :locals=>{grouped_errors: emap[:file_errors].by_type(:error).group_by(&:validator), error_map:emap[:error_map] } %>
       <% end %>
    </div>
    <div class="tab-pane" id="xml_validation_warnings">
     
      <h4>Warnings</h4>
      <% error_mapping.each do |emap| %>
       <%= render :partial=>'test_executions/error_list', :locals=>{grouped_errors: emap[:file_errors].by_type(:warning).group_by(&:validator), error_map:emap[:error_map] } %>
       <% end %>
    </div>

    
  </div><!-- end #test_result_tabs -->

    <div id="xml_frame">
    <%= render :partial=>"test_executions/subnav.html"%>  

    <h3>Vendor Generated XML</h3>
   
   <% error_mapping.each do |emap|

    %>
    <div>
      <span class="expando"> <%= File.basename(emap[:file]) %> </span>
     <%= render :partial=>"test_executions/node.html" , :locals=>{:doc=>emap[:doc], :error_map=>emap[:error_map], :error_attributes=>emap[:error_attributes], :execution_errors=>emap[:file_errors]}%>
   </div>
   <% end %>
  </div>
</div>
<% end %>

<script >
  $(".expando").click(function(){
    $(this).next().toggle();

  });
</script>
