<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:name=>"login_form"}) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password, {:onkeypress=>'return submitKeyPress(event);'} %>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>


  <div class="actions">
    <%=
      content_tag(:a,  {:href=>"#", :class=>"bluebutton", :onclick=>"submitLoginform()"} ) do
        content_tag(:span,"Login")
      end %>
  </div>

  <div class="links">
      <%= render :partial => "devise/shared/links" %>
  </div>


  <div class="links info">
      cypress v1.1<br />
      <a href="http://www.hhs.gov/healthit/">Office of the National Coordinator for Health Information Technology</a> |
      <a href="http://www.mitre.org" target="_blank">MITRE</a>
  </div>

<% end %>
