
<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class='panel-title'>Sign In</h3>
  </div>

  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="panel-body">
      <%= f.email_field :email, autofocus: true %>
      <%= f.password_field :password, autocomplete: "off" %>

      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
      <% end -%>
    </div>
    <div class="panel-footer">
      <%= f.primary "Sign in" %>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
