<div class="splash-panel">
  <div class="splash-title-container">
    <h1>cypress</h1>
    <h2>Rigorous &amp; repeatable testing of Electronic Health Records</h2>
    <!-- <p>Powered by Super Duper Testing Labs</p> -->
  </div>
  <div class="sign-in-panel-container">
    <div class="panel panel-default sign-in-panel">
      <div class="panel-heading">
        <h1 class="panel-title">Sign In</h1>
      </div>

      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="panel-body">
          <%= f.email_field :email, autocapitalize: 'off', autocorrect: 'off', autofocus: true %>
          <%= f.password_field :password, autocomplete: "off", autocapitalize: 'off', autocorrect: 'off' %>

          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
          <% end -%>
        </div>

        <div class="panel-footer">
          <%= f.primary "Sign in" %>
        </div>
      <% end %>
    </div>
    <div class="sign-in-panel-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<div class="splash-info-panels-container">
  <div class="panel panel-default splash-info-panel">
    <div class="panel-heading">
      <h1 class="panel-title">What is Cypress?</h1>
    </div>
      <div class="panel-body">
        <p>
          Cypress is the open source, rigorous and repeatable testing tool of Electronic Health Records (EHRs) and EHR modules in calculating eCQMs used by CMS’s Promoting Interoperability programs.
          It is available for use or adoption by the health IT community including EHR vendors and Authorized Testing Labs.
        </p>
        <p>
          Cypress serves as the official testing tool for the 2014 and 2015 EHR Certification programs supported by the Office of the National Coordinator for Health IT (ONC).
        </p>
        <p>
          For more information, visit the <a href="http://healthit.gov/cypress">Project Cypress site.</a>
        </p>
      </div>
  </div>
  <div class="panel panel-default splash-info-panel">
    <div class="panel-heading">
      <h1 class="panel-title">CQM Certification</h1>
    </div>
      <div class="panel-body">
        <p>Cypress tests four different certification criteria:</p>
        <ul>
          <li>Record and Export - Record clinical data and export it in a format usable by other EHRs</li>
          <li>Import and Calculate - Import data from other EHRs and perform CQM calculations</li>
          <li>Report - Create standard data files that can be electronically submitted to quality reporting programs</li>
          <li>Data Filter - Filter clinical data based on patient and provider data</li>
        </ul>
        <p>
          Testing may be performed manually or through an API (see the Cypress API documentation included in source for more information).
        </p>
      </div>
  </div>
  <div class="panel panel-default splash-info-panel">
    <div class="panel-heading">
      <h1 class="panel-title">
        Using Cypress
      </h1>
    </div>
      <div class="panel-body">
        <p>
          The Cypress software includes a standard test data of synthetic patient records that exercises all of the CQMs, for Eligible Professionals (EP) and Eligible Hospitals (EH).
        </p>
        <p>
          Testers download patient data from Cypress, manipulate it with the EHR technology, and upload the results to Cypress for validation. Cypress then provides a report of any errors detected in the uploaded results.
        </p>
        <p>
          Usage of Cypress requires a <a href="https://uts.nlm.nih.gov//home.html">UMLS account</a> in order to sign into the <a href="https://cypressdemo.healthit.gov">Cypress Demo Server</a> or download the CQMs.
        </p>
      </div>
  </div>
</div>
<br>
<%= render "demo_warning" %>
