<section class="qrdaValidation">
    <table class="table">
      <%#= render partial: "test_executions/qrda_product_test/qrda_errors", locals: {errors:test_execution.execution_errors}%>
    </table>
</section>

   <section id="quality_measures">
     <table class="table">
         <thead>
           <tr>
             <th colspan="2"></span>Measures included in this test</th>
             <th>Patients</th>
             <th>Denominator</th>
             <th>Den. Exclusions</th>
             <th>Numerator</th>
             <th>Num. Exclusions</th>
             <th>Exceptions</th>
           </tr>
         </thead>
         <tbody>
          <% test_execution.product_test.measures.each do | measure| 

             expected_result = test_execution.expected_result(measure)
             reported_result = test_execution.reported_result(measure) %>
             <tr id='<%= "#{measure.key}" %>'>
              <td/>
               <td>
                 <a href="">
                   <span style="font-weight:bold"><%= "#{measure.name} " %></span>
                   <%= measure.name %>
                   <%= " - #{measure.subtitle}" if measure.sub_id %>
                 </a>
               </td>
               <td>
                <span><%=expected_result["population"]%></span>
               </td>
                <%["denominator","denex","numerator","numex","exception"].each do |bucket|
                 reported_class = result_class(reported_result[bucket], expected_result[bucket])
                %>
                 <td>
                  <span class="<%= reported_class %>"><%= reported_result[bucket]||'-'%></span> / <span><%=expected_result[bucket]%>
                  </span>
                </td>
               <% end %>
             </tr>
           <% end %>
         </tbody>
     </table>
   </section>