<%
  # local variables:
  #
  #   banner, banner_message, smtp_settings, mode, mode_settings, roles
%>

<div class="panel panel-default">
  <div class="panel-heading"><h1 class='panel-title'>Edit Settings</h1></div>
  <%= bootstrap_form_tag url: admin_settings_path, method: :put do |f| %>
    <div class="panel-body">
      <%= f.text_area :banner_message, label: "Banner", value: banner_message %>
      <%= f.check_box :banner, label: "Display banner?", checked: banner %>

      <fieldset>
        <legend>Email Settings</legend>
        <div class="row">
          <%= f.text_field :mailer_address, wrapper: { class: "col-sm-10" },  label: "SMTP Server", value: smtp_settings.address %>
          <%= f.number_field :mailer_port, wrapper: { class: "col-sm-2" }, label: "Port", maxLength: 5, value: smtp_settings.port %>
        </div>
        <%= f.text_field :mailer_domain, label: "Mailer Domain", value: smtp_settings.domain %>
        <%= f.text_field :mailer_user_name, label: "Mailer Username", value: smtp_settings.user_name %>
        <%= f.password_field :mailer_password, label: "Mailer Password", value: smtp_settings.password %>
      </fieldset>

      <fieldset>
        <legend>Application Mode</legend>
        <%= f.radio_button :mode, "internal", label: "Internal", checked: mode == "Internal" %>
        <%= f.radio_button :mode, "demo", label: "Demo", checked: mode == "Demo" %>
        <%= f.radio_button :mode, "atl", label: "ATL", checked: mode == "ATL" %>
        <%= f.radio_button :mode, "custom", label: "Custom", checked: mode == "Custom" %>
      </fieldset>

      <div id="settings-custom" class="panel panel-default">
        <div class="panel-body">
          <fieldset>
            <legend>Custom Mode Options</legend>
            <%= f.fields_for :custom_options do |custom_form| %>
              <%= custom_form.form_group :auto_approve, label: { text: "Auto Approve", id: "auto-approve" } do %>
                <%= custom_form.radio_button :auto_approve, "enable", label: "Enable", inline: true, checked: mode_settings.auto_approve, 'aria-labelledby' => "auto-approve" %>
                <%= custom_form.radio_button :auto_approve, "disable", label: "Disable", inline: true, checked: !mode_settings.auto_approve, 'aria-labelledby' => "auto-approve" %>
              <% end %>
              <%= custom_form.form_group :ignore_roles, label: { text: "Ignore Roles", id: "ignore-roles" } do %>
                <%= custom_form.radio_button :ignore_roles, "enable", label: "Enable", inline: true, checked: mode_settings.ignore_roles, 'aria-labelledby' => "ignore-roles" %>
                <%= custom_form.radio_button :ignore_roles, "disable", label: "Disable", inline: true, checked: !mode_settings.ignore_roles, 'aria-labelledby' => "ignore-roles"  %>
              <% end %>
              <%= custom_form.form_group :debug_features, label: { text: "Debug Features", id: "debug-features" } do %>
                <%= custom_form.radio_button :debug_features, "enable", label: "Enable", inline: true, checked: mode_settings.debug_features, 'aria-labelledby' => "debug-features" %>
                <%= custom_form.radio_button :debug_features, "disable", label: "Disable", inline: true, checked: !mode_settings.debug_features, 'aria-labelledby' => "debug-features"  %>
              <% end %>
              <%= custom_form.select :default_role, roles, selected: mode_settings.default_role %>
            <% end %>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= f.submit "Edit Settings", :class => "btn btn-success", :id => "submit_button" %> <a class="btn btn-default"  href="<%= admin_path + '#user_management' %>"> Cancel</a>
    </div>
  <% end %>
</div>
