<%

# local variables
#
#   attributes   (Hash)
#   product_test (ChecklistTest)

%>
<% if disable_modal %>
  <% if result %>
    <% if result.type == 'CD' && result['code_list_id'] %>
      <%= "#{lookup_valueset_name(result.code_list_id)}" %>
    <% end %>
  <% else %>
      <% if attribute['attribute_valueset'] %>
        <%= "#{attribute['attribute_name']}: #{attribute['attribute_valueset']}" %>
      <% else %>
        <%= attribute['attribute_name'] %>
      <% end %>
  <% end %>
<% else %>
  <% if result %>
    <% if result.type == 'CD' && result['code_list_id'] %>
    <div type="button" class="value-set-group set-menu" data-toggle="modal" data-target="<%= "#lookupModal-result#{index}" %>">
      <ul class="value-set-list">
       <li class="value-set-item-header"><%= "#{lookup_valueset_name(result.code_list_id)}" %></li>
       <li class="value-set-item-oid"><%= result.code_list_id %></li>
     </ul>
    </div>
    <div id="<%= "lookupModal-result#{index}" %>" class="modal fade" role="dialog">
      <%= render 'checklist_modal', :valuessets => [result.code_list_id], :product_test => product_test, :index => index, :is_attribute => true %>
    </div>
    <% end %>
  <% else %>
      <% if  attribute['attribute_valueset'] %>
        <div type="button" class="value-set-group set-menu" data-toggle="modal" data-target="<%= "#lookupModal-fieldvalues#{index}" %>">
         <ul class="value-set-list">
          <li class="value-set-item-header"><%= "#{attribute['attribute_name']}" %></li>
          <li class="value-set-item-oid"><%= "#{attribute['attribute_valueset']}" %></li>
        </ul>
        </div>
        <div id="<%= "lookupModal-fieldvalues#{index}" %>" class="modal fade" role="dialog">
          <%= render 'checklist_modal', :valuessets => [attribute['attribute_valueset']], :product_test => product_test, :index => index, :is_attribute => true %>
        </div>
      <% else %>
        <ul class="value-set-list">
          <li class="value-set"><%= attribute['attribute_name'] %></li>
        </ul>
      <% end %>
  <% end %>
<% end %>