<%

# local variables
#
#   field_values   (Hash)
#   product_test (ChecklistTest)

%>
<% if negation %>
<div type="button" class="value-set-group set-menu" data-toggle="modal" data-target="<%= "#lookupModal-negation#{index}" %>">          
  <ul class="value-set-list">
   <li class="value-set-item-header"><%= "#{lookup_valueset_name(negation)}" %></li>
   <li class="value-set-item-oid"><%= negation %> </li>
 </ul>
</div>
<div id="<%= "lookupModal-negation#{index}" %>" class="modal fade" role="dialog">
  <%= render partial: 'checklist_modal', locals: { valuessets: [negation], product_test: product_test} %>
</div> 
<% elsif result %>
<% if result.type == 'CD' && result['code_list_id'] %>
<div type="button" class="value-set-group set-menu" data-toggle="modal" data-target="<%= "#lookupModal-result#{index}" %>">          
  <ul class="value-set-list">
   <li class="value-set-item-header"><%= "#{lookup_valueset_name(result.code_list_id)}" %></li>
   <li class="value-set-item-oid"><%= result %></li>
 </ul>
</div>
<div id="<%= "lookupModal-result#{index}" %>" class="modal fade" role="dialog">
  <%= render partial: 'checklist_modal', locals: { valuessets: [result], product_test: product_test} %>
</div>
<% end %>
<% else %>
<% field_values.each do |fv_key, fv_val| %>
<% case fv_val['type'] %>
<% when 'CD' %>
<div type="button" class="value-set-group set-menu" data-toggle="modal" data-target="<%= "#lookupModal-fieldvalues#{index}" %>">          
 <ul class="value-set-list">
  <li class="value-set-item-header"><%= "#{fv_val['title']}" %></li>
  <li class="value-set-item-oid"><%= "#{fv_val['code_list_id']}" %></li>
</ul>
</div>
<div id="<%= "lookupModal-fieldvalues#{index}" %>" class="modal fade" role="dialog">
  <%= render partial: 'checklist_modal', locals: { valuessets: [fv_val['code_list_id']], product_test: product_test} %>
</div>

<% when 'IVL_PQ' %>
<ul class="value-set-list">
  <li class="value-set"><%= raw length_of_stay_string(fv_val) %></li>
</ul>
<% end %>
<%end%>
<% end %>