<% checklist_test = @product.product_tests.checklist_tests.first %>

<div class="product-report">

<h1>Criteria List for C1 Record Sample</h1>

<% if checklist_test.measures %>
  <%= bootstrap_nested_form_for([@product, checklist_test], :url => { :controller => 'checklist_tests', :action => 'update' }) do |f| %>
    <% checklist_test.measures.each do |measure| %>
      <div class = 'panel-group' id = '<%= measure.cms_id %>'>
        <div class = 'panel panel-default'>
          <div class = 'panel-heading'>
            <h1 class='panel-title'>
              <%= "#{measure.cms_id} #{measure.name}" %>
            </h1>
          </div>
          <div class = 'panel checklist-panel'>
            <div class = 'panel-body'>
              <table class = 'table table-sm'>
                <thead>
                  <tr>
                    <th class = 'col-sm-1'>Data Criteria</th>
                    <th class = 'col-sm-4'>Value Set(s)</th>
                    <th class = 'col-sm-2'>Required Attributes</th>
                    <th class = 'col-sm-3'>Attribute Details/Value Set</th>
                  </tr>
                </thead>
                <tbody>
                  <%= f.fields_for :checked_criteria, checklist_test.checked_criteria.all(measure_id: measure.id) do |criteria_field| %>
                    <% criteria = measure[:source_data_criteria].select { |key, value| key == criteria_field.object.source_data_criteria }.values.first %>
                    <% if criteria.key?('description') %>
                      <tr>
                        <% valuessets = criteria_field.object.get_all_valuesets_for_dc(measure) %>
                        <% if valuessets.empty? %>
                          <td/>
                          <td/>
                        <% else %>
                          <td style="vertical-align: top"><%= criteria[:description].chomp(': ' + criteria[:title]) %></td>
                          <td><span>
                            <ul class='list-unstyled'>
                              <% valuessets.each do |vs| %>
                              <li class="valueset-listitem"><%= "#{lookup_valueset_long_name(vs)}" %></li>
                              <% end %>
                            </ul>
                          </span></td>
                        <% end %>
                        <td style="vertical-align:top"><%= checklist_test_criteria_attribute(criteria, checked_criteria.attribute_index) %></td>
                        <td style="vertical-align:top"><%= render partial: 'checklist_tests/field_values', locals: { field_values: criteria['field_values'], result: criteria['value'], disable_modal: true } if criteria['attributes'] || criteria['value'] %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
