<div class = "product-report">
  <h1>Filter Test Criteria List for C4 Record Sample</h1>
  <% tests = @product.product_tests.filtering_tests %>

  <% if tests %>
    <div class = 'panel-group'>
      <div class = 'panel panel-default'>
        <div class = 'panel-heading'>
          <h1 class='panel-title'>
          
          </h1>
        </div>
        <div class = 'panel checklist-panel'>
          <div class = 'panel-body'>
            <table class = 'table' id = 'filter_test_criteria_list'>
            <thead>
              <tr>
                <th class = 'col-sm-3'>Filter Test</th>
                <th class = 'col-sm-7'>Criteria</th>
              </tr>
            </thead>
            <tbody>
              <% tests.each do |test| %>
                <tr>
                  <td class="no-wrap">
                  <% if test.display_name.to_s == '' %>
                    <%= test.options.filters.keys.join('/').titleize %>
                  <% else %>
                    <%= test.display_name %>
                  <% end %>
                  </td>
                  <td id = "<%= id_for_html_wrapper_of_task(test.cat1_task) %>">
                    <% test.cat1_task.product_test.options.filters.map do |filter_name, val| %>
                      <dl class="filters-list">
                        <dt><%= display_filter_title(filter_name, test.cat1_task) %></dt>
                        <dd>
                          <% filter_values = display_filter_val(filter_name, val) %>
                          <% filter_values.each do |filter_val| %>
                            <% if filter_val.is_a?(Hash) %>
                              <% filter_val.each_pair do |value_key, value_val| %>
                                <p><strong><%= value_key %></strong>
                                <%= value_val %></p>
                              <% end %>
                            <% else %>
                              <%= filter_val %>
                            <% end %>
                          <% end %>
                        </dd>
                      </dl>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>