<% product = @product %>
<% has_many_measures = @product_test.measures.count > CAT1_CONFIG['number_of_checklist_measures'] %>

<%= render partial: 'application/certification_bar', locals: { product: product, active_certs: [true, false, product.c3_test, false] } %>

<div class="panel-actions pull-right">
  <%= button_to print_criteria_product_checklist_test_path(@product, @product_test), :method => :get, :class => "btn btn-default" do %>
    <i class="fa fa-fw fa-download" aria-hidden="true"></i> Download Criteria List
  <% end %>
</div>
<h1>Manual Entry Test</h1>
<div class = 'test-steps'>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h1 class="panel-title test-step">1<i class="fa fa-fw fa-bolt" aria-hidden="true"></i>Manual Entry Instructions</h1>
    </div>
    <%= render partial: 'checklist_instructions', locals: { instructions: Cypress::AppConfig['tests']['ChecklistTest']['instructions'] } %>
  </div>
</div>
<div class = 'test-steps'>
  <div class="panel panel-info">
    <div class="panel-heading disable">
      <h1 class="panel-title test-step disable">
        <%= 2 %> <i class="fa fa-fw fa-bolt" aria-hidden="true"></i> <%= 'Upload Files' %>
      </h1>
    </div>
    <div class="panel-body">
      <%= render partial: 'test_executions/execution_upload', locals: { disable: disable_qrda_submission?, product_test: @product_test, task: @product_test.tasks.c1_manual_task } %>
    </div>
  </div>
</div>
<div class = 'test-steps'>
  <div class = 'panel panel-info'>
    <div class = 'panel-heading'>
      <h1 class = 'panel-title test-step'>
        3 <i class = 'fa fa-fw fa-bolt' aria-hidden = 'true'></i> View Results
      </h1>
    </div>
    <div class = 'panel-body'>
      <div id = 'display_checklist_execution_results'>
        <%= render partial: 'checklist_execution_results', locals: { task: @product_test.tasks.c1_manual_task } %>
      </div>
      <div id = 'display_checklist_status' >
        <%= render partial: 'checklist_status_display', locals: { product: product, has_many_measures: has_many_measures } %>
      </div>
    </div>
  </div>
</div>
<% unless has_many_measures %>
  <div id = 'display_checklist_measures' >
    <%= render partial: 'checklist_measures', locals: { product_test: @product_test, product: @product_test.product } %>
  </div>
<% end %>
