<%= render partial: 'remove_modal' %>

<%= render partial: 'application/certification_bar', locals: { product: @product, active_certs: [true, false, false, false] } %>

<h1>Manual Entry Checklist</h1>

<%= render partial: 'application/instructions', locals: { instructions: APP_CONFIG['tests']['ChecklistTest']['instructions'] } %>

<%= render partial: 'checklist_status_display', locals: { product: @product } %>
<% if @measures %>
  <%= bootstrap_nested_form_for([@product, @product_test], :url => { :controller => 'checklist_tests', :action => 'update' }) do |f| %>
    <% @measures.each do |measure| %>
      <div class = 'panel-group' id = '<%= measure.cms_id %>'>
        <div class = 'panel panel-default'>
          <div class = 'panel-heading'>
            <h1 class='panel-title'>
              <%= "#{measure.cms_id} #{measure.name}" %>
            </h1>
          </div>
          <div class = 'panel checklist-panel'>
            <div class = 'panel-body'>
              <table class = 'table table-sm'>
                <thead>
                  <tr>
                    <th class = 'col-sm-2'>Completed?</th>
                    <th class = 'col-sm-2'>Data Criteria</th>
                    <th class = 'col-sm-3'>Value Set</th>
                    <th class = 'col-sm-2'>Code</th>
                    <th class = 'col-sm-2'>Required Attributes</th>
                    <th class = 'col-sm-3'>Attribute Details</th>
                    <th class = 'col-sm-2'>Attribute Code</th>
                  </tr>
                </thead>
                <tbody>
                  <%= f.fields_for :checked_criteria, @product_test.checked_criteria.all(measure_id: measure.id) do |criteria_field| %>
                    <% criteria = measure.hqmf_document[:data_criteria].select { |key, value| key == criteria_field.object.source_data_criteria }.values.first %>
                    <% if criteria.has_key?('description') %>
                      <tr>
                        <td><%= criteria_field.check_box :completed %></td>
                        <% valuessets = criteria_field.object.get_all_valuesets_for_dc(measure) %>
                        <% if valuessets.empty? %>
                          <td/>
                          <td/>
                          <td/>
                        <% else %>
                          <td><%= criteria[:description].chomp(': ' + criteria[:title]) %></td>
                          <td><span><%= valuessets.join(', ') %></span></td>
                          <td><%= criteria_field.text_field :code, hide_label: true %></td>
                        <% end %>
                        <td><%= checklist_test_criteria_attribute(measure, criteria) %></td>
                        <td><%= render partial: 'field_values', locals: { field_values: criteria['field_values'] } if criteria['field_values'] %></td>
                        <% if coded_attribute?(criteria) %>
                          <td><%= criteria_field.text_field :attribute_code, hide_label: true %></td>
                        <% else %>
                          <td/>
                        <% end %>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class = 'panel-footer'>
              <%= f.submit 'Save', class: 'btn btn-default' %>
              <span class = 'small-indent'>this saves the entire checklist page</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= render partial: 'remove_panel', locals: {
  name: 'delete checklist',
  type: 'visual test',
  delete_path: product_checklist_test_path(@product, @product_test),
  message: 'Removing this C1 Visual Test will discard your answers to the checklist above for each measure. This will not remove any measures selected.'
} %>
