<div class="col-md-12">
<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Approved</th>
      <th>Assignments</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user|
    role = user.roles.where({resource_id: nil}).first
    assignments = user.roles.where({resource_id: {"$ne"=> nil}})
    %>
    <tr>
      <td><%= user.email %></td>
      <td><%= role.name if role %></td>
      <td><a href="<%= toggle_approved_admin_user_path(user) %>" data-turbolinks-action="replace"><%= user.approved %></a></td>
      <td>
        <table class"table">
          <% assignments.each do |ass|
            if ass.resource
          %>
          <tr><td><%= ass.name %></td><td><%= ass.resource.name %></td></tr>
        <%  end
          end
       %>
        </table>
      </td>
      <td><a class="btn btn-default" href="<%= edit_admin_user_path(user) %>"><i class="fa fa-fw fa-wrench" aria-hidden="true"></i>Edit User </a></td>
    </tr>
    <% end %>
  </tbody>

</table>

</div>
