<section id="first" class="step bordered" style="width: 100%; overflow: auto;">
  <!-- always move to the measures screen -->
  <input type="hidden" class="link" value="wizard-measures-screen"/>
  <h5 class="ui-widget-title">Describe the test...</h5>
  <dl class="dl-horizontal">
    <dt>
      <span class="required">*</span>Test Name:
    </dt>
    <dd>
      <%= f.text_field :name, :size => 87, :class => 'required' %>
    </dd>
    <dt>
      Reporting Period:
    </dt>
    <dd>
      <span class="wide">
        from <span id="effective_date_start"><%= display_time(@period_start)%></span>
        to <span id="effective_date_end"><%= display_time(@effective_date) %></span>

        <input type="hidden" name="product_test[effective_date]" value="<%=@effective_date%>"/>
      </span>
    </dd>
    <dt>
      Description:
    </dt>
    <dd>
      <%= f.text_area :description, :cols => 75, :rows => 3 %>
    </dd>
    <dt>Test Type:</dt>
    <dd>
      <input type="radio" id="outpatient" name="type" value="CalculatedProductTest"/>
      <label for="outpatient">Outpatient - to test quality measures for Eligible Professionals (EP)</label>
      <br/>
      <input type="radio" id="inpatient" name="type" value="InpatientProductTest"/>
      <label for="inpatient">Inpatient - to test quality measures for Eligible Hospitals (EH)</label>
      <br/>
      <input type="radio" id="qrda" name="type" value="QRDAProductTest"/>
      <label for="qrda">QRDA Category I - to test using the QRDA Category I format</label>
    </dd>
  </dl>
</section>
