<section id="first" class="step" style="width: 100%; overflow:auto;">
  <h2 class="ui-widget-title" style="margin-top: 20px;">Describe the test...</h2>
  <dl>
    <dt>
      Test Name:
    </dt>
    <dd>
      <%= f.text_field :name, :size => 87 %>
    </dd>
    <dt>
      Reporting Period:
    </dt>
    <dd>
      <span class="wide">from
        <span id="effective_date_start" class="inline-span"><%= Time.at(@period_start).strftime("%m/%d/%Y") %></span>
        to
        <input type="text" class="effective_date" id="effective_date_end" name="product_test[effective_date_end]" size="8" value="<%= Time.at(@effective_date).strftime("%m/%d/%Y") %>"/>
      </span>
    </dd>
    <dt>
      <%= f.label :description, "Description:" %>
    </dt>
    <dd>
      <%= f.text_area :description, :cols => 75, :rows => 3 %>
    </dd>
  </dl>
</section>
