<section id="first" class="step bordered buffered">
  <h2 class="ui-widget-title">Describe the test...</h2>
  <dl class="dl-horizontal">
    <dt>
      Test Name:
    </dt>
    <dd>
      <%= f.text_field :name, :size => 87, :class => 'required' %>
    </dd>
    <dt>
      Reporting Period:
    </dt>
    <dd>
      <span class="wide">from
        <span id="effective_date_start" class="inline-span"><%= Time.at(@period_start).strftime("%m/%d/%Y") %></span>
        to
        <span id="effective_date_end" class="inline-span"><%= Time.at(@effective_date).strftime("%m/%d/%Y") %></span>
      </span>
    </dd>
    <dt>
      <%= f.label :description, "Description:" %>
    </dt>
    <dd>
      <%= f.text_area :description, :cols => 75, :rows => 3 %>
    </dd>
  </dl>

</section>
