<section id="first" class="step" style="width: 100%; overflow:auto;">
  <h2 class="ui-widget-title" style="margin-top: 20px;">Describe the test...</h2>
  <dl>
    <dt>
      <span style="float:right;">Test Name:</span><span id="required_asterisk">* </span>
    </dt>
    <dd>
      <%= f.text_field :name, :size => 87, :class => 'required' %>
    </dd>
    <dt>
      Reporting Period:
    </dt>
    <dd>
      <span class="wide">from
        <span id="effective_date_start" class="inline-span"><%= display_time(@period_start)%></span>
        to
        <span id="effective_date_end" class="inline-span"><%= display_time(@effective_date) %></span>
      </span>
    </dd>
    <dt>
      <%= f.label :description, "Description:" %>
    </dt>
    <dd>
      <%= f.text_area :description, :cols => 75, :rows => 3 %>
    </dd>
  </dl>

</section>
