<% content_for :head do %>
  <style type="text/css">
    #wizard-patients-manual-screen td,
    #wizard-patients-manual-screen th {
      text-align: left;
    }
    .busy {
      text-align:center;
      vertical-align:middle;
      padding:40px;
      font-size:30px;
      color:silver;
    }
  </style>
<% end %>

<section id="wizard-patients-automated-screen" class="step submit_step">
  <h2 class="ui-widget-title" style="margin-top: 20px;">Select patient records to use...</h2>
  <section>
    Cypress has two predefined patient populations to choose from - the full 225 or a subset of 20
    designed to test the core and core alternate Stage 1 Clinical Quality Measures.  In addition,
    any populations that you have previously defined will be available for reuse.<br/><br/>
    <dl>
      <dt>
        population:
      </dt>
      <dd>
        <%= f.collection_select(:patient_population, @patient_populations, :name, :description, {:selected => 'all'}) %>
      </dd>
      <dt>download as:</dt>
      <dd>
        <span class="wide">
          <input type="radio" name="download_format" id="c32" value="c32" checked/>
          <label for="c32">HITSP C32</label>
          <input type="radio" name="download_format" id="ccr" value="ccr"/>
          <label for="ccr">ASTM CCR</label>
          <input type="radio" name="download_format" id="html" value="html"/>
          <label for="html">HTML</label>
        </span>
      </dd>
      <dt>
        patient test mode:
      </dt>
      <dd>
        <select>
          <option>name randomization</option>
        </select>
      </dd>
    </dl>
  </section>
</section>

<section id="wizard-patients-manual-screen" class="step submit_step">
  <h2 class="ui-widget-title" style="margin-top: 20px;">Patient records that satisfy your chosen quality measures...</h2>
  <div id="measure_coverage" style="overflow:hidden;">
  </div>
  <section id="save_population" style="text-align:center">
    <p>If you would like to save this patient population
      for use in other tests, please give it a name and a brief description</p>
    <p>Name: <input type="text" name="population_name"/></p>
    <p>Description: <input type="text" name="population_description" size="80"/></p>
  </section>
</section>

<section id="wizard-patients-byod-screen" class="step submit_step">
  <h2 class="ui-widget-title" style="margin-top: 20px;">Bring your own records...</h2>
  <dl>
    <dt><%= label_tag :byod_label, "upload .zip of records:" %></dt>
    <dd><%= file_field_tag :byod %></dd>
  </dl>
  <dl>
    <dt>as:</dt>
    <dd>
      <%= f.radio_button :upload_format, "c32",
        :checked => (@test[:upload_format] == nil || @test[:upload_format] == "c32") %>
      <%= f.label :upload_format_c32, "C32" %>
      <%= f.radio_button :upload_format, "ccr", :checked => @test[:upload_format] == "ccr"%>
      <%= f.label :upload_format_ccr, "CCR" %>
    </dd>
  </dl>
</section>
