<%
 #locals
 confirmation ||= false
 alert_type ||= 'info'
 messages
%>

<% alert_icon = case alert_type
                when 'success'
                  'fa-check-circle'
                when 'warning'
                  'fa-exclamation-triangle'
                when 'danger'
                  'fa-exclamation-circle'
                else
                  'fa-info-circle'
                end %>

<!-- Alerts are either dismissable or confirmable. NOT BOTH -->
<% if confirmation %>
  <div class="clearfix alert alert-<%= alert_type %>" role="alert" aria-live="polite">
    <div class="iconSpan pull-left">
      <i class="fa fa-fw fa-2x <%= alert_icon %>"></i>
    </div>
    <div class="alertContent">
      <% [*messages].each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      <button type="button" class="btn btn-<%= alert_type %> btn-sm pull-right confirm" data-dismiss="alert"><%= confirmation %></button>
    </div>
  </div>

<% else %>
  <div class="clearfix alert alert-<%= alert_type %> alert-dismissible" role="alert" aria-live="polite">
    <button type="button" class="close fa fa-fw fa-close" data-dismiss="alert" aria-label="Close"><span class="sr-only">Close alert</span></button>

    <div class="iconSpan pull-left">
      <i class="fa fa-fw fa-2x <%= alert_icon %>"></i>
    </div>
    <div class="alertContent">
      <% [*messages].each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  </div>

<% end %>
