<%
 #locals
 confirmation ||= false
 alert_type ||= 'info'
 messages
%>

<% alert_icon = case alert_type
                when 'success'
                  'check-circle'
                when 'warning'
                  'exclamation-triangle'
                when 'danger'
                  'exclamation-circle'
                else
                  'info-circle'
                end %>

<!-- Alerts are either dismissable or confirmable. NOT BOTH -->
<% if confirmation %>
  <div class="clearfix alert alert-<%= alert_type %> fade show d-flex flex-row mb-3" role="alert" aria-live="polite">
    <div class="p-2">
      <%= icon('fas fa-fw fa-2x', alert_icon) %>

    </div>
    <div class="p-2 alertContent">
      <% [*messages].each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      <button type="button" class="btn btn-danger" data-bs-dismiss="alert" aria-label="Confirmation"><span><%= confirmation %></span></button>
    </div>
  </div>

<% else %>
  <div class="clearfix alert alert-<%= alert_type %> alert-dismissible fade show d-flex flex-row mb-3" role="alert" aria-live="polite">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span class="sr-only">Close alert</span></button>

    <div class="p-2">
      <%= icon('fas fa-fw fa-2x', alert_icon) %>
    </div>
    <div class="p-2 alertContent">
      <% [*messages].each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  </div>

<% end %>
