<%
 #locals
 confirmable ||= false
%>

<% if notice || alert || flash[:backend_job_alert] %>
    <div class="clearfix alert <%= flash[:notice_type] ? "alert-#{flash[:notice_type]}" : "alert-info" %> <%= alert ? "alert-danger" : "" %> alert-dismissible" role="alert" aria-live="polite">
        <button type="button" class="close fa fa-fw fa-close" data-dismiss="alert" aria-label="Close"><span class="sr-only">Close alert</span></button>

        <% if flash[:backend_job_alert] %>
          <div class="iconSpan pull-left">
              <i class="fa fa-fw fa-2x fa-exclamation-circle"></i>
          </div>
          <div class="alertContent">
            <p><%= flash[:backend_job_alert] %></p>
            <% if confirmable %>
              <button type="button" class="btn btn-default btn-sm pull-right confirm" data-dismiss="alert">OK, I understand</button>
            <% end %>
          </div>
        <% end %>
        <% if alert %>
          <div class="iconSpan pull-left">
              <i class="fa fa-fw fa-2x fa-exclamation-circle"></i>
          </div>
          <div class="alertContent">
            <p><%= alert %></p>
            <% if confirmable %>
              <button type="button" class="btn btn-default btn-sm pull-right confirm" data-dismiss="alert">OK, I understand</button>
            <% end %>
          </div>
        <% elsif notice %>
          <% if flash[:notice_type] == 'warning' %>
            <div class="iconSpan pull-left">
              <i class="fa fa-fw fa-2x fa-exclamation-triangle"></i>
            </div>
          <% elsif flash[:notice_type] == 'success' %>
            <div class="iconSpan pull-left">
              <i class="fa fa-fw fa-2x fa-check-circle"></i>
            </div>
          <% else %>
            <div class="iconSpan pull-left">
              <i class="fa fa-fw fa-2x fa-info-circle"></i>
            </div>
          <% end %>
          <div class="alertContent">
            <p><%= notice %></p>
            <% if confirmable %>
              <button type="button" class="btn btn-default btn-sm pull-right confirm" data-dismiss="alert">OK, I understand</button>
            <% end %>
          </div>
        <% end %>
    </div>
<% end %>
