<% product_status_values = get_cvu_status_values(product) %>

<table class="table table-condensed table-product-status">
  <thead>
    <tr id="product-status-<%=product.id%>">
      <% if show_product_link %>
        <th scope="col" rowspan="2" class="product-name">
          <span>
            <%= button_to favorite_vendor_product_path(product.vendor_id, product), remote: true, :class => "btn btn-link btn-pop" do %>
              <% if (product.favorite_user_ids.include? current_user.id) %>
                <%= icon('fas fa-fw', 'star', :"aria-hidden" => true) %>
                <span class="sr-only">product favorited</span>
              <% else %>
                <%= icon('far fa-fw', 'star', :"aria-hidden" => true) %>
                <span class="sr-only">product not favorited</span>
              <% end %>
            <% end %>
          </span>
          <%= link_to product.name, vendor_product_path(product.vendor_id, product), class: 'link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover' %>
        </th>
        <% else %>
          <th class="status-heading" rowspan="2"><span class="sr-only">Status</span></th>
        <% end %> 
        <th scope="col" colspan="1" class="cat1-heading">EC Measure Test</th>
        <th scope="col" colspan="1" class="cat1-heading">EH Measure Test</th>
        <th scope="col" colspan="1" class="cat1-heading">CMS Program Tests</th>
    </tr>
  </thead>
  <tbody>
    <% %w(passing failing not_started).each do |status| %>
      <% values = cvu_status_row(product_status_values, status) %>
      <% total = values.inject(:+) %>
      <% classes = status_to_css_classes(status) %>
      <tr>
        <th scope="row" class="test-status <%= classes['text'] %>">
          <%= icon("#{classes['type']} fa-fw", classes['icon'], :"aria-hidden" => true) %>
          <span class="total_status_count"></span>
          <%= status.humanize %> Tests
        </th>
        <% values.each do |value| %>
          <% if value.positive? %>
            <td class="<%= classes['cell'] %> text-center"><%= value %></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>