<%

# local variables
#
#   execution

%>

<% if test_state == :errored %>
  <%= icon('fas fa-fw text-warning', 'exclamation', :"aria-hidden" => true) %>

  <strong class="text-info">Internal Error</strong>
<% elsif !execution %>
  <%= icon('far fa-fw text-info', 'circle', :"aria-hidden" => true) %>

  <span class = 'text-info'>Not Started</span>
<% else %>
  <% classes = status_to_css_classes(execution.status.capitalize) %>
  <% case execution.status %>
  <% when 'passing' %>
    <%= icon('fas fa-fw text-success', 'check', :"aria-hidden" => true) %>
    <strong class = 'text-success'>Passed</strong>
  <% when 'failing' %>
    <%= icon('fas fa-fw text-danger', 'times', :"aria-hidden" => true) %>
    <strong class = 'text-danger'>Failed</strong>
  <% when 'errored' %>
    <%= icon('fas fa-fw text-warning', 'exclamation', :"aria-hidden" => true) %>
    <strong class = 'text-warning'>Errored</strong>
  <% else %>
    <%= icon('far fa-fw text-info', 'circle', :"aria-hidden" => true) %>
    <strong class = 'text-info'>In Progress</strong>
  <% end %>
<% end %>
