<%

# inputs:
#
#   task (c1task or c2task)
#   disable

%>

<div class="panel panel-primary">
  <div class="panel-body">
    <div class="panel-actions pull-right">
      <%= button_to edit_vendor_product_path(product.vendor_id, product), :method => :get, :class => "btn btn-default" do %>
        <%= icon('fas fa-fw', 'wrench', :"aria-hidden" => true) %> Edit Product
      <% end %>
      <% if current_user.user_role?(:atl) || current_user.user_role?(:admin) %>
        <% unless product.supplemental_test_artifact.file.nil? %>
          <%= button_to supplemental_test_artifact_vendor_product_path(product.vendor_id, product), :method => :get, :class => "btn btn-default" do %>
            <%= icon('fas fa-fw', 'download', :"aria-hidden" => true) %> Download Supplemental Test Artifact
          <% end %>
        <% end %>
        <%= button_to report_vendor_product_path(product.vendor_id, product), :method => :get, :class => "btn btn-default" do %>
         <%= icon('fas fa-fw', 'download', :"aria-hidden" => true) %> Download Report
        <% end %>
      <% end %>
    </div>
    <h1 class="summary-title"><%= product.name %> <% if product.version? %>(Version: <%= product.version %>)<% end %></h1>
    <% if product.description? %>
      <p><%= product.description %>
    <% end %>
  </div>
</div>
