<div class="panel panel-primary">
  <div class="panel-body">
    <div class="panel-actions pull-right">
      <% unless vendor.products.empty? %>
        <%= button_to new_vendor_product_path(vendor), :method => :get, :class => "btn btn-primary" do %>
          <%= icon('fas fa-fw', 'plus', :"aria-hidden" => true) %> Add Product
        <% end %>
      <% end %>
      <%= button_to records_path, params:{vendor_id: vendor.id} , :method => :get, :class => "btn btn-default" do %>
        <%= icon('fas fa-fw', 'users', :"aria-hidden" => true) %> Vendor Patients
      <% end %>
      <%= button_to edit_vendor_path(vendor), :method => :get, :class => "btn btn-default" do %>
        <%= icon('fas fa-fw', 'wrench', :"aria-hidden" => true) %> Edit Vendor
      <% end %>
    </div>

    <h1 class="summary-title"><%= vendor.name %> <% if vendor.vendor_id? %>(ID: <%= vendor.vendor_id %>)<% end %></h1>

    <% if vendor.header_fields? %>
      <ul class="fa-ul vendor-details">
        <% if vendor.url? %>
          <li>
            <%= icon('fa-li fas', 'globe', :"aria-hidden" => true) %>
            <a href="<%= website_link(vendor.url) %>">
              <span class="sr-only">Website for vendor <%= vendor.name %></span>
              <%= website_link(vendor.url) %>
            </a>
          </li>
        <% end %>
        <% if vendor.address? %>
          <li>
            <%= icon('fa-li fas', 'home', :"aria-hidden" => true) %>
            <span class="sr-only">Address for vendor <%= vendor.name %></span>
            <%= formatted_vendor_address(vendor) %>
          </li>
        <% end %>
        <% if !vendor.points_of_contact.empty? %>
          <% vendor.points_of_contact.each do |poc| %>
            <li class="point-of-contact">
              <%= icon('fa-li fas', 'user', :"aria-hidden" => true) %>
              <span class="sr-only">Point of contact for vendor <%= vendor.name %></span>
              <%= poc.name %> <%= "(#{poc.contact_type})" if poc.contact_type? %>
              <% if poc.email? || poc.phone? %>
                <ul class="fa-ul">
                  <% if poc.email? %>
                    <li>
                      <%= icon('fa-li fas', 'envelope', :"aria-hidden" => true) %>
                      <a href="mailto:<%= poc.email %>?subject=Cypress%20testing%20for%20<%= vendor.name %>">
                        <span class="sr-only">Email for <%= poc.name %></span>
                        <%= poc.email %>
                      </a>
                    </li>
                  <% end %>
                  <% if poc.phone? %>
                    <li>
                      <%= icon('fa-li fas', 'phone', :"aria-hidden" => true) %>
                      <% if poc.phone.gsub(/[^0-9]/, '').length == 10 %>
                        <a href="tel:<%= number_to_phone(poc.phone.gsub(/[^0-9]/, ''), country_code: 1) %>">
                          <span class="sr-only">Phone number for <%= poc.name %></span>
                          <%= number_to_phone(poc.phone.gsub(/[^0-9]/, ''), area_code: true) %>
                        </a>
                      <% else %>
                        <a href="tel:<%= poc.phone.gsub(/[^0-9]/, '') %>">
                          <span class="sr-only">Phone number for <%= poc.name %></span>
                          <%= poc.phone.gsub(/[^0-9]/, '') %>
                        </a>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
