<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "cypress #{Cypress::Application::VERSION}", root_path, id: "news", class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#cypressNavbar" aria-controls="cypressNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="cypressNavbar">
      <ul class="navbar-nav ms-auto">
      <% if user_signed_in? %>
        <% curr_page = if current_page?(edit_user_registration_path)
                         :account
                       elsif (controller.controller_name == 'records' && params[:task_id].nil? &&
                             params[:vendor_id].nil?)  || (current_page?(:records) && params[:task_id].nil? && params[:vendor_id].nil?)
                         :master_patient_list
                       elsif current_page?(admin_path) || current_page?(new_admin_bundle_path)
                         :admin
                       elsif current_page?(bundle_downloads_path)
                         :bundle_download
                       else
                         :dashboard
                       end
        %>
        <li class="nav-item">
          <% li_class = curr_page == :dashboard ? 'nav-link active' : 'nav-link' %>
          <%= link_to root_path, class: "#{li_class}" do %>
          <%= icon('fas fa-fw', 'users', :"aria-hidden" => true) %>
          Dashboard
          <% end %>
        </li>
        <li class="nav-item">
          <% li_class = curr_page == :master_patient_list ? 'nav-link active' : 'nav-link' %>
          <%= link_to records_path, class: "#{li_class}" do %>
          <%= icon('fas fa-fw', 'users', :"aria-hidden" => true) %>
          Master Patient List
          <% end %>
        </li>
        <% if Settings.current.downloadable_bundles %>
        <li class="nav-item">
          <% li_class = curr_page == :bundle_download ? 'nav-link active' : 'nav-link' %>
          <%= link_to bundle_downloads_path, class: "#{li_class}" do %>
          <%= icon('fas fa-fw', 'users', :"aria-hidden" => true) %>
          Download Bundles
          <% end %>
        </li>
        <% end %>
        <% if Settings.current.api_documentation %>
        <li class="nav-item">
          <% li_class = curr_page == :bundle_download ? 'nav-link active' : 'nav-link' %>
          <%= link_to Settings.current.api_documentation_path, class: "#{li_class}" do %>
          <%= icon('fas fa-fw', 'users', :"aria-hidden" => true) %>
          API
          <% end %>
        </li>
        <% end %>
        <li class="nav-item">
          <% li_class = curr_page == :account ? 'nav-link active' : 'nav-link' %>
          <%= link_to edit_user_registration_path, class: "#{li_class}" do %>
          <%= icon('fas fa-fw', 'users', :"aria-hidden" => true) %>
          <%= current_user.email.truncate(20) %>
          <% end %>
        </li>
        <% if current_user.user_role? :admin%>
        <li class="nav-item">
          <% li_class = curr_page == :admin ? 'nav-link active' : 'nav-link' %>
          <%= link_to admin_path, class: "#{li_class}" do %>
          <%= icon('fas fa-fw', 'users', :"aria-hidden" => true) %>
          Admin
          <% end %>
        </li>
        <% end %>
        <li class="nav-item">
          <% li_class = 'nav-link' %>
          <%= link_to destroy_user_session_path, class: "#{li_class}" do %>
          <%= icon('fas fa-fw', 'users', :"aria-hidden" => true) %>
          Log Out
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <% li_class = current_page?(new_user_session_path) ? 'nav-link active' : 'nav-link' %>
          <%= link_to new_user_session_path, class: "#{li_class}" do %>
          <%= icon('fas fa-fw', 'users', :"aria-hidden" => true) %>
          Sign In
          <% end %>
        </li>
        <li class="nav-item">
          <% li_class = current_page?(new_user_registration_path) ? 'nav-link active' : 'nav-link' %>
          <%= link_to new_user_registration_path, class: "#{li_class}" do %>
          <%= icon('fas fa-fw', 'users', :"aria-hidden" => true) %>
          Sign Up
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>