<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_path do %>cypress<% end %>
      <button type="button" class="navbar-toggle navbar-right" data-toggle="collapse" data-target="#cypressNavbar" aria-label="navigation menu" role="button" aria-controls="cypressNavbar" aria-expanded="false">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="cypressNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li <% if (current_page?(:records) && params[:product_test_id]) || (!current_page?(:records) && !current_page?(edit_user_registration_path)) %>class="active"<% end %>>
            <%= link_to root_path, class: 'navbar-item'   do %>
            <i class="fa fa-fw fa-th-list" aria-hidden="true"></i>
            Dashboard
            <% end %>
          </li>
          <li <% if current_page?(:records) && !params[:product_test_id] %>class="active"<% end %>>
            <%= link_to records_path, class: 'navbar-item'   do %>
            <i class="fa fa-fw fa-users" aria-hidden="true"></i>
            Master Patient List
            <% end %>
          </li>
          <li <% if current_page?(edit_user_registration_path) %>class="active"<% end %>>
            <%= link_to edit_user_registration_path, class: 'navbar-item'   do %>
            <i class="fa fa-fw fa-gears" aria-hidden="true"></i>
            Account
            <% end %>
          </li>

          <li>
            <%= link_to destroy_user_session_path, class: 'navbar-item'  do %>
                <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                 Log Out
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
