<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_path do %>cypress <small><%= Cypress::Application::VERSION %></small><% end %>
      <button type="button" class="navbar-toggle navbar-right" data-toggle="collapse" data-target="#cypressNavbar" aria-label="navigation menu" role="button" aria-controls="cypressNavbar" aria-expanded="false">
        <%= icon('fas fa-2x', 'bars', :"aria-hidden" => true) %>
        <span class="sr-only">Expand navigation menu</span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="cypressNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% curr_page = if current_page?(edit_user_registration_path)
                           :account
                         elsif (controller.controller_name == 'records' && (params[:bundle_id] || (params[:task_id].nil? &&
                               params[:vendor_id].nil?)))  || (current_page?(:records) && params[:task_id].nil? && params[:vendor_id].nil?)
                           :master_patient_list
                         elsif current_page?(admin_path)
                           :admin
                         else
                           :dashboard
                         end
           %>

          <li <% if curr_page == :dashboard %>class="active"<% end %>>
            <%= link_to root_path, class: 'navbar-item'   do %>
            <%= icon('fas fa-fw', 'th-list', :"aria-hidden" => true) %>
            Dashboard
            <% end %>
          </li>
          <li <% if curr_page == :master_patient_list %>class="active"<% end %>>
            <%= link_to records_path, class: 'navbar-item'   do %>
            <%= icon('fas fa-fw', 'users', :"aria-hidden" => true) %>
            Master Patient List
            <% end %>
          </li>
          <% if Settings.current.mode_internal? || Settings.current.mode_demo? %>
          <li>
          <%= link_to '/cvu', class: 'navbar-item', target: '_blank'   do %>
              <%= icon('fas', 'check-square', :"aria-hidden" => true) %>
              Validation Utility
              <% end %>
          </li>
          <% end %>
          <li <% if curr_page == :account %>class="active"<% end %>>
            <%= link_to edit_user_registration_path, class: 'navbar-item'   do %>
            <%= icon('fas fa-fw', 'user', :"aria-hidden" => true) %>
            <%= current_user.email.truncate(20) %>
            <% end %>
          </li>
          <% if current_user.user_role? :admin%>
            <li <% if curr_page == :admin %>class="active"<% end %>>
              <%= link_to admin_path, class: 'navbar-item'   do %>
              <%= icon('fas fa-fw', 'cog', :"aria-hidden" => true) %>
              Admin
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to destroy_user_session_path, class: 'navbar-item'  do %>
                <%= icon('fas fa-fw', 'sign-out-alt', :"aria-hidden" => true) %>
                 Log Out
            <% end %>
          </li>
        <% else %>
          <li <% if current_page?(new_user_session_path) %>class="active"<% end %>>
            <%= link_to new_user_session_path, class: 'navbar-item' do %>
              Sign In
            <% end %>
          </li>
          <li <% if current_page?(new_user_registration_path) %>class="active"<% end %>>
            <%= link_to new_user_registration_path, class: 'navbar-item' do %>
              Sign Up
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
