<%#
  local variable 'product' and 'show_product_link' boolean
%>

<% show_product_link ||= false %>
<% product_status_values = get_product_status_values(product) %>

<% not_certifying = '' %>
<% not_certifying << 'hide-c1 ' unless product.c1_test %>
<% not_certifying << 'hide-c2 ' unless product.c2_test %>
<% not_certifying << 'hide-c3 ' unless product.c3_test %>
<% not_certifying << 'hide-c4' unless product.c4_test %>

<table class="table table-condensed table-product-status <%= not_certifying %>">
  <thead>
    <tr id="product-status-<%=product.id%>">
      <% if show_product_link %>
        <th scope="col" rowspan="2" class="product-name">
          <span>
            <%= button_to vendor_product_favorite_path(product.vendor_id, product), remote: true, :class => "btn btn-link btn-pop" do %>
              <% if (product.favorite_user_ids.include? current_user.id) %>
                <%= icon('fas fa-fw', 'star', :"aria-hidden" => true) %>
                <span class="sr-only">product favorited</span>
              <% else %>
                <%= icon('far fa-fw', 'star', :"aria-hidden" => true) %>
                <span class="sr-only">product not favorited</span>
              <% end %>
            <% end %>
          </span>
          <%= link_to product.name, vendor_product_path(product.vendor_id, product) %>
        </th>
      <% else %>
        <th class="status-heading" rowspan="2"><span class="sr-only">Status</span></th>
      <% end %>
      <th scope="col" colspan="2" class="c1-heading">C1</th>
      <th scope="col" class="c2-heading">C2</th>
      <th scope="col" colspan="3" class="c3-heading">C3</th>
      <th scope="col" colspan="2" class="c4-heading">C4</th>
    </tr>
    <tr>
      <th scope="col" class="c1-heading">Sample</th>
      <th scope="col" class="c1-heading">QRDA-I</th>
      <th scope="col" class="c2-heading">QRDA-III</th>
      <th scope="col" class="c3-heading <%= 'hide-test' unless product.c1_test %>">Sample</th>
      <th scope="col" class="c3-heading">QRDA-I</th>
      <th scope="col" class="c3-heading">QRDA-III</th>
      <th scope="col" class="c4-heading">QRDA-I</th>
      <th scope="col" class="c4-heading">QRDA-III</th>
    </tr>
  </thead>
  <tbody>
    <% %w(passing failing not_started errored).each do |status| %>
      <% values = product_status_row(product_status_values, status) %>
      <% total = values.inject(:+) %>
      <% classes = status_to_css_classes(status) %>

      <tr <%= 'hidden' if (status == 'errored' && total.zero?) %>>
        <th scope="row" class="test-status <%= classes['text'] %>">
          <%= icon("#{classes['type']} fa-fw", classes['icon'], :"aria-hidden" => true) %>
          <span class="total_status_count"><%= total %></span>
          <%= status.humanize %> Tests
        </th>

        <% values.each do |value| %>
          <% if value.positive? %>
            <td class="<%= classes['cell'] %> text-center"><%= value %></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
