<div class="row">
  <div class = 'col-md-8'>
    <%= render 'product_status_table', :product => @product %>
  </div>

  <div class = 'col-md-4'>
    <% unless @product.product_tests.empty? %>
      <div class = 'card card-default'>
        <div class = 'card-header'>
          <h1 class='card-title lead'>Download Full Test Deck</h1>
        </div>
        <div class = 'card-body' id = 'display_bulk_download'>
          <%= render 'bulk_download', :product => @product %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="product-test-tabs">

<div class="product-test-tabs">
  <ul>
    <% each_tab(@product) do |test_type, title, _, html_id| %>
      <li><a href = '<%= "##{html_id}" %>'><%= title %></a></li>
    <% end %>
  </ul>
  <% each_tab(@product) do |test_type, title, description, html_id| %>
    <div id = '<%= html_id %>'>
      <p class = 'lead'><%= description %></p>

      <% # Multi Measure Test Tab %>
      <% if test_type == 'MultiMeasureTest' %>
        <div id="display_measure_tests_table">
          <table class = 'table table-hover measure_tests_table'>
            <thead>
              <th scope = 'col' class = 'col-sm-1 no-wrap pointer-on-hover'>Test Name</th>
              <th scope = 'col' class = 'col-sm-4 pointer-on-hover'>Measures</th>
              <th scope = 'col' class = 'col-sm-1'>Quick Upload</th>
              <th scope = 'col' class = 'col-sm-1'>Last Updated</th>
            </thead>
            <tbody>
              <% @product.product_tests.multi_measure_tests.each do |product_test| %>
              <% # A Multi Measure Test only has a single task %>
              <% task = product_test.tasks.first %>
              <tr>
                <td><%= link_to product_test.name, new_task_test_execution_path(task) %></td>
                <td>
                  <% task.measures.collect(&:cms_id).each_with_index do |cms_id, index| %>
                    <%= index == task.measures.size - 1 ? cms_id : "#{cms_id}, " %>
                  <% end %>
                </td>
                <td class="no-wrap" id = "<%= id_for_html_wrapper_of_task(task) %>">
                  <%= render 'filtering_test_link', :test => product_test, :task => task, :parent_reloading => true %>
                </td>
                <td class="no-wrap" data-order="<%= task.updated_at %>">
                  <%= icon('far fa-fw', 'clock', :"aria-hidden" => true) %><%= local_time_ago(task.updated_at) %>
                </td>
              </tr>
              <% end %> 
            </tbody>
          </table>
        </div>
      <% end %>

      <% # CMS Program Test Tab %>
      <% if test_type == 'CMSProgramTest' %>
        <div id="display_measure_tests_table">
          <table class = 'table table-hover measure_tests_table'>
            <thead>
              <th scope = 'col' class = 'col-sm-1 no-wrap pointer-on-hover'>Test Name</th>
              <th scope = 'col' class = 'col-sm-1'>Quick Upload</th>
              <th scope = 'col' class = 'col-sm-1'>Last Updated</th>
            </thead>
            <tbody>
              <% @product.product_tests.cms_program_tests.each do |program_test| %>
              <% # A Multi Measure Test only has a single task %>
              <% task = program_test.tasks.first %>
              <tr>
                <td><%= link_to cms_program_test_display_name(program_test), product_program_test_path(@product, program_test) %></td>
                <td class="no-wrap" id = "<%= id_for_html_wrapper_of_task(task) %>">
                  <%= render 'filtering_test_link', :test => program_test, :task => task, :parent_reloading => true %>
                </td>
                <td class="no-wrap" data-order="<%= task.updated_at %>">
                  <%= icon('far fa-fw', 'clock', :"aria-hidden" => true) %><%= local_time_ago(task.updated_at) %>
                </td>
              </tr>
              <% end %> 
            </tbody>
          </table>
        </div>
      <% end %>

    </div>
  <% end %>

</div>