<div class="row">
  <div class = 'col-md-8'>
    <%= render 'product_status_table', :product => @product %>
  </div>

  <div class = 'col-md-4'>
    <% unless @product.product_tests.empty? %>
      <div class = 'card card-default'>
        <div class = 'card-header'>
          <h1 class='card-title lead'>Download Full Test Deck</h1>
        </div>
        <%= render 'bulk_download_wrapper', :product => @product %>
      </div>
    <% end %>
  </div>
</div>

<div class="product-test-tabs">

<div class="product-test-tabs">
  <ul>
    <% each_tab(@product) do |test_type, title, _, html_id| %>
      <li><a href = '<%= "##{html_id}" %>'><%= title %></a></li>
    <% end %>
  </ul>
  <% each_tab(@product) do |test_type, title, description, html_id| %>
    <div id = '<%= html_id %>'>
      <p class = 'lead'><%= description %></p>

      <% # Multi Measure Test Tab %>
      <% if test_type == 'MultiMeasureTest' %>
        <%= render 'cvu_multi_display', :product => @product, :html_id => html_id, :product_page_url => request.path %>
        <% tests = @product.product_tests.multi_measure_tests %>
        <%= render 'products/cvu_multi_display_body_controller', :product_page_url => request.path, :html_id => html_id, :reload => should_reload_measure_test_table?(tests.map(&:tasks).flatten) %>
      <% end %>

      <% # CMS Program Test Tab %>
      <% if test_type == 'CMSProgramTest' %>
        <%= render 'cvu_program_display', :product => @product, :html_id => html_id, :product_page_url => request.path %>
        <% tests = @product.product_tests.cms_program_tests %>
        <%= render 'products/cvu_program_display_body_controller', :product_page_url => request.path, :html_id => html_id, :reload => should_reload_measure_test_table?(tests.map(&:tasks).flatten) %>
      <% end %>

    </div>
  <% end %>

</div>