<%

# local variable 'tests' should be filtering_tests

%>

<table class = 'table table-hover table-condensed'>
  <thead>
    <th class = 'col-sm-1'></th>
    <th class = 'col-sm-5'></th>
    <th class = 'col-sm-3'><strong>CAT I</strong></th>
    <th class = 'col-sm-3'><strong>CAT III</strong></th>
  </thead>
  <tbody data-no-turbolink>
    <% tests.each do |test| %>
      <tr>
        <td></td>
        <td>
          <% visibility = test.task_status('cat_1_filter_task') == 'passing' && test.task_status('cat_3_filter_task') == 'passing' ? '' : 'invisible' %>
          <i class = 'fa fa-fw fa-check text-success <%= visibility %>'></i>
          <%= test.options.filters.keys.join('/').titleize %>
        </td>
        <td><%= render partial: 'product_test_link', locals: { test: test, task: test.cat1_task } %></td>
        <td><%= render partial: 'product_test_link', locals: { test: test, task: test.cat3_task } %></td>
      </tr>
    <% end %>
    <% if tests.any? { |test| test.state != :ready } %>
      <script>
        $.ajax({url: "<%= request.env['PATH_INFO'] %>", type: "GET", dataType: 'script', data: { partial: 'filtering_test_status_display' }});
      </script>
    <% end%>
  </tbody>
</table>