<%

# local variable 'tests' should be filtering_tests

%>

<table class = 'table'>
  <thead>
    <th class="no-wrap" scope="col">Filtering Criteria</th>
    <th class="no-wrap" scope="col">CAT I</th>
    <th class="no-wrap" scope="col">CAT III</th>
    <th class="no-wrap" scope="col">Last Updated</th>
  </thead>
  <tbody>
    <% tests.each do |test| %>
      <tr>
        <td class="no-wrap">
          <% if test.display_name.to_s == '' %>
            <%= test.options.filters.keys.join('/').titleize %>
          <% else %>
            <%= test.display_name %>
          <% end %>
        </td>
        <td class="no-wrap"><%= render partial: 'product_test_link', locals: { test: test, task: test.cat1_task, status: test.cat1_task.status } %></td>
        <td class="no-wrap"><%= render partial: 'product_test_link', locals: { test: test, task: test.cat3_task, status: test.cat3_task.status } %></td>
        <td class="no-wrap"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
          <%= local_time_ago(test.updated_at) %></td>
      </tr>
    <% end %>
    <% if tests.any? { |test| test.state != :ready } %>
      <script>
        $.ajax({url: "<%= request.env['PATH_INFO'] %>", type: "GET", dataType: 'script', data: { partial: 'filtering_test_status_display' }});
      </script>
    <% end%>
  </tbody>
</table>
