<%

# local variables
#
#   test  (MeasureTest)
#   task  (Task)        for   MeasureTest: should be C1Task or C2Task. should NOT be C3Cat1Task or C3Cat3Task since c3 test executions are executed
#                                          when c1 or c2 test executions are created
#                       for FilteringTest: should be Cat1FilterTask or Cat3FilterTask

%>

<% parent_reloading = false unless (defined? parent_reloading) %>
<% tasks = with_c3_task(task) %>
<% status = tasks_status(tasks) %>
<% should_reload = should_reload_product_test_link?(status, test) %>

<% if test.state != :ready %>
  <% if test.state == :queued %>
    <%= icon('far fa-fw text-muted', 'circle', :"aria-hidden" => true) %>
    <span class="label label-default">queued</span>
  <% elsif test.state == :building %>
    <%= icon('fas fa-fw fa-spin', 'cog', :"aria-hidden" => true) %>
    <span class="label label-default">building</span>
  <% elsif test.state == :errored %>
  <%= icon('fas fa-fw text-warning', 'exclamation', :"aria-hidden" => true) %>
  <strong class="text-info">Internal Error</strong>
  <% end %>
<% else %>
  <% case status %>
  <% when 'passing' %>
    <%= icon('fas fa-fw text-success', 'check-circle', :"aria-hidden" => true) %>
    <%= link_to 'view', new_task_test_execution_path(task), :class => "label label-success" %>
    <%= render partial: '/products/product_test_upload', locals: { task: task } %>
  <% when 'failing'%>
    <%= icon('fas fa-fw text-danger', 'play-circle', :"aria-hidden" => true) %>
    <%= link_to 'retry', new_task_test_execution_path(task), :class => "label label-danger" %>
    <%= render partial: '/products/product_test_upload', locals: { task: task } %>
  <% when 'errored'%>
    <%= icon('fas fa-fw text-warning', 'exclamation-circle', :"aria-hidden" => true) %>
    <%= link_to 'retry', new_task_test_execution_path(task), :class => "label label-warning" %>
    <%= render partial: '/products/product_test_upload', locals: { task: task } %>
  <% when 'pending'%>
    <%= icon('fas fa-fw fa-spin text-testing', 'gavel', :"aria-hidden" => true) %>
    <%= link_to 'testing...', new_task_test_execution_path(task), :class => 'label label-default' %>
  <% else %>
    <%= icon('fas fa-fw text-info', 'play-circle', :"aria-hidden" => true) %>
    <%= link_to 'start', new_task_test_execution_path(task), :class => "label label-info" %>
    <%= render partial: '/products/product_test_upload', locals: { task: task } %>
  <% end %>
<% end %>

<% if should_reload && !parent_reloading %>
  <script>
  $(document).ready(function() {
    $.ajax({url: "<%= request.env['PATH_INFO'] %>", type: "GET", dataType: 'script', data: { partial: 'filtering_test_link', task_id: "<%= task.id.to_s %>" }});
  });
  </script>
<% end %>
