<%

# local variable 'tests'

%>

<% c1_label = 'C1' %>
<% c2_label = 'C2' %>
<% c1_label += ' and C3' if @product.c3_test %>
<% c2_label += ' and C3' if @product.c3_test %>
<% c1_and_c2 = @product.c1_test && @product.c2_test %>

<table class = 'table table-hover table-condensed' id = 'measure_test_table'>
  <thead>
    <th scope="col" class = 'col-sm-2 pointer-on-hover'>
      CMS ID
      <a>[sort]</a>
    </th>
    <% if c1_and_c2 %>
      <th scope="col" class = 'col-sm-6 pointer-on-hover'>
        Measure Name
        <a>[sort]</a>
      </th>  
    <% else %>
      <th scope="col" class = 'col-sm-8 pointer-on-hover'>
        Measure Name
        <a>[sort]</a>
      </th>
    <% end %>
    <% if @product.c1_test %>
      <th scope="col" class = 'col-sm-2 pointer-on-hover'>
        <%= c1_label %>
        <a>[sort]</a>
      </th>
    <% end %>
    <% if @product.c2_test %>
      <th scope="col" class = 'col-sm-2 pointer-on-hover'>
        <%= c2_label %>
        <a>[sort]</a>
      </th>
    <% end %>
  </thead>
  <tbody>
    <% tests.each do |test| %>
      <tr>
        <td><%= test.cms_id %></td>
        <td><%= test.name %></td>
        <% if @product.c1_test %>
          <td><%= render partial: 'product_test_link', locals: { task: test.c1_task } %></td>
        <% end %>
        <% if @product.c2_test %>
          <td><%= render partial: 'product_test_link', locals: { task: test.c2_task } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
