<%

# local variables
#
#   f   (product form)

%>


<div class="panel panel-primary select-measures hidden">
  <div class="panel-heading">
    <h3 id="select_custom_measures" class='panel-title'>Select Custom Measures <span class='selected-number'>(0)</span><span class='sr-only'>selected</span></h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12" id="measures_errors_container"><!--%= f.errors_on :measure_tests, hide_attribute_name: true % --></div>
    <div id="measure_selection_section">
        <div id="measure_tabs" class="measure-selection">
          <div class="sidebar">
            <!-- set up a tab header for each measure group -->
            <ul>
              <% @measures_categories.sort.each do |category, measures| %>
                <li>
                  <a href="#<%= category.tr(" '", "_") %>_div">
                    <%= "#{category}" %>
                    (<%= type_counts(measures) %>)
                    <span class="selected-number pull-right"></span>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="measure-list">
            <% @measures_categories.sort.each do |category, measures| %>
              <!-- set up a checkbox for each top-level measure in the group -->
              <div id="<%= category.tr(" '", "_") %>_div" class="measure_group">
                <% if measures.length > 1 %>
                <div class="checkbox">
                  <label class="btn btn-checkbox">
                    <input type="checkbox"
                      id="<%= category.tr(" '", "_") %>"
                      class="measure_group_all"
                      <%= 'disabled' if defined?(@selected_measure_ids) && !@product.new_record? %>/>
                    Select all <%= measures.length %> <%= category %> measures
                  </label>
                </div>
                <% end %>
                <% measures.sort_by(&:cms_int).each do |m| %>
                  <div class = 'checkbox'>
                    <%= f.check_box :measure_ids, measure_checkbox_attributes(m, category, @selected_measure_ids), m.hqmf_id, nil do %>
                      <strong><%= m.cms_id %></strong><%= " #{m.name} (#{m.type.upcase})" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
     </div>
  </div>
</div>

