<%

# local variable 'tests'

%>

<% c1_label = 'C1' %>
<% c2_label = 'C2' %>
<% c1_label += ' and C3' if @product.c3_test %>
<% c2_label += ' and C3' if @product.c3_test %>
<% c1_and_c2 = @product.c1_test && @product.c2_test %>

<table class = 'table table-hover table-condensed'>
  <thead>
    <th class = 'col-sm-2'>CMS ID</th>
    <% if c1_and_c2 %>
      <th class = 'col-sm-6'>Measure Name</th>  
    <% else %>
      <th class = 'col-sm-8'>Measure Name</th>
    <% end %>
    <% if @product.c1_test %>
      <th class = 'col-sm-2'><%= c1_label %></th>
    <% end %>
    <% if @product.c2_test %>
      <th class = 'col-sm-2'><%= c2_label %></th>
    <% end %>
  </thead>
  <tbody>
    <% tests.each do |test| %>
      <tr>
        <td><%= test.cms_id %></td>
        <td><%= test.name %></td>
        <% if @product.c1_test %>
          <td><%= render partial: 'measure_link', locals: { task: test.c1_task } %></td>
        <% end %>
        <% if @product.c2_test %>
          <td><%= render partial: 'measure_link', locals: { task: test.c2_task } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
