<%

# local variable 'tests'

%>

<% c1_label = 'C1' %>
<% c2_label = 'C2' %>
<% c1_label += ' and C3' if @product.c3_test %>
<% c2_label += ' and C3' if @product.c3_test %>
<% c1_and_c2 = @product.c1_test && @product.c2_test %>

<table class = 'table' id = 'measure_tests_table'>
  <thead>
    <th scope="col" class = 'no-wrap pointer-on-hover'>
      CMS ID
    </th>
    <% if c1_and_c2 %>
      <th scope="col" class = 'col-sm-6 no-wrap pointer-on-hover'>
        Measure Name
      </th>
    <% else %>
      <th scope="col" class = 'no-wrap pointer-on-hover'>
        Measure Name
      </th>
    <% end %>
    <% if @product.c1_test %>
      <th scope="col" class = 'no-wrap pointer-on-hover'>
        <%= c1_label %>
      </th>
    <% end %>
    <% if @product.c2_test %>
      <th scope="col" class = 'no-wrap pointer-on-hover'>
        <%= c2_label %>
      </th>
    <% end %>
    <th scope="col" class="no-wrap">
      Last Updated
    </th>
  </thead>
  <tbody>
    <% tests.each do |test| %>
      <tr>
        <td data-sort="<%= cms_int(test.cms_id) %>"><%= test.cms_id %></td>
        <td><%= test.name%></td>
        <% if @product.c1_test %>
          <td id = "<%= id_for_html_wrapper_of_task(test.tasks.c1_task) %>" class="no-wrap" data-order="<%= set_sorting(test, test.cat1_status) %>"><%= render partial: '/products/product_test_link', locals: { test: test, task: test.tasks.c1_task } %></td>
        <% end %>
        <% if @product.c2_test %>
          <td id = "<%= id_for_html_wrapper_of_task(test.tasks.c2_task) %>" class="no-wrap" data-order="<%= set_sorting(test, test.cat3_status) %>"><%= render partial: '/products/product_test_link', locals: { test: test, task: test.tasks.c2_task } %></td>
        <% end %>
        <td class="no-wrap" data-order="<%= test.updated_at %>"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
          <%= local_time_ago(test.updated_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
