<%

# local variables
#
#   task  (Task)        for MeasureTest: should be C1Task or C2Task. should NOT be C3Cat1Task or C3Cat3Task since c3 test executions are executed

%>

<% test = task.product_test %>
<% tasks = with_c3_task(task) %>

<% if test.state != :ready %>
  <% if test.state == :queued %>
    <%= icon('far fa-fw text-muted', 'circle', :"aria-hidden" => true) %>
    <span class="label label-default">queued</span>
  <% elsif test.state == :building %>
    <%= icon('fas fa-fw fa-spin', 'cog', :"aria-hidden" => true) %>
    <span class="label label-default">building</span>
  <% elsif test.state == :errored %>
    <%= icon('fas', 'exclamation-triangle', :"aria-hidden" => true) %>
  <% end %>
<% else %>
  <% case tasks_status(tasks) %>
  <% when 'pending' %>
    <%= icon('fas fa-fw fa-spin text-testing', 'gavel', :"aria-hidden" => true) %>
    <span class = 'label label-default'>testing...</span>
  <% else %>
    <%= icon('fas fa-fw invisible', 'gavel', :"aria-hidden" => true) %>
    <%= render partial: '/products/product_test_upload', locals: { task: task, label_class: 'label-info' } %>
  <% end %>
<% end %>
