<%

# local variables
#
#   task       (Task)

%>

<% test = task.product_test %>
<% include_c3 = test.product.c3_test %>

<td data-sort="<%= cms_int(test.cms_id) %>"><%= test.cms_id %></td>
<td><%= link_to test.name, new_task_test_execution_path(task) %></td>
<td data-order="<%= set_sorting(test, task.status) %>">
  <%= render partial: 'execution_status_message', locals: { execution: task.most_recent_execution } %>
</td>
<% if include_c3 %>
  <% sibling_execution = task.most_recent_execution ? task.most_recent_execution.sibling_execution : nil %>
  <td data-order="<%= set_sorting(test, task.status) %>">
    <%= render partial: 'execution_status_message', locals: { execution: sibling_execution } %>
  </td>
<% end %>
<td id = "<%= id_for_html_wrapper_of_task(task) %>" class="no-wrap" data-order="<%= set_sorting(test, task.status) %>">
  <%= render partial: '/products/measure_test_link', locals: { test: test, task: task } %>
</td>
<td class="no-wrap" data-order="<%= task.updated_at %>">
  <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i><%= local_time_ago(task.updated_at) %>
</td>

<% if should_reload_measure_test_row?(task) %>
  <script>
    $.ajax({url: "<%= request.env['PATH_INFO'] %>", type: "GET", dataType: 'script', data: { partial: 'measure_tests_table_row', task_id: "<%= task.id.to_s %>" }});
  </script>
<% end %>