<%
# local variables
#
#   task
#   has_eh_tests
#   has_ep_tests
#   html_id
#   include_c1
#   product_url
%>

<% test = task.product_test %>
<% include_c3 = include_c3_column(task, has_eh_tests, has_ep_tests) %>
<% row_id = measure_tests_table_row_wrapper_id(task) %>
<% task_status = task.status %>

<%
  row_reload =
    if defined?(should_reload_measure_test_row?)
      should_reload_measure_test_row?(task)
    else
      task.state.to_sym != :ready
    end
%>

<tr id="<%= row_id %>">
  <td data-sort="<%= cms_int(test.cms_id) %>"><%= test.cms_id %></td>

  <td><%= link_to test.name, new_task_test_execution_path(task) %></td>

  <% if include_first_task(test.product, task._type) %>
    <td data-order="<%= set_sorting(test, task_status) %>">
      <%= render "execution_status_message",
        status: task_status,
        test_state: test.state %>
    </td>
  <% end %>

  <% if include_c3 %>
    <%
      test_state =
        if task._type == "C1Task" && !test.c3_cat1_task?
          :na
        elsif task._type == "C2Task" && !test.c3_cat3_task?
          :na
        else
          test.state
        end
    %>

    <%
      sibling_status =
        if task.is_a?(C1Task)
          test.task_status("C3Cat1Task")
        elsif task.is_a?(C2Task)
          test.task_status("C3Cat3Task")
        end
    %>

    <td data-order="<%= set_sorting(test, sibling_status) %>">
      <%= render "execution_status_message",
        status: sibling_status,
        test_state: test_state %>
    </td>
  <% end %>

  <td id="<%= id_for_html_wrapper_of_task(task) %>" class="no-wrap" data-order="<%= set_sorting(test, task_status) %>">
    <%= render partial: "/products/measure_test_link",
      locals: {
        test: test,
        task: task,
        html_id: html_id,
        include_c1: include_c1,
        product_url: product_url
      } %>

    <% if row_reload %>
      <div
        id="<%= "#{row_id}_poller" %>"
        data-controller="turbo-stream-poller"
        data-turbo-temporary
        data-turbo-stream-poller-url-value="<%= product_url %>"
        data-turbo-stream-poller-params-value="<%= {
          partial: "measure_tests_table_row",
          task_id: task.id.to_s,
          html_id: html_id,
          get_c1_tasks: include_c1
        }.to_json %>"
        data-turbo-stream-poller-immediate-value="false"
        data-turbo-stream-poller-interval-value="10000"></div>
    <% end %>
  </td>

  <td class="no-wrap" data-order="<%= task.updated_at.to_i %>">
    <%= icon("far fa-fw", "clock", :"aria-hidden" => true) %><%= local_time_ago(task.updated_at) %>
  </td>
</tr>
