<%

# local variables:
#
#   product, test_type, cert_type, show_c3, test_display_name
#
#   variables should fit one of these combinations:
#
#   test_type     cert_type     show_c3
#
#   'checklist'   'C1'
#   'measure'     'C1'
#   'measure'     'C2'
#   'measure'     'C1'          true
#   'measure'     'C2'          true
#   'filter'      'C4'

%>

<% show_c3 ||= false %>

<% if test_type == 'checklist' %>
  <% passing, failing, total = checklist_status_values(product.product_tests.checklist_tests.first) %>
<% elsif test_type == 'measure' %>
  <% passing, failing, not_started, total = measure_test_status_values(product.product_tests.measure_tests, "#{cert_type}Task", show_c3) %>
<% elsif test_type == 'filter' %>
  <% passing, failing, not_started, total = filtering_test_status_values_summed(product.product_tests.filtering_tests) %>
<% else %>
  <% # no other test_type should be specified. please don't do this %>
<% end %>

<tr>
  <td>
    <% visibility = (passing == total) && (total != 0) ? '' : 'invisible' %>
    <i class = 'fa fa-fw fa-check text-success <%= visibility %>'></i>
    <strong><%= show_c3 ? 'C3' : cert_type %></strong>
  </td>
  <td><%= test_display_name %></td>
  <% passing_display = total == 0 ? '--' : "#{passing}/#{total}" %>
  <td><strong class = 'text-success'><%= passing_display %></strong></td>
  <% failing_display = failing == 0 ? '--' : "#{failing}/#{total}" %>
  <td><strong class = 'text-danger'><%= failing_display %></strong></td>
  <% if test_type == 'checklist' %>
    <td>--</td>
  <% else %>
    <% not_started_display = not_started == 0 ? '--' : "#{not_started}/#{total}" %>
    <td><%= not_started_display %></td>
  <% end %>
  </td>
</tr>