<%= form_for [@vendor, @product], html: { class: "form-horizontal" } do |f| %>

  <div class = "form-group">
    <%= f.label :name, "Product Name", :class => "control-label col-sm-2" %>
    <div class = "col-sm-4">
      <%= f.text_field :name, :class => "form-control", :placeholder => "Name" %>
    </div>
    <div class = "col-sm-2" >* required</div>
  </div>

  <div class = "form-group">
    <%= f.label :version, "Version", :class => "control-label col-sm-2" %>
    <div class = "col-sm-4">
      <%= f.text_field :version, :class => "form-control", :placeholder => "Version"%>
    </div>
  </div>

  <div class = "form-group">
    <%= f.label :description, "Description", :class => "control-label col-sm-2" %>
    <div class = "col-sm-4">
      <%= f.text_area :description, :class => "form-control", :placeholder => "Write product description here..."%>
    </div>
  </div>

  <div class = "form-group">
    <%= f.label :ehr_type, "EHR Type", :class => "control-label col-sm-2" %>
    <div class = "col-sm-4">
      <div class = "btn-group btn-group-justified" role = "group">
        <%= f.radio_button :ehr_type, "hospital", disabled: f.object.persisted?, :class => "hide" %>
        <%= f.label :ehr_type_hospital, "Eligible Hospital", class: (f.object.persisted? ? "cannot_select btn btn-default" : "btn btn-default") %>
        <%= f.radio_button :ehr_type, "provider", disabled: f.object.persisted?, :class => "hide" %>
        <%= f.label :ehr_type_provider, "Eligible Provider", class: (f.object.persisted? ? "cannot_select btn btn-default" : "btn btn-default") %>
      </div>
    </div>
    <div class = "col-sm-2" >* required</div>
  </div>

  <div class = "form-group">
    <div class = "col-sm-2"></div>
    <div class = "col-sm-4">
      <div class = "pull-right">
        <%= submit_tag "Cancel", :class => "btn btn-default", :type => "button", :onclick => "location.href = '/vendors/#{@vendor.id}'" %>
        <%= button_tag submit_text, :class => "btn btn-primary" %>
      </div>
    </div>
  </div>

<% end %>
