<div class="panel panel-default">
  <div class="panel-heading"><h1 class='panel-title'><%= submit_text %><%= @product.name ? ": "+ @product.name : "" %></h1></div>

  <%= bootstrap_nested_form_for [@product.vendor, @product], html: { "data-parsley-validate": '' } do |f| %>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :name, autocomplete: 'off', data: { 'parsley-required': '', 'parsley-trigger': 'blur', 'parsley-error-message': "Name can't be blank." } %>
          <%= f.text_field :version %>
          <%= f.text_area :description %>

          <fieldset id="certification_options">
            <legend class="control-label">Certification Types</legend>
            <div id="certifications_errors_container"></div>
            <%= f.form_group help: "You must select C1, C2, or C4 in order to utilize Cypress for testing" do %>
              <% Cypress::AppConfig['certifications'].each do |c, certification| %>
                <% if c == 'C1' || c == 'C2' || c == 'C4'%>
                  <%= f.check_box c.downcase + '_test', label: certification["title"], label_class: "btn btn-checkbox", disabled: !@product.new_record?, data: {
                    'parsley-required': '',
                    'parsley-trigger': 'change',
                    'parsley-class-handler': "#certification_options",
                    'parsley-mincheck': '1',
                    'parsley-error-message': 'Must at least certify to C1, C2, or C4.',
                    'parsley-multiple': 'mandatory_certifications',
                    'parsley-errors-container': "#certifications_errors_container" } %>
                <% else %>
                  <%= f.check_box c.downcase + '_test', label: certification["title"], label_class: "btn btn-checkbox", disabled: !@product.new_record? %>
                <% end %>
              <% end %>
            <% end %>
          </fieldset>
        </div>

        <div class="col-md-6">
          <% if Cypress::AppConfig['enable_debug_features']%>
            <fieldset>
              <legend class="control-label">Records Options</legend>
              <%= f.form_group help: "Recommended for most robust testing." do %>
                <%= f.check_box :randomize_records, label: 'Randomize Records', label_class: "btn btn-checkbox", checked: @product.new_record? ? true : @product.randomize_records, disabled: !@product.new_record? %>
                <%= f.check_box :duplicate_records, label: 'Duplicate Records', label_class: "btn btn-checkbox", checked: @product.new_record? ? true : @product.duplicate_records, disabled: !@product.new_record? %>
              <% end %>
            </fieldset>
          <%end%>

          <fieldset>
            <legend class="control-label">Annual Update Bundle</legend>
            <% if Bundle.count == 1 %>
              <label for="product_bundle_id" class="h5"> <%= @bundle.title %> </label>
              <%= hidden_field_tag 'product[bundle_id]', @bundle.id %>
            <% elsif Bundle.count > 1 %>
              <!-- loop through bundles & use radio buttons -->
              <%= f.form_group :bundle_id, help: "Select the measure versions Cypress should use to certify this product." do %>
                <% Bundle.all.each do |bundle| %>
                  <%= f.radio_button :bundle_id, bundle.id, label: "#{bundle.title} #{bundle.version}", label_class: "btn btn-checkbox",
                                     checked: bundle == @bundle, disabled: !@product.new_record? %>

                <% end # bundle loop %>
              <% end # form_group %>
            <% end # bundles.count %>
          </fieldset>

          <fieldset id="measures_options">
            <legend class="control-label">Measures Options</legend>

            <% unless @product.new_record? %>
              <%= render :partial => 'alert', locals: {
                    alert_type: 'warning',
                    messages: 'Changing selected measures will delete all associated product tests and test execution results for any removed measures. Be sure you want to do this before changing your selection.',
                    confirmation: 'Yes, let me adjust my measures' } %>
            <% end %>
            <div id="simple_measures_errors_container"></div>
            <%= f.form_group :measure_selection, help: "Indicate the clinical quality measures Cypress should use to certify this product. Testing will be performed on a measure-by-measure basis. Click 'Custom' to specify individual measures." do %>
              <%= f.radio_button :measure_selection, "eh", label: "Eligible Hospital eCQMs", label_class: "btn btn-checkbox", disabled: !@product.new_record?, data: {
                'parsley-required': '',
                'parsley-trigger': 'blur change focusout',
                'parsley-class-handler': "#measures_options",
                'parsley-error-message': 'Must select measures.',
                'parsley-errors-container': "#simple_measures_errors_container" } %>
              <%= f.radio_button :measure_selection, "ep", label: "Eligible Professional eCQMs", label_class: "btn btn-checkbox", disabled: !@product.new_record? %>
              <%= f.radio_button :measure_selection, "all", label: "All eCQMs", label_class: "btn btn-checkbox", disabled: !@product.new_record? %>
              <%= f.radio_button :measure_selection, "custom", label: "Custom...", label_class: "btn btn-checkbox", disabled: !@product.new_record? %>
            <% end %>
          </fieldset>
        </div>
      </div>

      <div class="row" id="measure_selection_section">
         <%= render partial: 'measure_selection' %>
      </div>
    </div>

    <div class="panel-footer">
      <%= f.submit submit_text, class: "btn btn-success" %>
      <%= submit_tag "Cancel", :class => "btn btn-default", :type => "button", :onclick => "history.back()" %>
    </div>
  <% end %>
</div>
