<%

# local variables:
#
#   product
#   test_type  can be 'Checklist Test', 'Measure Tests', or 'Filtering Tests'
#   task_type  can be 'C1', 'C2', or 'C4' (C3 will be included with C1 and/or C2)

%>

<% if test_type == 'Checklist Test' %>
  <% passing, failing, total = checklist_status_values(product.product_tests.checklist_tests.first) %>
<% elsif test_type == 'Measure Tests' %>
  <% passing, failing, not_started, total = measure_test_status_values(product.product_tests.measure_tests, "#{task_type}Task") %>
<% elsif test_type == 'Filtering Tests' %>
  <% passing, failing, not_started, total = filtering_test_status_values(product.product_tests.checklist_tests) %>
<% else %>
  <% # no other test_type should be specified. please don't do this %>
<% end %>

<tr>
  <td>
    <% visibility = (passing == total) && (total != 0) ? '' : 'invisible' %>
    <i class = 'fa fa-fw fa-check text-success <%= visibility %>'></i>
    <% # include C3 if we are on C1 or C2 and product has C3 %>
    <% task_type_display = @product.c3_test && ['C1', 'C2'].include?(task_type) ? "#{task_type}, C3" : task_type %>
    <strong><%= task_type_display %></strong>
  </td>
  <td><%= test_type %></td>
  <% passing_display = total == 0 ? '--' : "#{passing}/#{total}" %>
  <td><strong class = 'text-success'><%= passing_display %></strong></td>
  <% failing_display = failing == 0 ? '--' : "#{failing}/#{total}" %>
  <td><strong class = 'text-danger'><%= failing_display %></strong></td>
  <% if test_type == 'Checklist Test' %>
    <td>--</td>
  <% else %>
    <% not_started_display = not_started == 0 ? '--' : "#{not_started}/#{total}" %>
    <td><%= not_started_display %></td>
  <% end %>
  </td>
</tr>