<%= javascript 'products' %>

<%= form_for([@product], :html => { :method => submit_method(@product) }) do |f| %>
  <%= f.hidden_field :vendor_id, :value => @product.vendor.id %>
  
  <h1>Product Information</h1>
  <section id="vendorInfo">
    <dl>
      <dt>Product Name:</dt>
      <dd><%= f.text_field :name, :size=>"20", :class=>"required" %></dd>
      <dt>Version:</dt>
      <dd><%= f.text_field :version, :size=>"20", :class=>"req" %></dd>
    </dl>
    <dl>
      <dt>Description:</dt>
      <dd><%= f.text_field :description, :size=>"20", :class=>"req" %></dd>
    </dl>
  </section>

  <%= render :partial => 'edit_measure_map' %>
  <div id="validationErrorMessages"></div>
  <a id="vendor_submit" class="cmd" onclick="$(this).parent().submit();" style="display: inline-block"><%= submit_text(@product) %></a>
<% end %>