<div class="panel panel-default">
  <div class="panel-heading"><h1 class='panel-title'><%= submit_text %><%= product.name ? ": "+ product.name : "" %></h1></div>

  <%= bootstrap_nested_form_for [product.vendor, product], html: { "data-parsley-validate": '' } do |f| %>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :name, autocomplete: 'off', data: { 'parsley-required': '', 'parsley-trigger': 'blur', 'parsley-error-message': "Name can't be blank." } %>
          <%= f.text_field :version %>
          <%= f.text_area :description %>

          <legend class="control-label">Certification Edition</legend>
          <div class="radio">
            <%= f.form_group :cert_edition, help: "Select the certification edition." do %>
              <%= f.radio_button :cert_edition, "2014",
                                 label: "2014 Edition",
                                 label_class: "btn btn-checkbox",
                                 disabled: !product.new_record?,
                                 checked: product.cert_edition == "2014" %>
              <%= f.radio_button :cert_edition, "2015",
                                 label: "2015 Edition",
                                 label_class: "btn btn-checkbox",
                                 disabled: !product.new_record?,
                                 checked: product.cert_edition == "2015" %>
            <% end # form_group %>
          </div>

          <fieldset id="certification_options">
            <legend class="control-label">Certification Types</legend>
            <div id="certifications_errors_container"></div>

            <%= f.form_group help: "Select the certification type Cypress should use to certify this product" do %>
              <% APP_CONSTANTS['certifications'].each do |c, certification| %>
                <% if c == 'C1' || c == 'C2' || c == 'C3' || c == 'C4'%>
                  <%= f.check_box c.downcase + '_test', label: certification["title"], label_class: "btn btn-checkbox", disabled: !product.new_record?, data: {
                    'parsley-required': '',
                    'parsley-trigger': 'change',
                    'parsley-class-handler': "#certification_options",
                    'parsley-mincheck': '1',
                    'parsley-error-message': 'Must select at least one certification type',
                    'parsley-multiple': 'mandatory_certifications',
                    'parsley-errors-container': "#certifications_errors_container" } %>
                <% else %>
                  <%= f.check_box c.downcase + '_test', label: certification["title"], label_class: "btn btn-checkbox", disabled: !product.new_record? %>
                <% end %>
              <% end %>
            <% end %>
          </fieldset>
          <fieldset id="certification_options">
            <legend class="control-label">Supplemental Test Artifact</legend>
            <br />
            <% supplement_file_errors = product.errors[:supplemental_test_artifact].empty? %>
            <%= f.form_group class: supplement_file_errors ? '' : 'has-error', help: "Upload an additional file which will be available for download to anyone viewing this product. Allowed filetypes are #{product.supplemental_test_artifact.extension_white_list.join(', ')}." do %>
              <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                <div class="form-control" data-trigger="fileinput">
                  <i class="fa fa-fw fa-file fileinput-exists"></i>
                  <span class="fileinput-filename"></span>
                </div>
                  <span class="input-group-addon btn btn-info btn-file active">
                  <span class="fileinput-new" data-trigger="fileinput"><i class="fa fa-fw fa-mouse-pointer"></i> Select file</span>
                  <span class="fileinput-exists" data-trigger="fileinput"><i class="fa fa-fw fa-refresh"></i> Change</span>
                  <span style="display:none;">
                    <%= f.file_field :supplemental_test_artifact, class: 'upload-results hidden', :aria => { label: 'supplemental_test_artifact_label' } %>
                  </span>
                </span>
              </div>
              <% unless supplement_file_errors %>
                <span class='help-block'>
                  <%= product.errors[:supplemental_test_artifact].join(', ') %>
                </span>
              <% end %>
              <%= f.check_box :remove_supplemental_test_artifact, label: 'Remove supplement artifact' unless product.supplemental_test_artifact.file.nil? %>
            <% end %>
          </fieldset>
        </div>

        <div class="col-md-6">
          <% if Settings.current.enable_debug_features %>
            <fieldset>
              <legend class="control-label">Records Options</legend>
              <%= f.form_group help: "Recommended for most robust testing." do %>
                <%= f.check_box :randomize_patients, label: 'Randomize Records', label_class: "btn btn-checkbox", checked: product.new_record? ? true : product.randomize_patients, disabled: !product.new_record? %>
                <%= f.check_box :duplicate_patients, label: 'Duplicate Records', label_class: "btn btn-checkbox disabled", checked: product.duplicate_patients, disabled: true %>
              <% end %>
            </fieldset>
          <%end%>

          <fieldset>
            <legend class="control-label">Annual Update Bundle</legend>
            <% if Bundle.available.count == 1 %>
              <label for="product_bundle_id" class="h5"> <%= bundle.title %> </label>
              <%= hidden_field_tag 'product[bundle_id]', bundle.id %>
            <% elsif Bundle.available.count > 1 %>
              <!-- loop through bundles & use radio buttons -->
              <%= f.form_group :bundle_id, help: "Select the measure versions Cypress should use to certify this product." do %>
                <% Bundle.available.all.each do |bundle_current| %>
                  <%= f.radio_button :bundle_id, bundle_current.id, label: "#{bundle_current.title} #{bundle_current.version}", label_class: "btn btn-checkbox",
                                     checked: bundle_current == bundle, disabled: !product.new_record? %>

                <% end # bundle loop %>
              <% end # form_group %>
            <% end # bundles.count %>
            <%= f.form_group help: "Selecting Shift Records will move patient data forward into the appropriate reporting period. Otherwise patient data will remain in a previously completed calendar year." do %>
              <%= f.check_box :shift_patients, label: 'Shift Records', label_class: "btn btn-checkbox", checked: product.new_record? ? false : product.shift_patients, disabled: !product.new_record? %>
            <% end %>
          </fieldset>
          <% unless bundle&.deprecated %>
            <fieldset id="measures_options">
              <legend class="control-label">Measures Options</legend>

              <% unless product.new_record? %>
                <%= render 'alert',
                      :alert_type => 'warning',
                      :messages => 'Changing selected measures will delete all associated product tests and test execution results for any removed measures. Be sure you want to do this before changing your selection.',
                      :confirmation => 'Yes, let me adjust my measures' %>
              <% end %>
              <div id="simple_measures_errors_container"></div>
              <%= f.form_group :measure_selection, help: "Indicate the clinical quality measures Cypress should use to certify this product. Testing will be performed on a measure-by-measure basis. Click 'Custom' to specify individual measures." do %>
                <%= f.radio_button :measure_selection, "eh", label: "Eligible Hospital eCQMs", label_class: "btn btn-checkbox", disabled: !product.new_record?, data: {
                  'parsley-required': '',
                  'parsley-trigger': 'blur change focusout',
                  'parsley-class-handler': "#measures_options",
                  'parsley-error-message': 'Must select measures.',
                  'parsley-errors-container': "#simple_measures_errors_container" } %>
                <%= f.radio_button :measure_selection, "ep", label: "Eligible Professional eCQMs", label_class: "btn btn-checkbox", disabled: !product.new_record? %>
                <%= f.radio_button :measure_selection, "all", label: "All eCQMs", label_class: "btn btn-checkbox", disabled: !product.new_record? %>
                <%= f.radio_button :measure_selection, "custom", label: "Custom...", label_class: "btn btn-checkbox", disabled: !product.new_record? %>
              <% end %>
            </fieldset>
          <% end %>
        </div>
      </div>

      <div class="row" id="measure_selection_section">
         <%= render 'measure_selection', :measures_categories => measures_categories, :product => product, :selected_measure_ids => selected_measure_ids %>
      </div>
    </div>

    <div class="panel-footer">
      <%= f.submit submit_text, class: "btn btn-success" %>
      <%= submit_tag "Cancel", :class => "btn btn-default", :type => "button", :onclick => "history.back()" %>
    </div>
  <% end %>
</div>
