<%

# local variables:
#
#   product, test_type, task_type, cert_type, test_display_name
#
#   variables should fit one of these combinations:
#
#   test_type     task_type     cert_type
#
#   'checklist'                 'C1'
#   'measure'     'C1Task'      'C1'
#   'measure'     'C2Task'      'C2'
#   'measure'     'C3Cat1Task'  'C3'
#   'measure'     'C3Cat3Task'  'C3'
#   'filter'                    'C4'

# 
# 
# 
# 

%>

<% if test_type == 'checklist' %>
  <% passing, failing, total = checklist_status_values(product.product_tests.checklist_tests.first) %>
<% elsif test_type == 'measure' %>
  <% passing, failing, not_started, total = product_test_status_values(product.product_tests.measure_tests, "#{task_type}") %>
<% elsif test_type == 'filter' %>
  <% passing, failing, not_started, total = filtering_test_status_values_summed(product.product_tests.filtering_tests) %>
<% else %>
  <% # no other test_type should be specified. please don't do this %>
<% end %>

<tr>
  <td>
    <% visibility = (passing == total) && (total != 0) ? '' : 'invisible' %>
    <i class = 'fa fa-fw fa-check text-success <%= visibility %>'></i>
    <strong><%= cert_type %></strong>
  </td>
  <td><%= test_display_name %></td>
  <% passing_display = total == 0 ? '--' : "#{passing}/#{total}" %>
  <td><strong class = 'text-success'><%= passing_display %></strong></td>
  <% failing_display = failing == 0 ? '--' : "#{failing}/#{total}" %>
  <td><strong class = 'text-danger'><%= failing_display %></strong></td>
  <% if test_type == 'checklist' %>
    <td>--</td>
  <% else %>
    <% not_started_display = not_started == 0 ? '--' : "#{not_started}/#{total}" %>
    <td><%= not_started_display %></td>
  <% end %>
  </td>
</tr>