<div id="container" class="container">
  <%= render :partial=>"shared/header" %>
  
  <div class="buffered">
    <section class="tb">
      <nav class="breadcrumb">
        <a href="<%= vendors_path %>">Certification Dashboard</a> &raquo;
        <%= link_to @product.vendor.name, vendor_path(@product.vendor) %> &raquo;
        <span>Edit <%= @product.name %></span>
      </nav>
    </section>
    
    <section id="vendor" class="bordered buffered">
      <%= render :partial=>'product_details', :locals => {:mode => :edit} %>
    </section>
  </div>
</div>