<div class="products col-sm-12">

  <%= render partial: "shared/breadcrumb", locals: { pages: ['Vendor', 'Products'] } %>

  <button class="btn btn-primary pull-right">Add Product</button>

  <section>
    <h1>Untested Products</h1>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <td></td>
          <th>Product</th>
          <th>Version</th>
          <th>EH/EP</th>
          <th>Measure</th>
          <th class="test_result">CAT 1</th>
          <th class="test_result">CAT 3</th>
          <th class="test_result">CMS</th>
          <th class="test_result">Filter</th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr class="product">
          <td><button class="btn btn-xs btn-primary-outline">+</button></td>
          <td>Precision Ambulatory</td>
          <td>2015</td>
          <td>EH</td>
          <td>0 measures</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button class="btn btn-xs btn-primary pull-right">Add Test</button></td>
        </tr>
        <tr>
          <td><button class="btn btn-xs btn-primary-outline">+</button></td>
          <td>Precision Total EHR</td>
          <td>2015</td>
          <td>EH</td>
          <td>0 measures</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button class="btn btn-xs btn-primary pull-right">Add Test</button></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h1>Failing Products</h1>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <td></td>
          <th>Product</th>
          <th>Version</th>
          <th>EH/EP</th>
          <th>Measure</th>
          <th class="test_result">CAT 1</th>
          <th class="test_result">CAT 3</th>
          <th class="test_result">CMS</th>
          <th class="test_result">Filter</th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr class="product" data-toggle="collapse" data-target=".test_result_expanded" aria-expanded="true" aria-controls="test_result_expanded">
          <td><button class="btn btn-xs btn-primary-outline">+</button></td>
          <td>Precision Professionals</td>
          <td>3.0</td>
          <td>EP</td>
          <td>93 measures</td>
          <td class="test_result text-danger">1 failures</td>
          <td class="test_result"></td>
          <td class="test_result text-danger">2 failures</td>
          <td class="test_result text-danger">1 failures</td>
          <td><button class="btn btn-xs btn-primary pull-right">Add Test</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS142v4</td>
          <td class="warning"></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS98v3</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS65v2</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS112v3</td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS142v4</td>
          <td class="warning"></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS98v3</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS65v2</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS112v3</td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS142v4</td>
          <td class="warning"></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS98v3</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS65v2</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS112v3</td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS142v4</td>
          <td class="warning"></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS98v3</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS65v2</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS112v3</td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS142v4</td>
          <td class="warning"></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS98v3</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS65v2</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS112v3</td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS142v4</td>
          <td class="warning"></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS98v3</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS65v2</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS112v3</td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS142v4</td>
          <td class="warning"></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS98v3</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS65v2</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS112v3</td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS142v4</td>
          <td class="warning"></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS98v3</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS65v2</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS112v3</td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS142v4</td>
          <td class="warning"></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS98v3</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS65v2</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS112v3</td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS142v4</td>
          <td class="warning"></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS98v3</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS65v2</td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td class="warning"></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="test_result_expanded collapse in">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>CMS112v3</td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="warning"></td>
          <td class="danger"><%= image_tag('errormark.svg') %></td>
          <td class="success"><%= image_tag('checkmark.svg') %></td>
          <td><button class="btn btn-xs btn-primary pull-right">Edit</button></td>
        </tr>
        <tr class="product">
          <td><button class="btn btn-xs btn-primary-outline">+</button></td>
          <td>Precision ProCare EHR</td>
          <td>3.0</td>
          <td>EP</td>
          <td>20 measures</td>
          <td class="test_result text-danger">3 failures</td>
          <td class="test_result text-danger">5 failures</td>
          <td class="test_result text-danger">8 failures</td>
          <td class="test_result text-danger">6 failures</td>
          <td><button class="btn btn-xs btn-primary pull-right">Add Test</button></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h1>Passing Products</h1>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <td></td>
          <th>Product</th>
          <th>Version</th>
          <th>EH/EP</th>
          <th>Measure</th>
          <th class="test_result">CAT 1</th>
          <th class="test_result">CAT 3</th>
          <th class="test_result">CMS</th>
          <th class="test_result">Filter</th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr class="product">
          <td><button class="btn btn-xs btn-primary-outline">+</button></td>
          <td>Precision Ambulatory</td>
          <td>2014</td>
          <td>EH</td>
          <td>17 measures</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button class="btn btn-xs btn-primary pull-right">Add Test</button></td>
        </tr>
        <tr class="product">
          <td><button class="btn btn-xs btn-primary-outline">+</button></td>
          <td>Precision Clinicals</td>
          <td>2.5</td>
          <td>EP</td>
          <td>20 measures</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button class="btn btn-xs btn-primary pull-right">Add Test</button></td>
        </tr>
        <tr class="product">
          <td><button class="btn btn-xs btn-primary-outline">+</button></td>
          <td>Precision Clinicals</td>
          <td>2.3</td>
          <td>EP</td>
          <td>9 measures</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button class="btn btn-xs btn-primary pull-right">Add Test</button></td>
        </tr>
      </tbody>
    </table>
  </section>

</div>
