<div id="container" class="container">
  <%= render :partial=>"shared/header" %>

  <div class="buffered">
    <section class="tb">
      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <a href="<%= vendor_path(@product.vendor) %>"><%= @product.vendor.name %></a> &raquo;
        <span>Create new product</span>
      </nav>
    </section>

    <section class="bordered buffered" id="vendor">
      <%= render :partial => 'product_details' , :locals => {:mode => :new} %>
    </section>
  </div>
</div>