<div class="product-report">
<%# add_breadcrumb 'Vendor: ' + @product.vendor.name, vendor_path(@product.vendor) %>
<%# add_breadcrumb 'Product: ' + @product.name, product_path(@product) %>
<%# add_breadcrumb 'Report' %>
<section>
  <h1>Report Summary</h1>
  <dl class="dl-horizontal">
    <dt>Report Released</dt>
    <dd><%= Time.new %></dd>
    <dt>Vendor</dt>
    <dd><%= @product.vendor_name %></dd>
    <dt>Product</dt>
    <dd><%= @product.name %></dd>
    <dt>Bundle</dt>
    <dd><%= "#{@bundle.title} v#{@bundle.version}" %></dd>
    <dt>Certification Edition</dt>
    <dd><%= @product.cures_update ? '2015 Edition Cures Update' : '2015 Edition' %></dd>
    <dt>Cypress Version</dt>
    <dd><%= Cypress::Application::VERSION %></dd>
  </dl>
</section>
<%= render partial: @product.cvuplus ? 'products/report/cvu_plus_report' : 'products/report/certification_report' %>
</div>
