<div class="product-report">
<%# add_breadcrumb 'Vendor: ' + @product.vendor.name, vendor_path(@product.vendor) %>
<%# add_breadcrumb 'Product: ' + @product.name, product_path(@product) %>
<%# add_breadcrumb 'Report' %>
<section>
  <h1>Report Summary</h1>
  <dl class="dl-horizontal">
    <dt>Report Released</dt>
    <dd><%= Time.new %></dd>
    <dt>Vendor</dt>
    <dd><%= @product.vendor_name %></dd>
    <dt>Product</dt>
    <dd><%= @product.name %></dd>
    <dt>Bundle</dt>
    <dd><%= "#{@bundle.title} v#{@bundle.version}" %></dd>
    <dt>Certification Edition</dt>
    <dd><%= @product.cert_edition %></dd>
    <dt>Cypress Version</dt>
    <dd><%= Cypress::Application::VERSION %></dd>
  </dl>

  <h2>Measure Tests</h2>

  <% # Measure Test Summary %>
  <table class = 'table table-condensed'>
    <thead>
      <tr>
        <th scope="col">Measure Name</th>
        <th scope="col">Submeasures</th>
        <%= @product.c1_test ? "<th scope='col' class = 'text-center'>C1 QRDA Category I</th>".html_safe : "<td></td>".html_safe %>
        <%= @product.c2_test ? "<th scope='col' class = 'text-center'>C2 QRDA Category III</th>".html_safe : "<td></td>".html_safe %>
        <%= @product.c3_test ? "<th scope='col' class = 'text-center'>C3 QRDA Category I</th>".html_safe : "<td></td>".html_safe %>
        <%= @product.c3_test ? "<th scope='col' class = 'text-center'>C3 QRDA Category III</th>".html_safe : "<td></td>".html_safe %>
      </tr>
    </thead>
    <tbody>
      <% @product.product_tests.measure_tests.each do |test| %>
        <tr>
          <td><%= "#{test.cms_id} #{test.name}" %></td>
          <% measures = test.measures %>
          <td>
            <% if measures.count > 1 %>
              <ul class="list-unstyled">
                <% measures.each do |measure| %>
                  <% next if measure.sub_id == 'a' %>
                  <li><%= measure.subtitle %></li>
                <% end %>
              </ul>
            <% end %>
          </td>
          <td class='text-center'><%= render partial: 'products/report/status_icon', locals: { passing: test.tasks.c1_task.passing? } if @product.c1_test %></td>
          <td class='text-center'><%= render partial: 'products/report/status_icon', locals: { passing: test.tasks.c2_task.passing? } if @product.c2_test %></td>
          <td class='text-center'><%= render partial: 'products/report/status_icon', locals: { passing: test.tasks.c3_cat1_task.passing? } if @product.c3_test %></td>
          <td class='text-center'><%= render partial: 'products/report/status_icon', locals: { passing: test.tasks.c3_cat3_task.passing? } if @product.c3_test %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% # Record Sample Summary %>
  <% if @product.c1_test %>
    <h2>C1 Record Sample</h2>
    <% unless @product.product_tests.checklist_tests.count.zero? %>
      <%= render 'checklist_status_display', :product => @product, :is_report => true%>
    <% else %>
      <p><%= render partial: 'products/report/status_icon', locals: { passing: false } %> Record Sample has not been started.</p>
    <% end %>
  <% end %>

  <% # Filtering Test Summary %>
  <% if @product.c4_test %>
    <h2>C4 Filtering</h2>
    <table class = 'table table-condensed'>
      <thead><tr>
        <th scope="col">Filters</th>
        <th scope="col" class = 'text-center'>QRDA Category I</th>
        <th scope="col" class = 'text-center'>QRDA Category III</th>
      </tr></thead>
      <tbody>
        <% @product.product_tests.filtering_tests.each do |test| %>
          <tr>
            <td>
              <% test.options.filters.each do |key, val| %>
                <strong><%= "#{key.titleize}: " %></strong><%= display_filter_val(key, val) %><br/>
              <% end %>
            </td>
            <td class = 'text-center'><%= render partial: 'products/report/status_icon', locals: { passing: test.task_status('Cat1FilterTask') == 'passing' } %></td>
            <td class = 'text-center'><%= render partial: 'products/report/status_icon', locals: { passing: test.task_status('Cat3FilterTask') == 'passing' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>

<% # C1 - Capture and Export %>
<% if @product.c1_test || @product.c3_test %>
<section>
  <h1>C1 - Capture and Export</h1>

  <% if @product.c1_test %>
  <h2>C1 Record Sample</h2>
    <% unless @product.product_tests.checklist_tests.count.zero? %>
      <% check_test = @product.product_tests.checklist_tests.first %>
      <% check_test.measures.top_level.each do |measure| %>
        <strong><%= "#{measure.cms_id} #{measure.name}" %></strong>
        <table class = 'table table-condensed'>
          <thead>
            <tr>
              <td></td>
              <th scope="col">Description</th>
              <th scope="col">Attribute</th>
            </tr>
          </thead>
          <tbody>
            <% # check_crit is an individual checked criteria %>
            <% check_test.checked_criteria.all(measure_id: measure.id).each do |check_crit| %>
              <% criteria = measure.hqmf_document[:data_criteria].select { |key, value| key == check_crit.source_data_criteria }.values.first %>
              <tr>
                <td><%= render partial: 'products/report/status_icon', locals: { passing: check_crit.complete? } %></td>
                <td><%= criteria[:description].chomp(': ' + criteria[:title]) %></td>
                <td><%= checklist_test_criteria_attribute(measure, criteria) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <% c1_sample_failing_tasks = @product.product_tests.checklist_tests.collect { |test| test.tasks.c1_checklist_task if test.tasks.c1_checklist_task.failing? }.compact %>
      <%= render partial: 'products/report/failing_measure_tests', locals: { title: 'C1 Record Sample QRDA Errors', tasks: c1_sample_failing_tasks, c3: false } %>
    <% else %>
      <p><%= render partial: 'products/report/status_icon', locals: { passing: false } %> Record Sample has not been started.</p>
    <% end %>
  <% end %>

  <% # C1 Not Started Measure Tests %>
  <% c1_not_started_tasks = @product.product_tests.measure_tests.collect { |test| test.tasks.c1_task if test.tasks.c1_task.status == 'incomplete' }.compact %>
  <%= render partial: 'products/report/measure_tests_list', locals: { title: 'C1 Not Started Measure Tests', tasks: c1_not_started_tasks } %>

  <% # C1 Failing Measure Tests %>
  <% c1_failing_tasks = @product.product_tests.measure_tests.collect { |test| test.tasks.c1_task if test.tasks.c1_task.failing? }.compact %>
  <%= render partial: 'products/report/failing_measure_tests', locals: { title: 'C1 Failing Measure Tests', tasks: c1_failing_tasks, c3: false } %>
</section>
<% end %>

<% # C2 - Import and Calculate %>
<% if @product.c2_test || @product.c3_test %>
<section>
  <h1>C2 - Import and Calculate</h1>

  <% # C2 Not Started Measure Tests %>
  <% c2_not_started_tasks = @product.product_tests.measure_tests.collect { |test| test.tasks.c2_task if test.tasks.c2_task.status == 'incomplete' }.compact %>
  <%= render partial: 'products/report/measure_tests_list', locals: { title: 'C2 Not Started Measure Tests', tasks: c2_not_started_tasks } %>

  <% # C2 Failing Measure Tests %>
  <% c2_failing_tasks = @product.product_tests.measure_tests.collect { |test| test.tasks.c2_task if test.tasks.c2_task.failing? }.compact %>
  <%= render partial: 'products/report/failing_measure_tests', locals: { title: 'C2 Failing Measure Tests', tasks: c2_failing_tasks, c3: false } %>
</section>
<% end %>

<% # C3 - Submission %>
<% if @product.c3_test %>
<section>
  <h1>C3 - Submission</h1>

    <% # C3 Record Sample Not Started QRDA Tests %>
    <% c3_sample_not_started_tasks = @product.product_tests.checklist_tests.collect { |test| test.tasks.c3_checklist_task if test.tasks.c3_checklist_task.status == 'incomplete' }.compact %>
    <% if c3_sample_not_started_tasks && c3_sample_not_started_tasks.any? %>
      <h2>C3 Record Sample has not been started</h2>
    <% end %>

    <% # C3 Record Sample Failing QRDA Tests %>
    <% c3_sample_failing_tasks = @product.product_tests.checklist_tests.collect { |test| test.tasks.c3_checklist_task if test.tasks.c3_checklist_task.failing? }.compact %>
    <%= render partial: 'products/report/failing_measure_tests', locals: { title: 'C3 Record Sample QRDA Errors', tasks: c3_sample_failing_tasks, c3: true } %>

    <% # C3 Cat 1 Not Started Measure Tests %>
    <% c3_cat1_not_started_tasks = @product.product_tests.measure_tests.collect { |test| test.tasks.c1_task if test.tasks.c3_cat1_task.status == 'incomplete' }.compact %>
    <%= render partial: 'products/report/measure_tests_list', locals: { title: 'C3 QRDA Category I Not Started Measure Tests', tasks: c3_cat1_not_started_tasks, c3: true } %>

    <% # C3 Cat 1 Failing Measure Tests %>
    <% c3_cat1_failing_tasks = @product.product_tests.measure_tests.collect { |test| test.tasks.c1_task if test.tasks.c3_cat1_task.status == 'failing' }.compact %>
    <%= render partial: 'products/report/failing_measure_tests', locals: { title: 'C3 QRDA Category I Failing Measure Tests', tasks: c3_cat1_failing_tasks, c3: true } %>

    <% # C3 Cat 3 Not Started Measure Tests %>
    <% c3_cat3_not_started_tasks = @product.product_tests.measure_tests.collect { |test| test.tasks.c2_task if test.tasks.c3_cat3_task.status == 'incomplete' }.compact %>
    <%= render partial: 'products/report/measure_tests_list', locals: { title: 'C3 QRDA Category III Not Started Measure Tests', tasks: c3_cat3_not_started_tasks, c3: true } %>

    <% # C3 Cat 3 Failing Measure Tests %>
    <% c3_cat3_failing_tasks = @product.product_tests.measure_tests.collect { |test| test.tasks.c2_task if test.tasks.c3_cat3_task.status == 'failing' }.compact %>
    <%= render partial: 'products/report/failing_measure_tests', locals: { title: 'C3 QRDA Category III Failing Measure Tests', tasks: c3_cat3_failing_tasks, c3: true } %>
</section>
<% end %>

<% # C4 - Filtering %>
<% if @product.c4_test %>
<section>
  <h1>C4 - Filtering</h1>

  <% # C4 Cat 1 Not Started Measure Tests %>
  <% c4_cat1_not_started_tasks = @product.product_tests.filtering_tests.collect { |test| test.cat1_task if test.task_status('Cat1FilterTask') == 'incomplete' }.compact %>
  <%= render partial: 'products/report/filtering_tests_list', locals: { title: 'C4 QRDA Category I Not Started Measure Tests', tasks: c4_cat1_not_started_tasks } %>

  <% # C4 Cat 1 Failing Measure Tests %>
  <% c4_cat1_failing_tasks = @product.product_tests.filtering_tests.collect { |test| test.cat1_task if test.task_status('Cat1FilterTask') == 'failing' }.compact %>
  <%= render partial: 'products/report/failing_measure_tests', locals: { title: 'C4 QRDA Category I Failing Measure Tests', tasks: c4_cat1_failing_tasks, c3: false, c4: true } %>

  <% # C4 Cat 3 Not Started Measure Tests %>
  <% c4_cat3_not_started_tasks = @product.product_tests.filtering_tests.collect { |test| test.cat3_task if test.task_status('Cat3FilterTask') == 'incomplete' }.compact %>
  <%= render partial: 'products/report/filtering_tests_list', locals: { title: 'C4 QRDA Category III Not Started Measure Tests', tasks: c4_cat3_not_started_tasks } %>

  <% # C4 Cat 3 Failing Measure Tests %>
  <% c4_cat3_failing_tasks = @product.product_tests.filtering_tests.collect { |test| test.cat3_task if test.task_status('Cat3FilterTask') == 'failing' }.compact %>
  <%= render partial: 'products/report/failing_measure_tests', locals: { title: 'C4 QRDA Category III Failing Measure Tests', tasks: c4_cat3_failing_tasks, c3: false, c4: true } %>
</section>
<% end %>
</div>
