<%= render partial: 'header_product', locals: { product: @product } %>
<div class="row">

  <div class = 'col-md-8'>
    <%= render partial: 'product_status_table', locals: { product: @product } %>
  </div>

  <div class = 'col-md-4'>
    <% unless @product.product_tests.empty? %>
      <div class = 'panel panel-default'>
        <div class = 'panel-heading'>
          <h1 class='panel-title'>Download Full Test Deck</h1>
        </div>
        <div class = 'panel-body' id = 'display_bulk_download'>
          <%= render partial: 'bulk_download', locals: { product: @product } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="product-test-tabs">
  <ul>
    <% each_tab(@product) do |test_type, title, _, html_id| %>
      <li><a href = '<%= "##{html_id}" %>'><%= title %></a></li>
    <% end %>
  </ul>

  <% each_tab(@product) do |test_type, title, description, html_id| %>
    <div id = '<%= html_id %>'>
      <p class = 'lead'><%= description %></p>

      <% # Manual Entry Tab %>
      <% if test_type == 'ChecklistTest' %>
        <%= render partial: 'checklist_status_display', locals: { product: @product } %>
        <div id = 'display_checklist_execution_results'>
          <%= render partial: 'checklist_execution_results', locals: { task: @product.product_tests.checklist_tests.first.tasks.c1_manual_task } %>
        </div>
      <% end %>

      <% # Measure Test Tabs (both C1 or C2 tabs) %>
      <% if test_type == 'MeasureTest' %>
        <div id="display_measure_tests_table">
          <%= render partial: 'measure_tests_table', locals: { tasks: measure_test_tasks(@product, title.include?('C1')) } %>
        </div>
      <% end %>

      <% # Filtering Test Tab %>
      <% if test_type == 'FilteringTest' %>
        <div id="display_filtering_test_status_display">
          <%= render partial: 'filtering_test_status_display', locals: { tests: @product.product_tests.filtering_tests } %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
