<% content_for :head do -%>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".expander").toggle(
        function() {
          $(this).addClass('open');
          var codeElement = $(this).data('code');
          var codes = $("." + codeElement);
          codes.show();
        },
        function() {
          $(this).removeClass('open');
          var codeElement = $(this).data('code');
          var codes = $("." + codeElement);
          codes.hide();
        });
      }
    );
  </script>
<% end %>

<div id="container">
  <%= render :partial=>"shared/header" %>

  <div>
    <section class="tb">
      <div class="stacked">
        <%= link_to "Add Test", new_product_test_path(:product => @product), { :class => "cmd" } %>
        <%= link_to "Edit Product", edit_product_path, { :class => "cmd" } %>
      </div>

      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <%= link_to @vendor.name, vendor_path(@vendor) %>
      </nav>
    </section>
    
    <section class="candidate">
      <dl class="vendor">
        <dt>Product:</dt> <dd><%= @product.name %></dd>
      </dl>
      <dl>
        <dt>description:</dt> <dd><%= @product.description %></dd>
      </dl>
    </section>

    <section id="ehr_results">
      <table>
        <% @tests.each do |result_status, result_tests|
          next if result_tests.empty?
          if result_status == 'incomplete'
            result_status = 'na'
            title = 'Incomplete'
          else
            title = "#{result_status}ing"
          end %>
          <thead>
            <tr>
              <th colspan="3"><span class="<%= result_status %>"><%= title %></span> Tests</th>
              <th>Description</th>
              <th>Executions</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <% result_tests.each do |test|
            if test.passing?
              success_rate = 100
            else
              success_rate = 0
            end %>
            <tbody>
              <% if !test.test_executions.empty? 
                first_td_class = 'expander toggle'
                dot_color = result_status
              else
                dot_color = 'na'
              end %>
              <tr>
                <td><div title="<%= success_rate %>%" class="<%= dot_color %>"><%= success_rate %></div></td>
                <td class="<%= first_td_class %>" data-code="<%= test.id %>"></td>
                <td class="<%= result_status %>"><a href="<%= product_test_path(test) %>"><%= test.name %></a></td>
                <td><%= test.description %></td>
                <td><%= test.test_executions.size %></td>
                <td></td>
               <td><%= link_to 'delete', product_test_path(test), { :class => 'cmd', :method => :delete, :confirm => 'Are you sure?' } %></td>
              </tr>

              <% if !test.test_executions.empty?
                test.ordered_executions.each do |execution|
                  if execution.passing?
                    execution_status = 'pass'
                  else
                    execution_status = 'fail'
                  end %>
                  
                  <tr class="sub_rows <%= test.id %>">
                    <td></td>
                    <td title="<%= execution.success_rate %>%" class="<%= execution_status %>"></td>
                    <td class="<%= execution_status %>"><a href="<%= product_test_path(test, :execution_id => execution.id) %>"><%= execution.pretty_date %></a></td>
                    <td><span class="<%= execution_status %>"><%= execution.passing_measures.size %><span class="q"> / <%= execution.product_test.measure_ids.size %> measures passed</span></td>
                    <td></td>
                    <td></td>
                    <td><%= link_to 'delete', product_test_path(test, :execution_id => execution), { :class => 'cmd', :method => :delete, :confirm => 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          <% end %>
        <% end %>
      </table>
    </section>

    <%= render :partial => "shared/legend" %>
  </div>
</div>