<div>
  <%= button_to "Edit Product", [:edit, @product.vendor, @product], :method => :get, :class => "btn btn-default pull-right" %>
  <h1><%= @product.name %></h1>

  <div class="row">
    <div class = 'col-sm-6'>
      <h2>Current Test Status</h2>
      <table class="table table-hover table-condensed">
        <% certifications(@product).each do |c, certification| %>
          <% certification['tests'].each do |cert_test| %>
          <tr>
            <% unless cert_test != certification['tests'][0] %>
            <th rowspan="<%= certification['tests'].length %>"><%= "#{c}" %></th>
            <% end %>
            <td><%= TESTS[cert_test]['title'] %></td>
            <td><%= status_by_test(@product)[cert_test][c] %></td>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>

    <div class = 'col-sm-6'>
      <h2>Product Information</h2>
      <%= render partial: 'product_summary', locals: { product: @product } %>
    </div>
  </div>

  <% unless @product.product_tests.empty? %>
    <div class = 'panel panel-default'>
      <div class = 'panel-heading'>
        <h3>Download Full Test Deck</h3>
      </div>
      <div class = 'panel-body' id = 'display_bulk_download'>
        <%= render partial: 'bulk_download', locals: { product: @product } %>
      </div>
    </div>
  <% end %>

  <div class="product-test-tabs">
    <ul>
      <% TESTS.each do |c, certification_test| %>
        <% if certification_test['certifications'] & certifications(@product).keys() %>
          <li><a href="#<%= "#{c}" %>"><%= "#{certification_test['title']}" %></a></li>
        <% end %>
      <% end %>
    </ul>

    <% TESTS.each do |c, certification_test| %>
      <% if certification_test['certifications'] & certifications(@product).keys() %>
        <div id="<%= c %>">
          <h3><%# certification_test['title'] %></h3>
          <p><%= certification_test['description'] %></p>
          <% if c == 'ChecklistTest' %>
            <% if @product.product_tests.checklist_tests.exists? %>
              <%= button_to 'Perform Inspection', "/products/#{@product.id}/checklist_tests/#{@product.product_tests.checklist_tests.first.id}", class: 'btn btn-primary', method: :get %>
              The <%= certification_test['title'] %> is <%= @product.product_tests.checklist_tests.first.status %>.
            <% else %>
              <%= button_to 'Generate Test', "/products/#{@product.id}/checklist_tests", class: 'btn btn-primary', method: :post %>
            <% end %>
          <% elsif c == 'FilteringTest' %>
            <% if @product.product_tests.filtering_tests.exists? %>
              The <%= certification_test['title'] %> is <%= @product.product_tests.filtering_tests.first.status %>.
            <% else %>
              <%= button_to "Generate C4 Tests", new_vendor_product_filtering_test_path(product_id: @product._id), class: 'btn btn-primary', method: :get %>
            <% end %>
          <% else %>
            <%= render partial: 'measure_tests_table', locals: { tests: @product.product_tests.measure_tests } %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
