<div class = 'col-sm-12'>

  <%= button_to "Edit Product", [:edit, @product.vendor, @product], :method => :get, :class => "btn btn-default pull-right" %>

  <div class = 'row'><h2><%= @product.name %></h2></div>

  <div class = 'row'><h3>Product Information</h3></div>

  <div class = 'row'>
    
    <div class = 'col-sm-4'>
      <p>Vendor: <%= @product.vendor.name %></p>
      <p><%= "Version: #{@product.version}" unless @product.version.blank? %></p>
      <p><%= "Description: #{@product.description}" unless @product.description.blank? %></p>
    </div>

    <div class = 'col-sm-8'>
      <%= render partial: 'pocs', locals: { vendor: @product.vendor } %>
    </div>

  </div>

  <% if @product.c1_test || @product.c4_test %>
    <div class = 'row'>
      <% if @product.c1_test %>
        <div class = 'col-sm-6'>
          <div class = 'panel panel-default'>
            <div class = 'panel-heading'>
              <h4>C1 Visual Inspection</h4>
            </div>
            <div class = 'panel-body'>
              <p>Start by generating the C1 visual inspection records. Then perform the inspection. If measures are added or removed from this product, the results from you C1 visual inspection may become invalid.</p>
              <% if @product.checklist_test %>
                <%= button_to 'Perform Inspection', "/products/#{@product.id}/checklist_tests/#{@product.checklist_test.id}", class: 'btn btn-primary', method: :get %>
              <% else %>
                <%= button_to 'Generate Test', "/products/#{@product.id}/checklist_tests", class: 'btn btn-primary', method: :post %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% if @product.c4_test %>
        <div class = 'col-sm-6'>
          <div class = 'panel panel-default'>
            <div class = 'panel-heading'>
              <h4>C4 Filtering</h4>
            </div>
            <div class = 'panel-body'>
              <p>Here is a description about C4 Testing. I don't really know what to write about since this is just a place holder. Did you see that, I made placeholder two words just to add a space. Good for me.</p>
              <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
                heres some text
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% unless @product.product_tests.empty? %>
    <div class = 'row'>
      <div class = 'col-sm-6'>
        <div class = 'panel panel-default'>
          <div class = 'panel-heading'>
            <h4>Download Full Test Deck</h4>
          </div>
          <div class = 'panel-body'>
            <p>This download contains a folder for each measure selected for this product. Inside these folders are XML documents for each patient associated with that measure.</p>
            <%= form_for @product, url: { controller: 'records', action: 'download_full_test_deck' }, :html => { :method => 'GET' } do |f| %>
              <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
                <i class = 'fa fa-fw fa-download'></i> Download All Patients (.zip)
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @product.measure_tests %>
    <p><%= "Product has #{@product.measure_tests.count} tests:" %></p>
    <ul>
      <% @product.measure_tests.each do |test| %>
        <li>
          <%= link_to "#{test.cms_id} #{test.name}", [@product, test] %>
          <%= "(#{test.status})" if test.status %>
        </li>
      <% end %>
    </ul>
  <% end %>

</div>