<%= javascript 'products' %>

<div id="container">
  <%= render :partial=>"shared/header" %>

  <div class="buffered">
    <section class="tb">
      <div class="stacked" id="pageButtons">
        <%= link_to "Add Test", new_product_test_path(:product_id => @product), { :class => "cmd" } %>
        <%= link_to "Edit Product", edit_product_path, { :class => "cmd" } %>
      </div>

      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <%= link_to @product.vendor.name, vendor_path(@product.vendor) %>
      </nav>
    </section>

    <section class="candidate bordered buffered">
      <dl class="vendor dl-horizontal"> <%#WILL WORK WHEN UPGRADED TO BOOTSRAP 2.0.2+%>
        <dt>Product:</dt> <dd><%= @product.name %></dd>
        <dt>Version:</dt> <dd><%= @product.version %></dd>
      </dl>
      <dl class=" dl-horizontal">
        <dt>Description:</dt> <dd><%= @product.description %></dd>
      </dl>
    </section>
    
    <section id="ehr_results">
      <table class="table">
        <% product_tests_by_status(@product).each do |result_status, result_tests|
          next if result_tests.empty?
          if result_status == 'incomplete'
            result_status = 'na'
            title = 'Incomplete'
          else
            title = "#{result_status}ing"
          end %>
          <thead>
            <tr>
              <th colspan="3"><span class="<%= result_status %>"><%= title %></span> Tests</th>
              <th>Type</th>
              <th>Description</th>
              <th>Executions</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <% result_tests.each do |test|
            if test.passing?
              success_rate = 100
            else
              success_rate = 0
            end %>
            <tbody>
              <% if !test.test_executions.empty?
                first_td_class = 'expander toggle'
                dot_color = result_status
              else
                dot_color = 'incomplete'
              end
              if test['_type'] == 'CalculatedProductTest'
                type = 'EP'
              elsif test['_type'] == 'InpatientProductTest'
                  type = 'EH'
              else
                type = 'QRDA Cat I'
              end
            %>
              <tr>
                <td class="<%=dot_color%>-icon dot"></td>
                <td class="<%= first_td_class %> tog" data-code="<%= test.id %>"></td>
                <td class="name"><a class="<%= result_status %>" href="<%= product_test_path(test) %>"><%= test.name %></a></td>
                <td class="type"><%= type %></td>
                <td class="info"><%= test.description %></td>
                <td><%= test.test_executions.size %></td>
                <td></td>
                <td class="align-right"><%= link_to 'Delete', product_test_path(test), { :class => 'cmd del', :method => :delete, :confirm => 'Are you sure?' } %></td>
              </tr>

              <% if !test.test_executions.empty?
                test.ordered_executions.each do |execution|
                  if execution.passing?
                    execution_status = 'pass'
                  else
                    if execution.incomplete?
                      execution_status='incomplete'
                    else
                      execution_status = 'fail'
                    end
                  end %>

                  <tr class="sub_rows <%= test.id %>">
                    <td></td>
                    <td title="<%= execution.success_rate %>%" class="<%= execution_status %>"></td>
                        <td><a class="<%= execution_status %>" href="<%= product_test_path(test, :execution_id => execution.id) %>"><%= execution.pretty_date %></a></td>
                    <td><span class="<%= execution_status %>"><%= execution.passing_measures.size %><span class="q"> / <%= execution.product_test.measure_defs.size   %> measures passed</span></td>
                    <td></td>
                    <td></td>
                    <td class="align-right"><%= link_to 'Delete', product_test_path(test, :execution_id => execution), { :class => 'cmd del', :method => :delete, :confirm => 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          <% end %>
        <% end %>
      </table>
    </section>

    <%= render :partial => "shared/legend" %>
  </div>
</div>