<%= javascript 'products' %>

<div id="container" class="container">
  <%= render :partial=>"shared/header" %>

  <div class="buffered">
    <section class="tb">
      <div class="stacked" id="pageButtons">
        <%= link_to "Add Test", new_product_test_path(:product_id => @product), { :class => "cmd" } %>
        <%= link_to "Edit Product", edit_product_path, { :class => "cmd" } %>
      </div>

      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <%= link_to @product.vendor.name, vendor_path(@product.vendor) %> &raquo;
        <%= @product.name %>
      </nav>
    </section>

    <section class="candidate bordered buffered">
      <dl class="vendor dl-horizontal"> <%#WILL WORK WHEN UPGRADED TO BOOTSRAP 2.0.2+%>
        <dt>Product:</dt> <dd><%= @product.name %></dd>
        <dt>Version:</dt> <dd><%= @product.version %></dd>
      </dl>
      <dl class=" dl-horizontal" style="width:480px">
        <dt>Description:</dt> <dd><%= @product.description %></dd>
      </dl>
    </section>

    <section id="ehr_results">
      <table class="table">
        <% if @product.product_tests.count == 0 %>
        <!-- IF THERE ARE NO PRODUCT TESTS THEN DISPLAY MESSAGE -->
          <thead>
            <tr>
              <th colspan="3">Tests</th>
              <th>Type</th>
              <th>Description</th>
              <th>Executions</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr><td colspan="3" style="padding-top:15px">There are no tests for this product. <%= link_to "Add Test", new_product_test_path(:product_id => @product), { :class => "cmd" } %></td></tr>
          </tbody>
        <% end %>
        <!-- END NO TESTS -->
        <thead>
          <tr>
            <th colspan="2">Pass</th>
            <th class="name">Tests</th>
            <th>Type</th>
            <th>Description</th>
            <th>Date</th>
            <th>Executions</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @product.tests_by_cat3.each do |cat3_test, cat1_tests| %>
          <tbody>
            
            <% if !cat1_tests.empty?
              first_td_class = 'expander toggle'

            if cat3_test['_type'] == 'CalculatedProductTest'
              type = 'EP'
            elsif cat3_test['_type'] == 'InpatientProductTest'
                type = 'EH'
            else
                type = 'QRDA Cat I'
            end 

            pass_count = cat3_test.passing? ? 1 : 0
            cat1_tests.each do |t|
              pass_count += t.passing? ? 1 : 0
            end
            pass_percentage = (pass_count / (cat1_tests.size + 1.0) * 100).to_i
            %>
              <tr>
                <td class="percentage"><%= pass_percentage %>%</td>
                <td class="<%= first_td_class %> tog" data-code="<%= cat3_test.id %>"></td>
                <td class="name"><%= cat3_test.name %></td>
                <td class="type"><%= type %></td>
                <td class="info"><%= cat3_test.description %></td>
                <td class="time"></td>
                <td></td>
                <td></td>
                <td class="align-right"><%= link_to 'Delete', product_test_path(cat3_test), data: { :method => :delete, :confirm => 'Are you sure?' }, :class => 'cmd del' %></td>
              </tr>
              <%
              if !cat3_test.test_executions.empty?
                dot_color = cat3_test.passing? ? "pass" : "fail"
              else
                dot_color = 'incomplete'
              end %>


                <tr class="sub_rows <%=cat3_test.id%>">
                  <td class="nobg"></td>
                  <td class="<%=dot_color%>-icon dot nobg"></td>
                  <td class="name"><a href="<%= product_test_path(cat3_test) %>"><%= cat3_test.name %></a></td>
                  <td class="type">QRDA Cat III</td>
                  <td class="info"><%= cat3_test.description %></td>
                  <td class="time"><%= cat3_test.created_at ? cat3_test.created_at.strftime("%b %e, %l:%M %p") : "" %></td>
                  <td><%= cat3_test.test_executions.size %></td>
                  <td></td>
                  <td class="align-right"><%= link_to 'Delete', product_test_path(cat3_test), data: { :method => :delete, :confirm => 'Are you sure?' }, :class => 'cmd del' %></td>
                </tr>

              <% else #if no cat1 tests 

                  if !cat3_test.test_executions.empty?
                    dot_color = cat3_test.passing? ? "pass" : "fail"
                  else
                    dot_color = 'incomplete'
                  end

                  if cat3_test['_type'] == 'CalculatedProductTest'
                    type = 'EP'
                  elsif cat3_test['_type'] == 'InpatientProductTest'
                    type = 'EH'
                  end 
                  %> 
                <tr>
                  <td class="<%=dot_color%>-icon dot"></td>
                  <td class="<%= first_td_class %> tog" data-code="<%= cat3_test.id %>"></td>
                  <td class="name"><a href="<%= product_test_path(cat3_test) %>"><%= cat3_test.name %></a></td>
                  <td class="type"><%= type %></td>
                  <td class="info"><%= cat3_test.description %></td>
                  <td class="time"><%= cat3_test.created_at ? cat3_test.created_at.strftime("%b %e, %l:%M %p") : "" %></td>
                  <td><%= cat3_test.test_executions.size %></td>
                  <td></td>
                  <td class="align-right"><%= link_to 'Delete', product_test_path(cat3_test), data: { :method => :delete, :confirm => 'Are you sure?' }, :class => 'cmd del' %></td>
                </tr>
              <% end %>

              <% 
              cat1_tests.sort_by! {|t| t.name}
              cat1_tests.each do |cat1_test|

              if !cat1_test.test_executions.empty?
                dot_color = cat1_test.passing? ? "pass" : "fail"
              else
                dot_color = 'incomplete'
              end %>

                <tr class="sub_rows <%=cat3_test.id%>">
                  <td class="nobg"></td>
                  <td class="<%=dot_color%>-icon dot nobg"></td>
                  <td class="name"><a href="<%= product_test_path(cat1_test) %>"><%= cat1_test.name %></a></td>
                  <td class="type">QRDA Cat I</td>
                  <td class="info"><%= cat1_test.description %></td>
                  <td class="time"><%= cat1_test.created_at ? cat3_test.created_at.strftime("%b %e, %l:%M %p") : "" %></td>
                  <td><%= cat1_test.test_executions.size %></td>
                  <td></td>
                  <td class="align-right"><%= link_to 'Delete', product_test_path(cat1_test), data: { :method => :delete, :confirm => 'Are you sure?' }, :class => 'cmd del' %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
      </table>
    </section>

    <%= render :partial => "shared/legend" %>
  </div>
</div>
