<%= render partial: 'header_product', locals: { product: @product } %>

<div class="row">

  <div class = 'col-sm-9'>
    <div class = 'panel panel-default'>
      <div class = 'panel-heading'><h1 class = 'panel-title'>Product Status</h1></div>
      <div class = 'panel-body'>

        <table class="table styled-status-table">
          <thead>
            <tr>
              <% ['C1', 'C2', 'C3', 'C4'].each do |cert_type| %>
                <th scope="col" class='products-certification text-center'>
                  <%= cert_type %>
                  <br><small><%= APP_CONFIG.certifications[cert_type]['subtitle'] %></small>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr><%= render partial: 'products_status_cells', locals: { product: @product } %></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class = 'col-sm-3'>
    <% unless @product.product_tests.empty? %>
      <div class = 'panel panel-default'>
        <div class = 'panel-heading'>
          <h1 class='panel-title'>Download Full Test Deck</h1>
        </div>
        <div class = 'panel-body' id = 'display_bulk_download'>
          <%= render partial: 'bulk_download', locals: { product: @product } %>
        </div>
      </div>
    <% end %>
  </div>

</div>

<% if config_for_version(@product.bundle.version)["schematron_banner"]%>
  <%=render partial: 'alert', locals: {alert_type: 'danger', messages: [config_for_version(@product.bundle.version).schematron_banner]} %>
<% end %>

<div class="product-test-tabs">
  <ul>
    <% APP_CONFIG.tests.each do |c, certification_test| %>
      <% if product_certifying_to(@product, certification_test) %>
        <li><a href="#<%= "#{c}" %>"><%= "#{certification_test['title']}" %></a></li>
      <% end %>
    <% end %>
  </ul>

  <% APP_CONFIG.tests.each do |c, certification_test| %>
    <% if product_certifying_to(@product, certification_test) %>
      <div id="<%= c %>">
        <p class = 'lead'>
          <%= certification_test['description'] %>
          <%= " C3 certifications will automatically be performed during #{[@product.c1_test ? 'C1' : nil, @product.c2_test ? 'C2' : nil].compact.join(' and ')} certifications." if c == 'MeasureTest' && @product.c3_test %>
        </p>
        <% if c == 'ChecklistTest' %>
          <% if @product.product_tests.checklist_tests.exists? %>
            <% checklist_test = @product.product_tests.checklist_tests.first %>
            <h1>
              Test Status
              <div class = 'inline-block pull-right'><%= button_to 'View Test', product_checklist_test_path(@product, checklist_test), class: 'btn btn-primary', method: :get %></div>
            </h1>
            <%= render partial: 'checklist_status_display', locals: { product: @product } %>
          <% else %>
            <div class = 'inline-block'><%= button_to 'Start Test', product_checklist_tests_path(@product), class: 'btn btn-primary', method: :post %></div>
            <span>This test does not need to completed all at once. You can always come back once the test is started.</span>
          <% end %>
        <% elsif c == 'FilteringTest' %>
          <div id="display_filtering_test_status_display">
            <%= render partial: 'filtering_test_status_display', locals: { tests: @product.product_tests.filtering_tests } if @product.product_tests.filtering_tests.exists? %>
          </div>
        <% else %>
          <div id="display_measure_tests_table">
            <%= render partial: 'measure_tests_table', locals: { tests: @product.product_tests.measure_tests } %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
