<%= render partial: 'header_product', locals: { product: @product } %>
<div class="row">

  <div class = 'col-md-8'>
    <%= render partial: 'product_status_table', locals: { product: @product } %>
  </div>

  <div class = 'col-md-4'>
    <% unless @product.product_tests.empty? %>
      <div class = 'panel panel-default'>
        <div class = 'panel-heading'>
          <h1 class='panel-title'>Download Full Test Deck</h1>
        </div>
        <div class = 'panel-body' id = 'display_bulk_download'>
          <%= render partial: 'bulk_download', locals: { product: @product } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="product-test-tabs">
  <ul>
    <% each_tab(@product) do |test_type, title, _, html_id| %>
      <li><a href = '<%= "##{html_id}" %>'><%= title %></a></li>
    <% end %>
  </ul>

  <% each_tab(@product) do |test_type, title, description, html_id| %>
    <div id = '<%= html_id %>'>
      <p class = 'lead'><%= description %></p>

      <% # Record Sample Tab %>
      <% if test_type == 'ChecklistTest' %>
        <% checklist_test = @product.product_tests.checklist_tests.first %>
        <%= button_to 'View Record Sample', product_checklist_test_path(@product, checklist_test), class: 'btn btn-primary', method: :get %><p></p>
        <div id = 'display_checklist_execution_results'>
          <%= render partial: 'checklist_execution_results', locals: { task: @product.product_tests.checklist_tests.first.tasks.c1_checklist_task } %>
        </div>
        <% has_many_measures = checklist_test.measures.count > CAT1_CONFIG['number_of_checklist_measures'] %>
        <%= render partial: 'checklist_status_display', locals: { product: @product, has_many_measures: has_many_measures } %>
      <% end %>

      <% # Measure Test Tabs (both C1 or C2 tabs) %>
      <% if test_type == 'MeasureTest' %>
        <div id="display_measure_tests_table">
          <%= render partial: 'measure_tests_table', locals: { product: @product, get_c1_tasks: (title.include?('C1') || title.include?('C3') && !title.include?('QRDA-III')),
            html_id: html_id } %>
        </div>
      <% end %>

      <% # Filtering Test Tab %>
      <% if test_type == 'FilteringTest' %>
        <div id="display_filtering_test_status_display">
          <%= render partial: 'filtering_test_status_display', locals: { product: @product, html_id: html_id } %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
