<div id="container">
  <%= render :partial=>"shared/header" %>

  <div>
    <section class="tb">
      <div class="stacked">
        <%= link_to "Master Patient List", patients_path, { :class=>"cmd" } %>
        <%= link_to "Edit Product", edit_vendor_product_path(@vendor, @product), { :class => "cmd" } %>
        <%= link_to "Add Test", new_vendor_product_product_test_path(@vendor, @product), { :class => "cmd" } %>
      </div>

      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <%= link_to @vendor.name, vendor_path(@vendor) %> &raquo;
        <span><%= @product.name %></span>
      </nav>
    </section>

    <section id="ehr_results">
      <table>
        <% if @incomplete_tests.length>0 %>
        <thead>
          <tr>
            <th colspan="2"><span class='fail'>Failing</span> Product</th>
            <th>Description</th>
            <th>Tests</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="fail">
        <% @incomplete_tests.each do |test| %>
          <tr>
            <td><div title="14%" class="fail">14%</div></td>
            <td><a href="<%= vendor_product_product_test_path(@vendor, @product, test) %>"><%= test.name %></a></td>
            <td><%= test.description %></td>
            <td><span class="f"><%= test.count_passing %></span> <span class="q">/ <%= test.product_tests.size %></span></td>
            <td><%= link_to 'delete', vendor_product_product_test_path(@vendor, product, test), { :class => 'cmd', :method => :delete, :confirm => 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
        <% end %>

        <% if @complete_tests.length>0 %>
        <thead>
          <tr>
            <th colspan="2"><span class='pass'>Passing</span> Product</th>
            <th>Description</th>
            <th>Tests</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @complete_tests.each do |test| %>
          <tr>
            <td><div title="100%" class="pass">100%</div></td>
            <td><a href="<%= vendor_product_product_test_path(@vendor, @product, test) %>"><%= test.name %></a></td>
            <td><%= test.description %></td>
            <td><span class="f"><%= test.count_passing %></span> <span class="q">/ <%= test.test_executions.size %></span></td>
            <td></td>
            <td><%= link_to 'delete', vendor_product_product_test_path(@vendor, @product, test), { :class => 'cmd', :method => :delete, :confirm => 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
        <% end %>
      </table>
    </section>
    <section class="legend">
      <dl>
        <dt>Error Report Indicators:</dt>
        <dd class="pass">passing
        <dd class="na">insufficient info
        <dd class="fail">failing
      </dl>
    </section>
</div>
</div><!-- end #container -->
