<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<style type="text/css">
  #measure_coverage .numerator,
  #measure_coverage .denominator,
  #measure_coverage .exclusions,
  #measure_coverage .antinumerator {
    text-align:center;
  }
  tr.patient:hover,tr.measure:hover {background:#DEFADE;}
</style>
<% patients.each do |p| %>
<input type="hidden" name="patient_ids[]" value="<%= p[:patient_id] %>"/>
<% end %>

<table>
  <thead>
    <tr>
      <th style="text-align:center;">quality measures</th>
      <th style="text-align:center;">patients</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <table>
          <thead>
            <tr>
              <th>NQF#</th>
              <th class="numerator">numerator</th>
              <th class="denominator">denominator</th>
              <th class="antinumerator">antinumerator</th>
              <th class="exclusions">exclusions</th>
            </tr>
          </thead>
          <tbody>
            <% coverage.each do |measure, values| %>
              <tr id="<%= measure %>" class="measure <%=
                arr = values[:patients].map {|v| v[:_id]}
                arr.join(' ')

              %>">
                <td title="<%= values[:name] %>" class="measure"><%= measure %></td>
                <td class="numerator"><%= values[:num] %></td>
                <td class="denominator"><%= values[:den] %></td>
                <td class="antinumerator"><%= values[:ant] %></td>
                <td class="exclusions"><%= values[:exc] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </td>
      <td>
        <table>
          <thead style="position:relative;">
            <tr>
              <th>Last Name</th>
              <th>First Name</th>
              <th style="text-align:center">DOB</th>
              <th style="text-align:center">Gender</th>
            </tr>
          </thead>
          <tbody>
            <% patients.each do |patient| %>
              <tr id="<%= patient[:_id] %>" class="patient <%=
                arr = coverage.map {|c,v| c if v[:patients].include?(patient)}
                arr.join(' ')
              %>">
                <td><%= patient[:last] %></td>
                <td><%= patient[:first] %></td>
                <td style="text-align:center"><time datetime="<%= Time.at(patient.birthdate).strftime('%Y-%m-%d') %>"><%= Time.at(patient.birthdate).strftime('%m/%d/%Y') %></time></td>
        <td style="text-align:center"><%= patient[:gender] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</td>
</tr>
</tbody>
</table>
