<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      <% if @measure.id != nil %>
        $.getJSON("<%=measure_definition_url(:measure_id => @measure.id)%>", $.cypress.renderMeasureJSON);
      <% end %>
      
      <% if @execution.expected_result(@measure)['numerator']=='?' %>
            $.cypress.addPoll("<%= product_test_measure_path(@test, @measure) %>", "<%= patients_product_test_measure_path(@test, @measure) %>")
      <% else %>
            $.cypress.updatePatientTable("<%= patients_product_test_measure_path(@test, @measure) %>")
      <% end %>

      var hidden  = true;
      $('#measureEditContainer').slideUp();
      
      $('.measure_definition').click(function(){
        if(hidden){
          $('#measureEditContainer').slideDown(500);
          $('#show_hide').text("Hide Definition");
        }
        else{
          $('#measureEditContainer').slideUp(500);
          $('#show_hide').text("Expand Definition");
        }
        hidden = !hidden;
      });


      $("#exclusionPanel h3").click(function() {
        $("#exclusionMeasureItems").slideToggle('slow');
      });

    });
  </script>

  <script type="text/html" id="ph_tmpl_paramItem">
    <div>
      <!-- ${percentage=Math.round(Math.random()*100,2)} -->
      {{if category}}<label>${category}</label>{{/if}}
      ${title}
    </div>
  </script>
  <script type="text/html" id="ph_tmpl_paramGroupContainer">
    <div class="paramGroupContainer">
    </div>
  </script>
  <script type="text/html" id="ph_tmpl_paramGroup">
    <div class="paramGroup"><div class="paramItem">
    </div>
  </script>
  <script type="text/html" id="ph_tmpl_data_criteria_logic">
    <div class='paramText logicLeaf' {{if id}}id='${id}'{{/if}}>
      {{if operator}}<label>${operator}</label>{{/if}}
      {{if category}}<label>${category}</label>{{/if}}{{if standard_category}}<label>${$.cypress.humanizeCategory(standard_category)}</label>{{/if}}
      ${title} ${temporalText}
    </div>
  </script>
  
<% end %>



 




<div id="container" class="container">
  <%= render :partial=>"shared/header" %>

  <div class="buffered">
    <section class="tb">
      <%= link_to "Master Patient List", patients_path, {:class=>"cmd"} %>
      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <%= link_to @vendor.name, vendor_path(@vendor) %> &raquo;
        <%= link_to @product.name, product_path(@product) %> &raquo;
        <%= link_to @test.name, product_test_path(@test, :test_execution_id => params[:execution]) %>
      </nav>
    </section>
    <section class="candidate bordered buffered">  
      <dl class="vendor dl-horizontal">
        <dt>Test Name:</dt> <dd><%= @test.name %></dd>
        <dt>Test Type:</dt> <dd><%= test_type(@test) %></dd>
        <dt>Product:</dt> <dd><%= @test.product.name %></dd>
        <dt>Version:</dt> <dd><%= @test.product.version %></dd>
      </dl>

      <dl class="dl-horizontal">
        <dt>Measurement Period:</dt> <dd><%= display_time(Time.at(@test.start_date).utc)%> - <%= display_time(@test.effective_date) %></dd>
        <dt>Description:</dt> <dd><%= @test.description %></dd>
        <dt>EHR Vendor:</dt><dd><%= @vendor.name %></dd>
      </dl>

      <dl class="dl-horizontal">
        <dt>Proctor:</dt> <dd><%= @test.user.first_name %> <%= @test.user.last_name %></dd>
        <dt>Email:</dt> <dd><%= @test.user.email %></dd>
        <dt>Telephone:</dt> <dd><%= @test.user.telephone %></dd>
      </dl>
    </section>

    <div class="tabs">
      NQF #
      <% @measures_categories.sort.each do |category, measures| %>
        <ul>
          <li><b><%= category %></b></li>
          <% measures.each do |measure_def| %>
            <li>
              <a href="<%= product_test_measure_path(@test, measure_def,:execution=> params[:execution]) %>"
                 title="<%= " #{measure_def.name}" %><%= " - #{measure_def.subtitle}" if measure_def.sub_id %><%= ": #{measure_def.description}" %>"
                 class="<%= 'selected' if @measure.id==measure_def.id %>"><%= " #{measure_def.nqf_id} - #{measure_def.sub_id}" %>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <section id="patient_list">
      <section class="measure bordered buffered">
        <dl class="dl-horizontal measure">
          <dt class="measure_title">Quality Measure:</dt>
          <dd class="measure_title"><%= @measure.name %><%= " - #{@measure.subtitle}" if @measure.sub_id %></dd><dt></d>
          <dd class="measure_desc"><%= @measure.description %></dd>
        </dl>
        
        <% expected_result = @execution.expected_result(@measure) || {}  %>
        <% reported_result = @execution.reported_result(@measure) || {} %>
        <dl class="dl-horizontal measure">
          <dt>Measure Status:</dt>
          <% if reported_result['DENOM'].class == String %>
            <dd class="na">N/A</dd>
          <% elsif @execution.measure_passed?(@measure) %>
            <dd class="">PASS</dd>
          <% else %>
            <dd class="fail">Fail</dd>
          <% end %>
        </dl>
        <dl class="dl-horizontal measure">
          <dt class="measure_definition">Definition:</dt>
          <dd class="measure_definition" id="show_hide">Expand Definition</dd>
          

          <div id="measureEditContainer">
          <div id="exclusionPanel" style="display:none;">
             <h3>exclusions <em>(<span id="exclusionCount"></span>)</em></h3>
            <div class="measureBox">
              <div id="exclusionMeasureItems" ></div>
          </div>
           
          </div>
          <div id="eligibilityMeasures">
            <h3>denominator <em>(<span id="eligibleCount"></span>)</em></h3>
            <div class="measureBox">
              <div id="eligibilityMeasureItems">
              </div><!-- end #eligibilityMeasureItems -->
            </div><!-- end measureBox -->
          </div><!-- end #eligibilityMeasures -->
          <div id="outcomeMeasures">
            <h3>numerator <em>(<span id="outcomeCount"></span>)</em></h3>
            <div class="measureBox">
              <div id="outcomeExclusionMarker" class="exclusionTab" style="display:none">
              </div>
              <div id="outcomeMeasureItems">
              </div>
              <div id="xexclusionMeasureItems">
              </div>
            </div><!-- end measureBox -->
          </div><!-- end #outcomeMeasures -->
        </div><!-- end measureEditContainer -->


         



        </dl>
        <dl>
          <dt>Reporting Statistics:</dt>
          <dd>
          <table class="measure align-left">
            <thead>
                 <tr>
            <% if @measure.continuous? %>
              <th></th>
               <th>Patients</th>
               <th>Measure Poplulation</th>
               <th>Observation Value</th>
            <% else %>
              <th></th>
               <th>Patients</th>
               <th>Denominator</th>
               <th>Den. Exclusions</th>
               <th>Numerator</th>
               <th>Num. Exclusions</th>
               <th>Exceptions</th>
            <% end %>
              </tr>
             </thead>

               <tr >
                <td>reported/expected </td>
                <%= expected_reported(expected_result[QME::QualityReport::POPULATION],reported_result[QME::QualityReport::POPULATION]) %>
               <% 
               if @measure.population_ids[QME::QualityReport::MSRPOPL] %>
                
                <%= expected_reported(expected_result[QME::QualityReport::MSRPOPL],reported_result[QME::QualityReport::MSRPOPL]) %>                
                <%= expected_reported(expected_result[QME::QualityReport::OBSERVATION],reported_result[QME::QualityReport::OBSERVATION]) %>

               <% else %>
                  <%[QME::QualityReport::DENOMINATOR,QME::QualityReport::EXCLUSIONS,QME::QualityReport::NUMERATOR,"NUMEX",QME::QualityReport::EXCEPTIONS].each do |code|
                    expected = expected_result[code]
                    reported = reported_result[code]
                
                   if !expected_result["population_ids"] || !expected_result["population_ids"][code] 
                     expected = nil
                     reported = nil
                   end
                    reported_class = result_class(reported,expected)
                  %>
                  <%= expected_reported(expected,reported,{:style=>"text-align: right"}) %>
                  

                <% end %>
               <% end %>
             </tr>


             
            </table>
          </dd>
        </dl>
      </section>

      <section id="product_test_patients">
      </section>    
    </section>
    <br style="clear:both" />
  </div>
</div>