<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      <% if @result['numerator']=='?' %>
        $.cypress.addPoll("<%= vendor_measure_path(@vendor, @measure) %>")
      <% else %>
        $.cypress.updatePatientTable("<%= patients_vendor_measure_path(@vendor, @measure) %>")
      <% end %>
    });
  </script>
<% end %>
  <div id="container">
  <%= render :partial=>"shared/header" %>

  <div>
    <nav class="breadcrumb">
      <a href="<%= vendors_path %>">Home</a> &raquo;
      <a href="<%= vendors_path %>">Certification Test Bed</a> &raquo;
      <a href="<%= vendor_path(@vendor) %>"><%= @vendor.name %></a> &raquo;
      <span>Cervical Cancer Screening</span>
    </nav>
    <section class="candidate">
      
      <dl>
        <dt class="vendor">Candidate EHR:</dt><dd class="vendor"><%= @vendor.name %></dd>
        <dt>url:</dt><dd><a href="#">www.vendor_url.com</a></dd>
      </dl>
      
      <dl>
        <dt>EHR POC:</dt> <dd><%= @vendor.poc %></dd>
        <dt>E-mail:</dt>  <dd><!-- vendor e-mail here --></dd>
        <dt>Phone:</dt>   <dd><%= @vendor.tel %></dd>
      </dl>

      <a href="prev_vendor.html" title="See the previous vendor" class="nav previous">previous vendor</a> <a href="next_vendor.html" title="See the next vendor" class="nav advance">next vendor</a>
    </section>
    <section class="measure">
      <dl>
        <dt class="measure_title">Quality Measure:</dt>
        <dd class="measure_title"><%= @measure.name %><%= " - #{@measure.subtitle}" if @measure.sub_id %></dd>
        <dd class="measure_desc"><%= @measure.description %></dd>
      </dl>
      <dl>
        <dt >Measure Status:</dt>
        <dd class="na">N/A</dd>
      </dl>
      <dl>
        <dt>Reporting Statistics:</dt>
        <dd><table>
          <tr id='<%= "#{@measure.id}" %>'>
          <td><span class="r">reported</span> / expected</td>
          <th>DEN:</th><td> <span class="r na">--</span> / <span class="den"><%= @result['denominator'] %></span></td>
          <th>NUM:</th><td> <span class="r na">--</span> / <span class="num"><%= @result['numerator'] %></span></td>
          <th>EX:</th><td> <span class="r na">--</span> / <span class="exc"><%= @result['exclusions'] %></span></td>
          <th>N/A:</th><td> <span class="r na">--</span> / ? <!-- the number of n/a expected --></td>
          </tr>
          </table>
        </dd>
      </dl>
      <a href="prev_measure.html" title="See the previous measure" class="nav previous">previous measure</a> <a href="next_vendor.html" title="See the next measure" class="nav advance">next measure</a>
    </section>
    <section class="records">
      <dl class="wide">
        <dt>Total # of Records:</dt> <dd>1,000
        <dt>Error Threshold:</dt> <dd>20%
      </dl>
      <dl>
        <dt>Test Mode:</dt> <dd>Production
        <dt>Record Type:</dt> <dd> C32/CCD
      </dl>
      <dl>
        <dt>Labs:</dt><dd>LOINC
        <dt>Conditions:</dt><dd>SNOMED
      </dl>
    </section>

    <section id="vendor_patients">
    </section>
    
  </div>
  </div><!-- end #container -->     
