<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      
      <% if @execution.expected_result(@measure)['numerator']=='?' %>
            $.cypress.addPoll("<%= product_test_measure_path(@test, @measure) %>", "<%= patients_product_test_measure_path(@test, @measure) %>")
      <% else %>
            $.cypress.updatePatientTable("<%= patients_product_test_measure_path(@test, @measure) %>")
      <% end %>



      $("#exclusionPanel h3").click(function() {
        $("#exclusionMeasureItems").slideToggle('slow');
      });

    });
  </script>

  <script type="text/html" id="ph_tmpl_paramItem">
    <div>
      <!-- ${percentage=Math.round(Math.random()*100,2)} -->
      {{if category}}<label>${category}</label>{{/if}}
      ${title}
    </div>
  </script>
  <script type="text/html" id="ph_tmpl_paramGroupContainer">
    <div class="paramGroupContainer">
    </div>
  </script>
  <script type="text/html" id="ph_tmpl_paramGroup">
    <div class="paramGroup"><div class="paramItem">
    </div>
  </script>
  <script type="text/html" id="ph_tmpl_data_criteria_logic">
    <div class='paramText logicLeaf' {{if id}}id='${id}'{{/if}}>
      {{if operator}}<label>${operator}</label>{{/if}}
      {{if category}}<label>${category}</label>{{/if}}{{if standard_category}}<label>${$.cypress.humanizeCategory(standard_category)}</label>{{/if}}
      ${title} ${temporalText}
    </div>
  </script>
  
<% end %>



 




<div id="container" class="container">
  <%= render :partial=>"shared/header" %>

  <div class="buffered">
    <section class="tb">
      <%= link_to "Master Patient List", patients_path, {:class=>"cmd"} %>
      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <%= link_to @vendor.name, vendor_path(@vendor) %> &raquo;
        <%= link_to @product.name, product_path(@product) %> &raquo;
        <%= link_to @test.name, product_test_path(@test, :test_execution_id => params[:execution]) %>
      </nav>
    </section>
    <section class="candidate bordered buffered">  
      <dl class="vendor dl-horizontal">
        <dt>Test Name:</dt> <dd><%= @test.name %></dd>
        <dt>Test Type:</dt> <dd><%= test_type(@test) %></dd>
        <dt>Product:</dt> <dd><%= @test.product.name %></dd>
        <dt>Version:</dt> <dd><%= @test.product.version %></dd>
      </dl>

      <dl class="dl-horizontal">
        <dt>Measurement Period:</dt> <dd><%= display_time(Time.at(@test.start_date).utc)%> - <%= display_time(@test.effective_date) %></dd>
        <dt>Description:</dt> <dd><%= @test.description %></dd>
        <dt>EHR Vendor:</dt><dd><%= @vendor.name %></dd>
      </dl>

      <dl class="dl-horizontal">
        <dt>Proctor:</dt> <dd><%= @test.user.first_name %> <%= @test.user.last_name %></dd>
        <dt>Email:</dt> <dd><%= @test.user.email %></dd>
        <dt>Telephone:</dt> <dd><%= @test.user.telephone %></dd>
      </dl>
    </section>

    <div class="tabs">
      CMS / NQF #
      <% @measures_categories.sort.each do |category, measures| 
        measures.sort!
        %>
        <ul>
          <li><b><%= category %></b></li>
          <% measures.each do |measure_def| %>
            <li>
              <a href="<%= product_test_measure_path(@test, measure_def,:execution=> params[:execution]) %>"
                 title="<%= " #{measure_def.name}" %><%= " - #{measure_def.subtitle}" if measure_def.sub_id %><%= ": #{measure_def.description}" %>"
                 class="<%= 'selected' if @measure.id==measure_def.id %>"><%= " #{measure_def['cms_id']} "%> <%= " #{measure_def.nqf_id} - #{measure_def.sub_id}" %>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <section id="patient_list">
      <section class="measure bordered buffered">
        <dl class="dl-horizontal measure">
          <dt class="measure_title">Quality Measure:</dt>
          <dd class="measure_title" style="font-weight:bold"><%= @measure.name %><%= " - #{@measure.subtitle}" if @measure.sub_id %></dd><dt></d>
          <dd class="measure_desc" style="font-size:95%"><%= @measure.description %></dd>
        </dl>
        
        <% expected_result = @execution.expected_result(@measure) || {}  %>
        <% reported_result = @execution.reported_result(@measure) || {} %>
        <dl class="dl-horizontal measure">
          <dt>Measure Status:</dt>
          <% if reported_result['DENOM'].class == String %>
            <dd class="na">N/A</dd>
          <% elsif @execution.measure_passed?(@measure) %>
            <dd class="pass">Pass</dd>
          <% else %>
            <dd class="fail">Fail</dd>
          <% end %>
        </dl>
        <dl>
          <dt>Reporting Statistics:</dt>
          <dd>
          <table class="measure align-left">
            <thead>
                 <tr>
            <% if @measure.continuous? %>
              <th>&nbsp;</th>
               <th style="text-align: right">Population</th>
               <th style="text-align: right">Measure Poplulation</th>
               <th style="text-align: right">Observation Value</th>
            <% else %>
              <th>&nbsp;</th>
               <th style="text-align: right">Population</th>
               <th style="text-align: right">Denominator</th>
               <th style="text-align: right">Den. Exclusions</th>
               <th style="text-align: right">Numerator</th>
               <th style="text-align: right">Num. Exclusions</th>
               <th style="text-align: right">Exceptions</th>
            <% end %>
              </tr>
             </thead>

               <tr >
                <td>reported/expected </td>
             
                <%= expected_reported(expected_result[QME::QualityReport::POPULATION],reported_result[QME::QualityReport::POPULATION], {:style=>"text-align: right"}) %>
     
               <% 
               if @measure.population_ids[QME::QualityReport::MSRPOPL] %>
                
                <%= expected_reported(expected_result[QME::QualityReport::MSRPOPL],reported_result[QME::QualityReport::MSRPOPL], {:style=>"text-align: right"}) %>   
                <%= expected_reported(expected_result[QME::QualityReport::OBSERVATION],reported_result[QME::QualityReport::OBSERVATION], {:style=>"text-align: right"}) %>

               <% else %>
                  <%[QME::QualityReport::DENOMINATOR,QME::QualityReport::EXCLUSIONS,QME::QualityReport::NUMERATOR,"NUMEX",QME::QualityReport::EXCEPTIONS].each do |code|
                    expected = expected_result[code]
                    reported = reported_result[code]
                
                   if !expected_result["population_ids"] || !expected_result["population_ids"][code] 
                     expected = nil
                     reported = nil
                   end
                    reported_class = result_class(reported,expected)
                  %>
                  <%= expected_reported(expected,reported,{:style=>"text-align: right"}) %>
                  

                <% end %>
               <% end %>
             </tr>


             
            </table>
          </dd>
        </dl>
      </section>

      <section id="product_test_patients">
      </section>    
    </section>
    <br style="clear:both" />
  </div>
</div>