<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      <% if @execution.expected_result(@measure)['numerator']=='?' %>
        $.cypress.addPoll("<%= product_test_measure_path(@test, @measure) %>", "<%= patients_product_test_measure_path(@test, @measure) %>")
      <% else %>
        $.cypress.updatePatientTable("<%= patients_product_test_measure_path(@test, @measure) %>")
      <% end %>
    });
  </script>
<% end %>

<div id="container">
  <%= render :partial=>"shared/header" %>

  <div>
    <section class="tb">
      <%= link_to "Master Patient List", patients_path, {:class=>"cmd"} %>
      <nav class="breadcrumb">
        <%= link_to "Certification Dashboard", root_path %> &raquo;
        <%= link_to @vendor.name, vendor_path(@vendor) %> &raquo;
        <%= link_to @product.name, product_path(@product) %> &raquo;
        <%= link_to @test.name, product_test_path(@test, :execution_id => params[:execution]) %>
      </nav>
    </section>
    
    <section class="candidate">
      <dl>
        <dt class="vendor">EHR Vendor</dt><dd class="vendor"><%= @vendor.name %></dd>
      </dl>
      <dl>
        <dt>Product</dt> <dd><%= @product.name %></dd>
      </dl>
      <dl>
        <dt>Test</dt> <dd><%= @test.name %></dd>
      </dl>
    </section>
  
    <div class="tabs">
      NQF #
      <% @measures_categories.sort.each do |category, measures| %>
        <ul>
          <li><b><%= category %></b></li>
          <% measures.each do |measure_def| %>
            <li>
              <a href="<%= product_test_measure_path(@test, measure_def,:execution=> params[:execution]) %>"
                title="<%= "#{measure_def.name}" %><%= " - #{measure_def.subtitle}" if measure_def.sub_id %><%= ": #{measure_def.description}" %>"
                class="<%= 'selected' if @measure.id==measure_def.id %>"><%= "#{measure_def['id']}#{measure_def.sub_id}" %>
              </a>
            </li>
          <% end %>        
        </ul>
      <% end %>
    </div>
  
    <section id="patient_list">
      <section class="measure">
        <dl>
          <dt class="measure_title">Quality Measure:</dt>
          <dd class="measure_title"><%= @measure.name %><%= " - #{@measure.subtitle}" if @measure.sub_id %></dd>
          <dd class="measure_desc"><%= @measure.description %></dd>
        </dl>
        <% expected_result = @execution.expected_result(@measure) %>
        <% reported_result = @execution.reported_result(@measure.key) %>
        <dl>
          <dt>Measure Status:</dt>
          <% if reported_result['denominator'].class == String %>
            <dd class="na">N/A</dd>
          <% elsif @execution.passed?(expected_result) %>
            <dd class="">PASS</dd>
          <% else %>
            <dd class="fail">Fail</dd>
          <% end %>        
        </dl>
        <dl>
          <dt>Reporting Statistics:</dt>
          <dd>
            <table>
              <tr id='<%= "#{@measure.id}" %>'>
                <td><span class="r">reported</span> / expected</td>
                <th>DEN:</th>
                <td>
                  <span class="r <%= measure_result_class(expected_result, reported_result, 'denominator') %>"><%= reported_result['denominator'] %></span>
                  /
                  <span class="den"><%= expected_result['denominator'] %></span>
                </td>
                <th>NUM:</th>
                <td>
                  <span class="r <%= measure_result_class(expected_result, reported_result, 'numerator') %>"><%= reported_result['numerator'] %></span>
                  /
                  <span class="num"><%= expected_result['numerator'] %></span>
                </td>
                <th>EXC:</th>
                <td> 
                  <span class="r <%= measure_result_class(expected_result, reported_result, 'exclusions') %>"><%= reported_result['exclusions'] %></span>
                  /
                  <span class="exc"><%= expected_result['exclusions'] %></span>
                </td>
                <th>OUT:</th>
                <td> 
                  <span class="r <%= measure_result_class(expected_result, reported_result, 'antinumerator') %>"><%= reported_result['antinumerator'] %></span>
                  /
                  <span class="out"><%= expected_result['antinumerator'] %></span>
                </td>
              </tr>
            </table>
          </dd>
        </dl>
      </section>
    
      <section id="product_test_patients">
      </section>    
    </section>
    <br style="clear:both" />
  </div>
</div>