<!DOCTYPE HTML>
<!--[if lt IE 8]><html class="no-js oldIE" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en-US"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html id="cypress3" lang="en-US" class="no-js not-ie"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= make_title %></title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :modernizr %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body <%= yield(:body_attributes) %>>
  <a href="#main-content" class="sr-only sr-only-focusable">Skip to main content</a>

  <% if Cypress::AppConfig['banner'] %>
    <div class="demo"><%= Cypress::AppConfig['banner_message'] %></div>
  <% end %>

  <header role="banner">

    <%= render "navbar" %>
    <div class="container">
      <% if user_signed_in? %>
        <%= render_breadcrumbs :builder => ::BootstrapBreadcrumbsBuilder %>
      <% end %>

      <% flash.each do |type, messages| %>
        <% unless type.to_s == 'timedout' %>
        <% alert_type = %w(success warning danger).include?(type) ? type : 'info' %>
        <%= render :partial => 'alert', locals: {
              alert_type: alert_type,
              messages: messages } %>
        <% end %>
      <% end %>
    </div>

  </header>

  <main aria-label="main section" id="main-content" class="container" role="main" tabindex="-1">
    <div class="col-sm-12">
      <%= yield %>
    </div>
  </main>

</body>

</html>
