<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cypress: An Open Source EHR Quality Measure Testing Framework</title>
  <link rel="shortcut icon" href="/assets/favicon.ico"/>
  <%= stylesheet_link_tag :application %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag :html5shiv %>
  <![endif]-->
  <%= javascript_include_tag :application %>

  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

  <% if APP_CONFIG['demo_mode'] %>
    <div class="demo"><%= APP_CONFIG['demo_message'].html_safe %></div>
  <% end %>

  <%= yield %>
</body>
</html>
