<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content="1200" />
  <title>Cypress: An Open Source EHR Quality Measure Testing Framework</title>
  <link rel="shortcut icon" href="/assets/favicon.ico"/>
  <%= stylesheet_link_tag :application %>

  <%= javascript_include_tag :application %>
  <%= javascript_include_tag "account" %>
  <%= csrf_meta_tag %>
</head>
<body class="login">

<div id="login_dialog">
  <div id="cap-top"></div>
  <div id="cap-body">
    <div id="branding">
      <%= image_tag("/assets/cypress_big_logo.png", :id => 'imgLogo', :title => 'Cypress welcomes you!', :alt => 'cypress logo') %>
    </div>
    <div class="panel">
      <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
      <%= yield %>
    </div>
  </div>
  <div id="cap-bottom"></div>
</div>

</body>
</html>
